@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div>
                            <a href="#academic_activity_type_add_modal" class="btn btn-light-primary px-6 font-weight-bold" data-toggle="modal">Thêm</a>
                        </div>
                        <div>
                            <select class="form-control text-center" id="language_select" name="param" style="width:100% !important">
                                @foreach (var language in ViewBag.languages)
                                {
                                   <option value="@language.language_id">@language.language_name</option> 
                                }
                            </select>
                        </div>
                        <table class="table table-bordered" id="academic_activity_type_table">
                            <thead>
                                <tr>
                                    <th>
                                        Loại hoạt động học thuật
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ADD-->
<div class="modal fade in" id="academic_activity_type_add_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">THÊM LOẠI HOẠT ĐỘNG HỌC THUẬT</h3>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <input id="add_modal_academic_activity_type_name" class="form-control" type="text" placeholder="Loại hoạt động" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="academic_activity_type_model_add_type_close" type="button" class="btn btn-sm btn-secondary font-weight-bold px-6" data-dismiss="modal">Hủy</button>
                <button id='academic_activity_type_model_add_type_confirm' type="button" class="btn btn-sm btn-light-success font-weight-bold px-6">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!--EDIT-->
<div class="modal fade in" id="academic_activity_type_edit_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">SỬA LOẠI HOẠT ĐỘNG HỌC THUẬT</h3>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <input id="edit_modal_academic_activity_type_name" class="form-control" type="text" placeholder="Loại hoạt động" />
                </div>
            </div>
            <div class="modal-footer">
                <button id='academic_activity_type_model_edit_type_close' type="button" class="btn btn-sm btn-secondary font-weight-bold px-6" data-dismiss="modal">Hủy</button>
                <button id='academic_activity_type_model_edit_type_confirm' type="button" class="btn btn-sm btn-light-success font-weight-bold px-6">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
         var dataTable = $("#academic_activity_type_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi"
            },
            searching: false,
            lengthChange: false,
            serverSide: true,
            ajax: {
                url: "@Url.Action("listAcademicActivityType", "AcademicActivityType")",
                type: "GET",
                dataType: "json",
                data: {
                    language_id: function () { return $('#language_select').val(); }
                },
                cache: "false"
            },
            columns: [
                { data: "activity_type_name", name: "activity_type_name" },
                {
                    data: "activity_type_id",
                    orderable: false,
                    render: function (data) {
                        return '<a onclick="loadDataToEditModal('+data+')" href="#academic_activity_type_edit_modal" class="btn btn-sm btn-light-primary px-6 font-weight-bold mr-2" data-toggle="modal">Sửa</a>' +
                            '<a onclick="deleteAcademicActivityType('+data+')" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>'
                    }
                }
            ],
            columnDefs: [
                {
                    className: "text-center",
                    targets: "_all"
                }
            ]
        });

        //Language select
        $('#language_select').select2({
            placeholder: 'Ngôn ngữ',
            allowClear: true,
            minimumResultsForSearch: -1, //hide search box
            tags: true,
            ajax: {
                url: "@Url.Action("getLanguages", "AcademicActivityType")",
                delay: 250,
                cache: true,
                dataType: 'json',
                processResults: function (data) {
                    data.obj.map(function (obj) {
                        obj.id = obj.language_id;
                        obj.text = obj.language_name;
                        return data.obj;
                    });
                    return {
                        results: data.obj
                    };
                }
            },
            templateResult: formatLanguageInfor
        }).on('select2:select', function () {
            dataTable.ajax.reload();
        });

        function formatLanguageInfor(language) {
            return language.language_name;
        }

    </script>

    <!--ADD-->
    <script>
        $("#academic_activity_type_model_add_type_confirm").click(function () {
            $.ajax({
                url: "@Url.Action("addAcademicActivityType", "AcademicActivityType")",
                type: "POST",
                data: {
                    language_id: function () { return $('#language_select').val(); },
                    activity_type_name: $("#add_modal_academic_activity_type_name").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        toastr.success(data.content);
                        //clear content
                        $("#add_modal_academic_activity_type_name").val("");
                        //close modal
                        $("#academic_activity_type_model_add_type_close").click();
                    } else {
                        toastr.error(data.content);
                    }
                    //reload datatable
                    dataTable.ajax.reload();
                },
                error: function (data) {
                    toastr.error(data.content);
                    dataTable.ajax.reload();
                }
            });
        });
    </script>

    <!--EDIT-->
    <script>
        var academic_activity_type_id_temp;
        //loading data to modal
        function loadDataToEditModal(academic_activity_type_id) {
            academic_activity_type_id_temp = academic_activity_type_id;
            $.ajax({
                url: "@Url.Action("getAcademicActivityType", "AcademicActivityType")",
                type: "POST",
                data: {
                    language_id: function () { return $('#language_select').val(); },
                    activity_type_id: academic_activity_type_id_temp
                },
                cache: true,
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        $("#edit_modal_academic_activity_type_name").val(data.obj.activity_type_name);
                    } else {
                        toastr.error(data.content);
                    }
                },
                error: function (data) {
                    toastr.error(data.content);
                    dataTable.ajax.reload();
                }
            });
        }

        //confirm edit
        $("#academic_activity_type_model_edit_type_confirm").click(function () {
            $.ajax({
                url: "@Url.Action("editAcademicActivtyType", "AcademicActivityType")",
                type: "POST",
                data: {
                    language_id: function () { return $('#language_select').val(); },
                    activity_type_id: academic_activity_type_id_temp,
                    activity_type_name: $("#edit_modal_academic_activity_type_name").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        toastr.success(data.content);
                        //clear content
                        $("#edit_modal_academic_activity_type_name").val("");
                        //close modal
                        $("#academic_activity_type_model_edit_type_close").click();
                    } else {
                        toastr.error(data.content);
                    }
                    //reload datatable
                    dataTable.ajax.reload();
                },
                error: function (data) {
                    toastr.error(data.content);
                    dataTable.ajax.reload();
                }
            });
        });
    </script>

    <!--DELETE-->
    <script>
        function deleteAcademicActivityType(academic_activity_type_id) {
            Swal.fire({
                title: "Xác nhận xóa",
                text: "Xóa loại hoạt động học thuật này?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "@Url.Action("deleteAcademicActivityType", "AcademicActivityType")",
                        type: "POST",
                        data: {
                            language_id: function () { return $('#language_select').val(); },
                            activity_type_id: academic_activity_type_id
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data.success == true) {
                                toastr.success(data.content);
                            } else {
                                toastr.error(data.content);
                            }
                            dataTable.ajax.reload();
                        },
                error: function (data) {
                    toastr.error(data.content);
                    dataTable.ajax.reload();
                }
                    });
                }
            });
        }
    </script>
}
