
@{
    //ViewBag.Title = "AddRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<style>
    .citationE {
        display: none !important
    }
</style>

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    @{
                        Html.RenderAction("AddAuthor", "PartialView");
                    }
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("CitationInfo")</h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-bordered trichdan">
                                <thead>
                                    <tr>
                                        <th>@rm.GetString("Source")</th>
                                        <th>@rm.GetString("CitationCount")</th>
                                        <th>@rm.GetString("Link")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="trichdan_body">
                                    <tr id="baseCost">
                                        <td>
                                            <select class="form-control trichdan_source">
                                                @foreach (ENTITIES.CitationType item in ViewBag.citationTypes)
                                                {
                                                    <option value="@item.citation_type_id">@item.citation_type_name</option>
                                                }
                                            </select>
                                        </td>
                                        <td><input autocomplete='off' type='number' class='form-control trichdan_count' min='0' /></td>
                                        <td><input autocomplete='off' type='text' class='form-control trichdan_link' /></td>
                                        <td><a onclick="deleteCost(this)" class='btn btn-sm btn-clean btn-icon' title='Delete'> <i class='la la-trash'></i> </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12" style="text-align: end;">
                            <a onclick="addCost()" class="btn btn-success font-weight-bolder">
                                <span class="svg-icon svg-icon-md">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span> @rm.GetString("AddRow")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold" id="btn-submit">@rm.GetString("Send")</button>
        </div>
    </div>
</div>
<form style="visibility: hidden" method="post" action="/Citation/Edit" id="CitationForm">
    <input name="id" id="nameEdit" />
    <input name="editable" id="ckEdit" />
</form>
@section scripts{
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script>
        var tbodyCost = document.getElementById("trichdan_body");
        var baseCost = document.getElementById("baseCost").cloneNode(true);

        var people = [];
        var citation = [];

        function deleteCost(ele) {
            ele.closest("tr").remove();
            calculateTotalCost();
        }

        function addCost() {
            let temp = baseCost.cloneNode(true);
            tbodyCost.append(temp);
        }

        function addAuthor() {
            ckfe = $("#ckfe").val()
            add_author_workplace = $("#ckfe").val()
            add_author_msnv = $("#add_author_msnv").val()
            add_author_name = $("#add_author_name").val()
            add_author_title = $("#add_author_title option:selected").text()
            add_author_contractType = $("#add_author_contractType option:selected").text()
            add_author_cmnd = $("#add_author_cmnd").val()
            add_author_tax = $("#add_author_tax").val()
            add_author_bank = $("#add_author_bank").val()
            add_author_accno = $("#add_author_accno").val()
            add_author_reward = $("#add_author_reward").val()
            add_author_note = $("#add_author_note").val()
            add_author_email = $("#add_author_mail").val()
            id = new Date().getTime()
            var AddAuthor = {
                name: add_author_name,
                email: add_author_email,
                bank_number: add_author_accno,
                tax_code: add_author_tax,
                bank_branch: add_author_bank,
                identification_number: add_author_cmnd,
                mssv_msnv: add_author_msnv,
                office_id: $("#ckfe option:selected").attr("name"),
                contract_id: $("#add_author_contractType").val(),
                title_id: $("#add_author_title").val(),
                temp_id: id,
                office_abbreviation: $("#ckfe option:selected").val(),
                identification_file_link: $("#add_author_cmnd_link").val(),
                is_reseacher: $('#add_author_isReseacher').is(':checked'),
            }
            return AddAuthor;
        }

        $("#btn-submit").click(function () {
            $("#loading").show();
            citation = [];
            let AddAuthor = addAuthor();
            var inputSource = $(".trichdan_source");
            var inputCount = $(".trichdan_count");
            var inputLink = $(".trichdan_link");

            for (var i = 0; i < inputSource.length; i++) {
                if ($(inputSource[i]).val() != "" && $(inputCount[i]).val() != "" && $(inputLink[i]).val() != "") {
                    var oneCitation = {
                        citation_type_id: $(inputSource[i]).val(),
                        count: $(inputCount[i]).val(),
                        link: $(inputLink[i]).val()
                    };
                    citation.push(oneCitation);
                } else {
                    $("#loading").hide();
                    toastr.error("Cần nhập đủ thông tin cho trích dẫn");
                    return false;
                }
            }

            if (citation.length == 0) {
                toastr.error("Cần có ít nhất 1 trích dẫn");
                $("#loading").hide();
                return false;
            }
            if (AddAuthor.name == undefined || AddAuthor.name == "") {
                toastr.error("Tên tác giả không phù hợp");
                $("#loading").hide();
                return false;
            }
            if (AddAuthor.email == undefined || AddAuthor.email == "") {
                toastr.error("Email tác giả không phù hợp");
                $("#loading").hide();
                return false;
            }

            console.log(citation);
            console.log(AddAuthor);

            $.ajax({
                url: "@Url.Action("AddCitation", "Citation")",
                type: "POST",
                data: JSON.stringify({ 'citation': citation, 'addAuthor': AddAuthor }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.success) {
                        $("#nameEdit").val(response.obj);
                        $("#ckEdit").val("3");
                        $("#CitationForm").submit();
                    }
                    else {
                        toastr.error(response.content);
                        $("#loading").hide();
                    }
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                }
            });
        });
    </script>
}

