
@{
    //ViewBag.Title = "AddRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    @{
                        Html.RenderAction("AddAuthor", "PartialView");
                    }
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("CitationInfo")</h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-bordered trichdan">
                                <thead>
                                    <tr>
                                        <th>@rm.GetString("Source")</th>
                                        <th>@rm.GetString("CitationCount")</th>
                                        <th>@rm.GetString("Link")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="trichdan_body">
                                    <tr>
                                        <td><input class="form-control" type="text" /></td>
                                        <td><input class="form-control" type="number" min="0" /></td>
                                        <td><input class="form-control" type="text" /></td>
                                        <td><a onclick="" class="btn btn-sm btn-clean btn-icon" title="Delete"> <i class="la la-trash"></i> </a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xl-12" style="text-align: end">
                                <button class="btn btn-light-danger px-6 font-weight-bold deleterow">@rm.GetString("DelRow")</button>
                                <button class="btn btn-light-primary px-6 font-weight-bold addrow">@rm.GetString("AddRow")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold">@rm.GetString("Send")</button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.citationE').attr('style', 'display:none !important');
        });
        $(".addrow").click(function () {
            $("#trichdan_body tr:last").after("<tr>" +
                "<td><input type='text' class='form-control' /></td>" +
                "<td><input type='number' class='form-control' min='0' /></td>" +
                "<td><input type='text' class='form-control' /></td>" +
                "</tr>");
        });

        $(".deleterow").click(function () {
            var rowCount = $('#trichdan_body tr').length;
            if (rowCount > 1) $("#trichdan_body tr:last").remove();
            else toastr.error("@rm.GetString("ErrorCita")", "@rm.GetString("Error")");
        });
    </script>
}

