
@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<style>
    .citationE {
        display: none !important;
    }
</style>

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("AuthorInfo")</h3>
                    @{
                        Html.RenderAction("AddAuthor", "PartialView");
                    }
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("CitationInfo")</h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-bordered trichdan">
                                <thead>
                                    <tr>
                                        <th>@rm.GetString("Source")</th>
                                        <th>@rm.GetString("CitationCount")</th>
                                        <th>@rm.GetString("Link")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="trichdan_body">
                                    @{
                                        int temp_count = 1;
                                        foreach (var item in ViewBag.citation)
                                        {
                                            <tr id="@(temp_count == 1 ? "baseCitation" : "")">
                                                <td>
                                                    <select class="form-control edit trichdan_source">
                                                        @foreach (ENTITIES.CitationType item2 in ViewBag.citationTypes)
                                                        {
                                                            <option value="@item2.citation_type_id" @(item.source == item2.citation_type_name ? "selected" : "")>@item2.citation_type_name</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td><input autocomplete="off" class="form-control edit trichdan_count" type="number" value="@item.count" /></td>
                                                <td><input autocomplete="off" class="form-control edit trichdan_link" type="text" value="@item.link" /></td>
                                                <td>
                                                    @{ if (ViewBag.ckEdit == 5)
                                                        {<a onclick="deleteCitation(this)" class='btn btn-sm btn-clean btn-icon edit' title='Delete'> <i class='la la-trash'></i> </a>} }
                                                </td>
                                            </tr>
                                            temp_count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (ViewBag.ckEdit == 5)
                    {
                        <div class="row">
                            <div class="col-xl-12" style="text-align: end;">
                                <a onclick="addCitation()" class="btn btn-success font-weight-bolder">
                                    <span class="svg-icon svg-icon-md">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span> @rm.GetString("AddRow")
                                </a>
                            </div>
                        </div>
                    }
                    @if (ViewBag.ckEdit != 5)
                    {
                        <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
                        <div class="row">
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("TotalReward")</label>
                                <input autocomplete="off" class="form-control form-control-lg edit" id="totalreward" readonly type="text" value="@ViewBag.author.total_reward" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-center">
                            <button class="btn btn-light-success px-6 font-weight-bold edit" id="btn-submit">@rm.GetString("Send")</button>
                        </div>
                    }
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("CmtInfo")</h3>
                    <div>
                        @{ Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form style="visibility: hidden" method="post" action="/Citation/Edit" id="CitationForm">
    <input name="id" value="@ViewBag.request_id" id="nameEdit" />
    <input name="editable" id="ckEdit" />
</form>
<input class="form-control" value="@ViewBag.author.name" id="name_temp" style="display:none" />
<input class="form-control" value="@Html.Raw(ViewBag.author.bank_branch)" id="bank_branch_temp" style="display:none" />
@section scripts{
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script>
        var citation = [];
        var tbodyCitation = document.getElementById("trichdan_body");
        var baseCitation = document.getElementById("baseCitation").cloneNode(true);

        function deleteCitation(ele) {
            let rowCount = $('#trichdan_body tr').length;
            if (rowCount > 1) ele.closest("tr").remove();
            else toastr.error("@rm.GetString("ErrorCita")", "@rm.GetString("Error")");
        }

        function addCitation() {
            let temp = baseCitation.cloneNode(true);
            tbodyCitation.append(temp);
            var count_temp = $(".trichdan_count");
            $(count_temp[count_temp.length - 1]).val("0");
            var link_temp = $(".trichdan_link");
            $(link_temp[link_temp.length - 1]).val("");
        }

        $(document).ready(function () {
            $("#ckfe").val("@ViewBag.author.office_abbreviation");
            $("#ckfe").trigger('change');

                                                var temp_ms = "@ViewBag.author.mssv_msnv";
                                                if ($('#add_author_msnv').find("option[value='" + temp_ms + "']").length) {
                $('#add_author_msnv').val(temp_ms).trigger('change');
                                                } else {
                                                    // Create a DOM Option and pre-select by default
                                                    var newOption = new Option(temp_ms, temp_ms, true, true);
                // Append it to the select
                $('#add_author_msnv').append(newOption).trigger('change');
                                                }

            @*$("#add_author_msnv").val("@ViewBag.author.mssv_msnv");
            $("#add_author_msnv").trigger('change');*@

            var is_Reseacher = "@ViewBag.author.is_reseacher";
            var is_r = true;
            if (is_Reseacher == "False") is_r = false;

            $("#add_author_mail").val("@ViewBag.author.email");
            $("#add_author_name").val($("#name_temp").val());
            $("#add_author_title").val("@ViewBag.author.title_id");
            $("#add_author_title").trigger('change');
            $("#add_author_contractType").val("@ViewBag.author.contract_id");
            $("#add_author_contractType").trigger('change');
            $("#add_author_cmnd").val("@ViewBag.author.identification_number");
            $("#add_author_cmnd_link").val("@ViewBag.author.identification_file_link");
            $("#add_author_tax").val("@ViewBag.author.tax_code");
            $("#add_author_bank").val($("#bank_branch_temp").val());
            $("#add_author_accno").val("@ViewBag.author.bank_number");
            $("#add_author_isReseacher").prop("checked", is_r);

            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            var ck = "@ViewBag.ckEdit";
            if (ck != "5") $(".edit").prop("disabled", true);
            else $(".edit").prop("disabled", false);
        });

        function addAuthor() {
            ckfe = $("#ckfe").val()
            add_author_workplace = $("#ckfe").val()
            add_author_msnv = $("#add_author_msnv").val()
            add_author_name = $("#add_author_name").val()
            add_author_title = $("#add_author_title option:selected").text()
            add_author_contractType = $("#add_author_contractType option:selected").text()
            add_author_cmnd = $("#add_author_cmnd").val()
            add_author_tax = $("#add_author_tax").val()
            add_author_bank = $("#add_author_bank").val()
            add_author_accno = $("#add_author_accno").val()
            add_author_reward = $("#add_author_reward").val()
            add_author_note = $("#add_author_note").val()
            add_author_email = $("#add_author_mail").val()
            id = new Date().getTime()
            var AddAuthor = {
                name: add_author_name,
                email: add_author_email,
                bank_number: add_author_accno,
                tax_code: add_author_tax,
                bank_branch: add_author_bank,
                identification_number: add_author_cmnd,
                mssv_msnv: add_author_msnv,
                office_id: $("#ckfe option:selected").attr("name"),
                contract_id: $("#add_author_contractType").val(),
                title_id: $("#add_author_title").val(),
                people_id: "@ViewBag.author.people_id",
                temp_id: id,
                office_abbreviation: $("#ckfe option:selected").val(),
                identification_file_link: $("#add_author_cmnd_link").val(),
                is_reseacher: $('#add_author_isReseacher').is(':checked'),
            }
            return AddAuthor;
        }

        $("#btn-submit").click(function () {
            $("#loading").show();
            let AddAuthor = addAuthor();
            var inputSource = $(".trichdan_source");
            var inputCount = $(".trichdan_count");
            var inputLink = $(".trichdan_link");
            for (var i = 0; i < inputSource.length; i++) {
                if ($(inputSource[i]).val() != "" && $(inputCount[i]).val() != "" && $(inputLink[i]).val() != "") {
                    var oneCitation = {
                        citation_type_id: $(inputSource[i]).val(),
                        count: $(inputCount[i]).val(),
                        link: $(inputLink[i]).val()
                    };
                    citation.push(oneCitation);
                } else {
                    $("#loading").hide();
                    toastr.error("Cần nhập đủ thông tin cho trích dẫn");
                    return false;
                }
            }

            if (citation.length == 0) {
                toastr.error("Cần có ít nhất 1 trích dẫn");
                $("#loading").hide();
                return false;
            }
            if (AddAuthor.name == undefined || AddAuthor.name == "") {
                toastr.error("Tên tác giả không phù hợp");
                $("#loading").hide();
                return false;
            }
            if (AddAuthor.email == undefined || AddAuthor.email == "") {
                toastr.error("Email tác giả không phù hợp");
                $("#loading").hide();
                return false;
            }

            $.ajax({
                url: "@Url.Action("EditCitation", "Citation")",
                type: "POST",
                data: JSON.stringify({ 'citation': citation, 'addAuthor': AddAuthor, 'request_id': "@ViewBag.request_id" }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.success) {
                        $("#ckEdit").val("3");
                        $("#CitationForm").submit();
                    }
                    else {
                        toastr.error(response.content);
                        $("#loading").hide();
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        });
    </script>
}

