
@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    @{
                        Html.RenderAction("AddAuthor", "PartialView");
                    }
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("CitationInfo")</h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <table class="table table-bordered trichdan">
                                <thead>
                                    <tr>
                                        <th>@rm.GetString("Source")</th>
                                        <th>@rm.GetString("CitationCount")</th>
                                        <th>@rm.GetString("Link")</th>
                                    </tr>
                                </thead>
                                <tbody id="trichdan_body">
                                    @{
                                        foreach (var item in ViewBag.citation)
                                        {
                                            <tr>
                                                <td><input class="form-control edit trichdan_source" type="text" value="@item.source" /></td>
                                                <td><input class="form-control edit trichdan_count" type="number" value="@item.count" /></td>
                                                <td><input class="form-control edit trichdan_link" type="text" value="@item.link" /></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="col-xl-12" style="text-align: end">
                                <button class="btn btn-light-danger px-6 font-weight-bold deleterow edit">@rm.GetString("DelRow")</button>
                                <button class="btn btn-light-primary px-6 font-weight-bold addrow edit">@rm.GetString("AddRow")</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("TotalReward")</label>
                            <input class="form-control form-control-lg edit" readonly type="text" value="" ; />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-light-success px-6 font-weight-bold edit" id="btn-submit">@rm.GetString("Send")</button>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("CmtInfo")</h3>
                    @{
                        Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script>
        var people = [];
        var citation = [];
        $(document).ready(function () {

            $('.citationE').attr('style', 'display:none !important');

            $("#ckfe").val("@ViewBag.author.office_abbreviation");
            $("#ckfe").trigger('change');
            $("#add_author_msnv").val("@ViewBag.author.mssv_msnv");
            $("#add_author_msnv").trigger('change');
            $("#add_author_mail").val("@ViewBag.author.email");
            $("#add_author_name").val("@ViewBag.author.name");
            $("#add_author_title").val("@ViewBag.author.title_id");
            $("#add_author_title").trigger('change');
            $("#add_author_contractType").val("@ViewBag.author.contract_id");
            $("#add_author_contractType").trigger('change');
            $("#add_author_cmnd").val("@ViewBag.author.identification_number");
            $("#add_author_tax").val("@ViewBag.author.tax_code");
            $("#add_author_bank").val("@ViewBag.author.bank_branch");
            $("#add_author_accno").val("@ViewBag.author.bank_number");

            var ck = "@ViewBag.ckEdit";
            if (ck != "4") $(".edit").prop("disabled", true);
            else $(".edit").prop("disabled", false);
        });

        $(".addrow").click(function () {
            $("#trichdan_body tr:last").after("<tr>" +
                "<td><input type='text' class='form-control' /></td>" +
                "<td><input type='number' class='form-control' min='0' /></td>" +
                "<td><input type='text' class='form-control' /></td>" +
                "</tr>");
        });

        $(".deleterow").click(function () {
            var rowCount = $('#trichdan_body tr').length;
            if (rowCount > 1) $("#trichdan_body tr:last").remove();
            else toastr.error("@rm.GetString("ErrorCita")", "@rm.GetString("Error")");
        });

        function addAuthor() {
            ckfe = $("#ckfe").val()
            add_author_workplace = $("#ckfe").val()
            add_author_msnv = $("#add_author_msnv").val()
            add_author_name = $("#add_author_name").val()
            add_author_title = $("#add_author_title option:selected").text()
            add_author_contractType = $("#add_author_contractType option:selected").text()
            add_author_cmnd = $("#add_author_cmnd").val()
            add_author_tax = $("#add_author_tax").val()
            add_author_bank = $("#add_author_bank").val()
            add_author_accno = $("#add_author_accno").val()
            add_author_reward = $("#add_author_reward").val()
            add_author_note = $("#add_author_note").val()
            add_author_email = $("#add_author_mail").val()
            id = new Date().getTime()
            var AddAuthor = {
                name: add_author_name,
                email: add_author_email,
                bank_number: add_author_accno,
                tax_code: add_author_tax,
                bank_branch: add_author_bank,
                identification_number: add_author_cmnd,
                mssv_msnv: add_author_msnv,
                office_id: $("#ckfe option:selected").attr("name"),
                contract_id: $("#add_author_contractType").val(),
                title_id: $("#add_author_title").val(),
                people_id: $("#add_author_msnv").attr("name"),
                temp_id: id,
                office_abbreviation: $("#ckfe option:selected").val(),
            }
            people.push(AddAuthor);
        }

        $("#btn-submit").click(function () {
            addAuthor();
            var inputSource = $(".trichdan_source");
            var inputCount = $(".trichdan_count");
            var inputLink = $(".trichdan_link");
            for (var i = 0; i < inputSource.length; i++) {
                var oneCitation = {
                    source: $(inputSource[i]).val(),
                    count: $(inputCount[i]).val(),
                    link: $(inputLink[i]).val()
                };
                citation.push(oneCitation);
            }

            $.ajax({
                url: "@Url.Action("editCitation", "Citation")",
                type: "POST",
                data: JSON.stringify({ 'citation': citation, 'people': people, 'request_id': "@ViewBag.request_id" }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });
    </script>
}

