
@{
    //ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="row">
                    <div class="col-md-3 my-2 my-md-0">
                        <div class="input-icon">
                            <input type="text" class="form-control"
                                   placeholder="Tên"
                                   id="kt_datatable_search_query" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 my-2 my-md-0">
                        <div class="d-flex align-items-center">
                            <select class="form-control" id="search_thang" name="param">
                                <option label="Label"></option>
                                <option value="0">@rm.GetString("All")</option>
                                <option value="1">@rm.GetString("Jan")</option>
                                <option value="2">@rm.GetString("Feb")</option>
                                <option value="3">@rm.GetString("Mar")</option>
                                <option value="4">@rm.GetString("Apr")</option>
                                <option value="5">@rm.GetString("May")</option>
                                <option value="6">@rm.GetString("Jun")</option>
                                <option value="7">@rm.GetString("Jul")</option>
                                <option value="8">@rm.GetString("Aug")</option>
                                <option value="9">@rm.GetString("Sep")</option>
                                <option value="10">@rm.GetString("Oct")</option>
                                <option value="11">@rm.GetString("Nov")</option>
                                <option value="12">@rm.GetString("Dec")</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 my-2 my-md-0">
                        <div class="d-flex align-items-center">
                            <input type="text" class="form-control custom-pickyear" readonly
                                   placeholder="Chọn năm" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 mt-5 mt-lg-0">
                        <a href="#"
                           class="btn btn-light-primary px-6 font-weight-bold">
                            Tìm kiếm
                        </a>
                    </div>
                    <div class="col-xl-12">
                        <table id="table_trichdan" class="table table-bordered table-checkable">
                            <thead>
                                <tr>
                                    <th>@rm.GetString("Index")</th>
                                    <th>@rm.GetString("Source")</th>
                                    <th>@rm.GetString("CitationCount")</th>
                                    <th>@rm.GetString("Link")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Scopus</td>
                                    <td>123</td>
                                    <td><a class="btn btn-light-primary btn-sm px-6 font-weight-bold" href="#">@rm.GetString("View")</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Google scholar</td>
                                    <td>456</td>
                                    <td><a class="btn btn-light-primary btn-sm px-6 font-weight-bold" href="#">@rm.GetString("View")</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script>
        $(document).ready(function () {
            $("#table_trichdan").DataTable({
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
      <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[0, 'asc']],

                columnDefs: [

                ],
            });
        });
    </script>
}

