
@{
    ViewBag.Title = "Pending";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}


<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <table id="pending_table" class="table table-bordered table-checkable">
                        <thead>
                            <tr>
                                <th>@rm.GetString("Source")</th>
                                <th>@rm.GetString("CitationCount")</th>
                                <th>@rm.GetString("RequestDate")</th>
                                <th>@rm.GetString("Status")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Google Scholar, Scopus</td>
                                <td>100</td>
                                <td>10/12/2019</td>
                                <td>1</td>
                                <td><a href="#" class="btn btn-bg-secondary">@rm.GetString("Edit")</a></td>
                            </tr>
                            <tr>
                                <td>Scopus</td>
                                <td>50</td>
                                <td>09/12/2019</td>
                                <td>3</td>
                                <td><a href="#" class="btn btn-bg-primary">@rm.GetString("View")</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#pending_table").DataTable({
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },
                columns: [
                    { width: "30%" },
                    { width: "25%" },
                    { width: "15%" },
                    { width: "15%" },
                    { width: "15%" }
                ],
                columnDefs: [
                    {
                        targets: 3,
                        render: function (data, type, full, meta) {
                            var status = {
                                1: {
                                    'title': 'Cần chỉnh sửa',
                                    'class': 'label-light-warning'
                                },
                                2: {
                                    'title': 'Đã hủy',
                                    'class': ' label-light-danger'
                                },
                                3: {
                                    'title': 'Đang phê duyệt',
                                    'class': ' label-light-primary'
                                },
                                4: {
                                    'title': 'Đã xong',
                                    'class': ' label-light-success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="label label-lg font-weight-bold' + status[data].class + ' label-inline">' + status[data].title + '</span>';
                        },
                    },
                ],
            });
        });
    </script>
}
