
@{
    //ViewBag.Title = "AddRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("RequestInfo")</h3>
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div class="row">
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("InvenName")</label>
                                <input class="form-control form-control-lg" type="text" />
                            </div>
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("PatentNumber")</label>
                                <input class="form-control form-control-lg" type="text" />
                            </div>
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("PatentType")</label>
                                <input class="form-control form-control-lg" type="text" />
                            </div>
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("PatentDate")</label>
                                <input class="form-control form-control-lg custom-pickdate" type="text" />
                            </div>
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("Country")</label>
                                <select class="form-control form-control-lg select-custom" id="search_nam" name="param">
                                    <option>Việt Nam</option>
                                    <option>Mỹ</option>
                                    <option>Nga</option>
                                </select>
                            </div>
                            <div class="col-xl-6 form-group">
                                <label>@rm.GetString("FileCM")</label>
                                <button class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control form-control-lg">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-custom " style="box-shadow: 0px 0px 30px 0px rgba(82,63,105,0.17); border: 0; margin-bottom: 2rem;">
                            <div class="card-header ribbon ribbon-top ribbon-ver">
                                <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                    <i class="fa fa-star text-white"></i>
                                </div>
                                <h3 class="card-title">
                                    Chính sách hiện tại
                                </h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Lorem ipsum, or lipsum as it is sometimes known</li>
                                    <li>is dummy text used in laying out print, graphic</li>
                                    <li>have scrambled parts of Cicero's De Finibus Bonorum et Malorum</li>
                                </ul>
                                <br />
                                <a href="#" class="btn btn-light-primary mr-2" target="_blank">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                <div class="row" id="authors-info-container">
                </div>
                <!--end:: Row-->
                <div class="row">
                    <div class="col-xl-12" style="text-align: left">
                        <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_btn" data-toggle="modal" data-target="#addModal">@rm.GetString("AddAu")</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold">@rm.GetString("Send")</button>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("AddAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script>
        $("#btemp").click(function () {
            alert($("#temp").text());
        });
        $('#search_nam').select2({
            allowClear: true
        });
    </script>
}

