
@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("RequestInfo")</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("InvenName")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" id="inven_name" type="text" value="@ViewBag.item.name" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PatentNumber")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" id="patent_number" type="text" value="@ViewBag.item.no" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PatentType")</label>
                            <select class="form-control form-control-lg select-custom edit" id="search_type" name="param">
                                @{
                                    foreach (var item in ViewBag.type)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PatentDate")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit custom-pickdate" id="patent_date" type="text" value="@ViewBag.item.date.ToString("dd/MM/yyyy")" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("Country")</label>
                            <select class="form-control edit" id="search_country" name="param">
                                @{
                                    foreach (var item in ViewBag.listCountry)
                                    {
                                        <option value="@item.country_id">@item.country_name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("FileCM")</label>
                            <a href="@ViewBag.item.link_file" target="_blank" class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control">View</a>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("TotalReward")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" id="totalreward" readonly type="text" value="@ViewBag.item.total_reward" ; />
                        </div>
                        <div class="col-xl-6 form-group" style="display:none">
                            <label>@rm.GetString("RewardType")</label>
                            <select id="kieuthuong" class="form-control form-control-lg edit">
                                <option selected value="Quydinh">@rm.GetString("According")</option>
                                <option value="Canhan">@rm.GetString("Repre")</option>
                            </select>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    <div class="row" id="authors-info-container">
                    </div>
                    <!--end:: Row-->
                    <div class="row">
                        <div class="col-xl-12" style="text-align: left">
                            <button class="btn btn-light-primary px-6 font-weight-bold edit" id="add_author_btn" data-toggle="modal" data-target="#addModal">@rm.GetString("AddAu")</button>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-light-success px-6 font-weight-bold edit" id="btn_submit">@rm.GetString("Send")</button>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("CmtInfo")</h3>
                    <div>
                        @{
                            Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("AddAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa thông tin tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("EditAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>
<form style="visibility: hidden" method="post" action="/Invention/Edit" id="InvenForm">
    <input name="id" id="nameEdit2" />
    <input name="editable" id="ckEdit2" />
</form>
<button class="btn btn-light-primary px-6 font-weight-bold hidden" style="display: none" id="edit_author_btn" data-toggle="modal" data-target="#editModal"></button>
@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script>
        var people = [];
        var requestid = "@ViewBag.request_id";
        var invenID = "@ViewBag.invenID";
        var paper_id = "@ViewBag.invenID";
        $('#search_country').select2({
            allowClear: true
        });
        $('#kieuthuong').select2({
            allowClear: true
        });
        $('#search_type').select2({
            allowClear: true,
            tags: true
        });
        function edit() {

        }

        $("#btn_submit").click(function () {
            $("#loading").show();
            var temp = $("#patent_date").val();
            var arr = temp.split('/');
            var dateFormat = arr[1] + '/' + arr[0] + '/' + arr[2];
            var invention = {
                name: $("#inven_name").val(),
                no: $("#patent_number").val(),
                date: dateFormat,
                country_id: $("#search_country").val(),
                invention_id: invenID
            };
            var type = $("#search_type option:selected").text();
            var kieuthuong = $("#kieuthuong").val();
            $.ajax({
                url: "@Url.Action("editInven", "Invention")",
                type: "POST",
                data: JSON.stringify({
                    'inven': invention,
                    'people': people,
                    'type': type,
                    'kieuthuong': kieuthuong,
                    'request': requestid
                }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        $("#loading").hide();
                        $("#nameEdit2").val(response.id);
                        $("#ckEdit2").val(3);
                        $("#InvenForm").submit();
                        //alert(response.mess);
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $(document).ready(function () {
            var ck = "@ViewBag.ckEdit";
            if (ck != "5") $(".edit").prop("disabled", true);
            else $(".edit").prop("disabled", false);

            var kieuthuong = "@ViewBag.item.reward_type";
            if (kieuthuong == "Quydinh") $("#kieuthuong").val("Quydinh");
            if (kieuthuong == "Canhan") $("#kieuthuong").val("Canhan");
            $("#kieuthuong").trigger('change');

            var country = "@ViewBag.item.country_id";
            $("#search_country").val(country);
            $("#search_country").trigger('change');

            var typeid = "@ViewBag.item.type_name";
            $("#search_type").val(typeid);
            $("#search_type").trigger('change');

            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            $("#loading").show();
            $.ajax({
                url: "@Url.Action("listAuthor", "Invention")",
                type: "POST",
                data: { 'id': invenID},
                cache: false,
                success: function (response) {
                    for (var i = 0; i < response.author.length; i++) {
                        add_author_workplace = response.author[i].office_abbreviation;
                        add_author_msnv = response.author[i].mssv_msnv;
                        add_author_name = response.author[i].name;
                        add_author_title = response.author[i].title_name;
                        add_author_contractType = response.author[i].contract_name;
                        add_author_cmnd = response.author[i].identification_number;
                        add_author_tax = response.author[i].tax_code;
                        add_author_bank = response.author[i].bank_branch;
                        add_author_accno = response.author[i].bank_number;
                        add_author_isReseacher = response.author[i].is_reseacher;

                        var temp_money = response.author[i].money_reward;
                        if (response.author[i].money_reward != null) add_author_reward = temp_money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        else add_author_reward = temp_money;

                        add_author_note = '';
                        add_author_email = response.author[i].email;
                        id = new Date().getTime();
                        au = new AuthorInfoView(add_author_workplace, add_author_msnv, add_author_name,
                            add_author_title, add_author_contractType, add_author_cmnd, add_author_tax,
                            add_author_bank, add_author_accno, add_author_reward, add_author_note, add_author_email, add_author_isReseacher, id);
                        $("#authors-info-container").append(au.getHTML());
                        var AddAuthor = {
                            name: add_author_name,
                            email: add_author_email,
                            bank_number: add_author_accno,
                            tax_code: add_author_tax,
                            bank_branch: add_author_bank,
                            identification_number: add_author_cmnd,
                            mssv_msnv: add_author_msnv,
                            office_id: response.author[i].office_id_string,
                            contract_id: response.author[i].contract_id,
                            title_id: response.author[i].title_id,
                            people_id: response.author[i].people_id,
                            temp_id: id,
                            office_abbreviation: response.author[i].office_abbreviation,
                            is_reseacher: response.author[i].is_reseacher,
                            money_string: add_author_reward
                        }
                        people.push(AddAuthor);
                    }
                    if (ck != "5") $(".edit").prop("disabled", true);
                    $("#loading").hide();
                },
                error: function () {
                    //alert("fail");
                }
            });
        });
    </script>
    <script src="~/Scripts/PartialViewScript.js"></script>
}

