
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <div class="row">
                        <div class="col-xl-3 input-group date mb-2">
                            <select type="text" class="form-control">
                                <option value="0" selected>@rm.GetString("All")</option>
                                <option value="1">@rm.GetString("Jan")</option>
                                <option value="2">@rm.GetString("Feb")</option>
                                <option value="3">@rm.GetString("Mar")</option>
                                <option value="4">@rm.GetString("Apr")</option>
                                <option value="5">@rm.GetString("May")</option>
                                <option value="6">@rm.GetString("Jun")</option>
                                <option value="7">@rm.GetString("Jul")</option>
                                <option value="8">@rm.GetString("Aug")</option>
                                <option value="9">@rm.GetString("Sep")</option>
                                <option value="10">@rm.GetString("Oct")</option>
                                <option value="11">@rm.GetString("Nov")</option>
                                <option value="12">@rm.GetString("Dec")</option>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-check"></i></span>
                            </div>
                        </div>
                        <div class="col-xl-3 input-group date mb-2">
                            <input type="text" class="form-control custom-pickyear" value="2021" readonly />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-check"></i></span>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <table id="table_tapchi" class="display">
                                <thead>
                                    <tr>
                                        <th>@rm.GetString("Index")</th>
                                        <th>@rm.GetString("InvenName")</th>
                                        <th>@rm.GetString("AuthorName")</th>
                                        <th>@rm.GetString("PatentType")</th>
                                        <th>@rm.GetString("PatentDate")</th>
                                        <th>@rm.GetString("PatentNumber")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            An Evaluation of Image-Based Malware Classification Using Machine Learning
                                        </td>
                                        <td>
                                            Nguyễn Quốc Long et al
                                        </td>
                                        <td>ICCCI 2020: Communications in Computer and Information Science</td>
                                        <td>Q1</td>
                                        <td>
                                            Vol. 1287
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            Recognition and Quantity Estimation of Pastry Images Using Pre-training Deep Convolutional Networks
                                        </td>
                                        <td>
                                            An C. Tran<br /> Nghi C. Tran<br /> Dương Trung Nghĩa
                                        </td>
                                        <td>FDSE 2020: Communications in Computer and Information Science</td>
                                        <td>Q2</td>
                                        <td>
                                            Vol. 1287
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            HIV and ways to maintain a meaningful life
                                        </td>
                                        <td>
                                            Huỳnh Tấn Hội
                                        </td>
                                        <td>Biomedicine</td>
                                        <td>Scopus</td>
                                        <td>
                                            Vol. 1287
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            Vector Map Random Encryption Algorithm Based on Multi-Scale Simplification and Gaussian Distribution
                                        </td>
                                        <td>
                                            Phạm Ngọc Giao<br /> Ngô Tùng Sơn<br /> Bùi Ngọc Anh<br /> Trần Văn Định<br /> Suk-Hwan Lee<br /> Ki-Ryong Kwon
                                        </td>
                                        <td>Applied Sciences</td>
                                        <td>Q1</td>
                                        <td>
                                            Vol. 1287
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            The structure of Leavitt path algebras and the Invariant Basis Number property
                                        </td>
                                        <td>
                                            Trần Giang Nam<br /> Ngô Tấn Phúc
                                        </td>
                                        <td>Journal of Pure and Applied Algebra</td>
                                        <td>Q1</td>
                                        <td>
                                            Vol. 1287
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    @*<script src="~/Content/assets/js/pages/crud/ktdatatable/base/html-table.js"></script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            });
            $('#table_tapchi').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "25%" },
                    { width: "20%" },
                    { width: "20%" },
                    { width: "15%" },
                    { width: "15%" }
                ],
                oLanguage: {
                    oPaginate: {
                        sPrevious: "@rm.GetString("Pre")",
                        sNext: "@rm.GetString("Next")"
                    },
                    sEmptyTable: "@rm.GetString("EmptyTB")",
                    sInfo: "@rm.GetString("ShowTB")",
                    sLengthMenu: "@rm.GetString("Show") <select>" +
                        "<option value='5'>5</option>" +
                        "<option value='10'>10</option>" +
                        "<option value='20'>20</option>" +
                        "</select> @rm.GetString("Record")",
                    sSearch: "@rm.GetString("Search")"
                }
            });
        });
    </script>
}
