@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="row mb-4">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <input class="form-control" type="text" autocomplete="off" required id="search_partner_tab_2" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_nation_tab_2" name="param" style="width:100% !important">
                        <option label="Label"></option>
                        @foreach (var item in ViewBag.listCountry)
                        {
                            <option value="@item.country_id">@item.country_name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_year_tab_2" name="param" style="width:100% !important">
                        <option label="Label"></option>
                        @for (var i = ViewBag.YearSearching.year_from; i <= ViewBag.YearSearching.year_to; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <a href="#" id="search_2" class="btn btn-light-primary px-6 font-weight-bold ">@rm.GetString("Search")</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover" id="colab_program_going_table">
    <thead>
        <tr>
            <th rowspan="2">@rm.GetString("Number")</th>
            <th colspan="2" class="text-center">@rm.GetString("Partner")</th>
            <th rowspan="2">@rm.GetString("Program")</th>
            <th rowspan="2">@rm.GetString("RegistrationDeadline")</th>
            <th rowspan="2">@rm.GetString("PublishTime")</th>
        </tr>
        <tr>
            <th>@rm.GetString("PartnerName")</th>
            <th style="border-right-width: 1px !important">@rm.GetString("Country")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                Đại học công nghê Petronas
            </td>
            <td>Malaysia</td>
            <td>
                <a onclick="load_detail.load_program_detail(1,1)" class="link-load-detail">
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ UTP
                </a>
            </td>
            <td>
                01/01/2020 – 31/01/202
            </td>
            <td>
                21/01/2021 12:01:34
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                Đại học Bách Khoa
            </td>
            <td>Việt Nam</td>
            <td>
                <a onclick="load_detail.load_program_detail(1,1)" class="link-load-detail">
                    Thông báo tuyển sinh đào tạo trình độ tiến sĩ HUST
                </a>
            </td>
            <td>
                01/01/2020 – 31/01/202
            </td>
            <td>
                21/01/2021 12:01:34
            </td>
        </tr>
    </tbody>
</table>
