@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="row mb-4">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_nation_tab_3" name="param" style="width:100% !important">
                        <option label="Label"></option>
                        @foreach (var item in ViewBag.listCountry)
                        {
                            <option value="@item.country_id">@item.country_name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                    <select class="form-control text-center" id="search_year_tab_3" name="param" style="width:100% !important">
                        <option label="Label"></option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <a href="#" id="search_3" class="btn btn-light-primary px-6 font-weight-bold">@rm.GetString("Search")</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover" id="colab_program_coming_table">
    <thead>
        <tr>
            <th>@rm.GetString("Number")</th>
            <th>@rm.GetString("Program")</th>
            <th>@rm.GetString("RegistrationDeadline")</th>
            <th>@rm.GetString("PublishTime")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
