@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="row mb-4">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4 pl-lg-0">
                <input class="form-control" type="text" placeholder="@rm.GetString("ProcedureTitle")" autocomplete="off" required id="search_title_tab_3" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <a id="search_proc_3" class="btn btn-light-primary px-6 font-weight-bold ">@rm.GetString("Search")</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="coming_procedure_table">
    <thead>
        <tr>
            <th>@rm.GetString("Number")</th>
            <th>@rm.GetString("ProcedureTitle")</th>
            <th>@rm.GetString("PublishTime")</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
