@using ENTITIES.CustomModels.ScienceManagement.ArticlePolicy;
@using GUEST.Models
@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    ViewBag.Title = rm.GetString("Header");
}

@section Styles {
    <style>
        #banner {
            background: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        #banner * {
            border-radius: 0.42rem;
        }

        .banner-button {
            cursor: pointer;
            opacity: 0.8;
        }
    </style>
    <link href="~/Content/assets/plugins/owlcarousel2/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/owlcarousel2/owl.theme.default.min.css" rel="stylesheet" />
}

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
                <div class=" d-none d-md-block col-xl-12">
                    <div class="card card-custom gutter-b" id="banner">
                        <div class="owl-carousel owl-theme">
                            @if (ViewBag.images != null)
                            {
                                foreach (string item in ViewBag.images)
                                {
                                    <div class="item">
                                        <img style="height:30rem; object-fit: cover" src="@("https://drive.google.com/uc?export=view&id=" + item)" alt="Alternate Text" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <!--begin::Row-->
            <!--<div class="row">
                <div class="col-xl-6">-->
                    <!--begin::Mixed Widget 10-->
                    <!--<div class="card card-custom gutter-b" style="height: 150px; background: url(../Content/assets/media/bg/home_bg_qlkh.png);">-->
                        <!--begin::Body-->
                        <!--<div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-2">
                                <h3 class="font-weight-bolder">@rm.GetString("ScienceManagementNavbar")</h3>
                            </div>
                            <a href="@Url.Action("Index","AcademicActivity")" class="btn btn-primary font-weight-bold py-3 px-6">@rm.GetString("LoadMore")</a>
                        </div>-->
                        <!--end::Body-->
                    <!--</div>-->
                    <!--end::Mixed Widget 10-->
                <!--</div>
                <div class="col-xl-6">-->
                    <!--begin::Mixed Widget 10-->
                    <!--<div class="card card-custom gutter-b" style="height: 150px; background: url(../Content/assets/media/bg/home_bg_htqt.png);">-->
                        <!--begin::Body-->
                        <!--<div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-2">
                                <h3 class="font-weight-bolder">@rm.GetString("InternationalAffair")</h3>
                            </div>
                            <a href="#" class="btn btn-primary font-weight-bold py-3 px-6">@rm.GetString("LoadMore")</a>
                        </div>-->
                        <!--end::Body-->
                    <!--</div>-->
                    <!--end::Mixed Widget 10-->
                <!--</div>
            </div>-->
            <!--end::Row-->

            <!--begin::Row-->
            <div class="row" id="achievements">
                <div class="col-xl-3">
                    <!--begin::Tiles Widget 12-->
                    <!-- <div class="card card-custom gutter-b" style="height: 150px">
                        <div class="card-body">
                            <i class="fas fa-user-tie icon-3x"></i>
                            <div class="text-dark font-weight-bolder font-size-h2 mt-3">40</div>

                            <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Nghiên cứu viên</a>
                        </div>
                    </div> -->
                    <div class="card card-custom wave wave-animate-slow wave-success max-h-150px">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
                                    <i class="fas fa-user-tie icon-3x"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="/Researchers/List" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        <h1><b>@ViewBag.researcher</b></h1>
                                    </a>
                                    <div class="text-dark-75">
                                        @rm.GetString("Researchers")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Tiles Widget 12-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Tiles Widget 12-->
                    <!-- <div class="card card-custom gutter-b" style="height: 150px">
                        <div class="card-body">
                            <i class="far fa-newspaper icon-3x"></i>
                            <div class="text-dark font-weight-bolder font-size-h2 mt-3">480</div>

                            <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Bài báo ISI/SCOPUS</a>
                        </div>
                    </div> -->
                    <div class="card card-custom wave wave-animate-slow wave-success max-h-150px">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
                                    <i class="far fa-newspaper icon-3x"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="/ScientificProducts" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        <h1><b>@ViewBag.scopusISI</b></h1>
                                    </a>
                                    <div class="text-dark-75">
                                        @rm.GetString("ISI/SCOPUS")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Tiles Widget 12-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Tiles Widget 12-->
                    <!-- <div class="card card-custom gutter-b" style="height: 150px">
                        <div class="card-body">
                            <i class="fas fa-certificate icon-3x"></i>
                            <div class="text-dark font-weight-bolder font-size-h2 mt-3">25</div>

                            <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Bằng sáng chế</a>
                        </div>
                    </div> -->
                    <div class="card card-custom wave wave-animate-slow wave-success max-h-150px">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
                                    <i class="fas fa-medal icon-3x"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="/ScientificProducts" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        <h1><b>@ViewBag.invention</b></h1>
                                    </a>
                                    <div class="text-dark-75">
                                        @rm.GetString("Invention")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Tiles Widget 12-->
                </div>
                <div class="col-xl-3">
                    <!--begin::Tiles Widget 12-->
                    <!-- <div class="card card-custom gutter-b" style="height: 150px">
                        <div class="card-body">
                            <i class="far fa-handshake icon-3x"></i>
                            <div class="text-dark font-weight-bolder font-size-h2 mt-3">180</div>

                            <a href="#" class="text-muted text-hover-primary font-weight-bold font-size-lg mt-1">Đối tác quốc tế</a>
                        </div>
                    </div> -->
                    <div class="card card-custom wave wave-animate-slow wave-success max-h-150px">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
                                    <i class="far fa-handshake icon-3x"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="/Partner/List" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        <h1><b>@ViewBag.partner</b></h1>
                                    </a>
                                    <div class="text-dark-75">
                                        @rm.GetString("InternationalPartner")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Tiles Widget 12-->
                </div>
            </div>
            <!--end::Row-->
            <!-- <hr> -->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-6" style=" margin-bottom: 2rem;">
                    <!--begin::Mixed Widget 10-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <div class="card-title">
                                @*<span class="card-icon">
                                        <i class="flaticon2-chat-1 text-primary"></i>
                                    </span>*@
                                <h3 class="card-title font-weight-bolder text-dark">@rm.GetString("News")</h3>
                            </div>
                            <!-- <div class="card-toolbar">
                                <a href="#" class="btn btn-sm btn-light-primary font-weight-bold">
                                    <i class="flaticon2-cube"></i>@rm.GetString("LoadMore")</a>
                            </div> -->
                        </div>

                        <div class="card-body">
                            <div data-scroll="true" data-height="600" class="scroll ps ps--active-y" style="height: 200px; overflow: hidden;">
                                <div class="news card card-custom mb-2 bg-diagonal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-5 col-sm-12">
                                                <img class="news-thumbnail" src="https://i.imgur.com/w68jCYq.png">
                                            </div>
                                            <div class="col-xl-7 col-sm-12">
                                                <div class="row">
                                                    <div class="col-x12">
                                                        <h3 class="news-title"><b>100 triệu đồng thưởng cho các bài báo khoa học về AI</b></h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-x12 news-summary">
                                                        Lần đầu tiên FPT Edu đồng tổ chức Hội thảo AI quy mô cấp Tập đoàn nhằm thúc đẩy việc nghiên cứu khoa học cơ bản, nghiên cứu ứng dụng của nhân viên FPT trong lĩnh vực trí tuệ nhân tạo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="news card card-custom mb-2 bg-diagonal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-5 col-sm-12">
                                                <img class="news-thumbnail" src="https://i.imgur.com/49dM8bi.jpg">
                                            </div>
                                            <div class="col-xl-7 col-sm-12">
                                                <div class="row">
                                                    <div class="col-x12">
                                                        <h3 class="news-title"><b>Hội thảo chuyên ngành Kinh tế lần thứ Nhất tại Tổ chức Giáo dục FPT</b></h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-x12 news-summary">
                                                        Lần đầu tiên FPT Edu đồng tổ chức Hội thảo AI quy mô cấp Tập đoàn nhằm thúc đẩy việc nghiên cứu khoa học cơ bản, nghiên cứu ứng dụng của nhân viên FPT trong lĩnh vực trí tuệ nhân tạo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="news card card-custom mb-2 bg-diagonal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-5 col-sm-12">
                                                <img class="news-thumbnail" src="https://i.imgur.com/CoSHrgY.jpg">
                                            </div>
                                            <div class="col-xl-7 col-sm-12">
                                                <div class="row">
                                                    <div class="col-x12">
                                                        <h3 class="news-title"><b>100 triệu đồng thưởng cho các bài báo khoa học về AI</b></h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-x12 news-summary">
                                                        Lần đầu tiên FPT Edu đồng tổ chức Hội thảo AI quy mô cấp Tập đoàn nhằm thúc đẩy việc nghiên cứu khoa học cơ bản, nghiên cứu ứng dụng của nhân viên FPT trong lĩnh vực trí tuệ nhân tạo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="news card card-custom mb-2 bg-diagonal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-5 col-sm-12">
                                                <img class="news-thumbnail" src="https://i.imgur.com/w68jCYq.png">
                                            </div>
                                            <div class="col-xl-7 col-sm-12">
                                                <div class="row">
                                                    <div class="col-x12">
                                                        <h3 class="news-title"><b>100 triệu đồng thưởng cho các bài báo khoa học về AI</b></h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-x12 news-summary">
                                                        Lần đầu tiên FPT Edu đồng tổ chức Hội thảo AI quy mô cấp Tập đoàn nhằm thúc đẩy việc nghiên cứu khoa học cơ bản, nghiên cứu ứng dụng của nhân viên FPT trong lĩnh vực trí tuệ nhân tạo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="news card card-custom mb-2 bg-diagonal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-5 col-sm-12">
                                                <img class="news-thumbnail" src="https://i.imgur.com/w68jCYq.png">
                                            </div>
                                            <div class="col-xl-7 col-sm-12">
                                                <div class="row">
                                                    <div class="col-x12">
                                                        <h3 class="news-title"><b>100 triệu đồng thưởng cho các bài báo khoa học về AI</b></h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-x12 news-summary">
                                                        Lần đầu tiên FPT Edu đồng tổ chức Hội thảo AI quy mô cấp Tập đoàn nhằm thúc đẩy việc nghiên cứu khoa học cơ bản, nghiên cứu ứng dụng của nhân viên FPT trong lĩnh vực trí tuệ nhân tạo.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <!-- <a href="#" class="btn btn-light-primary font-weight-bold">Manage</a> -->
                            <a href="#" class="btn btn-outline-secondary font-weight-bold">@rm.GetString("LoadMore")</a>
                        </div>
                    </div>
                    <!--end::Mixed Widget 10-->
                </div>
                <div class="col-xl-6">
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">@rm.GetString("ArticlePolicies")</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0">
                            @if (ViewBag.articlePolicies != null)
                            {
                                foreach (ArticlePolicyIndex item in ViewBag.articlePolicies)
                                {
                                    <div class="col-sm-12">
                                        <!--begin::Mixed Widget 10-->
                                        <div class="card card-custom card-stretch gutter-b">
                                            <div class="card-header d-flex flex-column" style="padding: 2rem 2.25rem;">
                                                <!--begin::Info-->
                                                <div class="d-flex align-items-center">
                                                    <span class="text-muted font-weight-bold font-size-lg flex-grow-1">
                                                        @item.Version.publish_time.ToString(rm.GetString("DateFormat"))
                                                    </span>
                                                </div>
                                                <!--end::Info-->
                                                <!--begin::Link-->
                                                <a href="/ArticlePolicy/Detail?id=@item.ArticleID" data-toggle="tooltip" data-theme="dark" title="@item.Version.version_title" class="text-dark font-weight-bolder text-hover-primary font-size-h4">
                                                    @if (item.Version.version_title.Length > 80)
                                                    {
                                                        <span>
                                                            <i class="flaticon-add-label-button icon-md text-success"></i> @HTMLHelp.shortText(item.Version.version_title, 80)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            <i class="flaticon-add-label-button icon-md text-success"></i> @item.Version.version_title
                                                        </span>
                                                    }
                                                </a>
                                                <!--end::Link-->
                                            </div>
                                            <!--begin::Body-->
                                            <div class="card-body d-flex flex-column">
                                                <div class="scroll scroll-pull" data-scroll="true" data-wheel-propagation="true">
                                                    <div class="flex-grow-1 text-muted">
                                                        <!--begin::Desc-->
                                                        @{
                                                            string text = HTMLHelp.HTMLToText(Html.Raw(item.Version.article_content).ToHtmlString());
                                                            <span>@HTMLHelp.shortText(text, 200)...</span>
                                                            <a href="/ArticlePolicy/Detail?id=@item.ArticleID" class="">Xem thêm</a>
                                                        }
                                                        <!--end::Desc-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                @foreach (var tag in item.Types)
                                                {
                                                    <a href="#" class="text-muted label label-lg label-rounded label-pill label-inline" style="width: auto;padding: 0 10px;">#@tag</a>
                                                }
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::Mixed Widget 10-->
                                    </div>
                                }
                            }
                        </div>
                        <!--end::Body-->
                    </div>
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    @section scripts{
        <script src="~/Content/assets/plugins/owlcarousel2/owl.carousel.min.js"></script>
        <script>
            //var imgs = [
            //    "https://daihoc.fpt.edu.vn/media/2021/03/Bannerweb-FPTU-20215-1.png",
            //    "https://daihoc.fpt.edu.vn/media/2021/02/Bannerweb-FPTU-20214.png",
            //    "https://daihoc.fpt.edu.vn/media/2021/02/Screen-Shot-2021-02-03-at-23.03.39.png"
            //]
            //var banner_index = 0


            //function change_banner() {
            //    //console.log(banner_index)
            //    $('#banner').fadeTo('slow', 0.95, function () {
            //        $("#banner").css('background-image', 'url(' + imgs[banner_index] + ')');
            //        if (banner_index != 2) {
            //            banner_index = banner_index + 1
            //        } else {
            //            banner_index = 0
            //        }
            //    }).fadeTo('slow', 1);
            //    //if (banner_index == 3) {
            //    //    banner_index = 0
            //    //}
            //    //console.log(banner_index)
            //}

            //var mybanners = setInterval(change_banner, 5000);

            //$(".banner-button").click(async function () {
            //    clearInterval(mybanners);
            //    banner_index = $(this).data('banner')
            //    await change_banner()
            //    mybanners = setInterval(change_banner, 5000);
            //})
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    items: 1,
                    loop: true,
                    margin: 10,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true
                })
            });
        </script>
    }
</div>
