@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="row">
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("WorkUnit")</label>
        <select class="form-control edit select-custom" id="ckfe" name="param" style="width: 100% !important">
            @{
                foreach (var item in ViewBag.office)
                {
                    <option value="@item.office_abbreviation" name="@item.office_id">@item.office_name</option>
                }
            }
            <option value="Khác" name="0">Khác</option>
        </select>
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">Email</label>
        <input autocomplete="off" class="form-control edit inputAuthor" id="add_author_mail" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("MSNV")</label>
        <select class="form-control edit select-custom input_fe" id="add_author_msnv" name="param" style="width: 100% !important">
            <option disabled selected></option>
            @{
                foreach (var item in ViewBag.people)
                {
                    <option value="@item.mssv_msnv" name="@item.people_id">@item.mssv_msnv</option>
                }
            }
        </select>
        @*<input class="form-control editfe edit" id="add_author_msnv" type="text" />*@
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("Name")</label>
        <input autocomplete="off" class="form-control edit inputAuthor" id="add_author_name" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label>@rm.GetString("Title")</label>
        <select class="form-control select-custom edit input_fe" id="add_author_title" name="param" style="width: 100% !important">
            <option disabled selected></option>
            @{
                foreach (var item in ViewBag.title)
                {
                    <option value="@item.title_id">@item.name</option>
                }
            }
        </select>
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("isReseacher")</label>
        <label class="checkbox">
            <input class="form-control edit" type="checkbox" name="Checkboxes1" id="add_author_isReseacher" />
            <span></span>
        </label>
    </div>
    <div class="col-xl-6 form-group" style="display:none">
        <label class="required-field">@rm.GetString("ContractType")</label>
        <select class="form-control select-custom edit input_fe" id="add_author_contractType" name="param" style="width: 100% !important">
            <option disabled></option>
            @{
                foreach (var item in ViewBag.contract)
                {
                    <option value="@item.contract_id">@item.name</option>
                }
            }
        </select>
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("CMND")</label>
        <input autocomplete="off" class="form-control edit inputAuthor input_fe" id="add_author_cmnd" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("CMND") Link</label>
        <input autocomplete="off" class="form-control edit inputAuthor input_fe" id="add_author_cmnd_link" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("Tax")</label>
        <input autocomplete="off" class="form-control edit inputAuthor input_fe" id="add_author_tax" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("Bank")</label>
        <input autocomplete="off" class="form-control edit inputAuthor input_fe" id="add_author_bank" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label class="required-field">@rm.GetString("AccNo")</label>
        <input autocomplete="off" class="form-control edit inputAuthor input_fe" id="add_author_accno" type="text" />
    </div>
    @*<div class="col-xl-6 form-group citationE">
            <label class="required-field">@rm.GetString("Reward")</label>
            <input class="form-control editfe edit inputAuthor" id="add_author_reward" type="text" />
        </div>*@
    @*<div class="col-xl-6 form-group">
            <label  class="required-field">@rm.GetString("Note")</label>
            <input class="form-control editfe "  id="add_author_note" type="text" />
        </div>*@
    <div class="col-xl-6 form-group">
    </div>
    <div class="justify-content-center col-xl-12 d-flex citationE">
        <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_save" data-dismiss="modal">@rm.GetString("AddAu")</button>
    </div>
</div>
@*<script src="assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        //$(".edit").prop("disabled", true);
        $('#add_author_msnv').select2({
            allowClear: true,
            tags: true,
            placeholder: "Điền mã số"
        });
        $("#add_author_msnv").on("select2:select", function (e) {
            var AddAuthor = {
                mssv_msnv: $("#add_author_msnv").val()
            };
            console.log(AddAuthor);
            $.ajax({
                url: "@Url.Action("fillDataAdd", "PartialView")",
                type: "POST",
                data: JSON.stringify(AddAuthor),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        var author = response.author;
                        $("#ckfe").val(author.office_abbreviation);
                        $("#ckfe").trigger('change');
                        $("#add_author_name").val(author.name);
                        $("#add_author_title").val(author.title_id);
                        $("#add_author_title").trigger('change');
                        $("#add_author_contractType").val(author.contract_id);
                        $("#add_author_contractType").trigger('change');
                        $("#add_author_cmnd").val(author.identification_number);
                        $("#add_author_tax").val(author.tax_code);
                        $("#add_author_bank").val(author.bank_branch);
                        $("#add_author_accno").val(author.bank_number);
                        $("#add_author_mail").val(author.email);
                        $("#add_author_cmnd_link").val(author.identification_file_link);
                        $("#add_author_isReseacher").prop("checked", author.is_reseacher);
                        $("#add_author_reward").prop('disabled', true);
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        });
    });
</script>
