@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<div class="row">
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("WorkUnit")</label>
        <select class="form-control select-custom" id="ckfe" name="param" style="width: 100% !important">
            <option value="1">FPTU</option>
            <option value="2">FPT Swinburne</option>
            <option value="3">Fpoly</option>
            <option value="4">Khác</option>
        </select>
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Area")</label>
        <select class="form-control editfe select-custom" id="add_author_workplace" name="param" style="width: 100% !important">
            <option>Hà Nội</option>
            <option>Hồ Chí Minh</option>
            <option>Đà Nẵng</option>
        </select>
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("MSNV")</label>
        <input class="form-control editfe" id="add_author_msnv" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Name")</label>
        <input class="form-control " id="add_author_name" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Title")</label>
        <input class="form-control editfe" id="add_author_title" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("ContractType")</label>
        <input class="form-control editfe "id="add_author_contractType" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("CMND")</label>
        <input class="form-control editfe " id="add_author_cmnd" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("CMND")</label>
        <button class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control editfe">Upload</button>
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Tax")</label>
        <input class="form-control editfe" id="add_author_tax" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Bank")</label>
        <input class="form-control editfe "  id="add_author_bank" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("AccNo")</label>
        <input class="form-control editfe"  id="add_author_accno" type="text" />
    </div>
    <div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Reward")</label>
        <input class="form-control editfe "  id="add_author_reward" type="text" />
    </div>
    @*<div class="col-xl-6 form-group">
        <label  class="required-field">@rm.GetString("Note")</label>
        <input class="form-control editfe "  id="add_author_note" type="text" />
    </div>*@
    <div class="col-xl-6 form-group">
    </div>
    <div class="justify-content-center col-xl-12 d-flex">
        <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_save" data-dismiss="modal">@rm.GetString("AddAu")</button>
    </div>
</div>


