
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <div class="row">
                        <div class="mb-7 col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-lg-10 col-xl-8">
                                    <div class="row align-items-center">
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="input-icon">
                                                <input type="text" class="form-control"
                                                       placeholder="Tên"
                                                       id="name_search" />
                                                <span>
                                                    <i class="flaticon2-search-1 text-muted"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="d-flex align-items-center">
                                                <select class="form-control" id="search_thang" name="param">
                                                    <option label="Label"></option>
                                                    <option value="0">@rm.GetString("All")</option>
                                                    <option value="1">@rm.GetString("Jan")</option>
                                                    <option value="2">@rm.GetString("Feb")</option>
                                                    <option value="3">@rm.GetString("Mar")</option>
                                                    <option value="4">@rm.GetString("Apr")</option>
                                                    <option value="5">@rm.GetString("May")</option>
                                                    <option value="6">@rm.GetString("Jun")</option>
                                                    <option value="7">@rm.GetString("Jul")</option>
                                                    <option value="8">@rm.GetString("Aug")</option>
                                                    <option value="9">@rm.GetString("Sep")</option>
                                                    <option value="10">@rm.GetString("Oct")</option>
                                                    <option value="11">@rm.GetString("Nov")</option>
                                                    <option value="12">@rm.GetString("Dec")</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 my-2 my-md-0">
                                            <div class="d-flex align-items-center">
                                                <input type="text" class="form-control custom-pickyear" readonly id="search_nam"
                                                       placeholder="Chọn năm" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-5 mt-lg-0">
                                            <button id="search-btn"
                                               class="btn btn-light-primary px-6 font-weight-bold">
                                                Tìm kiếm
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                                    <div class="card-toolbar">
                                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tapchi">
                                                    <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                                    <span class="nav-text">@rm.GetString("JournalPaper")</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#kyyeu">
                                                    <span class="nav-icon"><i class="flaticon2-drop"></i></span>
                                                    <span class="nav-text">@rm.GetString("ConferencePaper")</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#sangche">
                                                    <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                                    <span class="nav-text">@rm.GetString("Invention")</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="tapchi" role="tabpanel" aria-labelledby="kt_tab_pane_1_4">
                                            <table id="table_tapchi" class="table table-bordered table-checkable">
                                                <thead>
                                                    <tr>
                                                        <th>@rm.GetString("Index")</th>
                                                        <th>@rm.GetString("PaperName")</th>
                                                        <th>@rm.GetString("AuthorName")</th>
                                                        <th>@rm.GetString("JournalName")</th>
                                                        <th>@rm.GetString("Quality")</th>
                                                        <th>@rm.GetString("Vol")</th>
                                                        <th>@rm.GetString("Page")</th>
                                                        <th>@rm.GetString("LinkFull")</th>
                                                        <th>Link scholar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int count = 1;
                                                        foreach (var item in ViewBag.listJournal)
                                                        {
                                                            <tr>
                                                                <td>@count</td>
                                                                <td>@item.name</td>
                                                                <td>@item.author</td>
                                                                <td>@item.journal_name</td>
                                                                <td>@item.quality</td>
                                                                <td>@item.vol</td>
                                                                <td>@item.page</td>
                                                                <td>@item.link_doi</td>
                                                                <td>@item.link_scholar</td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="kyyeu" role="tabpanel" aria-labelledby="kt_tab_pane_2_4">
                                            <table id="table_kyyeu" class="table table-bordered table-checkable">
                                                <thead>
                                                    <tr>
                                                        <th>@rm.GetString("Index")</th>
                                                        <th>@rm.GetString("PaperName")</th>
                                                        <th>@rm.GetString("AuthorName")</th>
                                                        <th>@rm.GetString("JournalName")</th>
                                                        <th>@rm.GetString("Quality")</th>
                                                        <th>@rm.GetString("Vol")</th>
                                                        <th>@rm.GetString("Page")</th>
                                                        <th>@rm.GetString("LinkFull")</th>
                                                        <th>Link scholar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        count = 1;
                                                        foreach (var item in ViewBag.listConferen)
                                                        {
                                                            <tr>
                                                                <td>@count</td>
                                                                <td>@item.name</td>
                                                                <td>@item.author</td>
                                                                <td>@item.journal_name</td>
                                                                <td>@item.quality</td>
                                                                <td>@item.vol</td>
                                                                <td>@item.page</td>
                                                                <td>@item.link_doi</td>
                                                                <td>@item.link_scholar</td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="sangche" role="tabpanel" aria-labelledby="kt_tab_pane_3_4">
                                            <table id="table_sangche" class="table table-bordered table-checkable">
                                                <thead>
                                                    <tr>
                                                        <th>@rm.GetString("Index")</th>
                                                        <th>@rm.GetString("InvenName")</th>
                                                        <th>@rm.GetString("AuthorName")</th>
                                                        <th>@rm.GetString("PatentType")</th>
                                                        <th>@rm.GetString("PatentDate")</th>
                                                        <th>@rm.GetString("PatentNumber")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        count = 1;
                                                        foreach (var item in ViewBag.listInven)
                                                        {
                                                            <tr>
                                                                <td>@count</td>
                                                                <td>@item.name</td>
                                                                <td>@item.author</td>
                                                                <td>@item.name_shtt</td>
                                                                <td>@item.date.ToString("dd/MM/yyyy")</td>
                                                                <td>@item.no</td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script>
        $('#search_thang').select2({
            placeholder: 'Chọn tháng',
            allowClear: true
        });
    </script>
    <script>
        var table_tapchi;
        $("#search-btn").click(function () {
            $("#table_tapchi").DataTable().clear().draw();
            $("#table_kyyeu").DataTable().clear().draw();
            $("#table_sangche").DataTable().clear().draw();
            var DataSearch = {
                nameS: $("#name_search").val(),
                monthS: $("#search_thang").val(),
                yearS: $("#search_nam").val()
            };
            $.ajax({
                url: "@Url.Action("Search", "ScientificProducts")",
                type: "POST",
                data: JSON.stringify(DataSearch),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    for (var i = 0; i < response.Journal.length; i++) {
                        var count = i + 1;
                        $("#table_tapchi").DataTable().row.add([
                            "" + count,
                            "" + response.Journal[i].name,
                            "" + response.Journal[i].author,
                            "" + response.Journal[i].journal_name,
                            "" + response.Journal[i].quality,
                            "" + response.Journal[i].vol,
                            "" + response.Journal[i].page,
                            "" + response.Journal[i].link_doi,
                            "" + response.Journal[i].link_scholar
                        ]).draw();
                    }
                    for (var i = 0; i < response.Conference.length; i++) {
                        var count = i + 1;
                        $("#table_kyyeu").DataTable().row.add([
                            "" + count,
                            "" + response.Conference[i].name,
                            "" + response.Conference[i].author,
                            "" + response.Conference[i].journal_name,
                            "" + response.Conference[i].quality,
                            "" + response.Conference[i].vol,
                            "" + response.Conference[i].page,
                            "" + response.Conference[i].link_doi,
                            "" + response.Conference[i].link_scholar
                        ]).draw();
                    }
                    for (var i = 0; i < response.Invention.length; i++) {
                        var count = i + 1;
                        $("#table_sangche").DataTable().row.add([
                            "" + count,
                            "" + response.Invention[i].name,
                            "" + response.Invention[i].author,
                            "" + response.Invention[i].name_shtt,
                            "" + convertJsonDate(response.Invention[i].date),
                            "" + response.Invention[i].no
                        ]).draw();
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        function convertJsonDate(dateString) {
            dateString = dateString.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }

        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            });
            table_tapchi = $('#table_tapchi').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "20%" },
                    {
                        width: "20%",
                        render: function (data) {
                            return data.split(",").join("<br/>")
                        }
                    },
                    { width: "20%" },
                    { width: "5%" },
                    { width: "10%" },
                    { width: "10%" },
                    {
                        width: "5%",
                        render: function (data) {
                            return "<a class='btn btn-outline-primary' href='#'>Link</a>"
                        }
                    },
                    {
                        width: "5%",
                        render: function (data) {
                            return "<a class='btn btn-outline-primary' href='#'>Link</a>"
                        }
                    }
                ],
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
      <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[0, 'asc']],

                columnDefs: [

                ],
            });

            $('#table_kyyeu').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "20%" },
                    {
                        width: "20%",
                        render: function (data) {
                            return data.split(",").join("<br/>")
                        }
                    },
                    { width: "20%" },
                    { width: "5%" },
                    { width: "10%" },
                    { width: "10%" },
                    {
                        width: "5%",
                        render: function (data) {
                            return "<a class='btn btn-outline-primary' href='#'>Link</a>"
                        }
                    },
                    {
                        width: "5%",
                        render: function (data) {
                            return "<a class='btn btn-outline-primary' href='#'>Link</a>"
                        }
                    }
                ],
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
      <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[0, 'asc']],

                columnDefs: [

                ],
            });

            $('#table_sangche').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "25%" },
                    {
                        width: "20%",
                        render: function (data) {
                            return data.split(",").join("<br/>")
                        }
                    },
                    { width: "20%" },
                    { width: "15%" },
                    { width: "15%" }
                ],
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
      <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[0, 'asc']],

                columnDefs: [

                ],
            });
        });
    </script>
}
