
@{
    //ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 px-0 row">
                <div class="col-md-3 my-2 my-md-0 float-left">
                    <div class="input-icon">
                        <input type="text" class="form-control"
                               placeholder="Tên"
                               id="name_search" />
                        <span>
                            <i class="flaticon2-search-1 text-muted"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 mt-5 mt-lg-0">
                    <button id="search-btn"
                            class="btn btn-light-primary px-6 font-weight-bold">
                        Tìm kiếm
                    </button>
                </div>
            </div>
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <table id="pending_table" class="table table-bordered table-checkable">
                        <thead>
                            <tr>
                                <th>@rm.GetString("PaperName")/@rm.GetString("InvenName")</th>
                                <th>@rm.GetString("RequestDate")</th>
                                <th>@rm.GetString("Status")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in ViewBag.list)
                                {
                                    int count = 1;
                                    <tr>
                                        <td>@item.name</td>
                                        <td>@item.created_date.ToString("dd/MM/yyyy")</td>
                                        <td>@item.status_id</td>
                                        <td>@item.note</td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form style="visibility: hidden" method="post" action="/Paper/Edit" id="PaperForm">
    <input name="id" id="nameEdit" />
    <input name="editable" id="ckEdit" />
</form>
<form style="visibility: hidden" method="post" action="/Invention/Edit" id="InvenForm">
    <input name="id" id="nameEdit2" />
    <input name="editable" id="ckEdit2" />
</form>
@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/datetime-moment.js"></script>
    <script>
        function convertJsonDate(dateString) {
            dateString = dateString.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }
        $("#search-btn").click(function () {
            $("#pending_table").DataTable().clear().draw();
            var DataSearch = {
                nameS: $("#name_search").val(),
                monthS: "@ViewBag.type"
            };
            $.ajax({
                url: "@Url.Action("SearchOnePerson", "ScientificProducts")",
                type: "POST",
                data: JSON.stringify(DataSearch),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    for (var i = 0; i < response.OnePerson.length; i++) {
                        $("#pending_table").DataTable().row.add([
                            "" + response.OnePerson[i].name,
                            "" + convertJsonDate(response.OnePerson[i].created_date),
                            "" + response.OnePerson[i].status_id,
                            "" + response.OnePerson[i].note
                        ]).draw();
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $('#pending_table').on('click', ".mybtn", function () {
            var selectedIndex = $(this).attr('id');
            if (selectedIndex.split('_')[2] == "paper") {
                $("#nameEdit").val(selectedIndex.split('_')[1]);
                $("#ckEdit").val(selectedIndex.split('_')[0]);
                $("#PaperForm").submit();
            }
            else if (selectedIndex.split('_')[2] == "invention") {
                $("#nameEdit2").val(selectedIndex.split('_')[1]);
                $("#ckEdit2").val(selectedIndex.split('_')[0]);
                $("#InvenForm").submit();
            }
        });
        $(document).ready(function () {
            $.fn.dataTable.moment('D/MM/YYYY');
            $("#pending_table").DataTable({
                responsive: true,

                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                                  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[1, "desc"]],

                columns: [
                    { width: "55%" },
                    { width: "15%" },
                    { width: "15%" },
                    { width: "15%" },
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, full, meta) {
                            var status = {
                                1: {
                                    'title': 'Đã hủy',
                                    'class': 'label label-danger label-pill label-inline mr-2'
                                },
                                2: {
                                    'title': 'Đã xong',
                                    'class': 'label label-success label-pill label-inline mr-2'
                                },
                                3: {
                                    'title': 'Đang phê duyệt',
                                    'class': 'label label-primary label-pill label-inline mr-2'
                                },
                                4: {
                                    'title': 'Đang chờ quyết định',
                                    'class': 'label label-primary label-pill label-inline mr-2'
                                },
                                5: {
                                    'title': 'Cần chỉnh sửa',
                                    'class': 'label label-warning label-pill label-inline mr-2'
                                },
                                6: {
                                    'title': 'Đã xong',
                                    'class': 'label label-success label-pill label-inline mr-2'
                                },
                                7: {
                                    'title': 'Đã xong',
                                    'class': 'label label-success label-pill label-inline mr-2'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="' + status[data].class + '">' + status[data].title + '</span>';
                        },
                    },
                    {
                        targets: 3,
                        render: function (data, type, full, meta) {
                            var temp = data.split("_");
                            var status = {
                                1: {
                                    'title': 'Đã hủy',
                                    'class': 'btn btn-danger mr-2 mybtn'
                                },
                                2: {
                                    'title': 'Chi tiết',
                                    'class': 'btn btn-success mr-2 mybtn'
                                },
                                3: {
                                    'title': 'Chi tiết',
                                    'class': 'btn btn-primary mr-2 mybtn'
                                },
                                4: {
                                    'title': 'Chi tiết',
                                    'class': 'btn btn-primary mr-2 mybtn'
                                },
                                5: {
                                    'title': 'Chỉnh sửa',
                                    'class': 'btn btn-warning mr-2 mybtn'
                                },
                                6: {
                                    'title': 'Chi tiết',
                                    'class': 'btn btn-primary mr-2 mybtn'
                                },
                                7: {
                                    'title': 'Chi tiết',
                                    'class': 'btn btn-primary mr-2 mybtn'
                                }
                            };
                            if (typeof status[temp[0]] === 'undefined') {
                                return data;
                            }
                            return '<button id="'+data+'" class="' + status[temp[0]].class + '">' + status[temp[0]].title + '</button>';
                        },
                    },
                ],
            });
        });
    </script>
}
