
@{
    ViewBag.Title = "Chi tiết trích dẫn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom gutter-b card-stretch bgi-no-repeat">
            <div class="card-body">
                <h3 class="mb-10 font-weight-bold text-dark">Thông tin yêu cầu</h3>
                <div class="row">
                    <div class="col-xl-6 form-group">
                        <label>Đơn vị</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.office_abbreviation" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Email</label>
                        <input class="form-control form-control-lg custom-pickdate" type="text" value="@ViewBag.author.email" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>MSSV/MSNV</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.mssv_msnv" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Tên</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.name" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Chức danh</label>
                        <select disabled class="form-control editfe select-custom edit" id="add_author_title_edit" name="param" style="width: 100% !important">
                            @{
                                foreach (var item in ViewBag.ctitle)
                                {
                                    <option value="@item.title_id">@item.name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-xl-6 form-group">
                        <label class="required-field">Nghiên cứu viên</label>
                        <label class="checkbox">
                            <input class="form-control edit" type="checkbox" name="Checkboxes1" id="add_author_isReseacher" @(ViewBag.author.is_reseacher ? "checked" : "") />
                            <span></span>
                        </label>
                    </div>
                    @*<div class="col-xl-6 form-group">
                            <label>Loại hợp đồng</label>
                            <input class="form-control form-control-lg" type="text" value="@ViewBag.author.contract_name" disabled />
                        </div>*@
                    <div class="col-xl-6 form-group">
                        <label>CMND</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.identification_number" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>CMND link</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.identification_file_link" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Mã số thuế</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.tax_code" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Ngân hàng</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.bank_branch" disabled />
                    </div>
                    <div class="col-xl-6 form-group">
                        <label>Số tài khoản</label>
                        <input class="form-control form-control-lg" type="text" value="@ViewBag.author.bank_number" disabled />
                    </div>
                </div>
                <h3 class="mb-10 font-weight-bold text-dark">Thông tin trích dẫn</h3>
                <div class="row">
                    <div class="col-xl-12">
                        <table class="table table-bordered trichdan">
                            <thead>
                                <tr>
                                    <th>Nguồn trích dẫn</th>
                                    <th>Số lượng trích dẫn</th>
                                    <th>Link xác minh</th>
                                </tr>
                            </thead>
                            <tbody id="trichdan_body">
                                @{
                                    foreach (var item in ViewBag.citation)
                                    {
                                        <tr>
                                            <td><input class="form-control" type="text" value="@item.source" disabled /></td>
                                            <td><input class="form-control" type="number" value="@item.count" disabled /></td>
                                            <td><input class="form-control" type="text" value="@item.link" disabled /></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <h3 class="mb-10 font-weight-bold text-dark">Thông tin thưởng</h3>
                <div class="row">
                    <div class="col-xl-3">
                        <label>Tổng thưởng</label>
                        <input autocomplete="off" oninput="numberWithCommas(this)" id="totalreward" class="form-control form-control-lg" type="text" value="@ViewBag.author.total_reward" />
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center">
                    @{
                        if (ViewBag.status == 3 || ViewBag.status_id == 8)
                        {
                            <button class="btn btn-light-success px-6 font-weight-bold mx-1" id="confirmbtn">Xác nhận duyệt</button>
                            <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="editconfirm">Yêu cầu chỉnh sửa</button>
                            <button class="btn btn-light-danger px-6 font-weight-bold mx-1" id="deleteconfirm">Hủy yêu cầu</button>
                        }
                        else
                        {
                            <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="editconfirm_manager">Yêu cầu chỉnh sửa</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!--begin::Mixed Widget 14-->
        <div class="card card-custom gutter-b card-stretch bgi-no-repeat">
            <div class="card-body">
                <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin hội thoại</h3>
                <div>
                    @{
                        Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                    }
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Mixed Widget 14-->
    </div>
</div>
@section scripts{
    <script src="~/Scripts/inputFilter.js"></script>
    <script>
        $(document).ready(function () {
            $("#add_author_title_edit").val("@ViewBag.author.title_id");
            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        var status = "@ViewBag.status";
        //if (status == "3") {
        //    $("#editconfirm").show();
        //    $("#editconfirm_manager").hide();
        //} else if (status == "4") {
        //    $("#editconfirm").hide();
        //    $("#editconfirm_manager").show();
        //    $("#confirmbtn").hide();
        //    $("#totalreward").prop("disabled", true);
        //} else {
        //    $("#editconfirm").hide();
        //    $("#editconfirm_manager").hide();
        //    $("#confirmbtn").hide();
        //    $("#totalreward").prop("disabled", true);
        //}

        $(document).on("wheel", "input[type=number]", function (e) {
            $(this).blur();
        });
        $("#editconfirm").click(function () {
            $("#loading").show();
            var request_id = "@ViewBag.request_id";
            $.ajax({
                url: "@Url.Action("changeStatus", "Citation")",
                type: "POST",
                data: JSON.stringify({ 'request_id': request_id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess != "ff") {
                        $("#loading").hide();
                        $("#editconfirm").prop("disabled", true);
                        $("#confirmbtn").prop("disabled", true);
                        $("#totalreward").prop("disabled", true);
                        $("#deleteconfirm").prop("disabled", true);
                        hub.server.send(response.mess);
                        //window.location.href = "/Citation/Pending";
                        //editRequest();
                        //alert(response.mess);
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $("#deleteconfirm").click(function () {
            Swal.fire({
                title: "Xác nhận hủy",
                text: "Hủy yêu cầu này?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.isConfirmed) {
                    $("#loading").show();
                    var request_id = "@ViewBag.request_id";
                    $.ajax({
                        url: "@Url.Action("deleteRequest", "Citation")",
                        type: "POST",
                        data: JSON.stringify({ 'id': request_id }),
                        contentType: "application/json;charset=utf-8",
                        datatype: "json",
                        cache: false,
                        success: function (response) {
                            $("#loading").hide();
                            if (response.mess == "ss") {
                                $("#editconfirm").prop("disabled", true);
                                $("#confirmbtn").prop("disabled", true);
                                $("#totalreward").prop("disabled", true);
                                $("#deleteconfirm").prop("disabled", true);

                                toastr.success("Hủy yêu cầu thành công");
                                //$("#edit_modal_cri_name").val(response.pc);
                                $("#loading").hide();
                            }
                            else toastr.error("Hủy yêu cầu thất bại");
                        },
                        error: function () {
                            $("#loading").hide();
                            toastr.error("Hủy yêu cầu thất bại");
                            //alert("fail");
                        }
                    });
                }
            });
        });

        $("#editconfirm_manager").click(function () {
            $("#loading").show();
            var request_id = "@ViewBag.request_id";
            $.ajax({
                url: "@Url.Action("changeStatusManager", "Citation")",
                type: "POST",
                data: JSON.stringify({ 'request_id': request_id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        $("#loading").hide();
                        $("#editconfirm_manager").prop("disabled", true);
                        //window.location.href = "/Citation/Pending";
                        //editRequest();
                        //alert(response.mess);
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });
        $("#confirmbtn").click(function () {
            $("#loading").show();
            var temp = $("#totalreward").val();
            if (temp == "") {
                toastr.error("Chưa điền thông tin tổng thưởng cho trích dẫn ", "Lỗi");
            } else {
                var request_id = "@ViewBag.request_id";
                $.ajax({
                    url: "@Url.Action("editCitation", "Citation")",
                    type: "POST",
                    data: JSON.stringify({ 'request_id': request_id, 'total': temp }),
                    contentType: "application/json;charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function (response) {
                        if (response.mess == "ss") {
                            $("#loading").hide();
                            window.location.href = "/Citation/Pending";
                        }
                        else alert('loi');
                    },
                    error: function () {
                        //alert("fail");
                    }
                });
            }
        });
        $("#totalreward").inputFilter(function (value) {
            return /^[0-9,.]*$/.test(value);
        });

        //$("#totalreward").change(function () {
        //    var x = $(this).val();
        //    $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        //});

        function numberWithCommas(ele) {
            var x = $(ele).val().toString().replaceAll(",", "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(ele).val(x);
        }
    </script>
}


