
@{
    ViewBag.Title = "Thêm hồ sơ nghiên cứu viên mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using ENTITIES;
@using System.Globalization;
<link href="~/Content/assets/css/pages/wizard/wizard-2.css?v=7.0.6" rel="stylesheet" type="text/css" />
@if (!ViewBag.profile_page_active)
{

    <div class="card card-custom card-stretch">
        <!--end::Header-->
        <div class="card-body">
            <div class="tab-content mt-5" id="myTabContent">
                <div class="row">
                    <div class="col-12 text-lg-right">
                        <a id="create-profile-btn" class="btn btn-light-success mr-2">Đăng hồ sơ nghiên cứu viên</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="researcher_info_1-tab" data-toggle="tab" href="#researcher_info_1">
                                    @*<span class="nav-icon"><i class="flaticon2-chat-1"></i></span>*@
                                    <span class="nav-text">Thông tin cá nhân</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="researcher_info_2-tab" data-toggle="tab" href="#researcher_info_2" aria-controls="profile">
                                    @*<span class="nav-icon"><i class="flaticon2-layers-1"></i></span>*@
                                    <span class="nav-text">Thông tin tiểu sử</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="researcher_info_3-tab" data-toggle="tab" href="#researcher_info_3" aria-controls="profile">
                                    @*<span class="nav-icon"><i class="flaticon2-layers-1"></i></span>*@
                                    <span class="nav-text">Công bố khoa học</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="researcher_info_4-tab" data-toggle="tab" href="#researcher_info_4" aria-controls="profile">
                                    @*<span class="nav-icon"><i class="flaticon2-layers-1"></i></span>*@
                                    <span class="nav-text">Giải thưởng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="researcher_info_1" role="tabpanel" aria-labelledby="home-tab">
                    <form class="form">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row" style="text-align: right;">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <span id="edit-control-area" hidden>
                                        <a id="save-btn" class="btn btn-success mr-2">Lưu</a>
                                        <a id="cancel-btn" class="btn btn-secondary">Huỷ</a>
                                    </span>
                                    <span id="edit-enable-area">
                                        <a id="edit-enable-btn" class="btn btn-primary mr-2">Chỉnh sửa thông tin</a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Ảnh cá nhân</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="image-input image-input-empty image-input-outline" id="kt_image_avatar" style="background-image: url(@(ViewBag.profile.avatar==null?"/Content/assets/media/users/blank.png":ViewBag.profile.avatar))">
                                        <div class="image-input-wrapper"></div>

                                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                            <i class="fa fa-pen icon-sm text-muted"></i>
                                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="profile_avatar_remove" />
                                        </label>

                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" id="cancel_avatar" data-toggle="tooltip" title="Cancel avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>

                                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                                        </span>
                                    </div>
                                    <span class="form-text text-muted">Allowed file types:  png, jpg, jpeg.</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right required-field">Họ tên</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_name" disabled type="text" value="@ViewBag.profile.name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right required-field">Ngày sinh</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group date" id="kt_datetimepicker_2" data-target-input="nearest">
                                        <input type="text" id="researcher_dob" class="form-control datetimepicker-input researcher_infomation" value="@(ViewBag.profile.dob==null?"":ViewBag.profile.dob.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture))" placeholder="Chọn ngày sinh" disabled data-target="#kt_datetimepicker_2" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_2" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <span class="form-text text-muted pt-2">Use locals from <a href="https://momentjs.com/">https://momentjs.com/</a></span> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Quốc tịch</label>
                                <div class="col-lg-9 col-xl-6">
                                    <select class="form-control select2  researcher_infomation" disabled id="country_select" name="param">
                                        @foreach (SelectField a in ViewBag.profile.countries_fields)
                                        {
                                            <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Chức danh</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                        <select class="form-control select2  researcher_infomation" disabled id="title_select" name="param">
                                            @foreach (SelectField a in ViewBag.profile.title_fields)
                                            {
                                                <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Chức vụ</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                        <select class="form-control select2  researcher_infomation" disabled id="position_select" name="param" multiple="multiple">
                                            @foreach (SelectField a in ViewBag.profile.position_fields)
                                            {
                                                <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <h5 class="font-weight-bold mt-10 mb-6">Thông tin liên hệ</h5>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">SĐT</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                        <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_phone" disabled value="@ViewBag.profile.phone" placeholder="Phone" />
                                    </div>
                                    @*<span class="form-text text-muted">We'll never share your email with anyone else.</span>*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="researcher_email" disabled value="@ViewBag.profile.email" placeholder="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Website</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-internet-explorer"></i></span></div>
                                        <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_website" disabled value="@ViewBag.profile.website" placeholder="Google scholar" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Google Scholar</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-google"></i></span></div>
                                        <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_gscholar" disabled value="@ViewBag.profile.gscholar" placeholder="CV" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">CV</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-address-card"></i></span></div>
                                        <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_cv" disabled value="@ViewBag.profile.cv" placeholder="CV" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-right">Lĩnh vực quan tâm</label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="input-group input-group-lg input-group-solid">
                                        @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                        <select class="form-control select2  researcher_infomation" disabled id="interested_fields_select" name="param" multiple="multiple">
                                            @foreach (SelectField a in ViewBag.profile.interested_fields)
                                            {
                                                <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </form>
                </div>
                <div class="tab-pane fade" id="researcher_info_2" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <div class="col-12">
                            <!--begin::Card-->
                            <!--begin::Header-->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-label font-weight-bolder text-dark">TIẾU SỬ HỌC TẬP</h5>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="acad_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Học vị</th>
                                                <th>Nơi học tập</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_hoctap" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử học tập
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--enddd::Profile Personal Information-->
                    <div class="row">
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <div class="col-12">
                            <!--begin::Card-->
                            <!--begin::Header-->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-label font-weight-bolder text-dark">TIẾU SỬ CÔNG TÁC</h5>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="work_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Đơn vị công tác</th>
                                                <th>Chức vụ/ vai trò</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_congtac" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử công tác
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Content-->
                    </div>
                </div>
                <div class="tab-pane fade" id="researcher_info_3" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <div class="col-12">
                            <!--begin::Card-->
                            <!--begin::Header-->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-label font-weight-bolder text-dark">TẠP CHÍ/SÁCH</h5>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="table table-bordered table-checkable" id="tapchi_list">
                                        <thead><tr class="tableizer-firstrow"><th>STT</th><th>Tạp chí/Sách</th><th>Tên bài báo</th><th>Đồng tác giả</th><th>Ngày xuất bản</th></tr></thead>
                                        <tbody>
                                            @foreach (ResearcherPublications a in ViewBag.publications)
                                            {
                                                <tr>
                                                    <td>@a.rownum</td>
                                                    <td>@a.paper_name</td>
                                                    <td>@a.journal_or_cfr_name</td>
                                                    <td>
                                                        @foreach (string author in a.co_author)
                                                        {
                                                            <span>@author, </span>
                                                        }
                                                    </td>
                                                    <td>@a.publish_date.Value.Year</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="col-lg-12 col-xl-12" style="text-align: right">
                                        <button data-toggle="modal" data-target="#modal_them_award" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                            <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                            Thêm giải thưởng
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        <!--end::Content-->
                    </div>
                    <div class="row">
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <div class="col-12">
                            <!--begin::Card-->
                            <!--begin::Header-->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-label font-weight-bolder text-dark">KỶ YẾU HỘI THẢO</h5>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="table table-bordered table-checkable" id="conferences_list">
                                        <thead><tr class="tableizer-firstrow"><th>STT</th><th>Hội nghị</th><th>Tên bài báo</th><th>Đồng Tác giả</th><th>Năm</th></tr></thead>
                                        <tbody>
                                            @foreach (ResearcherPublications a in ViewBag.conferences)
                                            {
                                                <tr>
                                                    <td>@a.rownum</td>
                                                    <td>@a.paper_name</td>
                                                    <td>@a.journal_or_cfr_name</td>
                                                    <td>
                                                        @foreach (string author in a.co_author)
                                                        {
                                                            <span>@author, </span>
                                                        }
                                                    </td>
                                                    <td>@a.publish_date.Value.Year</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="col-lg-12 col-xl-12" style="text-align: right">
                                        <button data-toggle="modal" data-target="#modal_them_award" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                            <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                            Thêm giải thưởng
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                        <!--end::Content-->
                    </div>
                </div>
                <div class="tab-pane fade" id="researcher_info_4" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <!--begin::Aside-->
                        <!--end::Aside-->
                        <!--begin::Content-->
                        <div class="col-12">
                            <!--begin::Card-->
                            <!--begin::Header-->
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-label font-weight-bolder text-dark">GIẢI THƯỞNG</h5>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="award_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Cuộc thi/giải thưởng</th>
                                                <th>Thứ hạng</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_them_award" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm giải thưởng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal hoc tap-->
    <div class="modal fade" id="modal_themtieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử học tập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <select type="text" class="form-control" placeholder="Học vị" id="acad_hocvi">
                                    <option value="" disabled selected>Học vị</option>
                                    @foreach (SelectField a in ViewBag.listAcadDegree)
                                    {
                                        <option value="@a.id">@a.name</option>
                                    }
                                </select>
                                <span><i class="far fa-bookmark"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Nơi học tập" id="acad_location">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="add_acad_start" placeholder="Start date" data-target="#kt_datetimepicker_7_1" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_1" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_2" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_acad_end" data-target="#kt_datetimepicker_7_2" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_2" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">
                            <div class="col-12">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                    <span><i class="far fa-sticky-note"></i></span>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_acad">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal cong tac-->
    <div class="modal fade" id="modal_themtieusu_congtac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử công tác</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Đơn vị công tác" id="work_location">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Chức danh" id="work_title">
                                <span><i class="far fa-bookmark"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="add_work_start" placeholder="Start date" data-target="#kt_datetimepicker_7_3" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_3" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_4" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_work_end" data-target="#kt_datetimepicker_7_4" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_4" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold" id="submit_new_work">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Body-->
    <!-- Modal edit hoc tap-->
    <div class="modal fade" id="modal_suatieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa tiểu sử học tập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <select type="text" class="form-control" placeholder="Học vị" id="acad_suahocvi">
                                    <option value="" disabled selected>Học vị</option>
                                    @foreach (SelectField a in ViewBag.listAcadDegree)
                                    {
                                        <option value="@a.id">@a.name</option>
                                    }
                                </select>
                                <span><i class="far fa-bookmark"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Nơi học tập" id="edit_location">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_5" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="edit-acad-start" placeholder="Start date" data-target="#kt_datetimepicker_7_5" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_5" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_6" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="edit-acad-end" data-target="#kt_datetimepicker_7_6" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_6" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">
                            <div class="col-12">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                    <span><i class="far fa-sticky-note"></i></span>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_acad">Lưu</button>
                    <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_acad">Xoá</button>
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal edit work-->
    <div class="modal fade" id="modal_suatieusu_work" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa tiểu sử công tác</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Đơn vị công tác" id="edit_work_location">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Chức danh" id="edit_work_title">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_7" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="edit-work-start" placeholder="Start date" data-target="#kt_datetimepicker_7_7" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_7" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group date" id="kt_datetimepicker_7_8" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="edit-work-end" data-target="#kt_datetimepicker_7_8" />
                                        <div class="input-group-append" data-target="#kt_datetimepicker_7_8" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">
                            <div class="col-12">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                    <span><i class="far fa-sticky-note"></i></span>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_work">Lưu</button>
                    <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_work">Xoá</button>
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal them award-->
    <div class="modal fade" id="modal_them_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm giải thưởng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Tên cuộc thi" id="add_award_name">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Thứ hạng" id="add_award_rank">
                                <span><i class="far fa-hand-rock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group date" id="date_award" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="add_award_date" placeholder="Thời gian" data-target="#date_award" />
                                        <div class="input-group-append" data-target="#date_award" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_award">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_edit_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin giải thưởng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Tên cuộc thi" id="edit_award_name">
                                <span><i class="fas fa-map-pin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Thứ hạng" id="edit_award_rank">
                                <span><i class="far fa-hand-rock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group date" id="edit_date_award" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="sua_award_date" placeholder="Thời gian" data-target="#edit_date_award" />
                                        <div class="input-group-append" data-target="#edit_date_award" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_award">Lưu</button>
                    <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_award">Xoá</button>
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="avatar_change" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi ảnh hồ sơ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-7 pb-2" style=" text-align: center;">
                        <div class="image-input image-input-outline" id="kt_image_avatar">
                            <div class="image-input-wrapper" id="avatar_preview"></div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" id="delete_avt" data-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-primary font-weight-bold" id="submit_edit_avt">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    @if (!ViewBag.profile_page_active)
    {

        <script>
            $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
            $(".research-info-link").each(function () {
                if ($(this).attr('href').trim() == window.location.pathname) {
                    $(this).addClass('active')
                }
            })
            // Class definition
            var KTSelect2 = function () {
                // Private functions
                var demos = function () {
                    // multi select
                    $('#title_select').select2({
                        placeholder: 'Chọn chức danh',
                        tags: true
                    });
                    $('#country_select').select2({
                        placeholder: 'Chọn quốc tịch',
                        tags: true
                    });
                    $('#position_select').select2({
                        placeholder: 'Chọn chức vụ',
                        tags: true
                    });
                    $('#interested_fields_select').select2({
                        placeholder: 'Chọn lĩnh vực quan tâm',
                        tags: true
                    });
                }
                // Public functions
                return {
                    init: function () {
                        demos();
                    }
                };
            }();

            // Initialization
            KTSelect2.init();


            function enableEdit() {
                $("#edit-control-area").removeAttr('hidden')
                $("#edit-control-area").css('display', 'block')
                $("#edit-enable-area").hide()
                $(".researcher_infomation").attr('disabled', false)
            }


            var KTBootstrapDatetimepicker = function () {
                // Private functions
                var baseDemos = function () {
                    $('#kt_datetimepicker_2').datetimepicker({
                        format: 'DD-MM-YYYY'
                    });
                }
                return {
                    // Public functions
                    init: function () {
                        baseDemos();
                    }
                };
            }();

            jQuery(document).ready(function () {
                KTBootstrapDatetimepicker.init();
            });
        </script>
        <script>

        </script>
        <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-edit-info.js"></script>
        <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-change-avt.js"></script>
        <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-bio.js"></script>
        <script>
            $('#kt_datetimepicker_2').datetimepicker({
                format: 'DD-MM-YYYY'
            });
            var create_loader = new LoaderBtn($("#create-profile-btn"))
            $("#create-profile-btn").click(function () {
                create_loader.startLoading()
                Swal.fire({
                    title: "Đăng hồ sơ cho nghiên cứu viên này?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Đồng ý",
                    cancelButtonText: "Huỷ",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        var url = new URL(window.location.href);
                        people_id = url.searchParams.get("id");
                        data = new FormData();
                        data.append("id", people_id)
                        data.append("status", 1)
                        $.ajax({
                            url: "/Researchers/UpdateProfilePage",
                            type: "POST",
                            data: data,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                if (response.success == true) {
                                    Swal.fire({
                                        title: "Cập nhật thành công",
                                        icon: "success",
                                        showCancelButton: false,
                                        confirmButtonText: "OK",
                                        cancelButtonText: "Huỷ",
                                        reverseButtons: true
                                    }).then(function (res) {
                                        window.location.href = '/Researchers/ViewInfo?id=' + people_id
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Lỗi! Vui lòng thử lại",
                                        icon: "error",
                                        showCancelButton: false,
                                        confirmButtonText: "OK",
                                        cancelButtonText: "Huỷ",
                                        reverseButtons: true
                                    })
                                }
                                create_loader.stopLoading()
                            },
                            error: function () {
                                //alert("fail");
                            }
                        });

                    } else if (result.dismiss === "cancel") {

                    }
                });
            })
            $("#cancel-btn").click(function () {
                Swal.fire({
                    title: "Huỷ chỉnh sửa?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Đồng ý",
                    cancelButtonText: "Huỷ",
                    reverseButtons: true
                }).then(function (result) {
                    create_loader.stopLoading()
                    if (result.value) {
                        $("#edit-enable-area").show();
                        $("#edit-control-area").hide();
                        window.location.reload()
                    } else if (result.dismiss === "cancel") {

                    }
                });
            })
        </script>
        <script>
            var KTDatatablesBasicBasic = function () {
                var initTable1 = function () {
                    var table = $('#tapchi_list');
                    // begin first table
                    table.DataTable({
                        responsive: true,
                        bInfo: false,
                        // DOM Layout settings
                        dom: `<'row'<'col-sm-12'tr>>
                                                                              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                        lengthMenu: [5, 10, 25, 50],

                        pageLength: 5,

                        language: {
                            'lengthMenu': 'Display _MENU_',
                            "zeroRecords": "Chưa có thông tin"
                        },

                        // Order settings
                        order: [[0, 'asc']],

                        columnDefs: [
                            { "width": "5%", "targets": 0 },
                            { "width": "25%", "targets": 1 },
                            {
                                "targets": 2,
                                "data": "download_link",
                                "render": function (data, type, row, meta) {
                                    thresh = 39
                                    if (data.length > thresh) {
                                        reformat = generateTooltip(data, thresh)
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + reformat['tooltip'] + "'>" + reformat['trimtext'] + "</a>";
                                    } else {
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + data + "'>" + data + "</a>";
                                    }

                                },
                                "width": "40%"
                            },
                            { "width": "20%", "targets": 3 },
                            { "width": "10%", "targets": 4 }
                        ],
                    });

                    table.on('change', '.group-checkable', function () {
                        var set = $(this).closest('table').find('td:first-child .checkable');
                        var checked = $(this).is(':checked');

                        $(set).each(function () {
                            if (checked) {
                                $(this).prop('checked', true);
                                $(this).closest('tr').addClass('active');
                            }
                            else {
                                $(this).prop('checked', false);
                                $(this).closest('tr').removeClass('active');
                            }
                        });
                    });

                    table.on('change', 'tbody tr .checkbox', function () {
                        $(this).parents('tr').toggleClass('active');
                    });
                };

                var initTable2 = function () {
                    var table = $('#conferences_list');

                    // begin first table
                    table.DataTable({
                        responsive: true,
                        bInfo: false,
                        // DOM Layout settings
                        dom: `<'row'<'col-sm-12'tr>>
                                                                              <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                        lengthMenu: [5, 10, 25, 50],

                        pageLength: 5,

                        language: {
                            'lengthMenu': 'Display _MENU_',
                            "zeroRecords": "Chưa có thông tin"
                        },
                        order: [[0, 'asc']],

                        columnDefs: [
                            { "width": "5%", "targets": 0 },
                            { "width": "25%", "targets": 1 },
                            {
                                "targets": 2,
                                "data": "download_link",
                                "render": function (data, type, row, meta) {
                                    thresh = 39
                                    if (data.length > thresh) {
                                        reformat = generateTooltip(data, thresh)
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + reformat['tooltip'] + "'>" + reformat['trimtext'] + "</a>";
                                    } else {
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + data + "'>" + data + "</a>";
                                    }
                                },
                                "width": "30%"
                            },
                            { "width": "10%", "targets": 3 },
                            { "width": "10%", "targets": 4 }
                        ],
                    });

                    table.on('change', '.group-checkable', function () {
                        var set = $(this).closest('table').find('td:first-child .checkable');
                        var checked = $(this).is(':checked');

                        $(set).each(function () {
                            if (checked) {
                                $(this).prop('checked', true);
                                $(this).closest('tr').addClass('active');
                            }
                            else {
                                $(this).prop('checked', false);
                                $(this).closest('tr').removeClass('active');
                            }
                        });
                    });

                    table.on('change', 'tbody tr .checkbox', function () {
                        $(this).parents('tr').toggleClass('active');
                    });
                };

                var initTable3 = function () {
                    var table = $('#award_list');
                    // begin first table
                    table.DataTable({
                        responsive: true,

                        // DOM Layout settings
                        dom: `<'row'<'col-sm-12'tr>>
                                                                                  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                        lengthMenu: [5, 10, 25, 50],

                        pageLength: 10,

                        language: {
                            'lengthMenu': 'Display _MENU_',
                        },

                        // Order settings
                        order: [[0, 'desc']],

                        columnDefs: [
                            {
                                "targets": 1,
                                "data": "download_link",
                                "render": function (data, type, row, meta) {
                                    thresh = 39
                                    if (data.length > thresh) {
                                        reformat = generateTooltip(data, thresh)
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + reformat['tooltip'] + "'>" + reformat['trimtext'] + "</a>";
                                    } else {
                                        return "<a href='#' data-theme='dark' data-toggle='tooltip' title='" + data + "'>" + data + "</a>";
                                    }
                                }
                            }
                        ],
                    });

                    table.on('change', '.group-checkable', function () {
                        var set = $(this).closest('table').find('td:first-child .checkable');
                        var checked = $(this).is(':checked');

                        $(set).each(function () {
                            if (checked) {
                                $(this).prop('checked', true);
                                $(this).closest('tr').addClass('active');
                            }
                            else {
                                $(this).prop('checked', false);
                                $(this).closest('tr').removeClass('active');
                            }
                        });
                    });

                    table.on('change', 'tbody tr .checkbox', function () {
                        $(this).parents('tr').toggleClass('active');
                    });
                };
                return {

                    //main function to initiate the module
                    init: function () {
                        initTable1();
                        initTable2();
                        initTable3();
                    }
                };
            }();

            jQuery(document).ready(function () {
                KTDatatablesBasicBasic.init();
            });

        </script>
    }
    else
    {
        <script>
            $(function () {
                swal.fire({
                    title: 'Nghiên cứu viên này đã được kích hoạt công khai hồ sơ!',
                    type: 'warning',
                    buttonsStyling: false,
                    confirmButtonText: 'Back',
                    confirmButtonClass: 'btn btn-primary font-weight-bold'
                }).then(function (result) {
                    window.history.back();
                });
            })
        </script>
    }
}

