@{
    ViewBag.Title = "THÔNG TIN NCV: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using ENTITIES;
<style>
    .nav-link {
        font-size: 17px;
    }

    #research_avatar {
        width: 15rem;
        border-radius: 50%
    }
</style>

<div class="col-12">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                @{
                    Html.RenderPartial("_Researcher");
                }
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">TIỂU SỬ</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin tiểu sử cho nghiên cứu viên</span>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Quá trình học tập</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Học vị</th>
                                                <th>Nơi học tập</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (AcadBiography a in ViewBag.acadList)
                                            {
                                                <tr>
                                                    <td>@a.rownum</td>
                                                    <td>@a.degree</td>
                                                    <td>@a.place</td>
                                                    <td>@a.time</td>
                                                    <td><a onclick="" class="btn btn-sm btn-clean btn-icon" title="Edit"> <i class="far fa-edit"></i> </a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_hoctap" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử học tập
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Quá trình công tác</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Đơn vị công tác</th>
                                                <th>Chức danh</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (BaseRecord<WorkingProcess> a in ViewBag.workList)
                                            {
                                                <tr>
                                                    <td>@a.index</td>
                                                    <td>@a.records.work_unit</td>
                                                    <td>@a.records.title</td>
                                                    <td>@a.records.start_year-@a.records.end_year</td>
                                                    <td><a onclick="" class="btn btn-sm btn-clean btn-icon" title="Edit"> <i class="far fa-edit"></i> </a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button href="#" data-toggle="modal" data-target="#modal_themtieusu_congtac" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử công tác
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal hoc tap-->
                        <div class="modal fade" id="modal_themtieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử học tập</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <select type="text" class="form-control" placeholder="Học vị" id="acad_hocvi">
                                                        <option value="" disabled selected>Học vị</option>
                                                        @foreach (SelectField a in ViewBag.listAcadDegree)
                                                        {
                                                            <option value="@a.id">@a.name</option>
                                                        }
                                                    </select>
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Nơi học tập" id="acad_location">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group date" id="kt_datetimepicker_7_1" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" id="add_acad_start" placeholder="Start date" data-target="#kt_datetimepicker_7_1" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_7_1" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group date" id="kt_datetimepicker_7_2" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_acad_end" data-target="#kt_datetimepicker_7_2" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_7_2" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row form-group">
                                                <div class="col-12">
                                                    <div class="input-icon">
                                                        <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                                        <span><i class="far fa-sticky-note"></i></span>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_acad">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal cong tac-->
                        <div class="modal fade" id="modal_themtieusu_congtac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử công tác</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Đơn vị công tác" id="work_location">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Chức danh" id="work_title">
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="input-group date" id="kt_datetimepicker_7_3" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" id="add_work_start" placeholder="Start date" data-target="#kt_datetimepicker_7_3" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_7_3" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group date" id="kt_datetimepicker_7_4" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_work_end" data-target="#kt_datetimepicker_7_4" />
                                                            <div class="input-group-append" data-target="#kt_datetimepicker_7_4" data-toggle="datetimepicker">
                                                                <span class="input-group-text">
                                                                    <i class="ki ki-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary font-weight-bold" id="submit_new_work">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@section scripts{
    <script>
        $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
        $(".research-info-link").each(function () {
            if ($(this).attr('href').trim() == window.location.pathname) {
                $(this).addClass('active')
            }
        });
    </script>
    <script src="~/Content/assets/js/pages/researcher-bio.js"></script>
    <script src="~/Content/assets/js/pages/researcher-change-avt.js"></script>
}
