@{
    ViewBag.Title = "THÔNG TIN NCV: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using ENTITIES;
<style>
    .nav-link {
        font-size: 17px;
    }

    #research_avatar {
        width: 15rem;
        border-radius: 50%
    }
</style>

<div class="col-12">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                @{
                    Html.RenderPartial("_Researcher");
                }
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">TIỂU SỬ</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin tiểu sử cho nghiên cứu viên</span>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Quá trình học tập</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Học vị</th>
                                                <th>Nơi học tập</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (AcadBiography a in ViewBag.acadList)
                                            {
                                                <tr>
                                                    <td>@a.rownum</td>
                                                    <td>@a.degree</td>
                                                    <td>@a.place</td>
                                                    <td>@a.time</td>
                                                    <td><a onclick="" class="btn btn-sm btn-clean btn-icon" title="Edit"> <i class="far fa-edit"></i> </a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_hoctap" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử học tập
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <h5 class="font-weight-bold ">Quá trình công tác</h5>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Đơn vị công tác</th>
                                                <th>Chức danh</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (BaseRecord<WorkingProcess> a in ViewBag.workList)
                                            {
                                                <tr>
                                                    <td>@a.index</td>
                                                    <td>@a.records.work_unit</td>
                                                    <td>@a.records.title</td>
                                                    <td>@a.records.start_year-@a.records.end_year</td>
                                                    <td><a onclick="" class="btn btn-sm btn-clean btn-icon" title="Edit"> <i class="far fa-edit"></i> </a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button href="#" data-toggle="modal" data-target="#modal_themtieusu_congtac" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử công tác
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal hoc tap-->
                        <div class="modal fade" id="modal_themtieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử học tập</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <select type="text" class="form-control" placeholder="Học vị" id="hocvi">
                                                        <option value="" disabled selected>Học vị</option>
                                                        <option value="">Cử nhân</option>
                                                        <option value="1">Thạc sĩ</option>
                                                        <option value="2">Tiến sĩ</option>
                                                    </select>
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Nơi học tập" id="kt_datatable_search_query">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-daterange input-group" id="kt_datepicker_5">
                                                    <input type="text" class="form-control" placeholder="Từ" name="start">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Đến" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                                    <span><i class="far fa-sticky-note"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal cong tac-->
                        <div class="modal fade" id="modal_themtieusu_congtac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử công tác</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Đơn vị công tác" id="kt_datatable_search_query">
                                                    <span><i class="fas fa-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <select type="text" class="form-control" placeholder="Chức danh" id="hocvi">
                                                        <option value="" disabled selected></option>
                                                        <option value="">Giảng viên</option>
                                                        <option value="1">Hiệu trưởng</option>
                                                        <option value="2">...</option>
                                                    </select>
                                                    <span><i class="far fa-bookmark"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-daterange input-group" id="kt_datepicker_5">
                                                    <input type="text" class="form-control" placeholder="Từ" name="start">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Đến" name="end">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                                    <span><i class="far fa-sticky-note"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary font-weight-bold">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@section scripts{
    <script>
        $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
        $(".research-info-link").each(function () {
            if ($(this).attr('href').trim() == window.location.pathname) {
                $(this).addClass('active')
            }
        })
    </script>
}
