
@{
    ViewBag.Title = "DANH SÁCH NGHIÊN CỨU VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES;
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin: Search Form-->
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-10 col-xl-10">
                    <div class="row align-items-center">
                        <div class="col-md-3 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control"
                                       placeholder="Tên..."
                                       id="search_name" />
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-md-3 my-2 my-md-0">
                            <div class="d-flex align-items-center">
                                <label class="mr-3 mb-0 d-none d-md-block">Chức danh:</label>
                                <select class="form-control"
                                        id="search_linhvuc">
                                    <option label="Label"></option>
                                    @foreach (TitleLanguage a in ViewBag.listTitleLanguage)
                                    {
                                        <option value="@a.title_id">@a.name</option>
                                    }
                                </select>
                            </div>
                        </div>*@
                        <div class="col-md-4 my-2 my-md-0">
                            <div class="d-flex align-items-center">
                                <label style="width:5rem" class="mb-0 d-none d-md-block">Cơ sở:</label>
                                <select class="form-control"
                                        id="search_coso">
                                    <option label="Label"></option>
                                    @foreach (Office o in ViewBag.listOffices)
                                    {
                                        <option value="@o.office_id">@o.office_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-xl-2 mt-5 mt-lg-0">
                            <a id="search_list"
                               class="btn btn-light-primary px-6 font-weight-bold">
                                Tìm kiếm
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-xl-2 mt-5 mt-lg-0" style="text-align: right;">
                    <div class="dropdown dropdown-inline mr-2">
                        <button type="button"
                                class="btn btn-light-success font-weight-bolder"
                                data-toggle="modal" id="viewCandidates" data-target="#list-researcher-candidates">
                            Đăng thông tin nghiên cứu viên
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Search Form-->
        <!--begin: Datatable-->
        <table class="table table-bordered table-checkable" id="kt_datatable">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Nghiên cứu viên</th>
                    <th>Học hàm - Học vị</th>
                    <th>Chức vụ</th>
                    <th>Cơ sở</th>
                    <th>Google Scholar</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
        @{
            Html.RenderPartial("_LoaderPanel");
        }
    </div>
</div>
<!-- Modal-->
<div class="modal fade " id="list-researcher-candidates" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>DANH SÁCH GIẢNG VIÊN, NGHIÊN CỨU VIÊN</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>


            <div class="modal-body">
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-xl-10">
                            <div class="row align-items-center">
                                <div class="col-md-3 my-2 my-md-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control"
                                               placeholder="Tên..."
                                               id="search_name_modal" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3 my-2 my-md-0">
                                    <div class="d-flex align-items-center">
                                        <label class="mr-3 mb-0 d-none d-md-block">Chức danh:</label>
                                        <select class="form-control"
                                                id="search_chucdanh">
                                            <option label="Label"></option>
                                            @foreach (TitleLanguage a in ViewBag.listTitleLanguage)
                                            {
                                                <option value="@a.title_id">@a.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 my-2 my-md-0">
                                    <div class="d-flex align-items-center">
                                        <label style="width:5rem" class="mb-0 d-none d-md-block">Cơ sở:</label>
                                        <select class="form-control"
                                                id="search_coso_modal">
                                            <option label="Label"></option>
                                            @foreach (Office o in ViewBag.listOffices)
                                            {
                                                <option value="@o.office_id">@o.office_name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xl-2 mt-5 mt-lg-0">
                                    <a id="search_list_modal"
                                       class="btn btn-light-primary px-6 font-weight-bold">
                                        Tìm kiếm
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-xl-2 mt-5 mt-lg-0" style="text-align: right;">

                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-checkable" id="table_candidates">
                    <thead>
                        <tr class="tableizer-firstrow">
                            <th>STT</th>
                            <th>Tên</th>
                            <th>chức vụ</th>
                            <th>Cơ sở</th>
                            <th>số bài báo</th>
                            <th>Đăng hồ sơ</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //////////////////////////////////////START SELECT TAG/////////////////////////////////////////////
        list_select = {
            "search_chucvu_modal": "Chọn chức vụ",
            "search_coso_modal": "Chọn cơ sở",
            "search_coso": "Chọn cơ sở",
            "search_chucdanh": "Chọn chức danh"
        }
        for (let i in list_select) {
            $('#' + i).select2({
                placeholder: list_select[i],
                allowClear: true
            });
        }
        //////////////////////////////////////END SELECT TAG/////////////////////////////////////////////

        ////////////////////////////////////////////////////////////////////////////////////////////////////////
        var viewCandidate = false;
        var table1 = $('#kt_datatable').DataTable({
            responsive: true,

            // DOM Layout settings
            dom: `<'row'<'col-sm-12'tr>>  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
            lengthMenu: [5, 10, 25, 50],
            pageLength: 10,
            language: {
                'lengthMenu': 'Display _MENU_',
            },
            // Order settings
            order: [[1, 'desc']],
            serverSide: true,
            ajax: {
                url: "/Researchers/GetList",
                data: function (d) {
                    d.name = $("#search_name").val();
                    d.coso=$("#search_coso").val()
                },
                datatype: "json",
                cache: true
            },
            columns: [
                { data: "rowNum", name: "rowNum", orderable: false },
                {
                    data: {}, name: "name", render: function (data) {
                        return data.name
                    }
                },
                { data: "title", name: "title" },
                {
                    data: "positions", name: "positions", render: function (data) {
                        return data
                    }
                },
                {
                    data: "office_name", name: "office_name"
                },
                { data: "googleScholar", name: "googleScholar" },
                {
                    data: {}, name: "name", render: function (data) {
                        return "<a  href='/Researchers/ViewInfo?id=" + data.peopleId + "' class='btn btn-sm btn-clean btn-icon' title='Edit'> <i class='far fa-edit'></i> </a>"
                    }
                },
            ],
            initComplete: function (settings, json) {
                $("#loader_panel").hide()
            }
        });
        var table2 = $('#table_candidates').DataTable({
            responsive: true,
            // DOM Layout settings
            dom: `<'row'<'col-sm-12'tr>>  <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
            lengthMenu: [5, 10, 25, 50],
            pageLength: 10,
            language: {
                'lengthMenu': 'Display _MENU_',
            },
            // Order settings
            order: [[1, 'desc']],
            serverSide: true,
            ajax: {
                url: "/Researchers/GetListCandidate",
                datatype: "json",
                data: function (d) {
                    d.name = $("#search_name_modal").val();
                    d.coso = $("#search_coso_modal").val();
                    d.chucdanh = $("#search_chucdanh").val()
                },
                cache: true
            },
            columns: [
                { data: "rowNum", name: "rowNum", orderable: false },
                {
                    data: {}, name: "name", render: function (data) {
                        return data.name
                    }
                },
                {
                    data: "title", name: "title", render: function (data) {
                        return data
                    }
                },
                {
                    data: "office_name", name: "office_name", render: function (data) {
                        return data
                    }
                },
                { data: "paperNumber", name: "paperNumber" },
                {
                    data: "people_id", name: "people_id", render: function (data) {
                        return "<a href='/Researchers/AddResearcher?id=" + data + "' class='btn btn-sm btn-clean btn-icon' title='Edit'> <i class='far fa-edit'></i></a>"
                    }
                },
            ],
            initComplete: function (settings, json) {
                $("#loader_panel").hide()
            }
        });
        $("#search_list").click(function () {
            table1.ajax.reload();
        })
        $("#search_list_modal").click(function () {
            table2.ajax.reload();
        })
    </script>
    }