
@{
    ViewBag.Title = "Thêm đề nghị hỗ trợ hội nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    ENTITIES.CustomModels.ScienceManagement.Researcher.ProfileResearcher Profile = ViewBag.data.Profile;
}
<style>
    .table-responsive > .table-bordered {
        border: 0.5px solid #e6e6e6;
    }
</style>
<div class="content  d-flex flex-column flex-column-fluid">
    <div class="card card-custom">
        <div class="card-body p-0">
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12">
                    <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form">
                        <!---------------------------------------------------------------------->
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="mb-10 font-weight-bold text-dark">Thông tin hội nghị</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label for="selectConference">Tên hội nghị <span style='color:red'>*</span>:</label>
                                            <select class="form-control" id="selectConference">
                                            </select>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Website hội nghị <span style='color:red'>*</span>:</label>
                                            <input type="text" class="form-control" id="website" placeholder="Website hội nghị">
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Diễn giả/ Thành viên BTC <span style='color:red'>*</span>:</label>
                                            <input type="text" class="form-control" id="keynote_speaker" placeholder="Diễn giả/ Thành viên BTC ">
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    <div class="col-md-6">
                                        <!--begin::Select-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Quốc gia <span style='color:red'>*</span>:</label>
                                            <select class="form-control" id="country">
                                                @foreach (var item in ViewBag.countries)
                                                {
                                                    <option value="@item.country_id">@item.country_name</option>
                                                }
                                            </select>
                                        </div>
                                        <!--end::Select-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Đơn vị tổ chức (Top QS) <span style='color:red'>*</span>:</label>
                                            <select class="form-control select2" id="qs_university" name="param">
                                            </select>
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Đơn vị đồng tổ chức:</label>
                                            <input type="text" class="form-control" id="co_organized_unit" placeholder="Đơn vị tổ chức">
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="date form-group fv-plugins-icon-container">
                                            <label>Thời gian diễn ra <span style='color:red'>*</span>:</label>
                                            <input type="text" class="form-control" readonly="" id="kt_daterangepicker_1">
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <div class="date form-group fv-plugins-icon-container">
                                            <label>Thời gian tham dự <span style='color:red'>*</span>:</label>
                                            <input type="text" class="form-control" readonly="" id="kt_daterangepicker_2">
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Tên bài báo <span style='color:red'>*</span>:</label>
                                            <input type="text" class="form-control" id="paper_name" placeholder="Tên bài báo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Hình thức <span style='color:red'>*</span>:</label>
                                            <select id="formality" class="form-control">
                                                @foreach (var item in ViewBag.FormalityLanguages)
                                                {
                                                    <option value="@item.formality_id">@item.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Chuyên ngành <span style='color:red'>*</span>:</label>
                                            <select id="specialization" class="form-control">
                                                @foreach (var item in ViewBag.SpecializationLanguages)
                                                {
                                                    <option value="@item.specialization_id">@item.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>File bài báo <span style='color:red'>*</span>:</label>
                                        <div class="uppy" id="kt_uppy_1">
                                            <div class="uppy-wrapper"></div>
                                            <div class="uppy-list"></div>
                                            <div class="uppy-status"></div>
                                            <div class="uppy-informer uppy-informer-min"></div>
                                        </div>
                                        <span class="form-text text-muted">Max file size is 15MB and max number of files is 1.</span>
                                    </div>
                                    <div class="col-md-6">
                                        <!--begin::Input-->
                                        <label>Thư xác nhận <span style='color:red'>*</span>:</label>
                                        <div class="uppy" id="kt_uppy_2">
                                            <div class="uppy-wrapper"></div>
                                            <div class="uppy-list"></div>
                                            <div class="uppy-status"></div>
                                            <div class="uppy-informer uppy-informer-min"></div>
                                        </div>
                                        <span class="form-text text-muted">Max file size is 5MB and max number of files is 1.</span>
                                        <!--end::Input-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="">
                                <div class="card card-custom " style="box-shadow: 0px 0px 30px 0px rgba(82,63,105,0.17); border: 0; margin-bottom: 2rem;">
                                    <div class="card-header ribbon ribbon-top ribbon-ver">
                                        <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                            <i class="fa fa-star text-white"></i>
                                        </div>
                                        <h3 class="card-title">
                                            Chính sách hiện tại
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <ul>
                                            @foreach (ENTITIES.ConferenceCriteriaLanguage item in ViewBag.ConferenceCriteriaLanguages)
                                            {
                                                <li>@item.name</li>
                                            }
                                        </ul>
                                        <br />
                                        <a href="@ViewBag.Link" class="btn btn-light-primary mr-2" target="_blank">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-5">
                            <h3 class="mb-10 font-weight-bold text-dark">Danh sách tham dự</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-checkable dataTable no-footer dtr-inline" id="kt_datatable" style="margin-top: 13px !important" role="grid" aria-describedby="kt_datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>MSNV/MSSV</th>
                                            <th style="min-width: 140px;">Họ và tên</th>
                                            <th style="min-width: 200px;">Email</th>
                                            <th>Cơ sở</th>
                                            <th>Chức danh</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableParticipant">
                                        <tr role="row" class="odd">
                                            <td>
                                                <select class="form-control select2 selectPeople" name="param">
                                                    <option label="Label">@Profile.ID</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control inputName" placeholder="Họ và tên" value="@Profile.FullName">
                                            </td>
                                            <td>
                                                <input type="email" class="form-control inputEmail" placeholder="Email" value="@Profile.Email">
                                            </td>
                                            <td>
                                                <select class="form-control selectOffice">
                                                    @foreach (ENTITIES.Office item in ViewBag.Offices)
                                                    {
                                                        <option @(item.office_id == Profile.OfficeID ? "selected" : "") value="@item.office_id">@item.office_name</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control selectTitle">
                                                    @foreach (ENTITIES.TitleLanguage item in ViewBag.TitleLanguages)
                                                    {
                                                        <option @(item.title_id == Profile.TitleID ? "selected" : "") value="@item.title_id">@item.name</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pb-5">
                            <h3 class="mb-10 font-weight-bold text-dark">Chi phí dự kiến</h3>
                            <!----CÁI TABLE NÀY ĐANG GÂY RA LỖI RESPONSIVE Ở MÀN NÀY, FIX SAU-->
                            @*<div class="row">
                                    <div class="col-md-3">
                                        <label>Mệnh giá chi phí</label>
                                        <select class="form-control selectTitle">
                                            <option value="VND">VND</option>
                                            <option value="USD">USD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Mệnh giá tổng cộng</label>
                                        <select class="form-control selectTitle">
                                            <option value="VND">VND</option>
                                            <option value="USD">USD</option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="table-responsive">
                                <table class="table table-bordered table-checkable dataTable no-footer dtr-inline" id="kt_datatable2" style="margin-top: 13px !important" role="grid" aria-describedby="kt_datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Nội dung</th>
                                            <th>Tổ chức tài trợ</th>
                                            <th>Chi phí</th>
                                            <th>Tổng cộng</th>
                                            <th class="sorting_disabled">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableCost">
                                        <tr role="row" class="odd" id="baseCost">
                                            <td>
                                                <input type="text" class="form-control" placeholder="Nội dung ">
                                            </td>
                                            <td>FPTU</td>
                                            <td>
                                                <input onInput="calculateCost(this)" type="text" class="form-control" placeholder="Chi phí">
                                            </td>
                                            <td>
                                                <span class="label label-lg label-light-danger label-inline targetCost">0 đ</span>
                                            </td>
                                            <td nowrap="">
                                                <a onclick="deleteCost(this)" class="btn btn-sm btn-clean btn-icon" title="Delete"> <i class="la la-trash"></i> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tổng cộng</th>
                                            <td></td>
                                            <td></td>
                                            <td><span id="totalCost" class="label label-lg label-light-danger label-inline">0 đ</span></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="row">
                                <div class="col-xl-12" style="    text-align: end;">
                                    <a onclick="addCost()" class="btn btn-success font-weight-bolder">
                                        <span class="svg-icon svg-icon-md">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24"></rect>
                                                    <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                                    <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span> Thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Wizard Form-->
                </div>
            </div>
            <!--end::Wizard-->
        </div>
        <div class="card-footer">
            <div class="row justify-content-center">
                <button id="SendRequestButton" onclick="submitData()" class="btn btn-light-success font-weight-bold">@rm.GetString("Send")</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var baseCost = document.getElementById("baseCost").cloneNode(true);
        var tbodyParticipant = document.getElementById("tableParticipant");
        var tbodyCost = document.getElementById("tableCost");
        var rowTotalCost = tbodyCost.lastElementChild;
        var startDate = new Date();
        var endDate = new Date();
        var conferenceID = 0;
        var decreaseID = 0;
        var uppy1, uppy2;
        var save_loader = new LoaderBtn($("#SendRequestButton"))

        $(document).ready(function () {
            $(document).find(".selectOffice, .selectTitle, #country, #specialization").select2({
                width: '100%',
            });

            inItDateRangePicker("#kt_daterangepicker_1, #kt_daterangepicker_2");

            $("#selectConference").select2({
                placeholder: "Tên hội nghị",
                allowClear: true,
                width: '100%',
                ajax: {
                    url: "/ConferenceSponsor/GetConferenceWithName",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            name: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        data.map(function (obj) {
                            obj.id = obj.conference_id;
                            return obj;
                        });
                        if (data.length == 0) {
                            data.push({
                                id: decreaseID,
                                conference_name: params.term,
                                website: "",
                                keynote_speaker: "",
                                qs_university: "",
                                country_id: 1,
                                formality_id: 1,
                                co_organized_unit: ""
                            });
                            decreaseID = decreaseID - 1;
                        }

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 2,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });

            var KTUppy = function () {
                const Tus = Uppy.Tus;
                const StatusBar = Uppy.StatusBar;
                const FileInput = Uppy.FileInput;
                const Informer = Uppy.Informer;

                var initUppy1 = function () {
                    // Uppy variables
                    // For more info refer: https://uppy.io/
                    var elemId = 'kt_uppy_1';
                    var id = '#' + elemId;
                    var $statusBar = $(id + ' .uppy-status');
                    var $uploadedList = $(id + ' .uppy-list');
                    var timeout;

                    uppy1 = Uppy.Core({
                        debug: true,
                        autoProceed: false,
                        showProgressDetails: true,
                        restrictions: {
                            maxFileSize: 15728640, // 15mb
                            maxNumberOfFiles: 1,
                            minNumberOfFiles: 1,
                            allowedFileTypes: ['.pdf', '.docx', '.doc']
                        }
                    });

                    uppy1.use(FileInput, {
                        target: id + ' .uppy-wrapper',
                        pretty: false
                    });
                    uppy1.use(Informer, {
                        target: id + ' .uppy-informer'
                    });

                    // demo file upload server
                    uppy1.use(Tus, {
                        endpoint: 'https://master.tus.io/files/'
                    });
                    uppy1.use(StatusBar, {
                        target: id + ' .uppy-status',
                        hideUploadButton: true,
                        hideAfterFinish: false
                    });

                    $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
                    $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

                    var $fileLabel = $(id + ' .uppy-input-label');

                    uppy1.on('upload', function (data) {
                        $fileLabel.text("Uploading...");
                        $statusBar.addClass('uppy-status-ongoing');
                        $statusBar.removeClass('uppy-status-hidden');
                        clearTimeout(timeout);
                    });

                    uppy1.on('file-added', function (file) {
                        var sizeLabel = "bytes";
                        var filesize = file.size;
                        if (filesize > 1024) {
                            filesize = filesize / 1024;
                            sizeLabel = "kb";

                            if (filesize > 1024) {
                                filesize = filesize / 1024;
                                sizeLabel = "MB";
                            }
                        }
                        var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                        $uploadedList.append(uploadListHtml);

                        $statusBar.addClass('uppy-status-hidden');
                        $statusBar.removeClass('uppy-status-ongoing');
                    });

                    $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                        var itemId = $(this).attr('data-id');
                        uppy1.removeFile(itemId);
                        $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                    });
                }

                var initUppy2 = function () {
                    // Uppy variables
                    // For more info refer: https://uppy.io/
                    var elemId = 'kt_uppy_2';
                    var id = '#' + elemId;
                    var $statusBar = $(id + ' .uppy-status');
                    var $uploadedList = $(id + ' .uppy-list');
                    var timeout;

                    uppy2 = Uppy.Core({
                        debug: true,
                        autoProceed: false,
                        showProgressDetails: true,
                        restrictions: {
                            maxFileSize: 5242880, // 5mb
                            maxNumberOfFiles: 1,
                            minNumberOfFiles: 1,
                            allowedFileTypes: ['.pdf', 'image/*', '.jpg', '.jpeg', '.png', '.gif']
                        }
                    });

                    uppy2.use(FileInput, {
                        target: id + ' .uppy-wrapper',
                        pretty: false
                    });
                    uppy2.use(Informer, {
                        target: id + ' .uppy-informer'
                    });

                    // demo file upload server
                    uppy2.use(Tus, {
                        endpoint: 'https://master.tus.io/files/'
                    });
                    uppy2.use(StatusBar, {
                        target: id + ' .uppy-status',
                        hideUploadButton: true,
                        hideAfterFinish: false
                    });

                    $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
                    $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

                    var $fileLabel = $(id + ' .uppy-input-label');

                    uppy2.on('upload', function (data) {
                        $fileLabel.text("Uploading...");
                        $statusBar.addClass('uppy-status-ongoing');
                        $statusBar.removeClass('uppy-status-hidden');
                        clearTimeout(timeout);
                    });

                    uppy2.on('file-added', function (file) {
                        var sizeLabel = "bytes";
                        var filesize = file.size;
                        if (filesize > 1024) {
                            filesize = filesize / 1024;
                            sizeLabel = "kb";

                            if (filesize > 1024) {
                                filesize = filesize / 1024;
                                sizeLabel = "MB";
                            }
                        }
                        var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                        $uploadedList.append(uploadListHtml);

                        $statusBar.addClass('uppy-status-hidden');
                        $statusBar.removeClass('uppy-status-ongoing');
                    });

                    $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                        var itemId = $(this).attr('data-id');
                        uppy2.removeFile(itemId);
                        $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                    });
                }

                return {
                    // public functions
                    init: function () {
                        initUppy1();
                        initUppy2();
                        // initUppy6();
                    }
                };
            }();

            KTUtil.ready(function () {
                KTUppy.init();
            });
        })

        function addCost() {
            let temp = baseCost.cloneNode(true);
            tbodyCost.insertBefore(temp, rowTotalCost);
        }

        // loading remote data
        var currentRow;

        $(document).on("click", "#tableParticipant span.select2", function () {
            currentRow = $(this).closest("tr");
        })

        function formatInfo(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='clearfix'>" +
                "<div>" + repo.id + "</div>" +
                "<div>" + repo.Name + "</div>" +
                "<div>" + repo.OfficeName + "</div>" +
                "<div>" + repo.TitleString + "</div>" +
                "</div>";
            return markup;
        }

        function formatInfoSelection(repo) {
            if (repo.id) {
                $(currentRow).find(".inputName").val(repo.Name);
                $(currentRow).find(".inputEmail").val(repo.Email);
                $(currentRow).find(".selectOffice").val(repo.OfficeID).trigger('change');;
                $(currentRow).find(".selectTitle").val(repo.TitleID).trigger('change');;
            }
            return repo.id || repo.text;
        }

        function formatRepo(repo) {
            if (repo.loading) return repo.text;
            var markup = "<div class='clearfix'>" + repo.conference_name + "</div>";
            return markup;
        }

        toastr.options = {
            "preventDuplicates": true,
        }

        function formatRepoSelection(repo) {
            if (repo.id) {
                if (repo.is_verified) {
                    toastr.warning("Hội nghị này đã được thông qua tại một đề nghị khác");
                    $("#website, #keynote_speaker, #qs_university, #country, #kt_daterangepicker_1, #formality, #co_organized_unit").prop("disabled", true);
                } else {
                    $("#website, #keynote_speaker, #qs_university, #country, #kt_daterangepicker_1, #formality, #co_organized_unit").prop("disabled", false);
                }
                document.getElementById("website").value = repo.website;
                document.getElementById("keynote_speaker").value = repo.keynote_speaker;
                document.getElementById("qs_university").value = repo.qs_university;
                $('#country').val(repo.country_id).trigger('change');
                if (repo.time_start == undefined)
                    startDate = new Date();
                else
                    startDate = new Date(parseInt(repo.time_start.substr(6)));
                if (repo.time_end == undefined)
                    endDate = new Date();
                else
                    endDate = new Date(parseInt(repo.time_end.substr(6)));
                inItDateRangePicker("#kt_daterangepicker_1, #kt_daterangepicker_2");
                document.getElementById("formality").value = repo.formality_id;
                document.getElementById("co_organized_unit").value = repo.co_organized_unit;
                conferenceID = repo.id;
            }
            return repo.conference_name || repo.text;
        }

        function inItDateRangePicker(ele) {
            let currentDate = new Date();
            $(ele).daterangepicker({
                buttonClasses: 'btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
                startDate: startDate,
                endDate: endDate,
                minDate: currentDate,
                locale: {
                    format: '@rm.GetString("DateRangePickerFormat")',
                }
            });
        }

        function inItSelectPeople(ele) {
            $(ele).select2({
                placeholder: "Tìm kiếm thông tin theo mã số",
                allowClear: true,
                width: '200px',
                ajax: {
                    url: "/ConferenceSponsor/GetInformationPeopleWithID",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            id: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        data.map(function (obj) {
                            obj.id = obj.MS;
                            return obj;
                        })

                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 2,
                templateResult: formatInfo, // omitted for brevity, see the source of this page
                templateSelection: formatInfoSelection // omitted for brevity, see the source of this page
            });
        }

        inItSelectPeople(document.getElementsByClassName("selectPeople"))

        function submitData() {
            let fd = new FormData();
            if (uppy1.getFiles()[0] == undefined) {
                toastr.error("Thiếu file bài báo");
                return false;
            }
            if (uppy2.getFiles()[0] == undefined) {
                toastr.error("Thiếu thư xác nhận");
                return false;
            }
            if ($("#paper_name").val().trim() == "") {
                toastr.error("Thiếu tên bài báo");
                return false;
            }
            fd.append('paper', uppy1.getFiles()[0].data)
            fd.append('invite', uppy2.getFiles()[0].data)

            let conferenceSelect = $('#selectConference').select2('data')[0];
            if (conferenceSelect == undefined)
                return toastr.warning("Bạn chưa điền tên hội nghị");
            let time_start = moment($("#kt_daterangepicker_1").val().split(" - ")[0] + "+0000", "@rm.GetString("DateFormat") Z");
            let time_end = moment($("#kt_daterangepicker_1").val().split(" - ")[1] + "+0000", "@rm.GetString("DateFormat") Z");
            let attendance_start = moment($("#kt_daterangepicker_2").val().split(" - ")[0] + "+0000", "@rm.GetString("DateFormat") Z");
            let attendance_end = moment($("#kt_daterangepicker_2").val().split(" - ")[1] + "+0000", "@rm.GetString("DateFormat") Z");
            this.data = {
                Conference: {
                    conference_id: conferenceID,
                    conference_name: conferenceSelect.conference_name,
                    website: $("#website").val(),
                    keynote_speaker: $("#keynote_speaker").val(),
                    qs_university: $("#qs_university").val(),
                    country_id: $("#country").val(),
                    time_start: time_start,
                    time_end: time_end,
                    formality_id: $("#formality").val(),
                    co_organized_unit: $("#co_organized_unit").val(),
                },
                attendance_start: attendance_start,
                attendance_end: attendance_end,
                specialization_id: $("#specialization").val(),
                ConferenceParticipant: {},
                Cost: [],
                paper_name: $("#paper_name").val()
            }
            let ms = $(".selectPeople").select2('data')[0].id;
            let name = $(".inputName").val();
            if (ms == "" || name == "")
                return;
            this.data.ConferenceParticipant = {
                mssv_msnv: ms,
                office_id: $(".selectOffice").val(),
                title_id: $(".selectTitle").val(),
                name: name,
                email: $(".inputEmail").val(),
            };
            $("#tableCost tr:not(:last-child)").each((idx, ele) => {
                let listTD = $(ele).find("td");
                let content = $(listTD[0]).find("input").val();
                let detail = $(listTD[2]).find("input").val();
                if (content == "" || detail == "")
                    return;
                let cost = {
                    content: content,
                    detail: detail,
                }
                this.data.Cost.push(cost)
            })

            fd.append("input", JSON.stringify(this.data));
            save_loader.startLoading();
            $.ajax({
                url: "/ConferenceSponsor/Add",
                method: "post",
                complete: function (data) {
                    if (data.responseJSON.id) {
                        location.href = "/ConferenceSponsor/Detail?id=" + data.responseJSON.id;
                    }
                    else {
                        toastr.error(data.responseJSON.message);
                    }
                    save_loader.stopLoading();
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                    save_loader.stopLoading();
                },
                dataType: "json",
                data: fd,
                processData: false,
                contentType: false
            });
        }
    </script>
    <script src="~/Scripts/CostTableConferenceRequest.js"></script>
    <script src="~/Content/assets/plugins/custom/moment/moment.js"></script>
    <script src="~/Content/Custom JS/ScienceManagement/ConferenceSponsor/QsUniversity.js"></script>
}