@using ENTITIES.CustomModels.ScienceManagement.Conference
@using Newtonsoft.Json.Linq
@{
    ViewBag.Title = "Chi tiết đề nghị hỗ trợ hội nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";

    JObject output = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.output);
    ConferenceDetail ConferenceDetail = output["Conference"].ToObject<ConferenceDetail>();
    List<ConferenceParticipantExtend> Participants = output["Participants"].ToObject<List<ConferenceParticipantExtend>>();
    List<ENTITIES.Cost> Costs = output["Costs"].ToObject<List<ENTITIES.Cost>>();
    List<ConferenceApprovalProcess> ApprovalProcesses = output["ApprovalProcesses"].ToObject<List<ConferenceApprovalProcess>>();
    List<ConferenceCriteria> Criterias = output["Criterias"].ToObject<List<ConferenceCriteria>>();
    DecisionDetail Decision = output["DecisionDetail"].ToObject<DecisionDetail>();
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<style>
    .chinhsach-container {
        box-shadow: none !important;
        border: 1px solid #e5e5e5e5 !important;
    }
</style>
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConferenceDetail">
    <div class="card">
        <div class="card-header" id="ConferenceDetailHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConferenceDetailChild1">
                <div class="card-label">Thông tin hội nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConferenceDetailChild1" class="collapse show" data-parent="#ConferenceDetail">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="text-dark-75 font-weight-bolder mr-2">Tên bài báo:</span>
                            <span class="label-lg label-inline font-weight-bold">@ConferenceDetail.PaperName</span>
                        </div>
                        <hr />
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="text-dark-75 font-weight-bolder mr-2">Tên hội nghị:</span>
                            <span class="label label-lg label-inline label-light-primary font-weight-bold">@ConferenceDetail.ConferenceName</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="text-dark-75 font-weight-bolder mr-2">Website hội nghị:</span>
                            <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.Website</a>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="text-dark-75 font-weight-bolder mr-2">Diễn giả/ Thành viên BTC:</span>
                            <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.KeynoteSpeaker</a>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="text-dark-75 font-weight-bolder mr-2">Quốc gia:</span>
                            <span class="text-muted font-weight-bold">@ConferenceDetail.CountryName</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="text-dark-75 font-weight-bolder mr-2">Đơn vị tổ chức (Top QS):</span>
                            <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.QsUniversity</a>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="text-dark-75 font-weight-bolder mr-2">Đơn vị đồng tổ chức:</span>
                            <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.Co_organizedUnit</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="mb-7">
                            <div class="d-flex justify-content-lg-start align-items-center">
                                <span class="text-dark-75 font-weight-bolder mr-2">Thời gian diễn ra:</span>
                                <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.TimeStart.ToString(rm.GetString("DateFormat")) – @ConferenceDetail.TimeEnd.ToString(rm.GetString("DateFormat"))</a>
                            </div>
                            <div class="d-flex justify-content-lg-start align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">Thời gian tham dự:</span>
                                <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.AttendanceStart.ToString(rm.GetString("DateFormat")) – @ConferenceDetail.AttendanceEnd.ToString(rm.GetString("DateFormat"))</a>
                            </div>
                            <div class="d-flex justify-content-lg-start align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">File bài báo:</span>
                                <a href="@ConferenceDetail.PaperLink" class="text-muted text-hover-primary">Xem</a>
                            </div>
                            <div class="d-flex justify-content-lg-start align-items-center">
                                <span class="text-dark-75 font-weight-bolder mr-2">Thư mời hội nghị:</span>
                                <a href="@ConferenceDetail.InvitationLink" class="text-muted text-hover-primary">Xem</a>
                            </div>
                            <div class="d-flex justify-content-lg-start align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">Hình thức:</span>
                                <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.FormalityName</a>
                            </div>
                            <div class="d-flex justify-content-lg-start align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">Chuyên ngành:</span>
                                <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.SpecializationName</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="RequestDetail">
    <div class="card">
        <div class="card-header" id="RequestHeading">
            <div class="card-title" data-toggle="collapse" data-target="#RequestChild1">
                <div class="card-label">Thông tin đề nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="RequestChild1" class="collapse show" data-parent="#RequestDetail">
            <div class="card-body table-responsive">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="mb-7">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-dark-75 font-weight-bolder mr-2">Trạng thái:</span>
                                @if (ConferenceDetail.EditAble)
                                {
                                    <span class='label label-lg label-warning label-pill label-inline'>Cần chỉnh sửa</span>
                                }
                                else
                                {
                                    <span class="label label-lg label-primary label-pill label-inline">
                                        @ConferenceDetail.StatusName
                                    </span>
                                }
                            </div>
                            <div class="d-flex justify-content-between align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">Ngày tạo đề nghị:</span>
                                <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.CreatedDate.ToString(rm.GetString("DateFormat"))</a>
                            </div>
                            @if (ConferenceDetail.FinishedDate != null)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Ngày kết thúc đề nghị:</span>
                                    <a href="#" class="text-muted text-hover-primary">@ConferenceDetail.FinishedDate.Value.ToString("dd/MM/yyyy")</a>
                                </div>
                            }
                            @if (ConferenceDetail.StatusID > 3 && ConferenceDetail.FormalityID == 2)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">File quyết định:</span>
                                    <a href="@Decision.Link" class="text-muted text-hover-primary">Xem</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Số quyết định:</span>
                                    <span class="text-muted font-weight-bold">@Decision.DecisionNumber</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Ngày ban hành:</span>
                                    <a href="#" class="text-muted text-hover-primary">@Decision.ValidDate.ToString(rm.GetString("DateFormat"))</a>
                                </div>
                            }
                            @if (ConferenceDetail.FolderLink != null)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Thư mục drive của đề nghị :</span>
                                    <a href="@ConferenceDetail.FolderLink" target="_blank" class="text-muted text-hover-primary">Xem</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="card card-custom chinhsach-container">
                            <div class="card-header ribbon ribbon-top ribbon-ver">
                                <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                    <i class="fa fa-star text-white"></i>
                                </div>
                                <h3 class="card-title">
                                    <a href="@output["Link"]" class="btn btn-light-primary mr-2" target="_blank">Chính sách hiện tại</a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="checkbox-list">
                                        @foreach (ConferenceCriteria item in Criterias)
                                        {
                                            <label class="checkbox checkbox-disabled">
                                                <input type="checkbox" disabled="disabled" @(item.IsAccepted ? "checked" : "") name="Checkboxes1" />
                                                <span></span>
                                                @item.CriteriaName
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="Participants">
    <div class="card">
        <div class="card-header" id="ParticipantsHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ParticipantsChild1">
                <div class="card-label">Danh sách tham dự</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ParticipantsChild1" class="collapse show" data-parent="#Participants">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">MSNV/MSSV</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Cơ sở công tác</th>
                            <th scope="col">Chức danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Participants)
                        {
                            <tr>
                                <th scope="row">@item.RowNumber</th>
                                <td>@item.ID</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.OfficeName</td>
                                <td>@item.TitleName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ExpectedCost">
    <div class="card">
        <div class="card-header" id="ExpectedCostHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ExpectedCostChild1">
                <div class="card-label">Chi phí dự kiến</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ExpectedCostChild1" class="collapse show" data-parent="#ExpectedCost">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Tổ chức tài trợ</th>
                            <th scope="col">Chi phí</th>
                            <th scope="col">Tổng cộng</th>
                            <th>Chấp thuận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Costs)
                        {
                            <tr>
                                <td class="align-middle">@item.content</td>
                                <td class="align-middle">@item.sponsoring_organization</td>
                                @if (item.editable)
                                {
                                    <td class="align-middle">
                                        <input data-id="@item.cost_id" onInput="calculateCost(this)" type="text" class="form-control form-control-lg costInput" name="postcode" placeholder="Chi phí" value="0">
                                    </td>
                                    <td>
                                        <span class="label label-lg label-light-danger label-inline targetCost">0 đ</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle">@item.detail</td>
                                    <td>
                                        <span class="label label-lg label-light-danger label-inline targetCost">@String.Format("{0:n0}", item.total) đ</span>
                                    </td>
                                }
                                <td>
                                    <label class="checkbox checkbox-disabled">
                                        <input type="checkbox" disabled="disabled" checked="@item.is_accepted" name="Checkboxes1" />
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th scope="row">Tổng cộng</th>
                            <td></td>
                            <td></td>
                            <td><span id="totalCost" class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", Costs.Where(x => !x.editable).Sum(x => x.total)) đ</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Hoàn ứng</th>
                            <td></td>
                            <td></td>
                            <td><span class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", ConferenceDetail.Reimbursement) đ</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @if (Costs.Any(x => x.editable))
                {
                    <button type="button" id="submitCost" onclick="submitCost()" class="btn btn-success float-right mr-2">Gửi đơn</button>
                }
                @{
                    //Html.RenderAction("CostMenu", new { RequestID = ViewBag.id });
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ApprovalProcess">
    <div class="card">
        <div class="card-header" id="ApprovalProcessHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ApprovalProcessChild1">
                <div class="card-label">Quy trình phê duyệt</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ApprovalProcessChild1" class="collapse show" data-parent="#ApprovalProcess">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Quyền</th>
                            <th scope="col">Người duyệt</th>
                            <th scope="col">Bình luận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ApprovalProcesses)
                        {
                            <tr>
                                <td>@item.CreatedDate</td>
                                <td>@item.PositionName</td>
                                <td>@item.FullName</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConversationInformation">
    <div class="card">
        <div class="card-header" id="ConversationInformationHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConversationInformationChild1">
                <div class="card-label">Thông tin hội thoại</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConversationInformationChild1" class="collapse show" data-parent="#ConversationInformation">
            <div class="card-body">
                @{ Html.RenderAction("Index", "CommentRequest", new { request_id = ConferenceDetail.RequestID }); }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/CostTableConferenceRequest.js"></script>
    <script>
        var save_loader = new LoaderBtn($("#submitCost"))

        function submitCost() {
            let costs = []
            $("#ExpectedCostChild1 table input[type='text']").map((idx, ele) => {
                costs.push({
                    cost_id: ele.dataset.id,
                    detail: ele.value,
                    total: 0
                })
            })
            save_loader.startLoading();
            $.ajax({
                url: "/ConferenceSponsor/UpdateCost",
                method: "post",
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                    else {
                        toastr.error(data.message);
                    }
                    save_loader.stopLoading();
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                    save_loader.stopLoading();
                },
                dataType: "json",
                data: {
                    costs: costs,
                    request_id: '@ConferenceDetail.RequestID'
                }
            });
        }
    </script>
}
