@using ENTITIES.CustomModels.ScienceManagement.Conference
@using Newtonsoft.Json.Linq
@{
    ViewBag.Title = "Chi tiết đề nghị hỗ trợ hội nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();

    JObject output = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.output);
    ConferenceDetail ConferenceDetail = output["Conference"].ToObject<ConferenceDetail>();
    List<ConferenceParticipantExtend> Participants = output["Participants"].ToObject<List<ConferenceParticipantExtend>>();
    List<ENTITIES.Cost> Costs = output["Costs"].ToObject<List<ENTITIES.Cost>>();
    List<ConferenceApprovalProcess> ApprovalProcesses = output["ApprovalProcesses"].ToObject<List<ConferenceApprovalProcess>>();
}

<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConferenceDetail">
    <div class="card">
        <div class="card-header" id="ConferenceDetailHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConferenceDetailChild1">
                <div class="card-label">Thông tin hội nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConferenceDetailChild1" class="collapse show" data-parent="#ConferenceDetail">
            <div class="card-body">
                <table class="col-12 table">
                    <tr>
                        <td>
                            Tên hội nghị: @ConferenceDetail.ConferenceName
                        </td>
                        <td>
                            Website hội nghị: @ConferenceDetail.Website
                        </td>
                        <td>
                            Quyết định: <a href="https://drive.google.com/file/d/1vYhSOoBNbv22v-quSb_SS52qKUML1II8/view?usp=sharing">Google Drive</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Diễn giả/ Thành viên BTC: @ConferenceDetail.KeynoteSpeaker
                        </td>
                        <td>
                            Quốc gia: @ConferenceDetail.CountryName
                        </td>
                        <td>
                            Số quyết định: QĐ-0635
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Đơn vị tổ chức (Top QS): @ConferenceDetail.QsUniversity
                        </td>
                        <td>
                            Đơn vị đồng tổ chức: @ConferenceDetail.Co_organizedUnit
                        </td>
                        <td>
                            Ngày ban hành: @ConferenceDetail.CreatedDate.ToString(rm.GetString("DateFormat"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thời gian diễn ra: @ConferenceDetail.TimeStart.ToString(rm.GetString("DateFormat")) – @ConferenceDetail.TimeEnd.ToString(rm.GetString("DateFormat"))
                        </td>
                        <td>
                            Thời gian tham dự: @ConferenceDetail.AttendanceStart.ToString(rm.GetString("DateFormat")) – @ConferenceDetail.AttendanceEnd.ToString(rm.GetString("DateFormat"))
                        </td>
                        <td>
                            Trạng thái:
                            <span class="label label-lg label-inline label-light-primary font-weight-bold">
                                @ConferenceDetail.StatusName
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tên bài báo: @ConferenceDetail.PaperName
                        </td>
                        <td>
                            File bài báo: <a href="@ConferenceDetail.PaperLink">Google Drive</a>
                        </td>
                        <td>
                            Ngày tạo đề nghị: @ConferenceDetail.CreatedDate.ToString(rm.GetString("DateFormat"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hình thức: @ConferenceDetail.FormalityName
                        </td>
                        <td>
                            Thư mời hội nghị: <a href="@ConferenceDetail.InvitationLink">Google Drive</a>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="Participants">
    <div class="card">
        <div class="card-header" id="ParticipantsHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ParticipantsChild1">
                <div class="card-label">Danh sách tham dự</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ParticipantsChild1" class="collapse show" data-parent="#Participants">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">MSNV/MSSV</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Cơ sở công tác</th>
                            <th scope="col">Chức danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Participants)
                        {
                            <tr>
                                <th scope="row">@item.RowNumber</th>
                                <td>@item.ID</td>
                                <td>@item.FullName</td>
                                <td>@item.OfficeName</td>
                                <td>@item.TitleName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ExpectedCost">
    <div class="card">
        <div class="card-header" id="ExpectedCostHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ExpectedCostChild1">
                <div class="card-label">Chi phí dự kiến</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ExpectedCostChild1" class="collapse show" data-parent="#ExpectedCost">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Tổ chức tài trợ</th>
                            <th scope="col">Chi phí</th>
                            <th scope="col">Tổng cộng</th>
                            <th>Chấp thuận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                    <td>Tiền khách sạn</td>
                    <td>FPTU</td>
                    <td>500,000 * 3 * 4</td>
                    <td><span class="label label-lg label-light-danger label-inline targetCost">6,000,000 đ</span></td>
                    <td>
                        <label class="checkbox checkbox-disabled">
                            <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1" />
                            <span></span>
                        </label>
                    </td>
                </tr>*@
                        @foreach (var item in Costs)
                        {
                        <tr>
                            <td class="align-middle">@item.content</td>
                            <td class="align-middle">@item.sponsoring_organization</td>
                            @if (item.editable)
                            {
                                <td class="align-middle">
                                    <input onInput="calculateCost(this)" type="text" class="form-control form-control-lg costInput" name="postcode" placeholder="Chi phí" value="0">
                                </td>
                                <td>
                                    <span class="label label-lg label-light-danger label-inline targetCost">0 đ</span>
                                </td>
                            }
                            else
                            {
                                <td class="align-middle">@item.detail</td>
                                <td>
                                    <span class="label label-lg label-light-danger label-inline targetCost">@String.Format("{0:n0}", item.total) đ</span>
                                </td>
                            }
                            <td>
                                <label class="checkbox checkbox-disabled">
                                    <input type="checkbox" disabled="disabled" checked="@item.is_accepted" name="Checkboxes1" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        }
                        <tr>
                            <th scope="row">Tổng cộng</th>
                            <td></td>
                            <td></td>
                            <td><span id="totalCost" class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", Costs.Where(x => !x.editable).Select(x => x.total).Sum()) đ</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Hoàn ứng</th>
                            <td></td>
                            <td></td>
                            <td><span class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", ConferenceDetail.Reimbursement) đ</span></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @if (Costs.Any(x => x.editable))
                {
                    <button type="button" onclick="submitCost()" class="btn btn-success float-right mr-2">Gửi đơn</button>
                }
                @{
                    //Html.RenderAction("CostMenu", new { RequestID = ViewBag.id });
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ApprovalProcess">
    <div class="card">
        <div class="card-header" id="ApprovalProcessHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ApprovalProcessChild1">
                <div class="card-label">Quy trình phê duyệt</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ApprovalProcessChild1" class="collapse show" data-parent="#ApprovalProcess">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Quyền</th>
                            <th scope="col">Người duyệt</th>
                            <th scope="col">Bình luận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ApprovalProcesses)
                        {
                            <tr>
                                <td>@item.CreatedDate</td>
                                <td>@item.PositionName</td>
                                <td>@item.FullName</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConversationInformation">
    <div class="card">
        <div class="card-header" id="ConversationInformationHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConversationInformationChild1">
                <div class="card-label">Thông tin hội thoại</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConversationInformationChild1" class="collapse show" data-parent="#ConversationInformation">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" value="" id="example-text-input" />
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-block btn-success">Gửi</button>
                        </div>
                    </div>
                </form>
                <br />
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="15%">Thời gian</th>
                            <th scope="col" width="15%">Người gửi</th>
                            <th scope="col">Tin nhắn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/21-10:00AM</td>
                            <td>Ngô Tùng Sơn</td>
                            <td>Sao lâu có phản hồi thế em</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var ID = "@ViewBag.id"
    </script>
}