
@{
    ViewBag.Title = "Đơn đăng kí tham dự";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        font-size: 13px !important;
    }

    input, textarea {
        font-size: 12px !important;
    }

    .checkbox {
        margin-bottom: 12px !important
    }

    .custom-span {
        margin-right: 14px !important;
    }

    .custom-radio {
        width: 18px !important;
        height: 18px !important;
        margin-right: 14px !important;
    }

    .px-lg-custom {
        padding-left: 16em !important;
        padding-right: 16em !important;
    }

    .radio {
        margin-bottom: 12px !important;
    }
</style>
<div class="card card-custom overflow-hidden">
    <div class="card-body p-0">
        <div class="col-md-12">
            @{
                if (@ViewBag.file_drive_id.Length <= 42)
                {
                    <div class="row justify-content-left bgi-size-cover bgi-no-repeat bgi-position-center py-8 px-8" style="background-image: url(../Content/assets/media/bg/event_banner.jpg);">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between flex-column flex-md-row">
                                <h1 class="display-4 text-white text-uppercase" id="form-title"></h1>
                            </div>
                            <div class="d-flex justify-content-between flex-column flex-md-row mt-8">
                                <h4 class="text-white" id="form-description"></h4>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row justify-content-left bgi-size-cover bgi-no-repeat bgi-position-center py-8 px-8" style="background-image: url('@ViewBag.file_drive_id');">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between flex-column flex-md-row">
                                <h1 class="display-4 text-white text-uppercase" id="form-title"></h1>
                            </div>
                            <div class="d-flex justify-content-between flex-column flex-md-row mt-5">
                                <h4 class="text-white" id="form-description"></h4>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col-md-12">
                <div class="row justify-content-center px-lg-custom py-md-10">
                    <div class="col-md-12 col-sm-12">
                        <div class="row" id="main-control">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label><b id="question-title-fullname">Họ và tên</b><label style="color:red" id="compulsory-fullname">*</label>:</label>
                                    <input type="text" id="ques-answer-fullname" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label><b id="question-title-email">Email</b><label style="color:red" id="compulsory-email">*</label>:</label>
                                    <input type="text" id="ques-answer-email" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label><b id="question-title-phone">Số điện thoại</b><label style="color:red" id="compulsory-phone">*</label>:</label>
                                    <input type="text" id="ques-answer-phone" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label><b id="question-title-role">Tư cách tham dự</b><label style="color:red" id="compulsory-role">*</label>:</label>
                                    <select class="form-control" id="ques-answer-role">
                                        @{
                                            foreach (var item in ViewBag.role)
                                            {
                                                <option value="@item.participant_role_id">@item.participant_role_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label><b id="question-title-office">Đơn vị - Cơ sở</b><label style="color:red" id="compulsory-office">*</label>:</label>
                                    <select class="form-control" id="ques-answer-office">
                                        @{
                                            foreach (var item in ViewBag.office)
                                            {
                                                <option value="@item.office_id">@item.office_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pb-8 px-8">
                    <div class="col-12" style=" text-align: center;">
                        <a href="javascript:;" id="btn_send" class="btn btn-light-success px-6 font-weight-bold" onclick="sendForm()">Gửi đơn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.pid" id="phase_id" />
<input type="hidden" value="@ViewBag.outdate" id="outdate" />
@section scripts{
    <script>
        let arrQues = [];
        let fid = 0;
        let stt_ck = 0;
        var map = {
            0: {
                'id': 'fullname'
            },
            1: {
                'id': 'email'
            },
            2: {
                'id': 'phone'
            },
            3: {
                'id': 'role'
            },
            4: {
                'id': 'office'
            },
        };
        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
        function init() {
            var object = {
                phase_id : $('#phase_id').val()
            }
            $.ajax({
                url: "@Url.Action("getForm", "AcademicActivity")",
                type: "POST",
                data: JSON.stringify(object),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (data) {
                    fid = data.question[0].form_id;
                    document.getElementById('form-title').innerHTML = data.question[0].f_title;
                    document.getElementById('form-description').innerHTML = data.question[0].title_description;
                    data.question.forEach(function (x,index) {
                        if (x.is_changeable == 0) {
                            document.getElementById('question-title-' + map[index].id).innerHTML = x.title + ' ';
                            if (x.is_compulsory == 0) {
                                $('#compulsory-' + map[index].id).attr('hidden', true);
                            }
                        } else {
                            var object = {
                                question_id: x.question_id,
                                answer_type: x.answer_type_id,
                                is_compulsory: x.is_compulsory
                            }
                            arrQues.push(object);
                            let ques_html = '';
                            switch (x.answer_type_id) {
                                case 1:
                                    ques_html += '<div class="col-md-12 col-sm-12">' +
                                        '<div class="form-group fv-plugins-icon-container">' +
                                        '<label><b>' + x.title + ' <label style="color:red" ' + (x.is_compulsory == 0 ? 'hidden' : '') + ' >*</label></b>:</label> ' +
                                        '<input type="text" id="ques-answer-' + x.question_id + '" class="form-control form-control-lg" placeholder="' + x.title + '" autocomplete="off"> ' +
                                        '</div>' +
                                        '</div>';
                                    break;
                                case 2:
                                    ques_html += '<div class="col-md-12 col-sm-12">' +
                                        '<div class="form-group fv-plugins-icon-container">' +
                                        '<label><b>' + x.title + ' <label style="color:red" ' + (x.is_compulsory == 0 ? 'hidden' : '') + '>*</label></b>:</label> ' +
                                        '<textarea type="text" id="ques-answer-' + x.question_id + '" class="form-control  form-control-lg" placeholder="' + x.title + '" onkeyup="textAreaAdjust(this)"></textarea> ' +
                                        '</div>' +
                                        '</div>';
                                    break;
                                case 3:
                                    ques_html += '<div class="col-md-12 col-sm-12" id="ques-answer-' + x.question_id + '">' +
                                        '<div class="form-group fv-plugins-icon-container">' +
                                        '<label><b>' + x.title + ' <label style="color:red" ' + (x.is_compulsory == 0 ? 'hidden' : '') + '>*</label></b>:</label>';
                                    data.optins.forEach(function (y) {
                                        if (y.question_id == x.question_id) {
                                            let str = y.option_title.split('$^');
                                            ques_html += '<div class="checkbox-outline">';
                                            str.forEach(function (z) {
                                                ques_html += '<label class="checkbox checkbox-lg">' +
                                                    '<input type="checkbox" value="' + z + '" id="ques-option-' + y.question_id + stt_ck + '"/>' +
                                                    '<span class="custom-span"></span>' +
                                                    '' + z + '' +
                                                    '</label>';
                                                stt_ck += 1;
                                            });
                                            ques_html += '</div>';
                                        }
                                    });
                                    ques_html += '</div></div>';
                                    break;
                                case 5:
                                    ques_html += '<div class="col-md-12 col-sm-12">' +
                                        '<div class="form-group fv-plugins-icon-container">' +
                                        '<label><b>' + x.title + ' <label style="color:red" ' + (x.is_compulsory == 0 ? 'hidden' : '') + '>*</label></b>:</label>';
                                    data.optins.forEach(function (y) {
                                        if (y.question_id == x.question_id) {
                                            let str = y.option_title.split('$^');
                                            ques_html += '<div class="radio-outline">';
                                            str.forEach(function (z) {
                                                ques_html += '<label class="radio">' +
                                                    '<input type="radio" value="' + z + '" name="question-option-' + y.question_id + '"/>' +
                                                    '<span class="custom-radio"></span>' +
                                                    '' + z + '' +
                                                    '</label>';
                                            });
                                            ques_html += '</div>';
                                        }
                                    });
                                    ques_html += '</div></div>';
                                    break;
                                case 6:
                                    ques_html += '<div class="col-md-12 col-sm-12">' +
                                        '<div class="form-group fv-plugins-icon-container">' +
                                        '<label><b>' + x.title + ' <label style="color:red" ' + (x.is_compulsory == 0 ? 'hidden' : '') + '>*</label></b>:</label>';
                                    ques_html += '<div class="input-group date kt_datetimepicker_3" id="ques-date-' + x.question_id + '" data-target-input="nearest">' +
                                        '<input type="text" class="form-control datetimepicker-input" placeholder="" data-target="#ques-date-' + x.question_id + '" autocomplete="off" id="ques-answer-' + x.question_id + '" /> ' +
                                        '<div class="input-group-append" data-target="#ques-date-' + x.question_id + '" data-toggle="datetimepicker" > ' +
                                        '<span class="input-group-text"> ' +
                                        '<i class="ki ki-calendar"></i> ' +
                                        '</span> ' +
                                        '</div> ' +
                                        '</div>';
                                    ques_html += '</div></div>';
                                    break;
                            }
                            $('#main-control').append(ques_html);
                            KTBootstrapDatetimepicker.init();
                        }
                    });
                }
            });
        }
        function sendForm() {
            let arrAnswer = [];
            let req = false;
            let fullname = $('#ques-answer-fullname').val();
            let email = $('#ques-answer-email').val();
            let phone = $('#ques-answer-phone').val();
            let role = $('#ques-answer-role').val();
            let office = $('#ques-answer-office').val();
            if (fullname == '' || email == '' || phone == '' || role == '' || office == '')
                req = true;
            var unchange = {
                participant_role_id: role,
                participant_name: fullname,
                email: email,
                participant_number: phone,
                office_id: office
            };
            arrAnswer.push(fullname);
            arrAnswer.push(email);
            arrAnswer.push(phone);
            arrAnswer.push($('#ques-answer-role option:selected').html());
            arrAnswer.push($('#ques-answer-office option:selected').html());
            arrQues.forEach(function (x) {
                if (!req) {
                    switch (x.answer_type) {
                        case 1:
                            if (x.is_compulsory == 1 && $('#ques-answer-' + x.question_id).val() == '') {
                                req = true;
                                return;
                            }
                            arrAnswer.push($('#ques-answer-' + x.question_id).val());
                            break;
                        case 2:
                            if (x.is_compulsory == 1 && $('#ques-answer-' + x.question_id).val() == '') {
                                req = true;
                                return;
                            }
                            arrAnswer.push($('#ques-answer-' + x.question_id).val());
                            break;
                        case 3:
                            let str = '';
                            $('#ques-answer-' + x.question_id).find('input:checkbox')
                                .each(function () {
                                    if ($('#' + this.id).is(":checked")) {
                                        str += $('#' + this.id).val();
                                        str += '<>';
                                    }
                                });
                            if (x.is_compulsory == 1 && str == '') {
                                req = true;
                                return;
                            }
                            str = str.substring(0, str.length - 2);
                            arrAnswer.push(str);
                            break;
                        case 5:
                            if (x.is_compulsory == 1 && typeof $('input[name="question-option-' + x.question_id + '"]:checked').val() == 'undefined') {
                                req = true;
                                return;
                            }
                            arrAnswer.push($('input[name="question-option-' + x.question_id + '"]:checked').val());
                            break;
                        case 6:
                            if (x.is_compulsory == 1 && $('#ques-answer-' + x.question_id).val() == '') {
                                req = true;
                                return;
                            }
                            arrAnswer.push($('#ques-answer-' + x.question_id).val());
                            break;
                    }
                }
            });
            if (req) {
                toastr.warning('Bạn chưa điền hết các trường bắt buộc.');
                return;
            }
            var object = {
                fid: fid,
                answer: arrAnswer.join('<$>'),
                unchange: unchange
            };
            $.ajax({
                url: "@Url.Action("sendForm", "AcademicActivity")",
                type: "POST",
                data: JSON.stringify(object),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data != '') {
                        Swal.fire({
                            title: "Đăng ký thành công",
                            text: "Cảm ơn bạn đã đăng ký tham dự hoạt động.",
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "Rời trang",
                            cancelButtonText: "Ở lại",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                window.close();
                            }
                        });
                    } else {
                        toastr.error('Có lỗi xảy ra. Vui lòng thử lại');
                    }
                },
            });
        }
        var KTBootstrapDatetimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            }
            return {
                init: function () {
                    baseDemos();
                }
            };
        }();
        $(document).ready(function () {
            if ($('#outdate').val() == 'no') {
                $('#btn_send').remove();
                Swal.fire({
                    title: "Đơn đăng ký/khảo sát đã hết hạn",
                    text: "Vui lòng liên hệ nhân viên quản lý nếu bạn có bất kì câu hỏi nào.",
                    icon: "info",
                    showCancelButton: false,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: "",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        window.close();
                    }
                });
            } else {
                init();
            }
        });
    </script>
}
