
@{
    ViewBag.Title = "Bổ sung thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    BLL.Authen.LoginRepo.User user = (BLL.Authen.LoginRepo.User)Session["USer"];
}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">
                    Thông tin cơ bản
                </h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Họ và tên <span style='color:red'>*</span>:</label>
                        <input type="text" class="form-control" placeholder="Enter full name" value="@user.account.full_name" />
                    </div>
                    <div class="col-lg-4">
                        <label>Email <span style='color:red'>*</span>:</label>
                        <input disabled type="email" class="form-control" placeholder="Enter email" value="@user.account.email" />
                    </div>
                    <div class="col-lg-4">
                        <label>Tên tài khoản <span style='color:red'>*</span>:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            <input type="text" class="form-control" placeholder="" value="@user.account.full_name" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Chức danh <span style='color:red'>*</span>:</label>
                        <select id="title-select" class="form-control">
                            @foreach (ENTITIES.TitleLanguage item in ViewBag.Titles)
                            {
                                <option value="@item.title_id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Cơ sở hiện tại <span style='color:red'>*</span>:</label>
                        <select id="office-select" class="form-control">
                            @foreach (ENTITIES.Office item in ViewBag.Offices)
                            {
                                <option value="@item.office_id">@item.office_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Số điện thoại:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                            <input type="text" class="form-control" placeholder="Enter contact number" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label>Ngày sinh:</label>
                        <input type="text" class="form-control" id="kt_datepicker_4_3" />
                    </div>
                    <div class="col-lg-4">
                        <label>Quốc tịch :</label>
                        <div class="input-group">
                            <select id="country-select" class="form-control">
                                @foreach (ENTITIES.Country item in ViewBag.Countries)
                                {
                                    <option @(item.country_name.Equals("Viet Nam") ? "selected" : "") value="@item.country_id">@item.country_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Chức vụ nghiên cứu viên:</label>
                        <div class="radio-inline">
                            <label class="radio radio-solid">
                                <input type="radio" name="example_2" checked="checked" value="2" />
                                <span></span>
                                Không
                            </label>
                            <label class="radio radio-solid">
                                <input type="radio" name="example_2" value="2" />
                                <span></span>
                                Có
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">
                    Thông tin khen thưởng sản phẩm khoa học / hỗ trợ tham dự hội nghị
                </h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Số tài khoản :</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-lg-6">
                        <label>Chi nhánh ngân hàng :</label>
                        <input type="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Số CMND/Hộ chiếu :</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-lg-6">
                        <label>Mã số thuế :</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="reset" class="btn btn-primary mr-2">Cập nhật</button>
                        <button type="reset" class="btn btn-secondary">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $("#office-select").select2();
        $("#title-select").select2();
        $("#country-select").select2();

        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        $('#kt_datepicker_4_3').datepicker({
            rtl: KTUtil.isRTL(),
            orientation: "bottom left",
            todayHighlight: true,
            templates: arrows
        });
    </script>
}