
@{
    ViewBag.Title = "Mẫu đăng kí theo giai đoạn cho hoạt động học thuật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #main-control input, textarea {
        border: 0px !important;
        border-radius: 0px !important;
        font-size: 15px !important;
        margin: 3px 0px 3px 0px !important;
        white-space: pre-wrap;
    }

        #main-control input:focus {
            border-bottom: 2px solid #0094ff !important;
        }

    #main-control textarea:focus {
        border-bottom: 2px solid #0094ff !important;
    }

    .card-title {
        border-top: 8px solid #0725d0 !important;
    }

    .custom-card {
        border-left: 6px solid #0094ff !important;
    }

    #main-control .input-title {
        min-height: 20px !important;
        font-size: 23px !important;
        overflow: hidden !important;
    }

    .row {
        padding: 8px 10px !important;
    }

    .card-after {
        margin-top: 30px !important;
    }

    .card-bottom {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .custom-card-after {
        margin-bottom: 2rem !important;
    }

    .card-bottom .row {
        padding: unset !important;
    }

    #main-control textarea {
        overflow: hidden !important;
        min-height: 65px !important;
    }

    #main-control .checkbox-inline {
        height: 47px !important;
    }

    #main-control .radio-inline {
        height: 47px !important;
    }

    #main-control .custom-checkbox {
        border: 1px solid #ded6d6 !important;
    }

    #main-control .custom-rv-checkbox {
        font-size: 20px !important;
    }

    #main-control .custom-row {
        padding-top: unset !important;
        padding-bottom: unset !important;
    }

    #main-control .custom-font-choice {
        font-size: 14px !important;
    }
</style>

<div class="modal fade" id="modal-testing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title font-weight-bolder">DANH SÁCH NGƯỜI ĐĂNG KÝ</h4>
            </div>
            <div class="modal-body pt-3 pb-0">
                <div class="row form-group">
                    <div class="col-md-12 col-xl-12 col-lg-12">
                        <table id="datatable-testing" class="table table-bordered table-checkable">
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-send-email" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title font-weight-bolder">GỬI MAIL ĐẾN NGƯỜI ĐĂNG KÝ</h4>
            </div>
            <div class="modal-body pt-3 pb-0">
                <div class="row form-group">
                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" spellcheck="false" required id="send_title" />
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Nội dung</label>
                        <div id="send_content" class="summernote"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn load-btn btn-light-success font-weight-bold" id="btn_send">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<div id="main-control">
    <div id="control-title">
        <div class="card card-title">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <textarea type="text" class="form-control input-title font-size-h1-xl" onkeyup="textAreaAdjust(this)" id="form_title" placeholder="Tiêu đề"></textarea>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <textarea type="text" class="form-control text-xl-left" id="form_title_description" onkeyup="textAreaAdjust(this)" placeholder="Mô tả mẫu đăng kí"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-fullname" value="Họ và tên" />
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-fullname" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-email" value="Email" />
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-email" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-phone" value="Số điện thoại" />
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-phone" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-role" value="Tư cách tham dự" />
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-role" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-office" value="Đơn vị - Cơ sở" />
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-office" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="control-0">
        <div class="card custom-card custom-card-after">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                    <input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-0" />
                </div>
                <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3">
                    <div class="row align-items-end">
                        <select class="form-control" id="answer-type-0" onchange="changeAnswerType(0)">
                            <option checked value="1">Câu trả lời ngắn</option>
                            <option value="2">Đoạn hội thoại</option>
                            <option value="3">Nhiều lựa chọn</option>
                            <option value="5">Một lựa chọn</option>
                            <option value="6">Ngày tháng năm</option>
                        </select>
                    </div>
                </div>
                <div id="answer-control-0" class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 pl-0">
                        <input type="text" class="form-control" placeholder="Câu trả lời ngắn" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <a href="javascript:;" onclick="addQues('#control-0')" class="btn">
                                <i class="fas fa-plus-circle" style="color: #0094ffc4;"></i>
                            </a>
                        </div>
                        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">
                            <span class="switch switch-sm">
                                <label>
                                    <input type="checkbox" id="compulsory-0" />
                                    <span></span>
                                </label>
                                <span class="pl-2">Bắt buộc</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
        <button type="button" class="btn btn-light-success px-6 font-weight-bold float-left" onclick="viewParticipant()">Danh sách câu trả lời</button>
        <button type="button" class="btn btn-light-success px-6 font-weight-bold float-left ml-5" data-toggle="modal" data-target="#modal-send-email">Gửi mail đến người đăng ký</button>
        <button type="button" class="btn btn-light-danger px-6 font-weight-bold float-right" id="btn_delete_form">Xóa</button>
        <button type="button" class="btn btn-light-success px-6 font-weight-bold float-right mr-5" id="btn_save_form">Xác nhận</button>
    </div>
</div>
<input type="text" hidden value="@ViewBag.phaseID" id="phase_id" />
@section scripts{
    <script>
        var KTSummernoteDemo = function () {
            var demos = function () {
                $('.summernote').summernote({
                    height: 150
                });
            }
            return {
                init: function () {
                    demos();
                }
            };
        }();
        jQuery(document).ready(function () {
            KTSummernoteDemo.init();
        });
    </script>
    <script>
        arrDivControl = [0]
        indexDiv = 1
        let form_id = 0;
        var save_loader = new LoaderBtn($(".load-btn"));
        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
        function addQues(id) {
            let htmlString = '<div id="control-' + indexDiv + '">' +
                '<div class= "card custom-card custom-card-after" > ' +
                '<div class="row">' +
                '<div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">' +
                '<input type="text" class="form-control" placeholder="Câu hỏi" id="question-title-' + indexDiv+'"/>' +
                '</div>' +
                '<div class="col-sm-3 col-md-3 col-xl-3 col-lg-3">' +
                '<div class="row align-items-end">' +
                '<select class="form-control" id="answer-type-' + indexDiv + '" onchange="changeAnswerType(' + indexDiv + ')">' +
                '<option checked value="1">Câu trả lời ngắn</option>' +
                '<option value="2">Đoạn hội thoại</option>' +
                '<option value="3">Nhiều lựa chọn</option>' +
                '<option value="5">Một lựa chọn</option>' +
                '<option value="6">Ngày tháng năm</option>' +
                '</select>' +
                '</div>' +
                '</div>' +
                '<div id="answer-control-' + indexDiv + '" class="col-sm-12 col-md-12 col-xl-12 col-lg-12">' +
                '<div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 pl-0">' +
                '<input type="text" class="form-control" placeholder="Câu trả lời ngắn" />' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 card-bottom">' +
                '<div class="row">' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">' +
                '<a href="javascript:;" onclick="addQues(\'#control-' + indexDiv + '\')" class="btn">' +
                '<i class="fas fa-plus-circle" style="color: #0094ffc4;"></i>' +
                '</a>' +
                '</div>' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">' +
                '<a href="javascript:;" onclick="Delete(\'#control-' + indexDiv + '\')" class="btn">' +
                '<i class="fas fa-trash" style="color: #0094ffc4;"></i>' +
                '</a>' +
                '</div>' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 pt-2">' +
                '<span class="switch switch-sm">' +
                '<label>' +
                '<input type="checkbox" id="compulsory-' + indexDiv + '" />' +
                '<span></span>' +
                '</label>' +
                '<span class="pl-2">Bắt buộc</span>' +
                '</span>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';
            div = document.createElement('div');
            div1 = document.querySelector(id);
            div.innerHTML = htmlString;
            div1.parentNode.insertBefore(div.firstChild, div1.nextSibling);
            arrDivControl.push(indexDiv);
            indexDiv = indexDiv + 1;
        }

        function Delete(id) {
            $(id).remove();
            let str = id.split('-');
            arrDivControl = arrDivControl.filter(function (e) { return e !== parseInt(str[str.length - 1]) });
        }

        function changeAnswerType(id) {
            val = document.getElementById('answer-type-' + id).value;
            document.getElementById('answer-control-' + id).innerHTML = '';
            switch (val) {
                case '1':
                    $('#answer-control-' + id).append('<div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 pl-0">' +
                        '<input type="text" class="form-control" id="content-Stext-' + id + '" placeholder="Câu trả lời ngắn" />' +
                        '</div>');
                    break;
                case '2':
                    $('#answer-control-' + id).append('<div class="col-sm-10 col-md-10 col-xl-10 col-lg-10 pl-0">' +
                        '<textarea class= "form-control" id="content-Ltext-' + id + '" placeholder= "Đoạn hội thoại"></textarea>' +
                        '</div>');
                    break;
                case '3':
                    arrCMD[0][id] = 1;
                    temp_option = 0
                    for (let i = 0; i < 100; i++) {
                        if (typeof arrM_content[id][i] == 'undefined') {
                            i = 999;
                        } else {
                            temp_option = temp_option + 1;
                        }
                    }
                    arrM_content[id][temp_option] = 'Lựa chọn'
                    $('#answer-control-' + id).append(
                        '<div id ="answer-checkbox-' + id + '-' + temp_option + '" class="row custom-row" >' +
                        '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0">' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 p-0 float-left">' +
                        '<div class="checkbox-inline justify-content-center">' +
                        '<label class="checkbox checkbox-lg">' +
                        '<input type="checkbox" id="checkbox-' + id + '-' + temp_option + '" />' +
                        '<span class="custom-checkbox"></span>' +
                        '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-10 col-md-10 col-xl-10 col-lg-10 pl-0 float-left">' +
                        '<input type="text" class="form-control" placeholder="Lựa chọn" id="content-checkbox-' + id + '-' + temp_option + '"  onchange="UpdateValueOfOptionCheckbox(\'' + id + '-' + temp_option + '\')"/>' +
                        '</div>' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left justify-content-center">' +
                        '<a href="javascript:;" onclick="RemoveCheckbox(\'#answer-checkbox-' + id + '-' + temp_option + '\')" class="btn">' +
                        '<i class="fas fa-times custom-rv-checkbox" style="color: #5f5656;"></i>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div id="answer-checkbox-option" class="row custom-row">' +
                        '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0">' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 p-0 float-left">' +
                        '<div class="checkbox-inline justify-content-center">' +
                        '<label class="checkbox checkbox-lg">' +
                        '<input type="checkbox" disabled/>' +
                        '<span class="custom-checkbox"></span>' +
                        '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 float-left">' +
                        '<a href="javascript:;" onclick="AddCheckbox(\'#answer-checkbox-' + id + '-' + temp_option + '\')" class="btn custom-font-choice pl-0">' +
                        'Thêm lựa chọn' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                    break;
                case '5':
                    arrCMD[1][id] = 1;
                    temp_option = 0
                    for (let i = 0; i < 100; i++) {
                        if (typeof arrC_content[id][i] == 'undefined') {
                            i = 999;
                        } else {
                            temp_option = temp_option + 1;
                        }
                    }
                    arrC_content[id][temp_option] = 'Lựa chọn'
                    $('#answer-control-' + id).append(
                        '<div id="answer-radio-' + id + '-' + temp_option + '" class="row custom-row">' +
                        '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0">' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left p-0">' +
                        '<div class="radio-inline justify-content-center">' +
                        '<label class="radio radio-lg">' +
                        '<input type="radio" id="radio-' + id + '-' + temp_option + '" name="radio-' + id + '" />' +
                        '<span class="custom-checkbox"></span>' +
                        '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-10 col-md-10 col-xl-10 col-lg-10 float-left pl-0">' +
                        '<input type="text" class="form-control" placeholder="Lựa chọn" id="content-radio-' + id + '-' + temp_option + '" onchange="UpdateValueOfOptionRadio(\'' + id + '-' + temp_option + '\')" />' +
                        '</div>' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left justify-content-center">' +
                        '<a href="javascript:;" onclick="RemoveRadio(\'#answer-radio-' + id + '-' + temp_option + '\')" class="btn">' +
                        '<i class="fas fa-times custom-rv-checkbox" style="color: #5f5656;"></i>' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div id="answer-radio-option" class="row custom-row">' +
                        '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0">' +
                        '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 p-0 float-left">' +
                        '<div class="radio-inline justify-content-center">' +
                        '<label class="radio radio-lg">' +
                        '<input type="radio" disabled />' +
                        '<span class="custom-checkbox"></span>' +
                        '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-3 col-md-3 col-xl-3 col-lg-3 float-left">' +
                        '<a href="javascript:;" onclick="AddRadio(\'#answer-radio-' + id + '-' + temp_option + '\')" class="btn custom-font-choice pl-0">' +
                        'Thêm lựa chọn' +
                        '</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>');
                    break;
                case '6':
                    $('#answer-control-' + id).append(
                        '<div class="form-group row">' +
                            '<div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">' +
                                '<div class="input-group date kt_datetimepicker_3" id="date-' + id + '" data-target-input="nearest">' +
                                    '<input type="text" class="form-control datetimepicker-input" placeholder="Ngày, tháng, năm" readonly data-target="#date-' + id + '" autocomplete="off" id="date-' + id + '" />' +
                                        '<div class="input-group-append" data-target="#date-' + id + '" data-toggle="datetimepicker">' +
                                            '<span class="input-group-text">' +
                                                '<i class="ki ki-calendar"></i>' +
                                            '</span>' +
                                        '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>');
                    KTBootstrapDatetimepicker.init();
                    break;
            }
        }

        function RemoveCheckbox(id) {
            $(id).remove();
            let str = id.split('-');
            arrCMD[0][parseInt(str[str.length - 2])] = 0;
            arrM_content[parseInt(str[str.length - 2])][parseInt(str[str.length - 1])] = '';
        }

        function AddCheckbox(id) {
            let str = id.split('-');
            index = parseInt(str[str.length - 2]);
            index_insert = 0;
            temp_option = 0
            for (let i = 0; i < 100; i++) {
                if (typeof arrM_content[index][i] == 'undefined') {
                    i = 999;
                } else {
                    if (arrM_content[index][i] != '') {
                        index_insert = i;
                    }
                    temp_option = temp_option + 1;
                }
            }
            arrM_content[index][temp_option] = 'Lựa chọn';
            let htmlString =
                '<div id = "answer-checkbox-' + index + '-' + temp_option + '" class= "row custom-row" >' +
                '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0">' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 p-0 float-left">' +
                '<div class="checkbox-inline justify-content-center">' +
                '<label class="checkbox checkbox-lg">' +
                '<input type="checkbox" id="checkbox-' + index + '-' + temp_option + '" />' +
                '<span class="custom-checkbox"></span>' +
                '</label>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-10 col-md-10 col-xl-10 col-lg-10 pl-0 float-left">' +
                '<input type="text" class="form-control" placeholder="Lựa chọn" id="content-checkbox-' + index + '-' + temp_option + '" onchange="UpdateValueOfOptionCheckbox(\'' + index + '-' + temp_option + '\')"/>' +
                '</div>' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left justify-content-center">' +
                '<a href="javascript:;" onclick="RemoveCheckbox(\'#answer-checkbox-' + index + '-' + temp_option + '\')" class="btn">' +
                '<i class="fas fa-times custom-rv-checkbox" style="color: #5f5656;"></i>' +
                '</a>' +
                '</div>' +
                '</div>' +
                '</div>';
            div = document.createElement('div');
            div1 = document.querySelector('#answer-checkbox-' + index + '-' + index_insert);
            div.innerHTML = htmlString;
            div1.parentNode.insertBefore(div.firstChild, div1.nextSibling);
        }

        function RemoveRadio(id) {
            $(id).remove();
            let str = id.split('-');
            arrCMD[1][parseInt(str[str.length - 2])] = 0;
            arrC_content[parseInt(str[str.length - 2])][parseInt(str[str.length - 1])] = '';
        }

        function AddRadio(id) {
            let str = id.split('-');
            index = parseInt(str[str.length - 2]);
            index_insert = 0;
            temp_option = 0
            for (let i = 0; i < 100; i++) {
                if (typeof arrC_content[index][i] == 'undefined') {
                    i = 999;
                } else {
                    if (arrC_content[index][i] != '') {
                        index_insert = i;
                    }
                    temp_option = temp_option + 1;
                }
            }
            arrC_content[index][temp_option] = 'Lựa chọn';
            let htmlString =
                '<div id="answer-radio-' + index + '-' + temp_option + '" class="row custom-row">' +
                '<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pl-0" >' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left p-0">' +
                '<div class="radio-inline justify-content-center">' +
                '<label class="radio radio-lg">' +
                '<input type="radio" id="radio-' + index + '-' + temp_option + '" name="radio-' + index + '" />' +
                '<span class="custom-checkbox"></span>' +
                '</label>' +
                '</div>' +
                '</div>' +
                '<div class="col-sm-10 col-md-10 col-xl-10 col-lg-10 float-left pl-0">' +
                '<input type="text" class="form-control" placeholder="Lựa chọn" id="content-radio-' + index + '-' + temp_option + '" onchange="UpdateValueOfOptionRadio(\'' + index + '-' + temp_option + '\')" />' +
                '</div>' +
                '<div class="col-sm-1 col-md-1 col-xl-1 col-lg-1 float-left justify-content-center">' +
                '<a href="javascript:;" onclick="RemoveRadio(\'#answer-radio-' + index + '-' + temp_option + '\')" class="btn">' +
                '<i class="fas fa-times custom-rv-checkbox" style="color: #5f5656;"></i>' +
                '</a>' +
                '</div>' +
                '</div >' +
                '</div >';
            div = document.createElement('div');
            div1 = document.querySelector('#answer-radio-' + index + '-' + index_insert);
            div.innerHTML = htmlString;
            div1.parentNode.insertBefore(div.firstChild, div1.nextSibling);
        }

        function UpdateValueOfOptionCheckbox(id) {
            let str = id.split('-');
            val = document.getElementById('content-checkbox-' + str[str.length - 2] + '-' + str[str.length - 1]).value;
            arrM_content[parseInt(str[str.length - 2])][parseInt(str[str.length - 1])] = val;
        }
        function UpdateValueOfOptionRadio(id) {
            let str = id.split('-');
            val = document.getElementById('content-radio-' + str[str.length - 2] + '-' + str[str.length - 1]).value;
            arrC_content[parseInt(str[str.length - 2])][parseInt(str[str.length - 1])] = val;
        }

        function createArrMultiDimensional(length) {
            var arr = [],
                i = length;
            if (arguments.length > 1) {
                var args = Array.prototype.slice.call(arguments, 1);
                while (i--) arr[length - 1 - i] = createArrMultiDimensional.apply(this, args);
            }
            return arr;
        }
        var KTBootstrapDatetimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            }
            return {
                init: function () {
                    baseDemos();
                }
            };
        }();
        var map = {
            0: {
                'id': 'fullname'
            },
            1: {
                'id': 'email'
            },
            2: {
                'id': 'phone'
            },
            3: {
                'id': 'role'
            },
            4: {
                'id': 'office'
            },
        };
        function init() {
            var object = {
                phase_id: document.getElementById('phase_id').value
            }
            $.ajax({
                url: "@Url.Action("getFormbyPhase", "DetailOfAcademicActivity")",
                data: JSON.stringify(object),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.form != null) {
                        form_id = data.form.form_id;
                        document.getElementById('form_title_description').value = data.form.title_description;
                        document.getElementById('form_title').value = data.form.title;
                        data.ques.forEach(function (x, index) {
                            if (x.is_changeable == 0) {
                                $('#question-title-' + map[index].id).val(x.title);
                                if (x.is_compulsory == 1)
                                    $('#compulsory-' + map[index].id).attr('checked', true);
                            } else {
                                arrMapping.push(indexDiv - 1);
                                arrReal.push(x.question_id);
                                document.getElementById('answer-type-' + (indexDiv - 1)).value = x.answer_type_id;
                                changeAnswerType(indexDiv - 1);
                                document.getElementById('question-title-' + (indexDiv - 1)).value = x.title;
                                if (x.is_compulsory == 1)
                                    $('#compulsory-' + (indexDiv - 1)).attr('checked', true);
                                data.quesOption.forEach(function (y) {
                                    if (x.question_id == y.question_id) {
                                        str = y.option_title.split("$^");
                                        for (let i = 0; i < str.length; i++) {
                                            if (x.answer_type_id == 3) {
                                                temp_option = 0
                                                for (let i = 0; i < 100; i++) {
                                                    if (typeof arrM_content[(indexDiv - 1)][i] == 'undefined') {
                                                        i = 999;
                                                    } else {
                                                        temp_option = temp_option + 1;
                                                    }
                                                }
                                                arrM_content[(indexDiv - 1)][temp_option - 1] = 'Lựa chọn';
                                                document.getElementById('content-checkbox-' + (indexDiv - 1) + '-' + (temp_option - 1)).value = str[i];
                                                $('#content-checkbox-' + (indexDiv - 1) + '-' + (temp_option - 1)).trigger("change");
                                                if (i < (str.length - 1)) {
                                                    AddCheckbox('#answer-checkbox-' + (indexDiv - 1) + '-' + (temp_option - 1));
                                                }
                                            } else if (x.answer_type_id == 5) {
                                                temp_option = 0
                                                for (let i = 0; i < 100; i++) {
                                                    if (typeof arrC_content[(indexDiv - 1)][i] == 'undefined') {
                                                        i = 999;
                                                    } else {
                                                        temp_option = temp_option + 1;
                                                    }
                                                }
                                                arrC_content[(indexDiv - 1)][temp_option - 1] = 'Lựa chọn';
                                                document.getElementById('content-radio-' + (indexDiv - 1) + '-' + (temp_option - 1)).value = str[i];
                                                $('#content-radio-' + (indexDiv - 1) + '-' + (temp_option - 1)).trigger("change");
                                                if (i < (str.length - 1)) {
                                                    AddRadio('#answer-radio-' + (indexDiv - 1) + '-' + (temp_option - 1));
                                                }
                                            }
                                        }
                                    }
                                });
                                if (x !== data.ques[data.ques.length - 1])
                                    addQues('#control-' + (indexDiv - 1));
                            }
                        });
                    }
                },
                error: function (data) {
                    toastr.error('Có lỗi xảy ra. Vui lòng thử lại');
                }
            });
        }
        $('#btn_save_form').click(function () {
            Swal.fire({
                title: "Bạn có chắc chắn muốn lưu đơn đăng kí này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    let arrQues = [];
                    let arrQuesOp = [];
                    for (let i = 0; i < arrDivControl.length; i++) {
                        let ques_id = arrMapping.includes(arrDivControl[i]) ? arrReal[arrDivControl[i]] : arrDivControl[i];
                        let ques_title = $('#question-title-' + arrDivControl[i]).val();
                        let answer_type = $('#answer-type-' + arrDivControl[i]).val();
                        let is_compulsory = $('#compulsory-' + arrDivControl[i]).is(':checked') == true ? 1 : 0;
                        var object = {
                            question_id: ques_id,
                            title: ques_title,
                            answer_type_id: answer_type,
                            is_compulsory: is_compulsory,
                            is_changeable: 0
                        }
                        arrQues.push(object);
                        let quesOp_title = '';
                        if (answer_type == 3) {
                            arrM_content[arrDivControl[i]].forEach(function (x) {
                                if(x != '')
                                    quesOp_title += x+"$^";
                            });
                            quesOp_title = quesOp_title.substring(0, quesOp_title.length - 2);
                        }
                        if (answer_type == 5) {
                            arrC_content[arrDivControl[i]].forEach(function (x) {
                                if(x != '')
                                    quesOp_title += x + "$^";
                            });
                            quesOp_title = quesOp_title.substring(0, quesOp_title.length - 2);
                        }
                        if (quesOp_title != '') {
                            var object = {
                                question_id: ques_id,
                                option_title: quesOp_title
                            }
                            arrQuesOp.push(object);
                        }
                    }
                    var form = {
                        form_id: form_id,
                        phase_id: $('#phase_id').val(),
                        title: $('#form_title').val(),
                        title_description: $('#form_title_description').val()
                    };
                    arrUnchange = [];
                    list_id = ['fullname', 'email', 'phone', 'role', 'office'];
                    list_id.forEach(function (x) {
                        var unchange = {
                            title: $('#question-title-'+x).val(),
                            is_compulsory: $('#compulsory-'+x).is(':checked') == true ? 1 : 0
                        };
                        arrUnchange.push(unchange);
                    });
                    var object = {
                        form: form,
                        ques: arrQues,
                        quesOption: arrQuesOp
                    };
                    var final_object = {
                        data: object,
                        data_unchange: arrUnchange
                    };
                    $.ajax({
                        url: "@Url.Action("updateForm", "DetailOfAcademicActivity")",
                        data: JSON.stringify(final_object),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data != '') {
                                toastr.success(data);
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            } else {
                                toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                            }
                        },
                        error: function (data) {
                        }
                    });
                }
            });
        });
        $('#btn_delete_form').click(function () {
            Swal.fire({
                title: "Bạn có chắc chắn muốn xóa đơn đăng kí này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: "@Url.Action("deleteForm", "DetailOfAcademicActivity")",
                        data: JSON.stringify({ phase_id: $('#phase_id').val()}),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data != '') {
                                toastr.success(data);
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            } else {
                                toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                            }
                        },
                        error: function (data) {
                        }
                    });
                }
            });
        });
        let datatable_testing;
        function viewParticipant() {
            $.ajax({
                url: "@Url.Action("getRealtimeParticipant", "DetailOfAcademicActivity")",
                data: JSON.stringify({ phase_id: $('#phase_id').val()}),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.ques.length != 0) {
                        let column = [];
                        let dataSet = [];
                        data.ques.forEach(function (x) {
                            column.push({ title: x.title });
                        });
                        if (typeof datatable_testing != 'undefined') {
                            datatable_testing.columns(column);
                            datatable_testing.clear().draw();
                            data.res.forEach(function (x) {
                                datatable_testing.row.add(x.answer.split('<$>')).draw();
                            });
                        } else {
                            data.res.forEach(function (x) {
                                dataSet.push(x.answer.split('<$>'));
                            });
                            datatable_testing = $('#datatable-testing').DataTable({
                                data: dataSet,
                                columns: column
                            });
                        }
                        $('#modal-testing').modal('show');
                    } else {
                        toastr.info('Bạn chưa có mẫu đăng ký cho giai đoạn học thuật này');
                    }
                }
            });
        }
        $('#btn_send').click(function () {
            if (form_id == 0) {
                toastr.info('Bạn chưa có mẫu đăng ký cho giai đoạn học thuật này');
                return false;
            }
            save_loader.startLoading();
            var object = {
                phase_id: document.getElementById('phase_id').value,
                title: $('#send_title').val(),
                content: $('#send_content').summernote('code')
            };
            if (object.title == '' || object.content == '') {
                toastr.warning('Bạn chưa điền hết các trường thông tin.');
                save_loader.stopLoading();
                return false;
            }
            $.ajax({
                url: "@Url.Action("sendEmailForm", "DetailOfAcademicActivity")",
                data: JSON.stringify(object),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data != '') {
                        toastr.success(data);
                        $('#modal-send-email').modal('hide');
                        $('#send_title').val('');
                        $('#send_content').summernote('code', '');
                    } else {
                        toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                    }
                    save_loader.stopLoading();
                },
                error: function (data) {
                    save_loader.stopLoading();
                }
            });
        });
        $(document).ready(function () {
            $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none");
            arrCMD = createArrMultiDimensional(2, 100);
            arrM_content = createArrMultiDimensional(100, 200);
            arrC_content = createArrMultiDimensional(100, 200);
            arrMapping = [];
            arrReal = [];
            init();
        });
    </script>
}