
@{
    //ViewBag.Title = "AddRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<style>
    .author-info-card {
        font-size: 14px;
    }
</style>
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PaperInfo")</h3>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("PaperName")</label>
                                    <input class="form-control form-control-lg" type="text" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("PublishDate")</label>
                                    <input class="form-control form-control-lg custom-pickdate" type="text" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("LinkFull")</label>
                                    <input class="form-control form-control-lg" type="text" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">Link scholar</label>
                                    <input class="form-control form-control-lg" type="text" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">Loại ấn phẩm</label>
                                    <select id="paper_type" class="form-control form-control-lg">
                                        <option value="1">@rm.GetString("JournalPaper")</option>
                                        <option value="2">@rm.GetString("ConferencePaper")</option>
                                    </select>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("Specialized")</label>
                                    <select id="chuyennganh" class="form-control form-control-lg">
                                        @{
                                            foreach (var item in ViewBag.listSpec)
                                            {
                                                <option value="@item.specialization_id">@item.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-custom " style="box-shadow: 0px 0px 30px 0px rgba(82,63,105,0.17); border: 0; margin-bottom: 2rem;">
                                <div class="card-header ribbon ribbon-top ribbon-ver">
                                    <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                        <i class="fa fa-star text-white"></i>
                                    </div>
                                    <h3 class="card-title">
                                        Chính sách hiện tại
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>Lorem ipsum, or lipsum as it is sometimes known</li>
                                        <li>is dummy text used in laying out print, graphic</li>
                                        <li>have scrambled parts of Cicero's De Finibus Bonorum et Malorum</li>
                                    </ul>
                                    <br />
                                    <a href="#" class="btn btn-light-primary mr-2" target="_blank">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PublishInfo")</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("JournalName")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("Vol")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("Page")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("PublishName")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("RewardInfo")</h3>
                    <div class="row" id="thuong">
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("CriteriaType")</label>
                            <select id="loaithuong" class="form-control form-control-lg">
                                <option selected value="1">@rm.GetString("International")</option>
                                <option value="2">@rm.GetString("Domestic")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongqt">
                            <label class="required-field">@rm.GetString("Criteria")</label>
                            <select id="tieuchi" class="form-control form-control-lg">
                                <option value="0" selected disabled>@rm.GetString("Criteria")</option>
                                @{
                                    foreach (var item in ViewBag.listCriteria)
                                    {
                                        <option class="optiontieuchi" value="@item.name">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongtn" style="display: none">
                            <label style="color:#fff">abc</label>
                            <button class="btn btn-primary form-control form-control-lg">@rm.GetString("ListMaga")</button>
                        </div>
                        <div class="col-xl-6 form-group thuongtn" style="display: none">
                            <label class="required-field">@rm.GetString("JournalIndex")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                        <div class="col-xl-6 form-group thuongtn" style="display: none">
                            <label class="required-field">@rm.GetString("Note")</label>
                            <input class="form-control form-control-lg" type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("TotalReward")</label>
                            <input class="form-control form-control-lg" readonly type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("RewardType")</label>
                            <select id="kieuthuong" class="form-control form-control-lg">
                                <option value="1">@rm.GetString("According")</option>
                                <option value="2">@rm.GetString("Repre")</option>
                            </select>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    <div class="row" id="authors-info-container">
                    </div>
                    <!--end:: Row-->
                    <div class="row">
                        <div class="col-xl-12" style="text-align: left">
                            <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_btn" data-toggle="modal" data-target="#addModal">@rm.GetString("AddAu")</button>
                        </div>

                    </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold">@rm.GetString("Send")</button>
        </div>
    </div>
</div>
<datalist id="ncv_list">
    <option>1234</option>
    <option>abcd</option>
    <option>12bư</option>
    <option>323q</option>
</datalist>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("AddAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script src="~/Content/assets/plugins/custom/draggable/draggable.bundle.js?v=7.0.6"></script>
    <script>
        $(document).ready(function () {
            $("#add_author_reward").prop('disabled', true);
        });
        $('#chuyennganh').select2({
            allowClear: true
        });
        $('#tieuchi').select2({
            allowClear: true
        });
        $('#kieuthuong').select2({
            allowClear: true
        });
        $('#loaithuong').select2({
            allowClear: true
        });
        $('#paper_type').select2({
            allowClear: true
        });
        $("#loaithuong").change(function () {
            var temp = $(this).val();
            console.log(temp);
            if (temp == 1) {
                $(".thuongqt").show();
                $(".thuongtn").hide();
            } else {
                $(".thuongqt").hide();
                $(".thuongtn").show();
                $(".deletetieuchi").each(function () {
                    $(this).click();
                });
            }
        });

        $("#tieuchi").change(function () {
            var temp = $("#tieuchi").val();
            $("#thuong").append("<div class='col-xl-12 d-flex justify-content-center onetieuchi'>" +
                "<span class='col-xl-2'><input readonly value='" + temp + "' class='form-control form-control-lg' name='tieuchiname' type='text' /></span>" +
                "<span class='col-xl-8'><input placeholder='Link' class='form-control form-control-lg' type='text' /></span>" +
                "<span class='col-xl-2'><button class='form-control form-control-lg btn btn-danger deletetieuchi'><i class='flaticon2-trash'></i></button></span>" +
                "</div>");
            var option = $("#tieuchi option[value='" + temp + "']");
            option.prop('disabled', true);
        });

        $("#thuong").on("click", ".deletetieuchi", function () {
            var text = $(this).closest(".onetieuchi").find("input[name='tieuchiname']").val();
            var option = $("#tieuchi option[value='" + text + "']");
            option.prop('disabled', false);
            $(this).closest(".onetieuchi").remove();
        });
    </script>
    <script>
        //$(document).ready(function () {
        //    if (numberOfAuthors > 0) {
        //        $(".tacgia").show()
        //    }
        //});
        //////////////////////////////////////////////////////////////////
        class AuthorInfoView {
            constructor(add_author_workplace, add_author_msnv, add_author_name, add_author_title, add_author_contractType, add_author_cmnd, add_author_tax
                , add_author_bank, add_author_accno, add_author_reward, add_author_note, add_author_email, id) {
                this.add_author_msnv = add_author_msnv;
                this.add_author_email = add_author_email;
                this.add_author_workplace = add_author_workplace;
                this.add_author_name = add_author_name;
                this.add_author_title = add_author_title;
                this.add_author_contractType = add_author_contractType;
                this.add_author_cmnd = add_author_cmnd;
                this.add_author_tax = add_author_tax;
                this.add_author_bank = add_author_bank;
                this.add_author_accno = add_author_accno;
                this.add_author_reward = add_author_reward;
                this.add_author_note = add_author_note;
                this.add_author_info_id = id
            }
            getHTML() {
                return `
                 <div class='col-lg-6' id='`+ this.add_author_info_id + `'>
                                <!--begin::Card-->
                                <div class='card card-custom gutter-b'>
                                    <div class='card-header'>
                                        <div class='card-title'>
                                            <h3 class='card-label'>`+ this.add_author_msnv + ` - ` + this.add_author_name + `</h3>
                                        </div>
                                        <div class='card-toolbar'>
                                            <a data-id='`+ this.add_author_info_id + `' class='edit-author btn btn-icon btn-sm btn-hover-light-danger'>
                                                <i class='far fa-edit'></i>
                                            </a>
                                            <a data-id='`+ this.add_author_info_id + `' class='del-author btn btn-icon btn-sm btn-hover-light-danger'>
                                                <i class='la la-trash'></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='card-body author-info-card'>
                                        <div class='row'>
                                            <div class='col-lg-6 col-sm-12'>
                                                <div class='mb-7'>
                                                    <div class='d-flex justify-content-between align-items-center'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Khu Vực:</span>
                                                        <span class='text-muted font-weight-bold'>`+ this.add_author_workplace + `</span>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-center'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Cơ sở:</span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_workplace + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Chức danh:</span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_title + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Loại hợp đồng:</span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_contractType + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Mã số thuế: </span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_tax + `</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-lg-6 col-sm-12'>
                                                <div class='mb-7'>
                                                    <div class='d-flex justify-content-between align-items-center'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Email:</span>
                                                        <span class='text-muted font-weight-bold'>`+ this.add_author_email + `</span>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>CMND số:</span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_cmnd + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Ảnh CMND:</span>
                                                        <a href='#' class='text-muted text-hover-primary'>C://Users/hieuvm/../cmt.jpg</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Ngân hàng: </span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_bank + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Số tài khoản: </span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_accno + `</a>
                                                    </div>
                                                    <div class='d-flex justify-content-between align-items-cente my-1'>
                                                        <span class='text-dark-75 font-weight-bolder mr-2'>Tiền thưởng: </span>
                                                        <a href='#' class='text-muted text-hover-primary'>`+ this.add_author_reward + `</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Card-->
                            </div>
                            `
            }
        }
        //////////////////////////////////////////////////////////////////
        $("#add_author_save").click(function () {
            ckfe = $("#ckfe").val()
            add_author_workplace = $("#ckfe").val()
            add_author_msnv = $("#add_author_msnv").val()
            add_author_name = $("#add_author_name").val()
            add_author_title = $("#add_author_title option:selected").text()
            add_author_contractType = $("#add_author_contractType option:selected").text()
            add_author_cmnd = $("#add_author_cmnd").val()
            add_author_tax = $("#add_author_tax").val()
            add_author_bank = $("#add_author_bank").val()
            add_author_accno = $("#add_author_accno").val()
            add_author_reward = $("#add_author_reward").val()
            add_author_note = $("#add_author_note").val()
            add_author_email = 'tuankq@hsđsd.com'
            id = new Date().getTime()
            au = new AuthorInfoView(add_author_workplace, add_author_msnv, add_author_name,
                add_author_title, add_author_contractType, add_author_cmnd, add_author_tax,
                add_author_bank, add_author_accno, add_author_reward, add_author_note, add_author_email, id)
            $("#authors-info-container").append(au.getHTML());
        });
        $("#authors-info-container").on('click', '.del-author', function () {
            let id = $(this).data("id")
            Swal.fire({
                title: "Xoá tác giả này?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $("#" + id).remove()
                } else if (result.dismiss === "cancel") {
                }
            });
        });
    </script>
}

