
@{
    //ViewBag.Title = "AddRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}
<style>
    .author-info-card {
        font-size: 14px;
    }
</style>
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PaperInfo")</h3>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("PaperName")</label>
                                    <input autocomplete="off" class="form-control notnull" type="text" id="paper_name" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("PublishDate")</label>
                                    <input autocomplete="off" readonly class="form-control custom-pickdate notnull" type="text" id="paper_publish_date" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("LinkFull")</label>
                                    <input autocomplete="off" class="form-control notnull" type="text" id="paper_full" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">Link scholar</label>
                                    <input autocomplete="off" class="form-control notnull" type="text" id="paper_scholar" />
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">Loại ấn phẩm</label>
                                    <select id="paper_type" class="form-control">
                                        <option value="1">@rm.GetString("JournalPaper")</option>
                                        <option value="2">@rm.GetString("ConferencePaper")</option>
                                    </select>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label class="required-field">@rm.GetString("Specialized")</label>
                                    <select id="chuyennganh" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.listSpec)
                                            {
                                                <option value="@item.specialization_id">@item.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-custom " style="box-shadow: 0px 0px 30px 0px rgba(82,63,105,0.17); border: 0; margin-bottom: 2rem;">
                                <div class="card-header ribbon ribbon-top ribbon-ver">
                                    <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                        <i class="fa fa-star text-white"></i>
                                    </div>
                                    <h3 class="card-title">
                                        Chính sách hiện tại
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>Lorem ipsum, or lipsum as it is sometimes known</li>
                                        <li>is dummy text used in laying out print, graphic</li>
                                        <li>have scrambled parts of Cicero's De Finibus Bonorum et Malorum</li>
                                    </ul>
                                    <br />
                                    <a href="#" class="btn btn-light-primary mr-2" target="_blank">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PublishInfo")</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("JournalName")</label>
                            <input autocomplete="off" class="form-control notnull" type="text" id="paper_journal" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("Vol")</label>
                            <input autocomplete="off" class="form-control notnull" type="text" id="paper_vol" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("Page")</label>
                            <input autocomplete="off" class="form-control notnull" type="text" id="paper_page" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("PublishName")</label>
                            <input autocomplete="off" class="form-control notnull" type="text" id="paper_publish_name" />
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("RewardInfo")</h3>
                    <div class="row" id="thuong">
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("CriteriaType")</label>
                            <select id="loaithuong" class="form-control">
                                <option selected value="Quocte">@rm.GetString("International")</option>
                                <option value="Trongnuoc">@rm.GetString("Domestic")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongqt">
                            <label class="required-field">@rm.GetString("Criteria")</label>
                            <select id="tieuchi" class="form-control">
                                <option value="0" selected disabled>@rm.GetString("Criteria")</option>
                                @{
                                    foreach (var item in ViewBag.listCriteria)
                                    {
                                        <option class="optiontieuchi" value="@item.name">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongtn" style="display: none">
                            <label style="color:#fff">abc</label>
                            <button class="btn btn-primary form-control">@rm.GetString("ListMaga")</button>
                        </div>
                        <div class="col-xl-4 form-group thuongtn" style="display: none">
                            <label class="required-field">@rm.GetString("JournalIndex")</label>
                            <input autocomplete="off" class="form-control" type="text" id="paper_index" />
                        </div>
                        <div class="col-xl-3 form-group thuongtn" style="display: none">
                            <label>@rm.GetString("FileCM")<span style='color:red'>*</span></label>
                            <div class="uppy" id="kt_uppy_1">
                                <div class="uppy-wrapper"></div>
                                <div class="uppy-list"></div>
                                <div class="uppy-status"></div>
                                <div class="uppy-informer uppy-informer-min"></div>
                            </div>
                            <span class="form-text text-muted">Max file size is 15MB and max number of files is 1.</span>
                        </div>
                        <div class="col-xl-5 form-group thuongtn" style="display: none">
                            <label class="required-field">@rm.GetString("Note")</label>
                            <input autocomplete="off" class="form-control" type="text" id="paper_note_domestic" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("TotalReward")</label>
                            <input autocomplete="off" class="form-control" readonly type="text" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label class="required-field">@rm.GetString("RewardType")</label>
                            <select id="kieuthuong" class="form-control">
                                <option value="Quydinh">@rm.GetString("According")</option>
                                <option value="Canhan">@rm.GetString("Repre")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group" id="block_daidien">
                            <label class="required-field">Chọn đại diện nhận thưởng</label>
                            <select id="daidien" class="form-control">
                            </select>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    <div class="row" id="authors-info-container">
                    </div>
                    <!--end:: Row-->
                    <div class="row">
                        <div class="col-xl-12" style="text-align: left">
                            <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_btn" data-toggle="modal" data-target="#addModal">@rm.GetString("AddAu")</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-center">
                <button class="btn btn-light-success px-6 font-weight-bold" id="submitPaper">@rm.GetString("Send")</button>
            </div>
        </div>
    </div>
    <datalist id="ncv_list">
        <option>1234</option>
        <option>abcd</option>
        <option>12bư</option>
        <option>323q</option>
    </datalist>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-weight-bolder">Thêm tác giả</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("AddAuthor", "PartialView");
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title font-weight-bolder">Chỉnh sửa thông tin tác giả</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("EditAuthor", "PartialView");
                    }
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-light-primary px-6 font-weight-bold hidden" style="display: none" id="edit_author_btn" data-toggle="modal" data-target="#editModal"></button>
</div>
<form style="visibility: hidden" method="post" action="/Paper/Edit" id="PaperForm">
    <input autocomplete="off" name="id" id="nameEdit" />
    <input autocomplete="off" name="editable" id="ckEdit" />
</form>
@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    <script src="~/Content/assets/plugins/custom/draggable/draggable.bundle.js?v=7.0.6"></script>
    <script>
        var uppy1;
        var temp_index_edit;
        var paper_id;
        var people = [];
        var criteria = [];
        function addRequest() {
            var RequestPaper = {
                specialization_id: $("#chuyennganh").val(),
                type: $("#loaithuong").val(),
                reward_type: $("#kieuthuong").val(),
                paper_id: paper_id,
            }
            var daidien = $("#daidien").val();
            $.ajax({
                url: "@Url.Action("AddRequest", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'request': RequestPaper, 'daidien': daidien }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    $("#loading").hide();
                    $("#nameEdit").val(paper_id);
                    $("#ckEdit").val(3);
                    $("#PaperForm").submit();
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        function addAuthor() {
            $.ajax({
                url: "@Url.Action("AddAuthor", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'people': people, 'paper_id': paper_id}),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    addRequest();
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        function addCriteria() {
            $.ajax({
                url: "@Url.Action("AddCriteria", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'criteria': criteria, 'paper_id': paper_id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        addAuthor();
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        var files_data = [];
        $("#submitPaper").click(function () {
            $("#loading").show();
            //let fd = new FormData();
            var ck = true;
            $(".notnull").each(function () {
                if ($(this).val() == "") {
                    $("#loading").hide();
                    toastr.error("Cần nhập đầy đủ các trường có dấu *");
                    ck = false;
                    return false;
                }
            });
            if (people.length == 0) {
                ck = false;
                $("#loading").hide();
                toastr.error("Chưa có tác giả");
            }

            var inputs = $(".tieuchiname");
            var inputs2 = $(".tieuchilink");
            criteria = [];
            for (var i = 0; i < inputs.length; i++) {
                var PaperWithCriteria = {
                    link: $(inputs2[i]).val(),
                    name: $(inputs[i]).val()
                }
                if ($(inputs2[i]).val() == "" && $("#loaithuong").val() == "Quocte") {
                    toastr.error("Tiêu chí chưa có link chứng minh");
                    ck = false;
                    return false;
                }
                criteria.push(PaperWithCriteria);
            }
            if (criteria.length == 0 && $("#loaithuong").val() == "Quocte") {
                toastr.error("Cần có ít nhất 1 tiêu chí");
                ck = false;
            }

            if ($("#loaithuong").val() == "Trongnuoc") {
                if (uppy1.getFiles().length == 0) {
                    toastr.error("Thiếu file chứng minh cho chỉ số tạp chí");
                    ck = false;
                    return false;
                }
            }

            if (ck) {
                var Paper = {
                    name: $("#paper_name").val(),
                    date_string: $("#paper_publish_date").val(),
                    link_doi: $("#paper_full").val(),
                    link_scholar: $("#paper_scholar").val(),
                    paper_type_id: $("#paper_type").val(),
                    journal_name: $("#paper_journal").val(),
                    vol: $("#paper_vol").val(),
                    page: $("#paper_page").val(),
                    company: $("#paper_publish_name").val(),
                    index: $("#paper_index").val(),
                    note_domestic: $("#paper_note_domestic").val(),
                };

                if (uppy1.getFiles().length > 0) {
                    var name = $("#paper_name").val();
                    formData = new FormData();
                    formData.append('file', uppy1.getFiles()[0].data);
                    formData.append('name', name);
                    $.ajax({
                        url: "/Paper/addFile",
                        method: "post",
                        complete: function (data) {
                            var mess = data.responseJSON.mess;
                            if (mess == "ss") {
                                fileid = data.responseJSON.id;
                                $.ajax({
                                    url: "@Url.Action("AddPaper", "Paper")",
                                    type: "POST",
                                    data: JSON.stringify({ 'paper': Paper, 'fileid': fileid }),
                                    contentType: "application/json;charset=utf-8",
                                    datatype: "json",
                                    cache: false,
                                    success: function (response) {
                                        if (response.mess == "ss") {
                                            paper_id = response.id;
                                            addCriteria();
                                        }
                                        else alert('loi');
                                    },
                                    error: function () {
                                        //alert("fail");
                                    }
                                });
                            }
                        },
                        error: function () {
                            toastr.error("Có lỗi xảy ra");
                            save_loader.stopLoading();
                        },
                        dataType: "json",
                        data: formData,
                        processData: false,
                        contentType: false
                    });
                } else {
                    $.ajax({
                        url: "@Url.Action("AddPaper", "Paper")",
                        type: "POST",
                        data: JSON.stringify({ 'paper': Paper, 'fileid': '0' }),
                        contentType: "application/json;charset=utf-8",
                        datatype: "json",
                        cache: false,
                        success: function (response) {
                            if (response.mess == "ss") {
                                paper_id = response.id;
                                addCriteria();
                            }
                            else alert('loi');
                        },
                        error: function () {
                            //alert("fail");
                        }
                    });
                }


            } else {
                ck = true;
            }

        });
        $("#img_link").click(function () {
            window.location.href = "google.comhttps://www.google.com.vn/?hl=vi";
        });
        $(document).ready(function () {
            $("#block_daidien").hide();
            $("#add_author_reward").prop('disabled', true);
            $("#upCM").hide();

            $("#kieuthuong").on("select2:select", function (e) {
                var temp = $("#kieuthuong").val();
                if (temp == "Quydinh") $("#block_daidien").hide();
                else $("#block_daidien").show();
            });

            $("#loaithuong").on("select2:select", function (e) {
                var temp = $(this).val();
                //console.log(temp);
                if (temp == "Quocte") {
                    $(".thuongqt").show();
                    $(".thuongtn").hide();
                } else {
                    $(".thuongqt").hide();
                    $(".thuongtn").show();
                    $(".deletetieuchi").each(function () {
                        $(this).click();
                    });
                }
            });
        });
        $('#chuyennganh').select2({
            allowClear: true
        });
        $('#tieuchi').select2({
            allowClear: true
        });
        $('#kieuthuong').select2({
            allowClear: true
        });
        $('#loaithuong').select2({
            allowClear: true
        });
        $('#paper_type').select2({
            allowClear: true
        });
        $('#daidien').select2({
            allowClear: true
        });

        $("#tieuchi").change(function () {
            var temp = $("#tieuchi").val();
            $("#thuong").append("<div class='col-xl-12 d-flex justify-content-center onetieuchi' style='margin-top: 1rem'>" +
                "<span class='col-xl-2'><input autocomplete='off' readonly value='" + temp + "' class='form-control tieuchiname' name='tieuchiname' type='text' /></span>" +
                "<span class='col-xl-8'><input autocomplete='off'  placeholder='Link' class='form-control tieuchilink' type='text' name='tieuchilink' /></span>" +
                "<span class='col-xl-2'><button class='form-control btn btn-danger deletetieuchi'><i class='flaticon2-trash'></i></button></span>" +
                "</div>");
            var option = $("#tieuchi option[value='" + temp + "']");
            option.prop('disabled', true);
        });

        $("#thuong").on("click", ".deletetieuchi", function () {
            var text = $(this).closest(".onetieuchi").find("input[name='tieuchiname']").val();
            var option = $("#tieuchi option[value='" + text + "']");
            option.prop('disabled', false);
            $(this).closest(".onetieuchi").remove();
        });
    </script>
    <script src="~/Scripts/PartialViewScript.js"></script>
    <script src="~/Scripts/JSUpload.js"></script>
}

