
@{
    //ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}


<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PaperInfo")</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PaperName")</label>
                            <input autocomplete="off" id="paper_name" class="form-control form-control-lg edit edit" type="text" value="@ViewBag.Paper.name" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PublishDate")</label>
                            <input autocomplete="off" id="paper_publish_date" class="form-control form-control-lg edit custom-pickdate" type="text" value="@ViewBag.Paper.publish_date.ToString("MM/yyyy")" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("LinkFull")</label>
                            <input autocomplete="off" id="paper_full" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.link_doi" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>Link scholar</label>
                            <input autocomplete="off" id="paper_scholar" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.link_scholar" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>Loại ấn phẩm</label>
                            <select id="paper_type" class="form-control form-control-lg edit">
                                <option value="1">@rm.GetString("JournalPaper")</option>
                                <option value="2">@rm.GetString("ConferencePaper")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("Specialized")</label>
                            <select id="chuyennganh" class="form-control form-control-lg edit">
                                @{
                                    foreach (var item in ViewBag.listSpec)
                                    {
                                        <option value="@item.specialization_id">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">@rm.GetString("PublishInfo")</h3>
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("JournalName")</label>
                            <input autocomplete="off" id="paper_journal" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.journal_name" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("Vol")</label>
                            <input autocomplete="off" id="paper_vol" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.vol" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("Page")</label>
                            <input autocomplete="off" id="paper_page" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.page" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("PublishName")</label>
                            <input autocomplete="off" id="paper_publish_name" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.company" />
                        </div>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
                    <div class="row" id="thuong">
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("CriteriaType")</label>
                            <select id="loaithuong" class="form-control form-control-lg edit">
                                <option value="2">@rm.GetString("International")</option>
                                <option value="1">@rm.GetString("Domestic")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongqt">
                            <label>@rm.GetString("Criteria")</label>
                            <select id="tieuchi" class="form-control form-control-lg edit">
                                <option value="0" selected disabled>@rm.GetString("Criteria")</option>
                                @{
                                    foreach (var item in ViewBag.listCriteria)
                                    {
                                        <option class="optiontieuchi" value="@item.name" name="@item.criteria_id">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xl-6 form-group thuongtn" style="display: none">
                            <label style="color:#fff">abc</label>
                            <button class="btn btn-primary form-control form-control-lg edit">@rm.GetString("ListMaga")</button>
                        </div>
                        <div class="col-xl-4 form-group thuongtn" style="display: none">
                            <label>@rm.GetString("JournalIndex")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" type="text" value="@ViewBag.Paper.index" id="paper_index" />
                        </div>
                        <div class="col-xl-3 form-group thuongtn">
                            <label>@rm.GetString("FileCM")</label>
                            <a href="@ViewBag.Paper.link_file" target="_blank" class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control">View</a>
                        </div>
                        <div class="col-xl-5 form-group thuongtn" style="display: none">
                            <label>@rm.GetString("Note")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" type="text" id="paper_note_domestic" value="@ViewBag.Paper.note_domestic" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("TotalReward")</label>
                            <input autocomplete="off" class="form-control form-control-lg edit" id="totalreward" readonly type="text" value="@ViewBag.Paper.total_reward" />
                        </div>
                        <div class="col-xl-6 form-group">
                            <label>@rm.GetString("RewardType")</label>
                            <select id="kieuthuong" class="form-control form-control-lg edit">
                                <option value="2">@rm.GetString("According")</option>
                                <option value="1">@rm.GetString("Repre")</option>
                            </select>
                        </div>
                        <div class="col-xl-6 form-group" id="block_daidien">
                            <label class="required-field">Chọn đại diện nhận thưởng</label>
                            <select id="daidien" class="form-control form-control-lg edit">
                            </select>
                        </div>
                        @{
                            foreach (var item in ViewBag.listCriteriaOne)
                            {
                                <div class='col-xl-12 d-flex justify-content-center onetieuchi' style="margin-top: 1rem">
                                    <span class='col-xl-2'><input readonly value="@item.name" class='form-control form-control-lg edit tieuchiname' name='tieuchiname' type='text' /></span>
                                    <span class='col-xl-8'><input placeholder='Link' class='form-control form-control-lg edit tieuchilink' type='text' value="@item.link" /></span>
                                    <span class='col-xl-2'><button class='form-control form-control-lg edit btn btn-danger deletetieuchi'><i class='flaticon2-trash'></i></button></span>
                                </div>
                            }
                        }

                    </div>

                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("AuthorInfo")</h3>
                    <div class="row" id="authors-info-container">
                    </div>
                    <!--end:: Row-->
                    <div class="row">
                        <div class="col-xl-12" style="text-align: left">
                            <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_btn" data-toggle="modal" data-target="#addModal">@rm.GetString("AddAu")</button>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-light-success px-6 font-weight-bold edit" id="edit_submit">@rm.GetString("Send")</button>
                        <button class="btn btn-light-success px-6 font-weight-bold ml-1" id="edit_submit_reward">Xác nhận thưởng cho tác giả</button>
                        <button class="btn btn-light-success px-6 font-weight-bold ml-1" id="view_decision">Xem quyết định thưởng của bài báo</button>
                    </div>
                    <h3 class="mb-10 font-weight-bold text-dark mt-10">@rm.GetString("CmtInfo")</h3>
                    <div>
                        @{
                            Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="btn_link" style="display:none">

</div>
<datalist id="ncv_list">
    <option>1234</option>
    <option>abcd</option>
    <option>12bư</option>
    <option>323q</option>
</datalist>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("AddAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa thông tin tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("EditAuthor", "PartialView");
                }
            </div>
        </div>
    </div>
</div>
<form style="visibility: hidden" method="post" action="/Paper/Edit" id="PaperForm">
    <input name="id" id="nameEdit" />
    <input name="editable" id="ckEdit" />
</form>
<button class="btn btn-light-primary px-6 font-weight-bold hidden" style="display: none" id="edit_author_btn" data-toggle="modal" data-target="#editModal"></button>
@section scripts{
    <script src="~/Scripts/ListAllPaper.js"></script>
    @*<script src="~/Scripts/PartialViewScript.js"></script>*@
    <script>
        var paper_id = "@ViewBag.id";
        var ck = "@ViewBag.ckEdit";
        var check = true;
        var people = [];
        var criteria = [];
        $('#chuyennganh').select2({
            allowClear: true
        });
        $('#tieuchi').select2({
            allowClear: true
        });
        $('#kieuthuong').select2({
            allowClear: true
        });
        $('#loaithuong').select2({
            allowClear: true
        });
        $('#paper_type').select2({
            allowClear: true
        });
        $('#daidien').select2({
            allowClear: true
        });

        function editRequest() {
            var RequestPaper = {
                specialization_id: $("#chuyennganh").val(),
                type: $("#loaithuong").val(),
                reward_type: $("#kieuthuong").val(),
                paper_id: paper_id
            }
            var daidien = $("#daidien").val();
            $.ajax({
                url: "@Url.Action("editRequest", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'item': RequestPaper, 'daidien': daidien }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    $("#loading").hide();
                    $("#nameEdit").val(response.id);
                    $("#ckEdit").val(3);
                    $("#PaperForm").submit();
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        function editCriteria() {

            $.ajax({
                url: "@Url.Action("editCriteria", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'criteria': criteria, 'paper_id': paper_id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        //alert(response.mess);
                        editAuthor();
                        //$("#nameEdit").val(paper_id);
                        //$("#ckEdit").val(3);
                        //$("#PaperForm").submit();
                    }
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        function editAuthor() {
            $.ajax({
                url: "@Url.Action("editAuthor", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'people': people, 'paper_id': paper_id}),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        editRequest();
                    }
                    //addCriteria();
                },
                error: function () {
                    //alert("fail");
                }
            });
        }

        $("#edit_submit_reward").click(function () {
            $("#loading").show();
            var sum = 0;
            var total = $("#totalreward").val();
            total = total.split(",").join("");

            for (var i = 0; i < people.length; i++) {
                var data = people[i].money_string;
                var temp = data.split(",").join("");
                sum = parseInt(sum) + parseInt(temp);
            }
            if (sum > parseInt(total)) {
                toastr.error("Tổng tiền thưởng tác giả quá tổng thưởng bài báo", "Lỗi");
                $("#loading").hide();
                return false;
            } else if (sum < parseInt(total)) {
                toastr.error("Tổng tiền thưởng tác giả chưa bằng tổng thưởng bài báo", "Lỗi");
                $("#loading").hide();
                return false;
            } else {
                $.ajax({
                url: "@Url.Action("editPaperAuthorReward", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'people': people, 'paper_id': paper_id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        $(".add_author_reward_edit").prop("disabled", true);
                        $("#edit_submit_reward").prop("disabled", true);
                        $("#loading").hide();
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
            }

        });

        $("#edit_submit").click(function () {
            $("#loading").show();

            var temp = $("#paper_publish_date").val();
            var arr = temp.split('/');
            var dateFormat
            if (arr.length == 3) dateFormat = arr[1] + '/' + arr[0] + '/' + arr[2];
            else dateFormat = arr[0] + '/01/' + arr[1];

            var inputs = $(".tieuchiname");
            var inputs2 = $(".tieuchilink");
            criteria = [];
            for (var i = 0; i < inputs.length; i++) {
                var PaperWithCriteria = {
                    link: $(inputs2[i]).val(),
                    name: $(inputs[i]).val()
                }
                if ($(inputs2[i]).val() == "" && $("#loaithuong").val() == "2") {
                    $("#loading").hide();
                    toastr.error("Tiêu chí chưa có link chứng minh");
                    check = false;
                    return false;
                }
                criteria.push(PaperWithCriteria);
            }
            if (criteria.length == 0 && $("#loaithuong").val() == "2") {
                $("#loading").hide();
                toastr.error("Cần có ít nhất 1 tiêu chí");
                check = false;
            }

            if (people.length == 0) {
                check = false;
                $("#loading").hide();
                toastr.error("Chưa có tác giả");
            }


            var Paper = {
                name: $("#paper_name").val(),
                publish_date: dateFormat,
                link_doi: $("#paper_full").val(),
                link_scholar: $("#paper_scholar").val(),
                paper_type_id: $("#paper_type").val(),
                journal_name: $("#paper_journal").val(),
                vol: $("#paper_vol").val(),
                page: $("#paper_page").val(),
                company: $("#paper_publish_name").val(),
                index: $("#paper_index").val(),
                note_domestic: $("#paper_note_domestic").val(),
            };

            if (check) {
                $.ajax({
                    url: "@Url.Action("editPaper", "Paper")",
                    type: "POST",
                    data: JSON.stringify({ 'paper': Paper, 'paper_id': paper_id }),
                    contentType: "application/json;charset=utf-8",
                    datatype: "json",
                    cache: false,
                    success: function (response) {
                        if (response.mess == "ss") {
                            editCriteria();
                        }
                        else alert('loi');
                    },
                    error: function () {
                        //alert("fail");
                    }
                });
            } else check = true;
        });

        $("#view_decision").click(function () {
            $(".link").each(function () {
                //alert("a");
                var temp = $(this).attr('href');
                //console.log(temp);
                window.open(temp, "_blank");
            });
        });

        $(document).ready(function () {
            if (ck != "5") {
                $(".edit").prop("disabled", true);
                $("#add_author_btn").prop("disabled", true);
            }
            else $(".edit").prop("disabled", false);

            if (ck == "2" || ck == "6") {
                $("#view_decision").show();
                $("#edit_submit").hide();
                $.ajax({
                    url: "@Url.Action("getDecision", "Paper")",
                    type: "post",
                    data: { 'id': paper_id },
                    cache: false,
                    success: function (data) {
                        for (var i = 0; i < data.link.length; i++) {
                            $("#btn_link").append("<a class='link' target='_blank' href='" + data.link[i] + "'>abc</a>");
                        }
                        //var a = document.getElementById('view_decision');
                        //a.href = data.link;
                        //$("#view_decision").href("")
                    },
                    error: function () {

                    }
                });
            }
            else $("#view_decision").hide();

            var paper_type = "@ViewBag.Paper.paper_type_id";
            $("#paper_type").val(paper_type);
            $("#paper_type").trigger('change');

            var paper_TNQT = "@ViewBag.Paper.type";
            if (paper_TNQT == "2") {
                $("#loaithuong").val("2");
                $(".thuongqt").show();
                $(".thuongtn").hide();
            }
            else {
                $("#loaithuong").val("1");
                $(".thuongqt").hide();
                $(".thuongtn").show();
            }
            $("#loaithuong").trigger('change');

            var kieuthuong = "@ViewBag.Paper.reward_type";
            if (kieuthuong == "2") {
                $("#kieuthuong").val("2");
                $("#block_daidien").hide();
            }
            if (kieuthuong == "1") $("#kieuthuong").val("1");
            $("#kieuthuong").trigger('change');

            var spec = "@ViewBag.Paper.specialization_id";
            $("#chuyennganh").val(spec);
            $("#chuyennganh").trigger('change');

            $(".tieuchivalue").each(function () {
                var temp = $(this).val();
                var option = $("#tieuchi option[value='" + temp + "']");
                option.prop('disabled', true);
            });

            $("#kieuthuong").on("select2:select", function (e) {
                var temp = $("#kieuthuong").val();
                if (temp == "2") $("#block_daidien").hide();
                else {
                    $("#block_daidien").show();
                    addOption();
                }
            });

            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));


            $.ajax({
                url: "@Url.Action("listAuthor", "Paper")",
                type: "POST",
                data: { 'id': paper_id},
                cache: false,
                success: function (response) {
                    for (var i = 0; i < response.author.length; i++) {
                        add_author_workplace = response.author[i].office_abbreviation;
                        add_author_msnv = response.author[i].mssv_msnv;
                        add_author_name = response.author[i].name;
                        add_author_title = response.author[i].title_name;
                        add_author_contractType = 1;
                        add_author_cmnd = response.author[i].identification_number;
                        add_author_tax = response.author[i].tax_code;
                        add_author_bank = response.author[i].bank_branch;
                        add_author_accno = response.author[i].bank_number;
                        add_author_isReseacher = response.author[i].is_reseacher;

                        var temp_money = response.author[i].money_reward;
                        if (response.author[i].money_reward != null) add_author_reward = temp_money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        else add_author_reward = temp_money;

                        add_author_note = '';
                        add_author_email = response.author[i].email;
                        id = new Date().getTime();
                        au = new AuthorInfoView(add_author_workplace, add_author_msnv, add_author_name,
                            add_author_title, add_author_contractType, add_author_cmnd, add_author_tax,
                            add_author_bank, add_author_accno, add_author_reward, add_author_note, add_author_email, add_author_isReseacher, id, response.author[i].identification_file_link);
                        $("#authors-info-container").append(au.getHTML());
                        var AddAuthor = {
                            name: add_author_name,
                            email: add_author_email,
                            bank_number: add_author_accno,
                            tax_code: add_author_tax,
                            bank_branch: add_author_bank,
                            identification_number: add_author_cmnd,
                            mssv_msnv: add_author_msnv,
                            office_id: response.author[i].office_id_string,
                            contract_id: 1,
                            title_id: response.author[i].title_id,
                            people_id: response.author[i].people_id,
                            temp_id: id,
                            office_abbreviation: response.author[i].office_abbreviation,
                            is_reseacher: response.author[i].is_reseacher,
                            money_string: add_author_reward,
                            identification_file_link: response.author[i].identification_file_link
                        }
                        people.push(AddAuthor);
                    }
                    addOption();
                    
                    $("#daidien").val(response.ms);

                    if (ck == "2" || ck == "6" || ck == "7") {
                        if ($("#totalreward").val() != "" && $("#totalreward").val() != "0" && $("#kieuthuong").val() == "1") {
                            $("#edit_submit_reward").show();

                            var sum = 0;
                            var total = $("#totalreward").val();
                            if (total != null) total = total.split(",").join("");

                            for (var j = 0; j < people.length; j++) {
                                var data = people[j].money_string;
                                if (people[j].money_string == null) data = "0";
                                var temp = data.split(",").join("");
                                sum = parseInt(sum) + parseInt(temp);
                            }
                            console.log(sum != parseInt(total));

                            if (sum != parseInt(total)) $("#add_author_reward_edit").prop("disabled", false);
                            else $(".edit-author").prop('disabled', true);
                        } else if ($("#kieuthuong").val() == "2") {
                            $(".edit-author").prop('disabled', true);
                        }
                    }else if (ck != "5") {
                        $(".edit").prop("disabled", true);
                        $(".edit-author").prop("disabled", true);
                        $("#edit_submit_reward").hide();
                    } else {
                        $(".edit").prop("disabled", false);
                        $(".edit-author").prop("disabled", false);
                        $("#edit_submit_reward").hide();
                    }


                },
                error: function () {
                    //alert("fail");
                }
            });
        });
        $("#loaithuong").change(function () {
            var temp = $(this).val();
            //console.log(temp);
            if (temp == "2") {
                $(".thuongqt").show();
                $(".thuongtn").hide();
            } else {
                $(".thuongqt").hide();
                $(".thuongtn").show();
                $(".deletetieuchi").each(function () {
                    $(this).click();
                });
            }
        });

        $("#tieuchi").change(function () {
            var temp = $("#tieuchi").val();
            $("#thuong").append("<div class='col-xl-12 d-flex justify-content-center onetieuchi' style='margin-top: 1rem'>" +
                "<span class='col-xl-2'><input autocomplete='off' readonly value='" + temp + "' class='form-control form-control-lg edit tieuchiname' name='tieuchiname' type='text' /></span>" +
                "<span class='col-xl-8'><input autocomplete='off' placeholder='Link' class='form-control form-control-lg edit tieuchilink' type='text' /></span>" +
                "<span class='col-xl-2'><button class='form-control form-control-lg edit btn btn-danger deletetieuchi'><i class='flaticon2-trash'></i></button></span>" +
                "</div>");
            var option = $("#tieuchi option[value='" + temp + "']");
            option.prop('disabled', true);
        });

        $("#thuong").on("click", ".deletetieuchi", function () {
            var text = $(this).closest(".onetieuchi").find("input[name='tieuchiname']").val();
            var option = $("#tieuchi option[value='" + text + "']");
            option.prop('disabled', false);
            $(this).closest(".onetieuchi").remove();
        });
    </script>
    <script src="~/Scripts/PartialViewScript.js"></script>
}