
@{
    //ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="">
                    <table id="pending_table" class="table table-separate table-head-custom table-checkable">
                        <thead>
                            <tr>
                                <th>@rm.GetString("PaperName")/@rm.GetString("InvenName")</th>
                                <th>@rm.GetString("RequestDate")</th>
                                <th>@rm.GetString("Status")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>An Evaluation of Image-Based Malware Classification Using Machine Learning</td>
                                <td>10/12/2019</td>
                                <td>1</td>
                                <td><a href="#" class="btn btn-bg-secondary">@rm.GetString("Edit")</a></td>
                            </tr>
                            <tr>
                                <td>Recognition and Quantity Estimation of Pastry Images Using Pre-training Deep Convolutional Networks</td>
                                <td>09/12/2019</td>
                                <td>3</td>
                                <td><a href="#" class="btn btn-bg-primary">@rm.GetString("View")</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#pending_table").DataTable({
                oLanguage: {
                    oPaginate: {
                        sPrevious: "@rm.GetString("Pre")",
                        sNext: "@rm.GetString("Next")"
                    },
                    sEmptyTable: "@rm.GetString("EmptyTB")",
                    sInfo: "@rm.GetString("ShowTB")",
                    sLengthMenu: "@rm.GetString("Show") <select>" +
                        "<option value='5'>5</option>" +
                        "<option value='10'>10</option>" +
                        "<option value='20'>20</option>" +
                        "</select> @rm.GetString("Record")",
                    sSearch: "@rm.GetString("Search")"
                },
                columns: [
                    { width: "55%" },
                    { width: "15%" },
                    { width: "15%" },
                    { width: "15%" }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, full, meta) {
                            var status = {
                                1: {
                                    'title': 'Cần chỉnh sửa',
                                    'class': 'label-light-warning'
                                },
                                2: {
                                    'title': 'Đã hủy',
                                    'class': ' label-light-danger'
                                },
                                3: {
                                    'title': 'Đang phê duyệt',
                                    'class': ' label-light-primary'
                                },
                                4: {
                                    'title': 'Đã xong',
                                    'class': ' label-light-success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="label label-lg font-weight-bold' + status[data].class + ' label-inline">' + status[data].title + '</span>';
                        },
                    },
                ],
            });
        });
    </script>
}

