
@{
    ViewBag.Title = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using System.Globalization;
<style>
    .nav-link {
        font-size: 17px;
    }

    #research_avatar {
        width: 15rem;
        border-radius: 50%
    }
</style>
<div class="col-12">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <!--begin::Profile Personal Information-->
            <div class="row">
                <!--begin::Aside-->
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="col-12">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">THÔNG TIN CHUNG</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Cập nhật thông tin cho nghiên cứu viên</span>
                            </div>
                            <div class="card-toolbar">
                                <div id="edit-control-area">
                                    <button type="reset" id="save-btn" class="btn btn-success mr-2">Lưu</button>
                                    <button type="reset" id="cancel-btn" class="btn btn-secondary">Huỷ</button>
                                </div>
                                <div id="edit-enable-area">
                                    <button type="reset" id="edit-enable-btn" class="btn btn-primary mr-2">Chỉnh sửa thông tin</button>
                                </div>
                            </div>
                        </div>
                        <div class="progress" style=" border-radius: 0" id="progress-bar">
                            <div class="progress-bar progress-bar-striped progress-bar-animated "
                                 role="progressbar" style="width: 100%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <form class="form">
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Hình đại diện</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="image-input image-input-outline" id="kt_image_avatar" style="background-image: url(@(ViewBag.profile.avatar==null?"/Content/assets/media/users/blank.png":ViewBag.profile.avatar))">
                                            <div class="image-input-wrapper" style="background-image: url()"></div>

                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>

                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>
                                        </div>
                                        <span class="form-text text-muted">Allowed file types:  png, jpg, jpeg.</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Họ tên</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_name" disabled type="text" value="@ViewBag.profile.name" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Quốc tịch</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group date" id="kt_datetimepicker_2" data-target-input="nearest">
                                            <input type="text" id="researcher_dob" class="form-control datetimepicker-input researcher_infomation" value="@(ViewBag.profile.dob == null ? "" : ViewBag.profile.dob.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture))" placeholder="Chọn ngày sinh" disabled data-target="#kt_datetimepicker_2" />
                                            <div class="input-group-append" data-target="#kt_datetimepicker_2" data-toggle="datetimepicker">
                                                <span class="input-group-text">
                                                    <i class="ki ki-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- <span class="form-text text-muted pt-2">Use locals from <a href="https://momentjs.com/">https://momentjs.com/</a></span> -->
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Quốc tịch</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <select class="form-control select2  researcher_infomation" disabled id="country_select" name="param">
                                            @foreach (SelectField a in ViewBag.profile.countries_fields)
                                            {
                                                <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Chức danh</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                            <select class="form-control select2  researcher_infomation" disabled id="title_select" name="param" multiple="multiple">
                                                @foreach (SelectField a in ViewBag.profile.title_fields)
                                                {
                                                    <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Chức vụ</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                            <select class="form-control select2  researcher_infomation" disabled id="position_select" name="param" multiple="multiple">
                                                @foreach (SelectField a in ViewBag.profile.position_fields)
                                                {
                                                    <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h5 class="font-weight-bold mt-10 mb-6">Thông tin liên hệ</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">SĐT</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                            <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_phone" disabled value="@ViewBag.profile.phone" placeholder="Phone" />
                                        </div>
                                        @*<span class="form-text text-muted">We'll never share your email with anyone else.</span>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                            <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_email" disabled value="@ViewBag.profile.email" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Website</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-internet-explorer"></i></span></div>
                                            <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_website" disabled value="@ViewBag.profile.website" placeholder="Google scholar" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Google Scholar</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-google"></i></span></div>
                                            <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_gscholar" disabled value="@ViewBag.profile.gscholar" placeholder="CV" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">CV</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-address-card"></i></span></div>
                                            <input type="text" class="form-control form-control-lg form-control-solid researcher_infomation" id="researcher_cv" disabled value="@ViewBag.profile.cv" placeholder="CV" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Lĩnh vực quan tâm</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            @*<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-braille"></i></span></div>*@
                                            <select class="form-control select2  researcher_infomation" disabled id="interested_fields_select" name="param" multiple="multiple">
                                                @foreach (SelectField a in ViewBag.profile.interested_fields)
                                                {
                                                    <option value="@a.id" @(a.selected == 1 ? "selected" : "")>@a.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </form>
                        <!--end::Form-->
                    </div>

                </div>
                <!--end::Content-->
            </div>
            <div class="row">
                <!--begin::Aside-->
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="col-12">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">TIẾU SỬ HỌC TẬP</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="acad_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Học vị</th>
                                                <th>Nơi học tập</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_hoctap" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử học tập
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end::Content-->
            </div>
            <!--enddd::Profile Personal Information-->
            <div class="row">
                <!--begin::Aside-->
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="col-12">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">TIẾU SỬ CÔNG TÁC</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="work_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Đơn vị công tác</th>
                                                <th>Chức vụ/ vai trò</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_themtieusu_congtac" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm tiểu sử công tác
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end::Content-->
            </div>
            <div class="row">
                <!--begin::Aside-->
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="col-12">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">GIẢI THƯỞNG</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-xl-3"></label>
                                <div class="col-lg-12 col-xl-12">
                                    <table class="custom-add-table table table-bordered" id="award_history_table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Cuộc thi/giải thưởng</th>
                                                <th>Thứ hạng</th>
                                                <th>Thời gian</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 col-xl-12" style="text-align: right">
                                    <button data-toggle="modal" data-target="#modal_them_award" href="#" class="add-btn btn btn-light-success px-6 font-weight-bold">
                                        <i style="color: #1BC5BD; padding-bottom:0.1rem" class="far fa-plus-square"></i>
                                        Thêm giải thưởng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Content-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!-- Modal hoc tap-->
<div class="modal fade" id="modal_themtieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử học tập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <select type="text" class="form-control" placeholder="Học vị" id="acad_hocvi">
                                <option value="" disabled selected>Học vị</option>
                                @foreach (SelectField a in ViewBag.listAcadDegree)
                                {
                                    <option value="@a.id">@a.name</option>
                                }
                            </select>
                            <span><i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Nơi học tập" id="acad_location">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="add_acad_start" placeholder="Start date" data-target="#kt_datetimepicker_7_1" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_1" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_2" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_acad_end" data-target="#kt_datetimepicker_7_2" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_2" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                <span><i class="far fa-sticky-note"></i></span>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_acad">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal cong tac-->
<div class="modal fade" id="modal_themtieusu_congtac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm tiểu sử công tác</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Đơn vị công tác" id="work_location">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Chức danh" id="work_title">
                            <span><i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="add_work_start" placeholder="Start date" data-target="#kt_datetimepicker_7_3" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_3" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="add_work_end" data-target="#kt_datetimepicker_7_4" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_4" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary font-weight-bold" id="submit_new_work">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit hoc tap-->
<div class="modal fade" id="modal_suatieusu_hoctap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa tiểu sử học tập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <select type="text" class="form-control" placeholder="Học vị" id="acad_suahocvi">
                                <option value="" disabled selected>Học vị</option>
                                @foreach (SelectField a in ViewBag.listAcadDegree)
                                {
                                    <option value="@a.id">@a.name</option>
                                }
                            </select>
                            <span><i class="far fa-bookmark"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Nơi học tập" id="edit_location">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_5" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="edit-acad-start" placeholder="Start date" data-target="#kt_datetimepicker_7_5" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_5" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_6" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="edit-acad-end" data-target="#kt_datetimepicker_7_6" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_6" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row form-group">
                        <div class="col-12">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Ghi chú" id="kt_datatable_search_query">
                                <span><i class="far fa-sticky-note"></i></span>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_acad">Lưu</button>
                <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_acad">Xoá</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal edit work-->
<div class="modal fade" id="modal_suatieusu_work" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa tiểu sử công tác</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Đơn vị công tác" id="edit_work_location">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Chức danh" id="edit_work_title">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_7" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="edit-work-start" placeholder="Start date" data-target="#kt_datetimepicker_7_7" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_7" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group date" id="kt_datetimepicker_7_8" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="End date" id="edit-work-end" data-target="#kt_datetimepicker_7_8" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_7_8" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_work">Lưu</button>
                <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_work">Xoá</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Modal them award-->
<div class="modal fade" id="modal_them_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm giải thưởng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Tên cuộc thi" id="add_award_name">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Thứ hạng" id="add_award_rank">
                            <span><i class="far fa-hand-rock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group date" id="date_award" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="add_award_date" placeholder="Thời gian" data-target="#date_award" />
                                    <div class="input-group-append" data-target="#date_award" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_new_award">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_edit_award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin giải thưởng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Tên cuộc thi" id="edit_award_name">
                            <span><i class="fas fa-map-pin"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Thứ hạng" id="edit_award_rank">
                            <span><i class="far fa-hand-rock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group date" id="edit_date_award" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="sua_award_date" placeholder="Thời gian" data-target="#edit_date_award" />
                                    <div class="input-group-append" data-target="#edit_date_award" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-success font-weight-bold" id="submit_edit_award">Lưu</button>
                <button type="button" class="btn btn-light-danger font-weight-bold" id="delete_award">Xoá</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var save_loader = new LoaderBtn($("#save-btn"))
            $("#save-btn").click(function () {
                save_loader.startLoading()
                $(".researcher_infomation").attr('disabled', false)
            })
        })
        $("#main-container").attr("style", "background-color:rgb(255 255 255 / 0%) !important; box-shadow:none")
        $(".research-info-link").each(function () {
            if ($(this).attr('href').trim() == window.location.pathname) {
                $(this).addClass('active')
            }
        })
        // Class definition
        var KTSelect2 = function () {
            // Private functions
            var demos = function () {
                // multi select
                $('#title_select').select2({
                    placeholder: 'Chọn chức danh',
                    tags: true
                });
                $('#country_select').select2({
                    placeholder: 'Chọn quốc tịch',
                    tags: true
                });
                $('#position_select').select2({
                    placeholder: 'Chọn chức vụ',
                    tags: true
                });
                $('#interested_fields_select').select2({
                    placeholder: 'Chọn lĩnh vực quan tâm',
                    tags: true
                });
            }
            return {
                init: function () {
                    demos();
                }
            };
        }();
        // Initialization
        jQuery(document).ready(function () {
            KTSelect2.init();
        });
        function enableEdit() {
            $("#edit-control-area").show()
            $("#edit-enable-area").hide()
            $(".researcher_infomation").attr('disabled', false)
        }
        var KTBootstrapDatetimepicker = function () {
            // Private functions
            var baseDemos = function () {
                $('#kt_datetimepicker_2').datetimepicker({
                    format: 'DD-MM-YYYY'
                });
            }
            return {
                // Public functions
                init: function () {
                    baseDemos();
                }
            };
        }();
        jQuery(document).ready(function () {
            KTBootstrapDatetimepicker.init();
        });
    </script>
    <script>
    </script>
    <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-bio.js"></script>
    <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-change-avt.js"></script>
    <script src="~/Content/Custom JS/ScienceManagement/Researcher/researcher-edit-info.js"></script>
}