
@{
    ViewBag.Title = "Danh sách Nghiên cứu viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class=" container ">
        <!--begin::Row-->
        
        <div class="row">
            <!--begin::Col-->
            @{
                var colors = new List<string> { "success", "danger", "warning", "primary"};
                //int rownum = ViewBag.list_demo.Length;
                foreach (var researcher in ViewBag.list)
                {
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b card-stretch">
                            <!--begin::Body-->
                            <div class="card-body text-center pt-4">
                                <!--begin::Toolbar-->
                                <!--end::Toolbar-->
                                <!--begin::User-->
                                <div class="mt-7 pb-2">
                                    <div class="symbol symbol-circle symbol-lg-5 d-none">
                                        <img src="assets/media/users/300_1.jpg" alt="image">
                                    </div>
                                    <div class="symbol symbol-lg-75 symbol-circle symbol-light-@colors[new Random().Next(0,colors.Count) ]">
                                        <a href="/Researchers/ViewInfo" class="font-size-h3 symbol-label font-weight-boldest">@researcher.name[0]</a>
                                    </div>
                                </div>
                                <!--end::User-->
                                <!--begin::Name-->
                                <div class="my-2">
                                    <a href="/Researchers/ViewInfo" class="text-dark font-weight-bold text-hover-primary font-size-h4">@researcher.name</a>
                                </div>
                                <!--end::Name-->
                                <!--begin::Label-->

                                <a  class="label label-inline label-lg label-light-success font-weight-bold">@researcher.office_name</a>
                                <!--end::Label-->
                                <!--begin::Buttons-->
                                <div class="mt-9 mb-6">
                                    <a href="@researcher.google_scholar" class="btn btn-md btn-icon btn-light-facebook btn-pill mx-2">
                                        <i class="socicon-facebook"></i>
                                    </a>
                                    <a href="@researcher.website" class="btn btn-md btn-icon btn-light-twitter btn-pill mx-2">
                                        <i class="socicon-twitter"></i>
                                    </a>
                                    <a href="@researcher.email" class="btn btn-md btn-icon btn-light-linkedin btn-pill mx-2">
                                        <i class="socicon-linkedin"></i>
                                    </a>
                                </div>
                                <!--end::Buttons-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Card-->
                    </div>
                }
            }

            <!--end::Col-->
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex flex-wrap mr-3">
                <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i class="ki ki-bold-double-arrow-back icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i class="ki ki-bold-arrow-back icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 active my-1">1</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">2</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">3</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1">...</a>
                <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i class="ki ki-bold-arrow-next icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i class="ki ki-bold-double-arrow-next icon-xs"></i></a>
            </div>
            <div class="d-flex align-items-center">
                <select class="form-control form-control-sm text-primary font-weight-bold mr-4 border-0 bg-light-primary" style="width: 75px;">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="text-muted">Displaying 10 of 230 records</span>
            </div>
        </div>
        <!--end::Pagination-->
    </div>
    <!--end::Container-->
</div>
@section scripts{

}
