
@{
    ViewBag.Title = "Thông tin nghiên cứu viên: " + ViewBag.researcher_name; ///Sau để biêến tên researcher vaoào đayây
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ENTITIES;
@using ENTITIES.CustomModels.ScienceManagement.Researcher;
@using GUEST.Models;
<style>
    h3.card-label {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    #rewards_list {
        margin-bottom: 2rem
    }

    .major {
        margin-bottom: 1rem !important
    }

    .social-link {
        margin-top: 1rem;
        color: white !important;
        text-align: center;
    }

        .social-link i {
            padding-right: 0rem !important;
        }
</style>
<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin::Details-->
        <div class="d-flex mb-9">
            <!--begin: Pic-->
            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                <div class="symbol symbol-50 symbol-lg-120">
                    <img src="@(ViewBag.profile.avatar == null ? "/Content/assets/media/users/blank.png" : ViewBag.profile.avatar)" alt="image" />
                </div>

                <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
                    <span class="font-size-h3 symbol-label font-weight-boldest">JM</span>
                </div>
            </div>
            <!--end::Pic-->
            <!--begin::Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between flex-wrap mt-1">
                    <div class="d-flex mr-3">
                        <a href="#" class="text-dark-75 text-hover-primary font-size-h5 font-weight-bold mr-3">@ViewBag.profile.name</a>
                        <a href="#"><i class="flaticon2-correct text-success font-size-h5"></i></a>
                    </div>
                    @if (CurrentAccount.getProfile(Session) != null && CurrentAccount.getProfile(Session).people_id == ViewBag.profile.id)
                    {
                        <div class="my-lg-0 my-3">
                            <a href="/Researchers/EditInfo?id=@CurrentAccount.getProfile(Session).people_id" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">Cập nhật thông tin</a>
                        </div>
                    }
                </div>
                <!--end::Title-->
                <!--begin::Content-->
                <div class="d-flex flex-wrap justify-content-between mt-1">
                    <div class="d-flex flex-column flex-grow-1 pr-8">
                        <div class="d-flex flex-wrap mb-4">
                            @if (ViewBag.profile.email != null && ViewBag.profile.email.Trim() != "")
                            {
                                <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"><i class="flaticon2-new-email mr-2 font-size-lg"></i>@ViewBag.profile.email</a>
                            }
                            @if (ViewBag.profile.website != null && ViewBag.profile.website.Trim() != "")
                            {
                                <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"><i class="flaticon2-calendar-3 mr-2 font-size-lg"></i>@ViewBag.profile.website </a>
                            }
                            @if (ViewBag.profile.office != null && ViewBag.profile.office.Trim() != "")
                            {
                                <a href="#" class="text-dark-50 text-hover-primary font-weight-bold"><i class="flaticon2-placeholder mr-2 font-size-lg"></i>@ViewBag.profile.office</a>
                            }

                        </div>
                        <span class="font-weight-bold text-dark-50" style="margin-bottom:0.5rem">
                            @foreach (SelectField s in ViewBag.profile.title_fields)
                            {
                                <span class="label label-outline-danger label-pill label-inline mr-2">@s.name</span>
                            }
                        </span>
                        <span class="font-weight-bold text-dark-50">
                            @foreach (SelectField s in ViewBag.profile.position_fields)
                            {
                                <span class="label label-outline-success label-pill label-inline mr-2">@s.name</span>
                            }
                        </span>
                    </div>

                </div>
                <!--end::Content-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Details-->
        <div class="separator separator-solid"></div>
        <div class="row" id="social-link">
            <div class="col-12">
                <div class="form-group">
                    <a href="@ViewBag.profile.gscholar" class="social-link btn btn-light-danger mr-2" data-toggle="tooltip" data-theme="dark" title="Google Scholar"><i class="fab fa-google "></i></a>
                    <a href="@ViewBag.profile.gscholar" class="social-link btn btn-light-primary mr-2" data-toggle="tooltip" data-theme="dark" title="Linkedin"><i class="fab fa-linkedin "></i></a>
                    <a href="@ViewBag.profile.website" class="social-link btn btn-light-success mr-2" data-toggle="tooltip" data-theme="dark" title="Website"><i class="fas fa-globe icon-md"></i></a>
                    <a href="@ViewBag.profile.cv" class="social-link btn btn-light-warning mr-2" data-toggle="tooltip" data-theme="dark" title="CV"><i class="fas fa-id-card icon-md"></i></a>
                </div>
            </div>
        </div>
        <!--begin::Items-->
    </div>
</div>
<!--end::Card-->
<!--begin::Row-->
<div class="row">
    <div class="col-lg-4">
        <!--begin::Mixed Widget 14-->
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title font-weight-bolder ">Tiểu sử</h3>
                    </div>
                    <div class="card-body">
                        <div class="timeline timeline-1">
                            <div class="timeline-sep bg-primary-opacity-20"></div>
                            @foreach (AcadBiography a in ViewBag.profile.acadBiography)
                            {
                                <div class="timeline-item">
                                    <div class="timeline-label">@a.time</div>
                                    <div class="timeline-badge">
                                        <i class="flaticon2-layers text-success "></i>
                                    </div>
                                    <div class="timeline-content text-muted font-weight-normal">
                                        @a.degree: @a.place
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------->
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title font-weight-bolder ">Lĩnh vực nghiên cứu</h3>
                    </div>
                    <div class="card-body">
                        @foreach (SelectField s in ViewBag.profile.interested_fields)
                        {
                            <span class="label label-light-primary label-inline mr-2 major">@s.name</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!------------------------->
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title font-weight-bolder ">Các nghiên cứu quan tâm</h3>
                    </div>
                    <div class="card-body">
                        <span class="label label-light-primary label-inline mr-2 major">Toán học</span>
                        <span class="label label-light-primary label-inline mr-2 major">Đại số giao hoán</span>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------->
        <!--<div class="row" style="margin-bottom:1rem">
            <div class="col-12">
                <div class="card card-custom card-stretch gutster-b">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title font-weight-bolder ">Các dự án đang thực hiện</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li><a href="#">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </a></li>
                            <li><a href="#">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </a></li>
                            <li><a href="#">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </a></li>
                            <li><a href="#">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <!------------------------->
        <!--end::Mixed Widget 14-->
    </div>
    <div class="col-lg-8">
        <!--begin::Advance Table Widget 2-->
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b" style="padding-bottom:2rem">
                    <!--begin::Header-->
                    <h3 class="card-label font-weight-bolder text-dark"><i class="la text-success la-navicon icon-md"></i> Công trình khoa học</h3>
                    <hr />
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-3 pb-0">
                        <!--begin::Table-->
                        <table id="table_tapchi" class="table table-bordered table-checkable">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên bài báo</th>
                                    <th>Tên tạp chí</th>
                                    <th>Năm xuất bản</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</td>
                                    <td>dummy text</td>
                                    <td>2019</td>
                                    <td><a href="#" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</td>
                                    <td>dummy text</td>
                                    <td>2019</td>
                                    <td><a href="#" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</td>
                                    <td>dummy text</td>
                                    <td>2019</td>
                                    <td><a href="#" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</td>
                                    <td>dummy text</td>
                                    <td>2019</td>
                                    <td><a href="#" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</td>
                                    <td>dummy text</td>
                                    <td>2019</td>
                                    <td><a href="#" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 2-->
            </div>
        </div>
        @if (ViewBag.profile.awards.Count > 0) {
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b">
                    <h3 class="card-label font-weight-bolder text-dark"><i class="text-success la la-navicon icon-md"></i> Giải thưởng</h3>
                    <hr />
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-5 pb-0">
                        <!--begin::Table-->
                        <div class="timeline timeline-2" id="rewards_list">
                            <div class="timeline-bar"></div>
                            @foreach (BaseRecord<Award> award in ViewBag.profile.awards)
                            {
                                <div class="timeline-item">
                                    <span class="timeline-badge bg-success"></span>
                                    <div class="timeline-content d-flex align-items-center justify-content-between">
                                        <span class="mr-3">
                                            <i class="text-warning la la-diamond icon-md"></i>@award.records.award_time: @award.records.rank - @award.records.competion_name
                                        </span>
                                    </div>
                                </div>
                                }
                        </div>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
        </div>
        }
    </div>

</div>
<!--end::Row-->


@section scripts{
    <script>
        $(document).ready(function () {
            $('#table_tapchi').DataTable({
                "columns": [
                    { width: "5%" },
                    { width: "50%" },
                    { width: "30%" },
                    { width: "10%" },
                    { width: "5%" },
                ],
                responsive: true,
                "bLengthChange": false,
                "bInfo": false,
                lengthMenu: [5, 10, 25, 50],

                pageLength: 5,
                ajax: {
                    url: "/Researchers/GetPublications?id=@ViewBag.profile.id",
                    datatype: "json",
                    cache: true
                },
                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                // Order settings
                order: [[0, 'asc']],

                columns: [
                    { data: "rownum", name: "rownum", orderable: false },
                    {
                        data: "paper_name", name: "paper_name", render: function (data) {
                            return "<a href='#'>" + data + "</a>"
                        }
                    },
                    { data: "journal_or_cfr_name", name: "journal_or_cfr_name" },
                    { data: "year", name: "year" },
                    {
                        data: "publish_date", name: "publish_date", render: function (data) {
                            return "<a onclick='' class='btn btn-sm btn-clean btn-icon' title='Edit'> <i class='far fa-edit'></i> </a>"
                        }
                    },
                ],
            });
        })
    </script>
}