
@{
    //ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin bài báo</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên bài báo</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.name" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Thời gian xuất bản</label>
                <input class="form-control form-control-lg custom-pickdate" type="text" value="@ViewBag.paper.publish_date.ToString("MM/yyyy")" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Link public toàn văn</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.link_doi" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Link scholar</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.link_scholar" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Loại ấn phẩm</label>
                <select class="form-control form-control-lg" id="paper_type" disabled>
                    @{
                        foreach (var item in ViewBag.type)
                        {
                            <option value="@item.paper_type_id">@item.name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xl-6 form-group">
                <label>Chuyên nghành</label>
                <select class="form-control form-control-lg" id="spec" disabled>
                    @{
                        foreach (var item in ViewBag.spec)
                        {
                            <option value="@item.specialization_id">@item.name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin nhà xuất bản</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên tạp chí</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.journal_name" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Tập</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.vol" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Trang</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.page" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Nhà xuất bản</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.company" disabled />
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
        <div class="row" id="thuong">
            <div class="col-xl-6 form-group">
                <label>Loại tiêu chí</label>
                <select id="loaithuong" class="form-control form-control-lg" disabled>
                    <option value="Quocte">Quốc tế</option>
                    <option value="Trongnuoc">Trong nước</option>
                </select>
            </div>
            <div class="col-xl-6 form-group thuongtn" style="display: none">
                <label>Chỉ số tạp chí</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.paper.index" disabled />
            </div>
            <div class="col-xl-6 form-group" style="display: none">
                <label>Ghi chú</label>
                <input class="form-control form-control-lg" type="text" value="" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Loại khen thưởng</label>
                <select id="typereward" class="form-control form-control-lg" disabled>
                    <option value="Quydinh">Theo quy định</option>
                    <option value="Canhan">Đại diện nhận thưởng</option>
                </select>
            </div>
            <div class="col-xl-6 form-group">
                <label>Tổng thưởng</label>
                <input id="totalreward" class="form-control form-control-lg edit" type="text" value="@ViewBag.paper.total_reward" />
            </div>
            <div class="col-xl-6 form-group">
                <label>Đại diện nhận thưởng</label>
                <input id="daidien" class="form-control form-control-lg edit" type="text" value="@ViewBag.p.name" disabled/>
            </div>

            @{
                foreach (var item in ViewBag.crite)
                {
                    <div class='col-xl-12 d-flex justify-content-center onetieuchi' style="margin-top: 1rem">
                        <span class='col-xl-2'><input readonly value="@item.name" class='form-control form-control-lg edit tieuchiname' name='tieuchiname' type='text' /></span>
                        <span class='col-xl-8'><input placeholder='Link' class='form-control form-control-lg edit tieuchilink' type='text' value="@item.link" /></span>
                        <span class='col-xl-2'><a target="_blank" href="@item.link" class='form-control form-control-lg edit btn deletetieuchi' style="background-color: lawngreen; border-color: lawngreen"><i class='flaticon2-checkmark' style="color:black"></i></a></span>
                    </div>
                }
            }
        </div>
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin tác giả</h3>
        <div class="row" id="authors-info-container">
            @{
                foreach (var item in ViewBag.author)
                {
                    <div class="col-lg-4 col-sm-12 oneauthor" id="@item.people_id">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b author-info-card">
                            <div class="card-header">
                                <div class="card-title">
                                    @if (item.mssv_msnv != null)
                                    {
                                        <h3 id="author_name" class="card-label">@item.mssv_msnv - @item.name</h3>
                                    }
                                    else
                                    {
                                        <h3 id="author_name" class="card-label">@item.name</h3>
                                    }
                                </div>
                                <div class="card-toolbar">
                                    <a data-id="@item.people_id" class="edit-author-reward btn btn-icon btn-sm btn-hover-light-danger" data-toggle="modal" data-target="#editOneReward">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="mb-7">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Khu Vực:</span>
                                                <span class="text-muted font-weight-bold">@item.office_abbreviation</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Chức danh:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.title_string</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Loại hợp đồng:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.contract_name</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Mã số thuế: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.tax_code</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                                                <span class="text-muted font-weight-bold">@item.email</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">CMND số:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.identification_number</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Ngân hàng: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.bank_branch</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Số tài khoản: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.bank_number</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Tiền thưởng: </span>
                                                <a href="#" class="text-muted text-hover-primary onereward_text" id="tacgia_reward">@item.money_reward</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Card-->
                    </div>
                }

            }
        </div>
        <hr />
        <div class="row justify-content-center">
            <button class="btn btn-light-success px-6 font-weight-bold mx-1" id="confirmbtn">Xác nhận duyệt</button>
            <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="editconfirm">Yêu cầu chỉnh sửa</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!--begin::Mixed Widget 14-->
        <div class="card card-custom gutter-b card-stretch bgi-no-repeat">
            <div class="card-body">
                <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin hội thoại</h3>
                <div>
                    @{
                        Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                    }
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Mixed Widget 14-->
    </div>
</div>
<div class="modal fade" id="editOneReward" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa thưởng cho tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6">
                        <label>Tên tác giả</label>
                        <input class="form-control form-control-lg" id="name_tacgia" type="text" value="" disabled />
                    </div>
                    <div class="col-xl-6">
                        <label>Thưởng</label>
                        <input class="form-control form-control-lg onereward" id="reward_tacgia" type="text" value="" />
                    </div>
                    <div class="justify-content-center col-xl-12 d-flex citationE" style="margin-top: 25px">
                        <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_save_edit" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/inputFilter.js"></script>
    <script>
        var people = [];
        var check = true;
        var id_people_selected;
        $(document).ready(function () {
            $("#typereward").val("@ViewBag.paper.reward_type");
            $("#loaithuong").val("@ViewBag.paper.type");
            $("#spec").val("@ViewBag.paper.specialization_id");
            $("#paper_type").val("@ViewBag.paper.paper_type_id");

            if ($("#loaithuong").val() == "Trongnuoc") {
                $(".thuongtn").show();
                $(".thuongqt").hide();
            }

            if ($("#typereward").val() == "Quydinh") $("#daidien").hide();
            else {
                $(".edit-author-reward").prop('disabled', true);
            }

            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            $(".onereward_text").each(function () {
                var x = $(this).text();
                $(this).text(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

            //$(".oneauthor").each(function () {
            //    var person = {
            //        people_id: this.id
            //    }
            //    people.push(person);
            //});
        });
        $(document).on("wheel", "input[type=number]", function (e) {
            $(this).blur();
        });
        $("#editconfirm").click(function () {
            $("#loading").show();
            var paper_id = "@ViewBag.paper.paper_id";
            var request_id = "@ViewBag.paper.request_id";
            var paper = {
                paper_id: paper_id,
                request_id: request_id
            };
            $.ajax({
                url: "@Url.Action("changeStatus", "Paper")",
                type: "POST",
                data: JSON.stringify({ 'paper': paper }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        $("#loading").hide();
                        //editRequest();
                        //alert(response.mess);
                        window.location.href = "/Paper/Pending";
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $("#confirmbtn").click(function () {
            $("#loading").show();
            var ck = $("#typereward").val();
            var temp = $("#totalreward").val();
            if (temp == "") {
                $("#loading").hide();
                toastr.error("Chưa điền thông tin tổng thưởng cho bài báo", "Lỗi");
                check = false;
            } else {
                check = true;
                if (ck == "Quydinh") {
                    $(".onereward_text").each(function () {
                        var value = $(this).text();
                        //console.log(value);
                        if (value == "") {
                            $("#loading").hide();
                            toastr.error("Chưa điền đủ thông tin thưởng cho tác giả", "Lỗi");
                            check = false;
                            return false;
                        } else {
                            check = true;
                        }
                    });
                }
            }

            if (check) {
                people = [];
                var authors = $(".oneauthor");
                var authors_reward = $(".onereward_text");
                for (var i = 0; i < authors.length; i++) {
                    var person = {
                        people_id: $(authors)[i].id,
                        money_string: $(authors_reward)[i].text
                    }
                    people.push(person);
                }

                var sum = 0;
                var total = $("#totalreward").val();
                total = total.split(",").join("");
                for (var i = 0; i < people.length; i++) {
                    var data = people[i].money_string;
                    var temp = data.split(",").join("");
                    sum = parseInt(sum) + parseInt(temp);
                }
                if (sum > parseInt(total) && ck == "Quydinh") {
                    toastr.error("Tổng tiền thưởng tác giả quá tổng thưởng bài báo", "Lỗi");
                } else if (sum < parseInt(total) && ck == "Quydinh") {
                    toastr.error("Tổng tiền thưởng tác giả chưa bằng tổng thưởng bài báo", "Lỗi");
                } else {
                    var paper_id = "@ViewBag.paper.paper_id";
                    var request_id = "@ViewBag.paper.request_id";
                    var people_id = "@ViewBag.p.people_id";
                    var paper = {
                        paper_id: paper_id,
                        request_id: request_id,
                        total_reward: total,
                        reward_type: $("#typereward").val()
                    };
                    $.ajax({
                        url: "@Url.Action("editPaper", "Paper")",
                        type: "POST",
                        data: JSON.stringify({ 'paper': paper, 'people': people, 'id': people_id }),
                        contentType: "application/json;charset=utf-8",
                        datatype: "json",
                        cache: false,
                        success: function (response) {
                            if (response.mess == "ss") {
                                //editRequest();
                                $("#loading").hide();
                                window.location.href = "/Paper/Pending";
                            }
                            else alert('loi');
                        },
                        error: function () {
                            //alert("fail");
                        }
                    });
                }
            }
        });

        $(".onereward, #totalreward").inputFilter(function (value) {
            return /^-?\d*$/.test(value);
        });

        $("#totalreward").change(function () {
            var x = $(this).val();
            $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $(".onereward").change(function () {
            var x = $(this).val();
            $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });

        $(".edit-author-reward").click(function () {
            id_people_selected = $(this).data("id");
            var x = document.getElementById(id_people_selected).querySelector("#author_name").innerHTML;
            var arr = x.split(' - ');
            if (arr.length == 2) $("#name_tacgia").val(arr[1]);
            else $("#name_tacgia").val(arr[0]);
            //console.log(arr);
        });

        $("#add_author_save_edit").click(function () {
            var val = $("#reward_tacgia").val();
            var x = document.getElementById(id_people_selected).querySelector("#tacgia_reward").innerHTML = val;
        });
    </script>
}