
@{
    ViewBag.Title = "Danh sách hoạt động học thuật trong năm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-btn {
        width: 25% !important;
    }
    .modal-title {
        font-size: 1.5rem !important;
    }
    .modal {
        overflow-y: auto;
    }
    .config-select2{
        width: 100% !important;
    }
</style>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <a href="#" class="btn btn-light-primary px-6 font-weight-bold" data-toggle="modal" data-target="#addModal">Thêm sự kiện</a>
                @*<div class="dropdown dropdown-inline ml-2">
                    <button type="button"
                            class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        Export
                    </button>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <ul class="navi flex-column navi-hover py-2">
                            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                Choose an option:
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="la la-file-excel-o"></i>
                                    </span>
                                    <span class="navi-text">Excel</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <div class="input-group date kt_datetimepicker_3_year" id="kt_datetimepicker_3_year" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#kt_datetimepicker_3_year" autocomplete="off" id="search_year" />
                    <div class="input-group-append" data-target="#kt_datetimepicker_3_year" data-toggle="datetimepicker">
                        <span class="input-group-text">
                            <i class="ki ki-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <table id="my_list" class="table table-bordered table-checkable">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tiêu đề</th>
                    <th class="text-center">Loại</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Hành động</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm hoạt động học thuật</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                        <label class="col-form-label font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" spellcheck="false" required id="add_title" />
                    </div>
                    <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Ngôn ngữ</label>
                        <select class="form-control" id="add_language" onchange="resetCategory()"  style="width: 100% !important">
                            <option selected value="1">Tiếng Việt</option>
                            <option value="2">Tiếng Anh</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Loại</label>
                        <select class="form-control config-select2" required id="add_category" style="width: 100% !important">
                            <option label="Label"></option>
                            @foreach (var item in ViewBag.AAType)
                            {
                                <option value="@item.activity_type_id">@item.activity_type_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Từ ngày</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_from" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Từ ngày" data-target="#kt_datetimepicker_add_from" autocomplete="off" id="add_from" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_from" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Đến ngày</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_add_to" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Đến ngày" data-target="#kt_datetimepicker_add_to" autocomplete="off" id="add_to" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_add_to" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Địa điểm</label>
                        <input class="form-control" type="text" required autocomplete="off" spellcheck="false" placeholder="Địa điểm" id="add_location" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn load-btn btn-light-success font-weight-bold" id="btn_add">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa hoạt động học thuật</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-9 col-md-9 col-xl-9 col-lg-9">
                        <label class="col-form-label font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" required id="edit_title" />
                    </div>
                    <div class="col-sm-3 col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Ngôn ngữ</label>
                        <select class="form-control" id="edit_language" onchange="reInit()"  style="width: 100% !important">
                            <option selected value="1">Tiếng Việt</option>
                            <option value="2">Tiếng Anh</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Loại</label>
                        <select class="form-control" required id="edit_category" style="width: 100% !important">
                            @foreach (var item in ViewBag.AAType)
                            {
                                <option value="@item.activity_type_id">@item.activity_type_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Từ ngày</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_from" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Từ ngày" data-target="#kt_datetimepicker_edit_from" autocomplete="off" id="edit_from" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_from" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Đến ngày</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_edit_to" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Đến ngày" data-target="#kt_datetimepicker_edit_to" autocomplete="off" id="edit_to" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_edit_to" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                        <label class="col-form-label font-weight-bolder">Địa điểm</label>
                        <input class="form-control" type="text" required autocomplete="off" placeholder="Địa điểm" id="edit_location" />
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Ảnh đại diện hoạt động</label>
                        <div class="uppy" id="kt_uppy_1">
                            <div class="uppy-wrapper"></div>
                            <div class="uppy-list"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                        <span class="form-text text-muted">Dung lượng tối đa cho ảnh là 15MB và tối đa 1 ảnh</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="load-btn btn btn-light-primary font-weight-bold" id="btn_edit">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Clone sự kiện</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Tiêu đề</label>
                        <input class="form-control" type="text" placeholder="Tiêu đề" autocomplete="off" required id="clone_title" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Loại</label>
                        <select class="form-control" required id="clone_category" style="width: 100% !important">
                            @foreach (var item in ViewBag.AAType)
                            {
                                <option value="@item.activity_type_id">@item.activity_type_name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">Thời hạn từ </label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_clone_from" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="Thời hạn từ" data-target="#kt_datetimepicker_clone_from" autocomplete="off" id="clone_from" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_clone_from" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-3 col-lg-3">
                        <label class="col-form-label font-weight-bolder">đến</label>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-9 col-sm-12">
                                <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_clone_to" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" placeholder="đến" data-target="#kt_datetimepicker_clone_to" autocomplete="off" id="clone_to" />
                                    <div class="input-group-append" data-target="#kt_datetimepicker_clone_to" data-toggle="datetimepicker">
                                        <span class="input-group-text">
                                            <i class="ki ki-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Địa điểm</label>
                        <input class="form-control" type="text" required autocomplete="off" placeholder="Địa điểm" id="clone_location" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label font-weight-bolder">Chọn các hạng mục cần sao chép</label>
                    <div class="col-10 col-form-label">
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <input type="checkbox" value="KP" name="clone-content" />
                                <span></span>
                                Kinh phí
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="DTC" name="clone-content" />
                                <span></span>
                                Đơn vị đồng tổ chức
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="ND" name="clone-content" />
                                <span></span>
                                Nội dung
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="TD" name="clone-content" />
                                <span></span>
                                Đăng kí tham dự
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn load-btn btn-light-success font-weight-bold" id="btn_clone">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let id_edit = "";
        let id_clone = "";
        var save_loader = new LoaderBtn($(".load-btn"));

        document.getElementById('search_year').value = new Date().getFullYear();
        function convertDate(date) {
            correctFormat = date.replace(/(\d+)\/(\d+)\/(\d+)/, "$3/$2/$1"),
                myDate = new Date(correctFormat);
            return myDate;
        }
        function dataURItoBlob(dataURI) {
            var blobBin = atob(dataURI.split(',')[1]);
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            var file = new Blob([new Uint8Array(array)], { type: mimeString });
            return file;
        }
        function saveTempIdDelete(id) {
            Swal.fire({
                title: "Bạn có muốn xóa hoạt động học thuật này không ?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                let object = {
                    id : id
                }
                if (result.value) {
                    $.ajax({
                        url: '/AcademicActivity/delete_AcademicActivity',
                        data: JSON.stringify(object),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data != '') {
                                toastr.success(data);
                                datatable.ajax.reload();
                            } else {
                                toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                            }
                        },
                        error: function (data) {
                            alert(data)
                        }
                    });
                }
            });
        }
        function saveTempIdEdit(id) {
            id_edit = id;
            let obj = {
                id: id
            }
            $.ajax({
                url: "@Url.Action("getBaseAA", "AcademicActivity")",
                data: JSON.stringify(obj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    document.getElementById('edit_title').value = data.baseAA.activity_name;
                    document.getElementById('edit_from').value = data.baseAA.from;
                    document.getElementById('edit_to').value = data.baseAA.to;
                    document.getElementById('edit_location').value = data.baseAA.location;
                    document.getElementById('edit_language').value = data.baseAA.language_id;
                    $('#edit_category').empty();
                    data.types.forEach(function (x) {
                        $('#edit_category').append('<option value=' + x.activity_type_id + '>' + x.activity_type_name + '</option>');
                    });
                    document.getElementById('edit_category').value = data.baseAA.activity_type_id;
                    $('#editModal').modal('show');
                },
                error: function () {
                }
            });
        }
        function saveTempIdCheckin(id) {
            window.location.href = "/CheckIn/List?id=" + id;
        }
        function resetCategory() {
            let temp_category = $('#add_category').val();
            $.ajax({
                url: "@Url.Action("resetCategory", "AcademicActivity")",
                data: JSON.stringify({ language_id: $('#add_language').val()}),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#add_category').empty();
                    data.forEach(function (x) {
                        $('#add_category').append('<option value=' + x.activity_type_id + '>' + x.activity_type_name + '</option>');
                    });
                    document.getElementById('add_category').value = temp_category;
                },
                error: function (data) {
                    save_loader.stopLoading();
                }
            });
        }
        function showCloneModal(id) {
            id_clone = id;
            $('#cloneModal').modal('show');
        }
        function goDetail(id) {
            window.location.href = '/DetailOfAcademicActivity/Index?id=' + id;
        }
        function reInit() {
            var object = {
                id: id_edit,
                language_id: $('#edit_language').val()
            };
            let temp_category = $('#edit_category').val();
            $.ajax({
                url: "@Url.Action("getBaseAALanguage", "AcademicActivity")",
                data: JSON.stringify(object),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.baseAA != null) {
                        document.getElementById('edit_title').value = data.baseAA.activity_name;
                        document.getElementById('edit_location').value = data.baseAA.location;
                    } else {
                        document.getElementById('edit_title').value = '';
                        document.getElementById('edit_location').value = '';
                    }
                    $('#edit_category').empty();
                    data.types.forEach(function (x) {
                        $('#edit_category').append('<option value=' + x.activity_type_id + '>' + x.activity_type_name + '</option>');
                    });
                    document.getElementById('edit_category').value = temp_category;
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        $('#btn_add').click(function () {
            save_loader.startLoading();
            let activity_name = document.getElementById('add_title').value;
            let activity_type_id = document.getElementById('add_category').value;
            let from = document.getElementById('add_from').value;
            let to = document.getElementById('add_to').value;
            let location = document.getElementById('add_location').value;
            let language_id = document.getElementById('add_language').value;
            if (activity_name == '' || activity_type_id == '' || from == '' || to == '' || location == '' || language_id == '') {
                toastr.warning("Bạn chưa điền hết các thông tin cho hoạt động học thuật");
                return false;
            }
            if (convertDate(from).getTime() > convertDate(to).getTime()) {
                toastr.warning("Thời hạn bắt đầu không thể sau thời hạn kết thúc");
                return false;
            }
            let object = {
                activity_name: activity_name,
                activity_type_id: activity_type_id,
                location: location,
                from: from,
                to: to
            }
            let obje = {
                obj : object,
                language_id: language_id
            }
            save_loader.startLoading();
            $.ajax({
                url: "@Url.Action("add_AcademicActivity", "AcademicActivity")",
                data: JSON.stringify(obje),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data != '') {
                        toastr.success(data);
                        clearModal('#addModal');
                        $('#addModal').modal('hide');
                        datatable.ajax.reload();
                        save_loader.stopLoading();
                    } else {
                        toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                    }
                },
                error: function (data) {
                    save_loader.stopLoading();
                }
            });
        });
        function clearModal(id) {
            $(id).find('input:text, input:password, select')
                .each(function () {
                    $(this).val('');
                });
        }
        $('#btn_edit').click(function () {
            save_loader.startLoading();
            let activity_name = document.getElementById('edit_title').value;
            let activity_type_id = document.getElementById('edit_category').value;
            let from = document.getElementById('edit_from').value;
            let to = document.getElementById('edit_to').value;
            let location = document.getElementById('edit_location').value;
            let language_id = document.getElementById('edit_language').value;
            if (activity_name == '' || activity_type_id == '' || from == '' || to == '' || location == '' || language_id == '') {
                toastr.warning("Bạn chưa điền hết các thông tin cho hoạt động học thuật");
                save_loader.stopLoading();
                return false;
            }
            if (convertDate(from).getTime() > convertDate(to).getTime()) {
                toastr.warning("Thời hạn bắt đầu không thể sau thời hạn kết thúc");
                save_loader.stopLoading();
                return false;
            }
            let files = uppy1.getFiles();
            if (files.length == 0) {
                toastr.warning('Vui lòng chọn ảnh cho hoạt động');
                save_loader.stopLoading();
                return false;
            } else {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var canvas = document.createElement("canvas");
                        var ctx = canvas.getContext("2d");
                        canvas.width = image.width;
                        canvas.height = image.height;
                        ctx.drawImage(image, 0, 0);
                        var URL = canvas.toDataURL('image/jpeg');
                        var newfile = dataURItoBlob(URL);
                        var img = new FormData();

                        if (newfile.size > uppy1.getFiles()[0].size) {
                            img.append('img', uppy1.getFiles()[0].data);
                        } else {
                            img.append('img', newfile);
                        }

                        img.append('id', id_edit);
                        img.append('activity_type_id', activity_type_id);
                        img.append('activity_name', activity_name);
                        img.append('location', location);
                        img.append('from', from);
                        img.append('to', to);
                        img.append('language_id', language_id);
                        $.ajax({
                            url: '/AcademicActivity/edit_AcademicActivity',
                            data: img,
                            type: "POST",
                            success: function (data) {
                                if (data != '') {
                                    toastr.success(data);
                                    var itemId = files[0].id;
                                    uppy1.removeFile(itemId);
                                    $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                                    clearModal('#editModal');
                                    $('#editModal').modal('hide');
                                    datatable.ajax.reload();
                                } else {
                                    var itemId = files[0].id;
                                    uppy1.removeFile(itemId);
                                    $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                                    toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                                }
                                save_loader.stopLoading();
                            },
                            error: function (data) {
                                var itemId = files[0].id;
                                uppy1.removeFile(itemId);
                                $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                                save_loader.stopLoading();
                            },
                            dataType: "json",
                            processData: false,
                            contentType: false
                        });
                    };
                }
                reader.readAsDataURL(files[0].data);
            }
        });

        $("#kt_datetimepicker_3_year").on("change.datetimepicker", ({ date, oldDate }) => {
            datatable.ajax.reload();
        });

        $('#btn_clone').click(function () {
            save_loader.startLoading();
            let activity_name = document.getElementById('clone_title').value;
            let activity_type_id = document.getElementById('clone_category').value;
            let from = document.getElementById('clone_from').value;
            let to = document.getElementById('clone_to').value;
            let location = document.getElementById('clone_location').value;
            if (activity_name == '' || activity_type_id == '' || from == '' || to == '' || location == '') {
                toastr.warning("Bạn chưa điền hết các thông tin cho hoạt động học thuật");
                return false;
            }
            if (convertDate(from).getTime() > convertDate(to).getTime()) {
                toastr.warning("Thời hạn bắt đầu không thể sau thời hạn kết thúc");
                return false;
            }
            let object = {
                id: id_clone,
                activity_name: activity_name,
                activity_type_id: activity_type_id,
                location: location,
                from: from,
                to: to,
                content: getSelectedCheckboxValues('clone-content')
            }
            $.ajax({
                url: '/AcademicActivity/clone',
                data: JSON.stringify(object),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data != '') {
                        toastr.success(data);
                        clearModal('#cloneModal');
                        unCheckbox('#cloneModal');
                        $('#cloneModal').modal('hide');
                        datatable.ajax.reload();
                    } else {
                        toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                    }
                    save_loader.stopLoading();
                },
                error: function (data) {
                    toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                    save_loader.stopLoading();
                }
            });
        });
        function unCheckbox(id) {
            $(id).find('input:checkbox')
                .each(function () {
                    $(this).prop("checked", false);
                });
        }
        function getSelectedCheckboxValues(name) {
            const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
            let values = [];
            checkboxes.forEach((checkbox) => {
                values.push(checkbox.value);
            });
            return values;
        }
        $('#search_year').on('changeDate', function () {
            alert($('#search_year').val());
        });
        var datatable = $("#my_list").DataTable({
                oLanguage: {
                    oPaginate: {
                        sPrevious: "Trang trước",
                        sNext: "Trang sau"
                    },
                    sEmptyTable: "Không có dữ liệu",
                    sInfo: "",
                    sSearch: ""
                },
                "searching": false,
                "lengthChange": false,
                ajax: {
                        url: "@Url.Action("getDatatable", "AcademicActivity")",
                        type: "POST",
                        datatype: "json",
                        data: { "year": function () { return $('#search_year').val() } },
                        cache: "false"
                },
                columns: [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: "activity_id_activity_name",
                        render: function (data) {
                            if (data != "") {
                                var id = data.split('$')[0]
                                var name = data.split('$')[1]
                                return '<a href="javascript:;" onclick="goDetail(' + id + ')">' + name + '</a>'
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        data: "activity_type_name"
                    },
                    {
                        data: "academic_status_name",
                        sorting: false,
                        render: function (data, type, full, meta) {
                            var status = {
                                'Chưa hoạt động': {
                                    'class': 'label-light-warning'
                                },
                                'Đang hoạt động': {
                                    'class': 'label-light-primary'
                                },
                                'Đã kết thúc': {
                                    'class': 'label-light-success'
                                }
                            };
                            if (typeof status[data] === 'undefined') {
                                return data;
                            }
                            return '<span class="label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + data + '</span>';
                        },
                    },
                    {
                        data: "activity_id",
                        sorting: false,
                        render: function (data, type, full, meta) {
                            return '<div class="dropdown">' +
                                '<button class="btn btn-light-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thao tác</button>' +
                                '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                                '<a href="javascript:;" class="dropdown-item" onclick="saveTempIdEdit(' + data+')">Sửa</a>' +
                                '<a href="javascript:;" class="dropdown-item" onclick="showCloneModal('+data+')">Clone</a>' +
                                '<a href="javascript:;" class="dropdown-item" target="_tab" onclick="saveTempIdCheckin(' + data+')">Checkin</a>' +
                                '<a href="javascript:;" class="dropdown-item" onclick="saveTempIdDelete(' + data+')">Xóa</a>' +
                                '</div>' +
                                '</div>'
                        }
                    },
                ],
                columnDefs: [
                    {
                        className: "text-center",
                        targets: '_all',
                    },
                ]
            });
        var KTBootstrapDatetimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            }
            return {
                init: function () {
                    baseDemos();
                }
            };
        }();
        var KTBootstrapDateYeartimepicker = function () {
            var baseDemos = function () {
                $('.kt_datetimepicker_3_year').datetimepicker({
                    format: 'YYYY'
                });
            }
            return {
                init: function () {
                    baseDemos();
                }
            };
        }();


        const Tus = Uppy.Tus;
        const StatusBar = Uppy.StatusBar;
        const FileInput = Uppy.FileInput;
        const Informer = Uppy.Informer;

        var elemId = 'kt_uppy_1';
        var id = '#' + elemId;
        var $statusBar = $(id + ' .uppy-status');
        var $uploadedList = $(id + ' .uppy-list');
        var timeout;

        var uppy1 = Uppy.Core({
            debug: true,
            autoProceed: false,
            showProgressDetails: true,
            restrictions: {
                maxFileSize: 5242880, // 5mb
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*', '.jpg', '.jpeg', '.png']
            }
        });

        uppy1.use(FileInput, {
            target: id + ' .uppy-wrapper',
            pretty: false
        });
        uppy1.use(Informer, {
            target: id + ' .uppy-informer'
        });

        // demo file upload server
        uppy1.use(Tus, {
            endpoint: 'https://master.tus.io/files/'
        });
        uppy1.use(StatusBar, {
            target: id + ' .uppy-status',
            hideUploadButton: true,
            hideAfterFinish: false
        });

        $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
        $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

        var $fileLabel = $(id + ' .uppy-input-label');

        uppy1.on('upload', function (data) {
            $fileLabel.text("Uploading...");
            $statusBar.addClass('uppy-status-ongoing');
            $statusBar.removeClass('uppy-status-hidden');
            clearTimeout(timeout);
        });

        uppy1.on('file-added', function (file) {
            var sizeLabel = "bytes";
            var filesize = file.size;
            if (filesize > 1024) {
                filesize = filesize / 1024;
                sizeLabel = "kb";

                if (filesize > 1024) {
                    filesize = filesize / 1024;
                    sizeLabel = "MB";
                }
            }
            var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
            $uploadedList.append(uploadListHtml);

            $statusBar.addClass('uppy-status-hidden');
            $statusBar.removeClass('uppy-status-ongoing');
        });

        $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
            var itemId = $(this).attr('data-id');
            uppy1.removeFile(itemId);
            $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
        });
        $('#add_category').select2({
            placeholder: 'Loại hoạt động',
        });
        $('#edit_category').select2({
            placeholder: 'Loại hoạt động',
        });
        $('#clone_category').select2({
            placeholder: 'Loại hoạt động',
        });
        $('#add_language').select2({
            placeholder: 'Ngôn ngữ',
        });
        $('#edit_language').select2({
            placeholder: 'Ngôn ngữ',
        });
        $(document).ready(function () {
            KTBootstrapDatetimepicker.init();
            KTBootstrapDateYeartimepicker.init();
        });
    </script>
}