
@{ ViewBag.Title = "Check-in hoạt động học thuật trong năm";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .custom_nav {
        min-width: 80px !important;
        text-align: center !important;
    }

    .custom-card {
        padding-top: 10px !important;
    }
</style>
<div class="card card-custom">
    <div class="card-header card-header-tabs-line">
        <div class="card-toolbar">

            @{
                if (ViewBag.list_phase.Count > 0)
                {

                    <ul class="nav nav-tabs nav-bold nav-tabs-line">
                        @foreach (var phase in ViewBag.list_phase)
                        {
                            <li class="nav-item">
                                @if (phase.phase_id == ViewBag.list_phase[0].phase_id)
                                {
                                    <a class="nav-link active" data-toggle="tab" href="#tab_@phase.phase_id">
                                        <span class="nav-text custom_nav">@phase.phase_name</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" data-toggle="tab" href="#tab_@phase.phase_id">
                                        <span class="nav-text custom_nav">@phase.phase_name</span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h4>Hoạt động học thuật chưa có giai đoạn nào cho người tham dự</h4>
                }
            }
        </div>
    </div>
    <div class="card-body custom-card" id="main-control">
        <div class="tab-content">
            @{
                foreach (var phase in ViewBag.list_phase)
                {
                    if (phase.phase_id == ViewBag.list_phase[0].phase_id)
                    {
                        <div class="tab-pane fade show active" id="tab_@phase.phase_id" role="tabpanel" aria-labelledby="tab_@phase.phase_id">
                            <div class="row mb-3">
                                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                                    <a href="javascript:;" class="btn btn-light-primary btn-sm px-6 font-weight-bold" onclick="addModal(@phase.phase_id)">Thêm người tham dự</a>
                                </div>
                            </div>
                            <table id="phase_@phase.phase_id" class="table table-bordered table-checkable">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tư cách</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Đơn vị</th>
                                        <th>Cơ sở</th>
                                        <th>Số điện thoại</th>
                                        <th>Trạng thái</th>
                                        <th nowrap="nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade show" id="tab_@phase.phase_id" role="tabpanel" aria-labelledby="tab_@phase.phase_id">
                            <div class="row mb-3">
                                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                                    <a href="javascript:;" class="btn btn-light-primary btn-sm px-6 font-weight-bold" onclick="addModal(@phase.phase_id)">Thêm người tham dự</a>
                                </div>
                            </div>
                            <table id="phase_@phase.phase_id" class="table table-bordered table-checkable">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tư cách</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Đơn vị</th>
                                        <th>Cơ sở</th>
                                        <th>Số điện thoại</th>
                                        <th>Trạng thái</th>
                                        <th nowrap="nowrap"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Thêm người tham dự</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Họ và tên <span style="color:red">*</span></label>
                        <input type="text" class="form-control" placeholder="Họ và tên" required spellcheck="false" autocomplete="off" id="add_name" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="font-weight-bolder">Tư cách <span style="color:red">*</span></label>
                        <select class="form-control" required id="add_tu_cach">
                        </select>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Email <span style="color:red">*</span></label>
                        <input type="text" class="form-control" placeholder="Email" spellcheck="false" required autocomplete="off" id="add_email" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Số điện thoại <span style="color:red">*</span></label>
                        <input type="text" class="form-control" placeholder="Số điện thoại" spellcheck="false" autocomplete="off" id="add_msnv_mssv" />
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Đơn vị <span style="color:red">*</span></label>
                        <select class="form-control" required id="add_don_vi" onchange="getAreaByUnit()">
                            @{
                                foreach (var unit in ViewBag.internalunit)
                                {
                                    <option value="@unit.unit_id">@unit.unit_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-xl-6 col-lg-6">
                        <label class="col-form-label font-weight-bolder">Cơ Sở <span style="color:red">*</span></label>
                        <select class="form-control" required id="add_co_so">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-6 font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-light-success px-6 font-weight-bold" id="btn_add">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        let phase = 0;
        let ckin = false;
        let ckout = false;
        function addModal(id) {
            phase = id;
            $.ajax({
                url: '/CheckIn/getRoleByPhase',
                data: JSON.stringify({phase_id : id}),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#add_tu_cach').empty();
                    data.forEach(function(x){
                        $('#add_tu_cach').append("<option value ='"+x.participant_role_id+"'>" + x.participant_role_name+"</option>");
                    });
                    getAreaByUnit(document.getElementById('add_don_vi').value);
                    $('#addModal').modal('show');
                },
                error: function (data) {
                }
            });

        }
        function getAreaByUnit(){
            var unit_id = document.getElementById('add_don_vi').value;
            $.ajax({
                url: '/CheckIn/getAreaByUnit',
                data: JSON.stringify({ unit_id: unit_id }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#add_co_so').empty();
                    data.forEach(function (x) {
                        $('#add_co_so').append("<option value ='" + x.office_id + "'>" + x.office_name + "</option>");
                    });
                },
                error: function (data) {
                }
            });
        }
        $('#btn_add').click(function () {
            let name = document.getElementById('add_name').value;
            let participant_role_id = document.getElementById('add_tu_cach').value;
            let email = document.getElementById('add_email').value;
            let participant_number = document.getElementById('add_msnv_mssv').value;
            let office_id = document.getElementById('add_co_so').value;
            if (name == '' || participant_role_id == '' || email == '' || participant_number == '' || office_id == '') {
                toastr.warning("Bạn chưa điền hết các thông tin cho người tham dự");
                return false;
            }
            let object = {
                name: name,
                participant_role_id: participant_role_id,
                email: email,
                participant_number: participant_number,
                office_id: office_id
            }
            $.ajax({
                url: '/CheckIn/addParticipant',
                data: JSON.stringify(object),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data != '') {
                        toastr.success(data);
                        $("#main-control table").each(function () {
                            eval("datatable" + this.id + ".ajax.reload();");
                        });
                        clearModal('#addModal');
                        $('#addModal').modal('hide');
                    } else {
                        toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                    }
                },
                error: function (data) {
                }
            });
        });
        function checkIn(id) {
            if (!ckout) {
                ckin = true;
                $.ajax({
                    url: '/CheckIn/Checkin',
                    data: JSON.stringify({ participant_id: id }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data != '') {
                            toastr.success(data);
                            $("#main-control table").each(function () {
                                eval("datatable" + this.id + ".ajax.reload();");
                            });
                            ckin = false;
                        } else {
                            toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                            ckin = false;
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        }
        function checkOut(id) {
            if (!ckin) {
                ckout = true;
                $.ajax({
                    url: '/CheckIn/Checkout',
                    data: JSON.stringify({ participant_id: id }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        if (data != '') {
                            toastr.success(data);
                            $("#main-control table").each(function () {
                                eval("datatable" + this.id + ".ajax.reload();");
                            });
                            ckout = false;
                        } else {
                            toastr.error("Có lỗi xảy ra. Vui lòng thử lại");
                            ckout = false;
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        }
        function clearModal(id) {
            $(id).find('input:text, input:password, select')
                .each(function () {
                    $(this).val('');
                });
        }
        function initDatatable() {
            $("#main-control table").each(function () {
                window["datatable" + this.id] = $("#" + this.id).DataTable({
                    oLanguage: {
                        oPaginate: {
                            sPrevious: "Trang trước",
                            sNext: "Trang sau"
                        },
                        sEmptyTable: "Không có dữ liệu",
                        sInfo: "",
                        sSearch: "Tìm kiếm"
                    },
                    "lengthChange": false,
                    ajax: {
                            url: "@Url.Action("getDatatableByPhase", "CheckIn")",
                            type: "POST",
                            datatype: "json",
                            data: { "phase_id": this.id.split('_')[1]  },
                            cache: "false"
                    },
                    columns: [
                        {
                            data : "stt"
                        },
                        {
                            data: "participant_role_name"
                        },
                        {
                            data: "participant_name"
                        },
                        {
                            data: "email"
                        },
                        {
                            data: "unit_name"
                        },
                        {
                            data: "name"
                        },
                        {
                            data: "participant_number"
                        },
                        {
                            data: "is_checked",
                            render: function (data, type, full, meta) {
                                var status = {
                                    'false': {
                                        'title': 'Chưa checkin',
                                        'class': ' label-light-danger'
                                    },
                                    'true': {
                                        'title': 'Đã checkin',
                                        'class': ' label-light-success'
                                    }
                                };
                                if (typeof status[data] === 'undefined') {
                                    return data;
                                }
                                return '<span class="label label-lg font-weight-bold' + status[data].class + ' label-inline">' + status[data].title + '</span>';
                            },
                        },
                        {
                            data: "participant_id",
                            title: 'Hành động',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                if (data != "") {
                                    var id = data.split('$')[0];
                                    var is_ck = data.split('$')[1];
                                    if (is_ck == 0)
                                        return '<a href="javascript:;" class="btn btn-light-primary btn-sm font-weight-bold center" onclick="checkIn(' + id + ')">Checkin</a>'
                                    else
                                        return '<a href="javascript:;" class="btn btn-light-primary btn-sm font-weight-bold center" onclick="checkOut(' + id + ')">Thu hồi</a>'
                                }
                            }
                        }
                    ],
                    columnDefs: [
                        {
                            className: "text-center",
                            targets: '_all',
                        },
                        {
                            className: "text-nowrap",
                            targets: [7,8]
                        },
                    ]
                });
            });
        }
        $(document).ready(function () {
            initDatatable();
        });
    </script>
}