
@{
    //ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin bằng sáng chế</h3>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label>Tên sản phẩm</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.item.name" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Số bằng sáng chế</label>
                <input class="form-control form-control-lg custom-pickdate" type="text" value="@ViewBag.item.no" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Loại SHTT</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.item.type_name" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Ngày cấp</label>
                <input class="form-control form-control-lg" type="text" value="@ViewBag.item.date.ToString("dd/MM/yyyy")" disabled />
            </div>
            <div class="col-xl-6 form-group">
                <label>Quốc gia</label>
                <select class="form-control select2 notnull edit" disabled id="search_country" name="param" multiple="multiple">
                    @{
                        foreach (var item in ViewBag.listCountry)
                        {
                            <option value="@item.country_id" @(item.selected == true ? "selected" : "")>@item.country_name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xl-6 form-group">
                <label>File chứng minh</label>
                <a href="@ViewBag.item.link_file" target="_blank" class="btn btn-light-primary px-6 font-weight-bold btn-sm form-control">View</a>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark">Thông tin xét thưởng</h3>
        <div class="row" id="thuong">
            <div class="col-xl-6 col-sm-12 form-group">
                <label>Tổng thưởng: </label>
                <input autocomplete="off" oninput="numberWithCommas(this)" id="totalreward" class="form-control form-control-lg" type="text" value="@ViewBag.item.total_reward" />
            </div>
            <div class="col-xl-6 form-group" style="display:none">
                <label>Kiểu thưởng</label>
                <select id="kieuthuong" class="form-control form-control-lg edit">
                    <option selected value="2">Theo quy định</option>
                    <option value="1">Đại diện nhận thưởng</option>
                </select>
            </div>
        </div>
        <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin tác giả</h3>
        <div class="row" id="authors-info-container">
            @{
                foreach (var item in ViewBag.author)
                {
                    <div class="col-lg-4 col-sm-12">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b author-info-card" id="@item.people_id">
                            <div class="card-header">
                                <div class="card-title">
                                    @if (item.mssv_msnv != null)
                                    {
                                        <h3 id="author_name" class="card-label">@item.mssv_msnv - @item.name</h3>
                                    }
                                    else
                                    {
                                        <h3 id="author_name" class="card-label">@item.name</h3>
                                    }
                                </div>
                                <div class="card-toolbar">
                                    @if (item.mssv_msnv != null)
                                    {
                                        <a data-id="@item.people_id" class="edit-author-reward btn btn-icon btn-sm btn-hover-light-danger" data-toggle="modal" data-target="#editOneReward">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="mb-7">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Khu Vực:</span>
                                                <span class="text-muted font-weight-bold">@item.office_abbreviation</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Chức danh:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.title_string</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Loại hợp đồng:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.contract_name</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Mã số thuế: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.tax_code</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Email:</span>
                                                <span class="text-muted font-weight-bold">@item.email</span>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">CMND số:</span>
                                                <a href="#" class="text-muted text-hover-primary">@item.identification_number</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Ngân hàng: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.bank_branch</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Số tài khoản: </span>
                                                <a href="#" class="text-muted text-hover-primary">@item.bank_number</a>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-cente my-1">
                                                <span class="text-dark-75 font-weight-bolder mr-2">Tiền thưởng: </span>
                                                @{
                                                    if (item.office_abbreviation == null)
                                                    {

                                                        <a href="#" class="text-muted text-hover-primary" id="tacgia_reward">@item.money_reward</a>

                                                    }
                                                    else
                                                    {

                                                        <a href="#" class="text-muted text-hover-primary onereward_text" name="@item.people_id" id="tacgia_reward">@item.money_reward</a>

                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Card-->
                    </div>
                }

            }
        </div>
        <hr />
        <div class="row justify-content-center">
            @{
                if (ViewBag.item.status_id == 3 || ViewBag.item.status_id == 8)
                {
                    <button class="btn btn-light-success px-6 font-weight-bold mx-1" id="confirmbtn">Xác nhận duyệt</button>
                    <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="editconfirm">Yêu cầu chỉnh sửa</button>
                    <button class="btn btn-light-danger px-6 font-weight-bold mx-1" id="deleteconfirm">Hủy yêu cầu</button>
                }
                else if (ViewBag.item.status_id == 4)
                {
                    <button class="btn btn-light-warning px-6 font-weight-bold mx-1" id="editconfirm_manager">Yêu cầu chỉnh sửa</button>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!--begin::Mixed Widget 14-->
        <div class="card card-custom gutter-b card-stretch bgi-no-repeat">
            <div class="card-body">
                <h3 class="mb-10 font-weight-bold text-dark mt-10">Thông tin hội thoại</h3>
                <div>
                    @{
                        Html.RenderAction("Index", "CommentRequest", new { request_id = ViewBag.request_id });
                    }
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Mixed Widget 14-->
    </div>
</div>
<div class="modal fade" id="editOneReward" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bolder">Chỉnh sửa thưởng cho tác giả</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6">
                        <label>Tên tác giả</label>
                        <input class="form-control form-control-lg" id="name_tacgia" type="text" value="" disabled />
                    </div>
                    <div class="col-xl-6">
                        <label>Thưởng</label>
                        <input autocomplete="off" oninput="numberWithCommas(this)" class="form-control form-control-lg onereward" id="reward_tacgia" type="text" value="" />
                    </div>
                    <div class="justify-content-center col-xl-12 d-flex citationE" style="margin-top: 25px">
                        <button class="btn btn-light-primary px-6 font-weight-bold" id="add_author_save_edit" data-dismiss="modal">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/inputFilter.js"></script>
    <script>
        var KTSelect2 = function () {
            // Private functions
            var demos = function () {
                // multi select
                $('#search_country').select2({
                    //placeholder: 'Chọn chức danh',
                    //tags: true
                });
            }
            // Public functions
            return {
                init: function () {
                    demos();
                }
            };
        }();

        var people = [];
        var check = true;
        var id_people_selected;
        $(document).ready(function () {
            //var country_id = "";
            //$("#search_nam").val(country_id);
            $("#kieuthuong").val("@ViewBag.item.reward_type");
            // Initialization
            KTSelect2.init();

            var status = "@ViewBag.item.status_id";
            if (status == "5") {
                $("#totalreward").prop("disabled", true);
                $(".edit-author-reward").prop('disabled', true);
            }

            var x = $("#totalreward").val();
            $("#totalreward").val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

            $(".onereward_text").each(function () {
                var x = $(this).text();
                $(this).text(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            });

        });
        $(document).on("wheel", "input[type=number]", function (e) {
            $(this).blur();
        });

        $("#editconfirm").click(function () {
            $("#loading").show();
            var inven_id = "@ViewBag.item.invention_id";
                    var request_id = "@ViewBag.item.request_id";
            var inven = {
                invention_id: inven_id,
                request_id: request_id
            };
            $.ajax({
                url: "@Url.Action("changeStatus", "Invention")",
                type: "POST",
                data: JSON.stringify({ 'inven': inven }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess != "ff") {
                        $("#loading").hide();
                        $("#editconfirm").prop("disabled", true);
                        $("#confirmbtn").prop("disabled", true);
                        $("#totalreward").prop("disabled", true);
                        $("#deleteconfirm").prop("disabled", true);
                        hub.server.send(response.mess);
                        //window.location.href = "/Invention/Pending";
                        //editRequest();
                        //alert(response.mess);
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $("#editconfirm_manager").click(function () {
            $("#loading").show();
            var inven_id = "@ViewBag.item.invention_id";
                    var request_id = "@ViewBag.item.request_id";
            var inven = {
                invention_id: inven_id,
                request_id: request_id
            };
            $.ajax({
                url: "@Url.Action("changeStatusManager", "Invention")",
                type: "POST",
                data: JSON.stringify({ 'inven': inven }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (response) {
                    if (response.mess == "ss") {
                        $("#loading").hide();
                        $("#editconfirm_manager").prop("disabled", true);
                        //window.location.href = "/Invention/Pending";
                        //editRequest();
                        //alert(response.mess);
                    }
                    else alert('loi');
                },
                error: function () {
                    //alert("fail");
                }
            });
        });

        $("#deleteconfirm").click(function () {
            Swal.fire({
                title: "Xác nhận hủy",
                text: "Hủy yêu cầu này?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.isConfirmed) {
                    $("#loading").show();
                    var request_id = "@ViewBag.request_id";
                    $.ajax({
                        url: "@Url.Action("deleteRequest", "Invention")",
                        type: "POST",
                        data: JSON.stringify({ 'id': request_id }),
                        contentType: "application/json;charset=utf-8",
                        datatype: "json",
                        cache: false,
                        success: function (response) {
                            $("#loading").hide();
                            if (response.mess == "ss") {
                                $("#editconfirm").prop("disabled", true);
                                $("#confirmbtn").prop("disabled", true);
                                $("#totalreward").prop("disabled", true);
                                $("#deleteconfirm").prop("disabled", true);

                                toastr.success("Hủy yêu cầu thành công");
                                //$("#edit_modal_cri_name").val(response.pc);
                                $("#loading").hide();
                            }
                            else toastr.error("Hủy yêu cầu thất bại");
                        },
                        error: function () {
                            $("#loading").hide();
                            toastr.error("Hủy yêu cầu thất bại");
                            //alert("fail");
                        }
                    });
                }
            });
        });

        $("#confirmbtn").click(function () {
            $("#loading").show();
            var temp = $("#totalreward").val();
            if (temp == "") {
                $("#loading").hide();
                toastr.error("Chưa điền thông tin tổng thưởng cho bài báo", "Lỗi");
                check = false;
            } else {
                check = true;
                var ck = $("#kieuthuong").val()
                if (ck == "2") {
                    $(".onereward_text").each(function () {
                        var value = $(this).text();
                        //console.log(value);
                        if (value == "") {
                            $("#loading").hide();
                            toastr.error("Chưa điền đủ thông tin thưởng cho tác giả", "Lỗi");
                            check = false;
                            return false;
                        } else {
                            check = true;
                        }
                    });
                }
            }

            if (check) {
                people = [];
                var authors_reward = $(".onereward_text");
                for (var i = 0; i < authors_reward.length; i++) {
                    var person = {
                        people_id: $(authors_reward)[i].name,
                        money_string: $(authors_reward)[i].text
                    }
                    people.push(person);
                }

                var sum = 0;
                var total = $("#totalreward").val();
                total = total.split(",").join("");
                for (var i = 0; i < people.length; i++) {
                    var data = people[i].money_string;
                    var temp = data.split(",").join("");
                    sum = parseInt(sum) + parseInt(temp);
                }
                console.log(sum, total);
                if (sum > parseInt(total)) {
                    $("#loading").hide();
                    toastr.error("Tổng tiền thưởng tác giả quá tổng thưởng bài báo", "Lỗi");
                } else if (sum < parseInt(total)) {
                    $("#loading").hide();
                    toastr.error("Tổng tiền thưởng tác giả chưa bằng tổng thưởng bài báo", "Lỗi");
                } else {
                    var inven_id = "@ViewBag.item.invention_id";
                    var request_id = "@ViewBag.item.request_id";
                    var inven = {
                        invention_id: inven_id,
                        request_id: request_id,
                        total_reward: total
                    };
                    $.ajax({
                        url: "@Url.Action("editInven", "Invention")",
                        type: "POST",
                        data: JSON.stringify({ 'inven': inven, 'people': people }),
                        contentType: "application/json;charset=utf-8",
                        datatype: "json",
                        cache: false,
                        success: function (response) {
                            if (response.mess == "ss") {
                                $("#loading").hide();
                                window.location.href = "/Invention/Pending";
                                //editRequest();
                                //alert(response.mess);
                            }
                            else alert('loi');
                        },
                        error: function () {
                            //alert("fail");
                        }
                    });
                }
            }
        });
        $(".onereward, #totalreward").inputFilter(function (value) {
            return /^[0-9,.]*$/.test(value);
        });

        //$("#totalreward").change(function () {
        //    var x = $(this).val();
        //    $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        //});

        //$(".onereward").change(function () {
        //    var x = $(this).val();
        //    $(this).val(x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        //});

        $(".edit-author-reward").click(function () {
            id_people_selected = $(this).data("id");
            var x = document.getElementById(id_people_selected).querySelector("#author_name").innerHTML;
            var arr = x.split(' - ');
            if (arr.length == 2) $("#name_tacgia").val(arr[1]);
            else $("#name_tacgia").val(arr[0]);
            //console.log(arr);
        });

        $("#add_author_save_edit").click(function () {
            var val = $("#reward_tacgia").val();
            var x = document.getElementById(id_people_selected).querySelector("#tacgia_reward").innerHTML = val;
        });

        function numberWithCommas(ele) {
            var x = $(ele).val().toString().replaceAll(",", "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(ele).val(x);
        }
    </script>
}


