
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
}

<style>
    .training-type {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
        border-radius: 0.42rem;
        transition: 0.3s;
    }

    .active-nav {
        background-color: #e46d27;
        color: white;
    }

    .training-type:hover {
        background-color: #a5a5a5;
        color: white;
    }

    .item-picture {
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }

    .nav-link-custom {
        display: block;
        padding: 1rem 0;
    }

    .link-load-detail:hover {
        color: #2196f3 !important;
        cursor: pointer;
    }
</style>
<div class="card card-custom pb-4" style="background-color: #f0f8ff80">
    <div class="card-body p-0">
        <div class="row justify-content-center mt-10 px-8 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="row justify-content-center training-type-list">
                            <div class="mb-4 mx-2 col-lg-2 col-md-2 col-sm-2 text-center training-type type-1 active-nav">
                                <a class="nav-link-custom" id="button-tab-1">
                                    <label>@rm.GetString("LongTermIntroduction")</label>
                                </a>
                            </div>
                            <div class="mb-4 mx-2 col-lg-2 col-md-2 col-sm-2 text-center training-type type-2">
                                <a class="nav-link-custom" id="button-tab-2">
                                    <label>@rm.GetString("PartnerProgram")</label>
                                </a>
                            </div>
                            <div class="mb-4 mx-2 col-lg-2 col-md-2 col-sm-2 text-center training-type type-3">
                                <a class="nav-link-custom" id="button-tab-3">
                                    <label>@rm.GetString("FPTProgram")</label>
                                </a>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-lg-6 col-md-6 col-sm-6 px-0 font-weight-bolder" style="height: 100px">
                                <span id="content-description">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom pt-4">
    <div class="card-body p-0">
        <div class="row justify-content-center mb-10 px-8 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="" id="tab-1">
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Tab_1");
                            }
                        </div>
                        <div class="" id="tab-2" style="display: none">
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Tab_2");
                            }
                        </div>
                        <div class="" id="tab-3" style="display: none">
                            @{
                                Html.RenderPartial("PartialView/Long_Term_Tab_3");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Custome_JS/InternationalCollaboration/Load_Detail_AC.js"></script>
    <script>
        $('.training-type').click(function () {
            $('.training-type').each(function () {
                $('.active-nav').removeClass('active-nav')
            })
            $(this).addClass('active-nav')
        })


        $('.type-1').click(function () {
            $('#tab-2').fadeOut()
            $('#tab-3').fadeOut()
            $('#tab-1').fadeIn(1000)
        })

        $('.type-2').click(function () {

            $('#tab-1').fadeOut()
            $('#tab-3').fadeOut()
            $('#tab-2').fadeIn(1000)
        })

        $('.type-3').click(function () {

            $('#tab-1').fadeOut()
            $('#tab-2').fadeOut()
            $('#tab-3').fadeIn(1000)
        })

        $(document).ready(function () {
            let count = 0;
            let partnerIndex = 1;
            let fptIndex = 1;
            var partner;
            var countrystr;
            var yearstr;
            $('#content-description').text(`@Html.Raw(ViewBag.TypeDescription[0].description)`);
            $('#search_1').click(function () {
                partner = $('#search_partner_tab_1').val();
                countrystr = $('#search_nation_tab_1').val();
                yearstr = $('#search_year_tab_1').val();
                count = 0;
                $.ajax({
                    url: "@Url.Action("Load_More_List_Long_Term", "AcademicCollaboration")",
                    type: "POST",
                    datatype: "json",
                    cache: false,
                    data: {
                        count: count,
                        partner: partner,
                        countrystr: countrystr,
                        yearstr: yearstr
                    },
                    success: function (data) {
                        var temp = `<div class="row justify-content-between">`;
                        $(data).each(function (i, item) {
                            temp += `<div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
                                        <a onclick="load_detail.load_program_detail(`+ item.program_id + `,2)" class="link-load-detail">
                                            <img src="`+ item.avatar + `" class="item-picture" />
                                            <label>
                                                `+ item.program_name + `
                                            </label>
                                        </a>
                                    </div>`;
                        });
                        temp += '</div>';
                        $('#detail-content').html(temp);
                        if ($(data).length < 4) {
                            $('#load-more').hide();
                        } else {
                            $('#load-more').show();
                        }
                    },
                    error: function () {


                    }
                });
                return false;
            })
            $('#load-more').click(function () {
                count++;
                $.ajax({
                    url: "@Url.Action("Load_More_List_Long_Term", "AcademicCollaboration")",
                    method: "POST",
                    datatype: "json",
                    cache: false,
                    data: {
                        count: count,
                        partner: partner,
                        countrystr: countrystr,
                        yearstr: yearstr
                    },
                    success: function (data) {
                        var temp = `<div class="row justify-content-between">`;
                        $(data).each(function (i, item) {
                            temp += `<div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
                                        <a onclick="load_detail.load_program_detail(`+ item.program_id + `,2)" class="link-load-detail">
                                            <img src="`+ item.avatar + `" class="item-picture" />
                                            <label>
                                                `+ item.program_name + `
                                            </label>
                                        </a>
                                    </div>`;
                        });
                        for (var i = 0; i < 4 - $(data).length; i++) {
                            temp += `<div class="col-lg-3 col-md-3 col-sm-3 my-5 py-3">
                                    </div>`;
                        }
                        if ($(data).length < 4) {
                            $('#load-more').hide();
                        }
                        temp += '</div>';
                        $(temp).hide().appendTo($('#detail-content')).slideDown(1000);
                        
                    },
                    error: function () {


                    }
                });
                return false;
            });
            var goingTable = $("#colab_program_going_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "@rm.GetString("Pre")",
                    sNext: "@rm.GetString("Next")"
                },
                sEmptyTable: "@rm.GetString("EmptyTB")",
                sInfo: "@rm.GetString("ShowTB")",
            },
            initComplete: function () {
                $(this).parent().css('overflow-x', 'auto');
                $(this).parent().css('padding', '0');
                //$(this).parent().removeClass();
            },
            searching: false,
            lengthChange: false,
            ajax: ({
                url: '/AcademicCollaboration/Partner_Program',
                type: "POST",
                datatype: "json",
                data: {
                        "partner": function () { return $('#search_partner_tab_2').val() },
                        "countrystr": function () { return $('#search_nation_tab_2').val() },
                        "yearstr": function () { return $('#search_year_tab_2').val() },
                },
            }),
            columns: [
                {
                    render: function (data) {
                        return partnerIndex++;
                    }
                },
                {
                    data: "partner_name"
                },
                { data: "country_name" },
                { data: "program_name" },
                {
                    data: "registration_deadline",
                },
                { data: "publish_time" }
            ],
            columnDefs: [
                {
                    targets: '_all',
                    className: 'text-center',
                }
            ]
        });

        var comingTable = $("#colab_program_coming_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "@rm.GetString("Pre")",
                    sNext: "@rm.GetString("Next")"
                },
                sEmptyTable: "@rm.GetString("EmptyTB")",
                sInfo: "@rm.GetString("ShowTB")",
            },
            initComplete: function () {
                $(this).parent().css('overflow-x', 'auto');
                $(this).parent().css('padding', '0');
                //$(this).parent().removeClass();
            },
            searching: false,
            lengthChange: false,
            ajax: ({
                url: '/AcademicCollaboration/FPT_Program',
                type: "POST",
                datatype: "json",
                data: {
                    "yearstr": function () { return $('#search_year_tab_3').val() },
                },
            }),
            columns: [
                {
                    render: function (data) {
                        return fptIndex++;
                    }
                },
                { data: "program_name" },
                { data: "registration_deadline"},
                { data: "publish_time" }
            ],
            columnDefs: [
                {
                    targets: '_all',
                    className: 'text-center',
                }
            ]
        });
            $('#search_2').click(function () {
                goingTable.ajax.reload();
            });
            $('#search_3').click(function () {
                comingTable.ajax.reload();
            });
        });

        $('.type-1').click(function () {
            $('#content-description').text(`@Html.Raw(ViewBag.TypeDescription[0].description)`)
        });

        $('.type-2').click(function () {
            $('#content-description').text(`@Html.Raw(ViewBag.TypeDescription[1].description)`)
        });

        $('.type-3').click(function () {
            $('#content-description').text(`@Html.Raw(ViewBag.TypeDescription[2].description)`)
        });

    </script>
    <script>
        $('#search_nation_tab_1').select2({
            placeholder: '@rm.GetString("Country")',
            allowClear: true,
            tags: true,
        })

        $('#search_year_tab_1').select2({
            placeholder: '@rm.GetString("Year")',
            allowClear: true,
            tags: true,
        })

        $('#search_nation_tab_2').select2({
            placeholder: '@rm.GetString("Country")',
            allowClear: true,
            tags: true,
        })

        $('#search_year_tab_2').select2({
            placeholder: '@rm.GetString("ProgramStart")',
            allowClear: true,
            tags: true,
        })
        $('#search_partner_tab_1').attr('placeholder', '@Html.Raw(rm.GetString("PartnerName"))');
        $('#search_partner_tab_2').attr('placeholder', '@Html.Raw(rm.GetString("PartnerName"))');
        $('#search_partner_tab_3').attr('placeholder', '@Html.Raw(rm.GetString("PartnerName"))');
        $('#search_nation_tab_3').select2({
            placeholder: '@rm.GetString("Country")',
            allowClear: true,
            tags: true,
        })

        $('#search_year_tab_3').select2({
            placeholder: '@rm.GetString("ProgramStart")',
            allowClear: true,
            tags: true,
        })

    </script>
}
