
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    ViewBag.Title = rm.GetString("PartnerList");

}
<style>

    table thead tr th {
        font-weight: bolder !important;
    }

    #partner_table_wrapper {
        overflow-x: auto;
    }
</style>
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="row mt-4">
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-12 col-sm-12 mr-3 mb-4">
                                        <input type="text" class="form-control" placeholder="@rm.GetString("PartnerName")" id="search_partner_name" />
                                    </div>
                                    <div class="col-lg-3 col-md-12 col-sm-12 mr-3 mb-4">
                                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                            <select class="form-control text-center" id="search_nation" name="param" style="width:100% !important">
                                                <option label="Label"></option>  
                                                @foreach (var i in ViewBag.countries)
                                                {
                                                    <option value="@i.country_name">@i.country_name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 col-sm-12 mr-3 mb-4">
                                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                            <select class="form-control text-center" id="search_specialization" name="param" style="width:100% !important">
                                                <option label="Label"></option>
                                                @foreach (var i in ViewBag.specializations)
                                                {
                                                    <option value="@i.name">@i.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-12 col-sm-12 mb-4">
                                        <a id="search_btn" class="btn btn-light-primary px-6 font-weight-bold ">@rm.GetString("Search")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="partner_table" class="table table-bordered table-checkable">
                            <thead>
                                <tr>
                                    <th>@rm.GetString("Number")</th>
                                    <th>@rm.GetString("PartnerName")</th>
                                    <th>@rm.GetString("Country")</th>
                                    <th>@rm.GetString("Specilazation")</th>
                                    <th>Website</th>
                                    <th>@rm.GetString("Detail")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center">
                        <a id="btn-example-load-more" class="btn btn-sm btn-light-primary font-weight-bold px-6" style="display:none">@rm.GetString("LoadMore")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-pageLoadMore/1.0.0/js/dataTables.pageLoadMore.min.js"></script>
    <script>
        $('#search_nation').select2({
            placeholder: '@rm.GetString("Country")',
            allowClear: true,
            tags: true
        })
        $('#search_specialization').select2({
            placeholder: '@rm.GetString("Specilazation")',
            allowClear: true,
            tags: true
        })
        function link_icon() {
            $('#partner_table tbody tr').each(function () {
                var data = $(this).find('td').eq(4).text()
                $(this).find('td').eq(4).html('<a target="blank" href="#' + data + '"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M13.544 10.456a4.368 4.368 0 0 0-6.176 0l-3.089 3.088a4.367 4.367 0 1 0 6.177 6.177L12 18.177m-1.544-4.633a4.368 4.368 0 0 0 6.177 0l3.088-3.088a4.368 4.368 0 0 0-6.177-6.177L12 5.823" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg><!--end::Svg Icon--></span></a>')
            })
        }
        function see_detail() {
            $('#partner_table tbody tr').each(function () {
                var data = $(this).find('td').eq(1).text()
                $(this).find('td').eq(4).html('<a href="#' + data + '">' + data + '</a>')
            })
        }
        $(document).ready(function () {
            var datatable = $('#partner_table').DataTable({
                searching: false,
                dom: 'frt',
                processing: true,
                serverSide: true,
                ajax: ({
                    url: '/Partner/List',
                    type: "POST",
                    datatype: "json",
                    data: {
                        "searchPartner": {
                            "partner_name": function () { return $('#search_partner_name').val() },
                            "nation": function () { return $('#search_nation').val() },
                            "specialization": function () { return $('#search_specialization').val() },
                            "is_collab": "",
                            "is_deleted": 0,
                        }
                    },
                    cache: "false"
                }),
                columns: [
                    {
                        name: "no",
                        data: "no",
                        className: 'text-center'
                    },
                    {
                        data: "partner_name",
                        name: "partner_name",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "country_name",
                        name: "country_name",
                        className: 'text-center',
                    },
                    {
                        data: "specialization_name",
                        name: "specialization_name",
                        render: function (data) {
                            if (data == null) {
                                return "";
                            } else {
                                data = data.replaceAll(',', '<br />')
                                return data;
                            }
                        }
                    },
                    {
                        data: "website",
                        className: 'text-center',
                        orderable: false,
                        render: function (data) {
                            if (data == null) {
                                return "";
                            } else {
                                return '<a target="blank" href="' + data + '"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M13.544 10.456a4.368 4.368 0 0 0-6.176 0l-3.089 3.088a4.367 4.367 0 1 0 6.177 6.177L12 18.177m-1.544-4.633a4.368 4.368 0 0 0 6.177 0l3.088-3.088a4.368 4.368 0 0 0-6.177-6.177L12 5.823" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg><!--end::Svg Icon--></span></a>';
                            }
                        }
                    },
                    {
                        data: "partner_id",
                        name: "partner_id",
                        className: 'text-center',
                        orderable: false,
                        render: function (data) {
                            if (data == null) {
                                return "";
                            } else {
                                return '<a onclick="load_detail(' + data + ')" class="btn btn-sm btn-clean btn-icon" title="View"> <i class="fas fa-eye"></i> </a>';
                            }
                        }
                    },
                ],
                drawCallback: function () {
                    // Show or hide "Load more" button based on whether there is more data available
                    $('#btn-example-load-more').toggle(this.api().page.hasMore());
                },
            });

            //Handle click on "Load more" button
            $('#btn-example-load-more').on('click', function () {
                // Load more data
                datatable.page.loadMore();
            });
          
            $('#search_btn').click(function () {
                datatable.ajax.reload();
            })
        });

        function load_detail(id) {
            $('#partner_table').append(`<form id="form_hidden" method="POST" action="/Partner/Detail" style="display: none"><input name="id" id="input_hidden"/></form>`)
            $('#input_hidden').val(id)
            $('#form_hidden').submit();
        }

    </script>
}