
@{
    ViewBag.Title = "Danh sách đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal {
        overflow-y: auto;
    }

    .uppy-list-item {
        margin: 0 !important;
    }

    .select2-dropdown {
        z-index: 8888;
    }

    .show-status-history {
        cursor: pointer;
    }
</style>

<div class="card card-custom collapse_tab_1" id="main-card">

    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div class="row mt-4">
                            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
                                <div class="row align-items-center">
                                    <div class="col-lg-offset-3 col-md-offset-12 col-sm-offset-12 mr-3 mb-4">
                                        <input type="text" class="form-control" placeholder="Tên đối tác" id="search_partner_name" />
                                    </div>
                                    <div class="col-lg-offset-2 col-md-offset-12 col-sm-offset-12 mr-3 mb-4">
                                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                            <select class="form-control text-center" id="search_nation" name="param" style="width:200px !important">
                                                <option label="Label"></option>
                                                @foreach (var i in ViewBag.countries)
                                                {
                                                    <option value="@i.country_name">@i.country_name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-2 col-md-offset-12 col-sm-offset-12 mr-3 mb-4">
                                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                            <select class="form-control text-center" id="search_specialization" name="param" style="width:180px !important">
                                                <option label="Label"></option>
                                                @foreach (var i in ViewBag.specializations)
                                                {
                                                    <option value="@i.name">@i.name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-2 col-md-offset-12 col-sm-offset-12 mr-3 mb-4">
                                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                            <select class="form-control text-center" id="search_coop_agreement" name="param" style="width:110px !important">
                                                <option label="Label"></option>
                                                <option value="1">Chưa có</option>
                                                <option value="2">Đã có</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-2 col-md-offset-12 col-sm-offset-12 mb-4">
                                        <a id="search_btn" class="btn btn-light-primary px-6 font-weight-bold ">Tìm kiếm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2">
                                <div class="row align-items-center justify-content-end">
                                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 mb-4">
                                        <a href="/Partner/Add" class="btn btn-light-primary px-6 font-weight-bold">Thêm</a>
                                    </div>
                                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 mb-4">
                                        <div class="dropdown dropdown-inline ml-2">
                                            <button type="button"
                                                    class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                Export
                                            </button>
                                            <!--begin::Dropdown Menu-->
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                <!--begin::Navigation-->
                                                <ul class="navi flex-column navi-hover py-2">
                                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                                        Choose an option:
                                                    </li>
                                                    <li class="navi-item"  onclick="exportExcel()">
                                                        <a href="#" class="navi-link">
                                                            <span class="navi-icon">
                                                                <i class="la la-file-excel-o"></i>
                                                            </span>
                                                            <span class="navi-text">Excel</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Navigation-->
                                            </div>
                                            <!--end::Dropdown Menu-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="row align-items-center justify-content-end">
                                    <a href="/Partner/List_Deleted" class="px-7">Đối tác đã xóa</a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover table-checkable"
                               id="partner_table">
                            <thead>
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Tên đối tác</th>
                                    <th class="text-center">Quốc gia</th>
                                    <th class="text-center">Website</th>
                                    <th class="text-center">Lĩnh vực</th>
                                    <th class="text-center">Thỏa thuận hợp tác</th>
                                    <th class="text-center">Địa chỉ</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal history partner*@
@{
    Html.RenderPartial("PartialView/Partner_Modal_View_History");
}

@section scripts{
    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $('#search_nation').select2({
            placeholder: 'Quốc gia',
            allowClear: true,
        })

        $('#search_coop_agreement').select2({
            placeholder: 'Thỏa thuận',
            allowClear: true,

        })

        $('#search_specialization').select2({
            placeholder: 'Lĩnh vực',
            allowClear: true,

        })

    </script>
    <script>
         function load_history(id) {
            $.ajax({
                url: '@Url.Action("Load_History", "Partner")',
                type: 'POST',
                datatype: "json",
                data: { 'id': id },
                success: function (data) {
                    $('#partner_name_history').val(data.name);
                    var temp = '';
                    if (data.list.length == 0) {
                        temp = `<tr>
                                <td class="text-center" colspan="6">Chưa có dữ liệu lịch sử</td>
                                </tr>`
                        $('#body_history').html(temp);
                    } else {
                        for (i = 1; i <= data.list.length; i++) {
                            temp += `<tr>
                                    <td class="text-center">`+ i + `</td>
                                    <td class="text-center">`+ data.list[i - 1].code + `</td>
                                    <td class="text-center">`+ data.list[i - 1].activity + `</td>
                                    <td class="text-center text-nowrap">`+ data.list[i - 1].full_name + `</td>
                                    <td class="text-center">`+ convertJsonDate(data.list[i - 1].activity_date_start) + `</td>
                                    <td class="text-center">`+ convertJsonDate(data.list[i - 1].activity_date_end) + `</td>
                                </tr>`
                        }
                        $('#body_history').html(temp);
                    }
                    $('#partner_history').modal('show');

                },
                error: function () {
                }
            })
        }
        function convertJsonDate(dateString) {
            dateString = dateString.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }
    </script>
    <script>

        //datatable
        var datatable = $("#partner_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",

            },
            serverSide: true,
            searching: false,
            lengthChange: false,
            pageLength: 5,
            ajax: {
                url: "@Url.Action("List", "Partner")",
                type: "POST",
                datatype: "json",
                data: {
                    "searchPartner": {
                        "partner_name": function () { return $('#search_partner_name').val() },
                        "nation": function () { return $('#search_nation').val() },
                        "specialization": function () { return $('#search_specialization').val() },
                        "is_collab": function () { return $('#search_coop_agreement').val() },
                        "is_deleted": 0,
                        "language": 1,
                    }
                },
                cache: "false"
            },
            initComplete: function () {
                $(this).parent().css('overflow-x', 'auto');
                $(this).parent().css('padding', '0');
                $(this).parent().css('width', '100%');
                $('#partner_table th').css('padding-top', '5px')
                $('#partner_table th').css('padding-bottom', '5px')
                $('#partner_table > thead > tr > th:nth-child(1)').css('padding-right', '20px')
                $('#partner_table > thead > tr > th:nth-child(2)').css('padding-right', '20px')
                $('#partner_table > thead > tr > th:nth-child(3)').css('padding-right', '20px')
                $('#partner_table > thead > tr > th:nth-child(4)').css('padding', '5px')
                $('#partner_table > thead > tr > th:nth-child(5)').css('padding-right', '20px')
                $('#partner_table > thead > tr > th:nth-child(6)').css('padding', '5px')
                $('#partner_table > thead > tr > th:nth-child(7)').css('padding-right', '20px')
                $('#partner_table > thead > tr > th:nth-child(8)').css('padding', '5px')
            },
            columns: [
                {
                    name: "partner_id",
                    data: "no",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "partner_name",
                    name: "partner_name",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "country_name",
                    name: "country_name",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "website",
                    name: "website",
                    orderable: false,
                    render: function (data) {
                        if (data == null || data == "") {
                            return "";
                        } else {
                            return '<a onclick="open_link(`' + data +'`)"><span class="svg-icon svg-icon-dark svg-icon-md"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M13.544 10.456a4.368 4.368 0 0 0-6.176 0l-3.089 3.088a4.367 4.367 0 1 0 6.177 6.177L12 18.177m-1.544-4.633a4.368 4.368 0 0 0 6.177 0l3.088-3.088a4.368 4.368 0 0 0-6.177-6.177L12 5.823" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg><!--end::Svg Icon--></span></a>';
                        }
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "specialization_name",
                    name: "specialization_name",
                    render: function (data) {
                        if (data == null) {
                            return "";
                        } else {
                            data = data.replaceAll(',', ',<br />')
                            return data;
                        }
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "is_collab",
                    name: "is_collab",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    data: "address",
                    name: "address",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '0 5px')
                    },
                    className: 'text-center',
                },
                {
                    title: 'Hành động',
                    data: "partner_id",
                    orderable: false,
                    width: '125px',
                    render: function (data) {
                        return '<a onclick="load_history('+ data +')" class="show-status-history"><span class="svg-icon svg-icon-dark svg-icon-sm"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Code/Time-schedule.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468c-59.015.042-113.223-20.53-155.822-54.911c-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184c0-101.705-82.311-184-184-184c-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z" fill="black"/></svg><!--end::Svg Icon--></span></a> ' +
                            '<a class="btn btn-sm btn-light-primary px-6 font-weight-bold" onclick="load_detail('+ data +')" style="margin-right: 10px;">Sửa</a><a onclick="confirm_delete('+ data +')" class="btn btn-sm btn-light-danger px-6 font-weight-bold" data-toggle="modal">Xóa</a>'
                    },
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding', '5px')
                    },
                    className: 'text-center text-nowrap'
                },
            ],
            columnDefs: [
                {
                    targets: 5,
                    orderable: false,
                    render: function (data) {
                        var status = {
                            1: {
                                'title': 'Chưa có',
                                'class': 'label-light-warning'
                            },
                            2: {
                                'title': 'Đã có',
                                'class': 'label-light-success'
                            }
                        };
                        if (typeof status[data] === 'undefined') {
                            return data;
                        }
                        return '<span class="text-nowrap label label-lg font-weight-bold ' + status[data].class + ' label-inline">' + status[data].title + '</span> ';
                    },
                },
            ]
        });

        function open_link(data) {
            window.open(data)
        }

        $('#search_btn').click(function () {
            datatable.ajax.reload();
        })
        //overflow
        $(document).ready(function () {
            $('#partner_table').parent().css('overflow-x', 'auto');
            $('#partner_table thead tr th').css('font-weight', 'bold');
            $('.header-modify').css('padding', '13px');

        });
    </script>
    <script>
        function load_detail(id) {
            $('#partner_table').append(`<form id="form_hidden" method="POST" action="/Partner/Detail" style="display: none"><input name="id" id="input_hidden"/></form>`)
            $('#input_hidden').val(id)
            $('#form_hidden').submit();
        }
    </script>
    <script>
        function confirm_delete(id) {
            Swal.fire({
                title: "Xác nhận xóa",
                text: "Có muốn xóa bản ghi này",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xóa",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Partner")',
                        type: "POST",
                        data: { 'id': id },
                        success: function (data) {
                            if (data.success) {
                                datatable.ajax.reload();
                                Swal.fire("Thành công", data.content, "success");
                            } else {
                                Swal.fire("Thất bại", data.content, "error");
                            }
                        },
                        error: function (data) {
                            Swal.fire("Thất bại", "Có lỗi khi xóa", "error");
                        },
                    })
                }
            })
        };
    </script>
    <script>
           function exportExcel() {
        $.ajax({
            url: "@Url.Action("ExportPartnerExcel", "Partner")",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            cache: false,
            success: function (data) {
                if (data.success) {
                    window.location = '../Partner/' + 'Download?fileGuid=' + data.data.FileGuid
                        + '&filename=' + data.data.FileName;
                    toastr.success("Đang tải xuống")
                } else {
                    toastr.error("Có lỗi xảy ra")
                }
            },
            error: function () {
                toastr.error("Có lỗi xảy ra")
            }
        });
    }
    </script>
}



