@using ENTITIES.CustomModels.ScienceManagement.Report;
@{
    ViewBag.Title = "THỐNG KÊ THƯỞNG NCKH THEO NĂM";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, TotalBonusByYearItem> monthRewardsPairs = ViewBag.data;
}
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin: Search Form-->
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="row align-items-center">
                        <div class="col-md-3 my-2 my-md-0">
                            <div class="d-flex align-items-center">
                                <label class="mr-3 mb-0 d-none d-md-block">Năm:</label>
                                <select class="form-control"
                                        id="search_nam">
                                    @for (int i = DateTime.Now.Year; i >= 2018; i--)
                                    {
                                        <option @(int.TryParse(Request["year"], out int year) && year == i ? "selected" : "")>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2 col-xl-4 mt-5 mt-lg-0"
                     style="text-align: right;">
                    <div class="dropdown dropdown-inline mr-2">
                        <button type="button"
                                class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="24px" height="24px" viewBox="0 0 24 24"
                                     version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none"
                                       fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                                              fill="#000000" opacity="0.3" />
                                        <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                                              fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span> Export
                        </button>

                        <!--begin::Dropdown Menu-->
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <!--begin::Navigation-->
                            <ul class="navi flex-column navi-hover py-2">
                                <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                    Choose an option:
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-print"></i>
                                        </span>
                                        <span class="navi-text">Print</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-copy"></i>
                                        </span>
                                        <span class="navi-text">Copy</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="#" onclick="saveFile()" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-excel-o"></i>
                                        </span>
                                        <span class="navi-text">Excel</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-text-o"></i>
                                        </span>
                                        <span class="navi-text">CSV</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="#" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="la la-file-pdf-o"></i>
                                        </span>
                                        <span class="navi-text">PDF</span>
                                    </a>
                                </li>
                            </ul>
                            <!--end::Navigation-->
                        </div>
                        <!--end::Dropdown Menu-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Search Form-->
        <!--begin: Datatable-->
        <table class="table table-bordered table-checkable" id="kt_datatable">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Thưởng bài báo trong nước</th>
                    <th>Thưởng bài báp Scopus Index</th>
                    <th>Thưởng bài báo NCV</th>
                    <th>Thưởng trích dẫn</th>
                    <th>Thưởng sáng chế</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < 13; i++)
                {
                    <tr>
                        <td>Tháng @(i)</td>
                        <td class="text-right">
                            @(monthRewardsPairs.TryGetValue(i, out TotalBonusByYearItem value) && value.PaperRewards != null
                        ? String.Format("{0:n0}", value.PaperRewards.Vietnam.Sum(x => (long)x)) : "0")
                        </td>
                        <td class="text-right">
                            @(value != null && value.PaperRewards != null
                        ? String.Format("{0:n0}", value.PaperRewards.International.Sum(x => (long)x)) : "0")
                        </td>
                        <td class="text-right">
                            @(value != null && value.PaperRewards != null
                        ? String.Format("{0:n0}", value.PaperRewards.FromResearchers.Sum(x => (long)x)) : "0")
                        </td>
                        <td class="text-right">
                            @(value != null ? String.Format("{0:n0}", value.CitationRewards.Sum(x => (long)x)) : "0")
                        </td>
                        <td class="text-right">
                            @(value != null ? String.Format("{0:n0}", value.InventionRewards.Sum(x => (long)x)) : "0")
                        </td>
                        <td class="text-right">
                        </td>
                    </tr>
                }
                @*<tr>
                        <td>Ghi chú</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                    </tr>*@
                <tr>
                    <td>Total</td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        //////////////////////////////////////START SELECT TAG/////////////////////////////////////////////
        $('#search_nam').select2({
            placeholder: "Chọn năm",
            allowClear: false,
        });
        $('#search_nam').on('select2:select', function (e) {
            location.href = "/Reports/TotalBonusByYear?year=" + e.params.data.id;
        });
                                    //////////////////////////////////////END SELECT TAG/////////////////////////////////////////////
    </script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
    <script src="~/Content/Custom JS/ScienceManagement/Reports/excelDownload.js"></script>
}


