@using ENTITIES.CustomModels.ScienceManagement.Conference
@using Newtonsoft.Json.Linq
@{
    ViewBag.Title = "Chi tiết đề nghị hỗ trợ hội nghị";
    Layout = "~/Views/Shared/_Layout.cshtml";

    JObject output = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.output);
    ConferenceDetail ConferenceDetail = output["Conference"].ToObject<ConferenceDetail>();
    List<ConferenceParticipantExtend> Participants = output["Participants"].ToObject<List<ConferenceParticipantExtend>>();
    List<ENTITIES.Cost> Costs = output["Costs"].ToObject<List<ENTITIES.Cost>>();
    List<ConferenceApprovalProcess> ApprovalProcesses = output["ApprovalProcesses"].ToObject<List<ConferenceApprovalProcess>>();
    List<ConferenceCriteria> Criterias = output["Criterias"].ToObject<List<ConferenceCriteria>>();
    DecisionDetail Decision = output["DecisionDetail"].ToObject<DecisionDetail>();
}
<style>
    .chinhsach-container {
        box-shadow: none !important;
        border: 1px solid #e5e5e5e5 !important;
    }

    .swal2-icon .swal2-icon-content {
        font-size: 1em;
    }

    @@media print {
        #ConversationInformation {
            display: none;
        }
    }
</style>
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConferenceDetail">
    <div class="card">
        <div class="card-header" id="ConferenceDetailHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConferenceDetailChild1">
                <div class="card-label">Thông tin hội nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConferenceDetailChild1" class="collapse show" data-parent="#ConferenceDetail">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="font-weight-bolder mr-2">Tên bài báo:</span>
                            <span>@ConferenceDetail.PaperName</span>
                        </div>
                        <hr />
                    </div>
                    <div class="col-lg-5 col-sm-12 col-md-5">
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="font-weight-bolder mr-2">Tên hội nghị:</span>
                            <span>@ConferenceDetail.ConferenceName</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Website hội nghị:</span>
                            <a href="@ConferenceDetail.Website">@(ConferenceDetail.Website!=null?(ConferenceDetail.Website.Length>30? ConferenceDetail.Website.Substring(0,30) + "..." : ConferenceDetail.Website):"")</a>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Diễn giả/ Thành viên BTC:</span>
                            <span>@ConferenceDetail.KeynoteSpeaker</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Thuộc trường đại học top QS 1000:</span>
                            <span>@ConferenceDetail.QsUniversity</span>&nbsp;-&nbsp;<span style="color:red">@(ViewBag.ranking == null ? "Không tìm thấy dữ liệu" : "Rank: " + ViewBag.ranking)</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Hình thức:</span>
                            <span>@ConferenceDetail.FormalityName</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-3">
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Chuyên ngành:</span>
                            <span>@ConferenceDetail.SpecializationName</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="font-weight-bolder mr-2">Địa điểm tổ chức:</span>
                            <span>@ConferenceDetail.CountryName</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Đơn vị tổ chức:</span>
                            <span>@ConferenceDetail.OrganizedUnit</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Đơn vị đồng tổ chức:</span>
                            <span>@ConferenceDetail.Co_organizedUnit</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-4">
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="font-weight-bolder mr-2">Thời gian tổ chức:</span>
                            <span>@ConferenceDetail.TimeStart.ToString("dd/MM/yyyy") – @ConferenceDetail.TimeEnd.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">Thời gian tham dự:</span>
                            <span>@ConferenceDetail.AttendanceStart.ToString("dd/MM/yyyy") – @ConferenceDetail.AttendanceEnd.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-cente my-1">
                            <span class="font-weight-bolder mr-2">File bài báo:</span>
                            <a href="@ConferenceDetail.PaperLink">Xem</a>
                        </div>
                        <div class="d-flex justify-content-lg-start align-items-center">
                            <span class="font-weight-bolder mr-2">Thư mời hội nghị:</span>
                            <a href="@ConferenceDetail.InvitationLink">Xem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="RequestDetail">
    <div class="card">
        <div class="card-header" id="RequestHeading">
            <div class="card-title" data-toggle="collapse" data-target="#RequestChild1">
                <div class="card-label">Thông tin đề nghị</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="RequestChild1" class="collapse show" data-parent="#RequestDetail">
            <div class="card-body table-responsive">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="mb-7">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="font-weight-bolder mr-2">Trạng thái:</span>
                                @if (ConferenceDetail.EditAble)
            {
                                    <span class='label label-lg label-warning label-pill label-inline'>Cần chỉnh sửa</span>
        }
                                else
                                {
                                    <span class="label label-lg label-primary label-pill label-inline">
                                        @ConferenceDetail.StatusName
                                    </span>
    }
                            </div>
                            <div class="d-flex justify-content-between align-items-cente my-1">
                                <span class="font-weight-bolder mr-2">Ngày tạo đề nghị:</span>
                                <span>@ConferenceDetail.CreatedDate.ToString("dd/MM/yyyy")</span>
                            </div>
                            @if (ConferenceDetail.FinishedDate != null)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="font-weight-bolder mr-2">Ngày kết thúc đề nghị:</span>
                                    <span>@ConferenceDetail.FinishedDate.Value.ToString("dd/MM/yyyy")</span>
                                </div>
                            }
                            @if (ConferenceDetail.StatusID > 3 && ConferenceDetail.FormalityID == 2)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="font-weight-bolder mr-2">File quyết định:</span>
                                    <span href="@Decision.Link">Xem</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="font-weight-bolder mr-2">Số quyết định:</span>
                                    <span class="text-muted font-weight-bold">@Decision.DecisionNumber</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="font-weight-bolder mr-2">Ngày ban hành:</span>
                                    <span>@Decision.ValidDate.ToString("dd/MM/yyyy")</span>
                                </div>
                            }
                            @if (ConferenceDetail.FolderLink != null)
                            {
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="font-weight-bolder mr-2">Thư mục drive của đề nghị :</span>
                                    <span href="@ConferenceDetail.FolderLink" target="_blank">Xem</span>
                                </div>
                            }
                        </div>
                        @if (ConferenceDetail.StatusID == 3 && ConferenceDetail.FormalityID == 2)
                        {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kt_datepicker_modal">
                                    Cập nhật quyết định
                                </button>

                                <!--begin::Modal-->
                                <div class="modal fade" id="kt_datepicker_modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Cập nhật quyết định</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                </button>
                                            </div>
                                            <form class="form">
                                                <div class="modal-body">
                                                    <div class="form-group row">
                                                        <label class="col-form-label text-left col-lg-3 col-md-3 col-sm-12">File quyết định <span style='color:red'>*</span>:</label>
                                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                                            <div class="uppy" id="kt_uppy_1">
                                                                <div class="uppy-wrapper text-center">
                                                                    <span class="form-text text-muted float-right">Max file size is 5MB and max number of files is 1.</span>
                                                                </div>
                                                                <div class="uppy-list"></div>
                                                                <div class="uppy-status"></div>
                                                                <div class="uppy-informer uppy-informer-min"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label text-left col-lg-3 col-md-3 col-sm-12">Số quyết định <span style='color:red'>*</span>:</label>
                                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                                            <div class="input-group date">
                                                                <input id="decision_number" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-form-label text-left col-lg-3 col-md-3 col-sm-12">Ngày ban hành <span style='color:red'>*</span>:</label>
                                                        <div class="col-lg-9 col-md-9 col-sm-12">
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control" readonly value="@DateTime.Today.ToString("dd/MM/yyyy")" id="kt_datepicker_3_modal" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary mr-2" data-dismiss="modal">Đóng</button>
                                                    <button type="button" id="SubmitPolicyButton" onclick="SubmitPolicy()" class="btn btn-secondary">Cập nhật</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Modal-->
                            </div>
                        }
                        else if (ConferenceDetail.StatusID == 4 && ConferenceDetail.FormalityID != 2 && ConferenceDetail.FolderLink == null)
    {
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kt_folder_modal">
                                    Cập nhật đơn có chữ ký
                                </button>
                            </div>

                            <!--begin::Modal-->
                            <div class="modal fade" id="kt_folder_modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật quyết định</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i aria-hidden="true" class="ki ki-close"></i>
                                            </button>
                                        </div>
                                        <form class="form">
                                            <div class="modal-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <!--begin::Input-->
                                                        <label>Đơn có chữ ký :</label>
                                                        <div class="uppy" id="kt_uppy_2">
                                                            <div class="uppy-wrapper"></div>
                                                            <div class="uppy-list"></div>
                                                            <div class="uppy-status"></div>
                                                            <div class="uppy-informer uppy-informer-min"></div>
                                                        </div>
                                                        <span class="form-text text-muted">Max file size is 5MB and max number of files is 2.</span>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary mr-2" data-dismiss="modal">Đóng</button>
                                                <button type="button" onclick="SubmitFiles()" class="btn btn-secondary">Cập nhật</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end::Modal-->
                        }
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="card card-custom chinhsach-container">
                            <div class="card-header ribbon ribbon-top ribbon-ver">
                                <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
                                    <i class="fa fa-star text-white"></i>
                                </div>
                                <h3 class="card-title">
                                    <a href="@output["Link"]" class="btn btn-light-primary mr-2" target="_blank">Chính sách hiện tại</a>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div id="criterias" class="checkbox-list">
                                        @foreach (ConferenceCriteria item in Criterias)
                                        {
                                            <label class="checkbox @((ConferenceDetail.StatusID != 1 || item.IsAccepted ) ? "checkbox-disabled" : "")">
                                                <input data-id="@item.CriteriaID" type="checkbox" @((ConferenceDetail.StatusID != 1 || item.IsAccepted) ? "disabled" : "") @(item.IsAccepted ? "checked" : "") name="Checkboxes1" />
                                                <span></span>
                                                @item.CriteriaName
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ConferenceDetail.StatusID == 1 && !ConferenceDetail.EditAble)
                    {
                        <div class="col-lg-12 col-xl-12 mt-2" style="text-align: right;">
                            <div class="dropdown dropdown-inline">
                                <!-- Button trigger modal-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                    Xét duyệt
                                </button>
                                <button class="btn btn-danger" onclick="createAndSubmitForm('/ConferenceSponsor/RequestEdit')">Yêu cầu chỉnh sửa</button>
                            </div>
                        </div>

                        <!-- Modal-->
                        <div class="modal fade" id="exampleModalLong" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xét duyệt điều kiện tham dự</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Bình luận: </label>
                                            <input type="text" class="form-control" id="comment" placeholder="Bình luận trên quy trình phê duyệt" />
                                            <span class="form-text text-muted">Không bắt buộc</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy</button>
                                        <button type="button" onclick="SubmitCriteria()" class="btn btn-primary font-weight-bold">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="Participants">
    <div class="card">
        <div class="card-header" id="ParticipantsHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ParticipantsChild1">
                <div class="card-label">Danh sách tham dự</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ParticipantsChild1" class="collapse show" data-parent="#Participants">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">MSNV/MSSV</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Cơ sở công tác</th>
                            <th scope="col">Chức danh</th>
                            <th scope="col">Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Participants)
                        {
                            <tr>
                                <th scope="row">@item.RowNumber</th>
                                <td>@item.ID</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.OfficeName</td>
                                <td>@item.TitleName</td>
                                <td>
                                    <a target="_blank" href="/ConferenceSponsor/ExportRequest?request_id=@ConferenceDetail.RequestID">Hỗ trợ kinh phí</a><br />
                                    <a target="_blank" href="/ConferenceSponsor/ExportAppointment?request_id=@ConferenceDetail.RequestID">Cử cán bộ đi công tác</a><br />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ExpectedCost">
    <div class="card">
        <div class="card-header" id="ExpectedCostHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ExpectedCostChild1">
                <div class="card-label">Chi phí dự kiến</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ExpectedCostChild1" class="collapse show" data-parent="#ExpectedCost">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Tổ chức tài trợ</th>
                                <th scope="col">Chi phí</th>
                                <th scope="col">Tổng cộng</th>
                                <th>Chấp thuận</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Costs)
                            {
                                <tr>
                                    <td class="align-middle">@item.content</td>
                                    <td class="align-middle">@item.sponsoring_organization</td>
                                    <td class="align-middle">@item.detail</td>
                                    <td>
                                        <span class="label label-lg label-light-danger label-inline targetCost">@String.Format("{0:n0}", item.total) đ</span>
                                    </td>
                                    <td>
                                        <label class="checkbox @(ConferenceDetail.StatusID == 2 && !item.is_accepted ? "" : "checkbox-disabled")">
                                            <input data-id="@item.cost_id" type="checkbox" @(ConferenceDetail.StatusID == 2 && !item.is_accepted ? "" : "disabled") @(item.is_accepted ? "checked" : "") />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <th scope="row">Tổng cộng tạm ứng</th>
                                <td></td>
                                <td></td>
                                <td><span id="totalCost" class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", Costs.Where(x => !x.editable).Select(x => x.total).Sum()) đ</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="align-middle" scope="row">Thanh toán thực tế</th>
                                <td></td>
                                <td></td>
                                <td>
                                    @if (ConferenceDetail.StatusID == 4)
                                    {
                                        <input oninput="numberWithCommas(this)" type="text" id="ReimbursementInput" class="form-control form-control" placeholder="Hoàn ứng" value="@String.Format("{0:n0}", ConferenceDetail.Reimbursement)">
                                    }
                                    else
    {
                                        <span class="label label-lg label-light-danger label-inline">@String.Format("{0:n0}", ConferenceDetail.Reimbursement) đ</span>
                                    }
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    @if (ConferenceDetail.StatusID == 2)
                    {
                        <div class="col-lg-12 col-xl-12" style="text-align: right;">
                            <div class="dropdown dropdown-inline">
                                <!-- Button trigger modal-->
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#costModal">
                                    Xét duyệt
                                </button>
                            </div>
                        </div>

                        <!-- Modal-->
                        <div class="modal fade" id="costModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xét duyệt chi phí</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Bình luận: </label>
                                            <input type="text" class="form-control" id="commentCost" placeholder="Bình luận trên quy trình phê duyệt" />
                                            <span class="form-text text-muted">Không bắt buộc</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy</button>
                                        <button type="button" onclick="SubmitCost()" class="btn btn-primary font-weight-bold">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (ConferenceDetail.StatusID == 4)
    {
                        <div class="col-lg-12 col-xl-12" style="text-align: right;">
                            <div class="dropdown dropdown-inline mr-2">
                                <button class="btn btn-success mr-2" onclick="SubmitReimbursement()">Lưu</button>
                                <button class="btn btn-danger" onclick="EndRequest()">Kết thúc đề nghị</button>
                            </div>
                        </div>
                        <script>
                            function numberWithCommas(ele) {
        var x = $(ele).val().toString().replaceAll(",", "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                $(ele).val(x);
    }
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ApprovalProcess">
    <div class="card">
        <div class="card-header" id="ApprovalProcessHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ApprovalProcessChild1">
                <div class="card-label">Quy trình phê duyệt</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ApprovalProcessChild1" class="collapse show" data-parent="#ApprovalProcess">
            <div class="card-body table-responsive">
                <table class="col-12 table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Quyền</th>
                            <th scope="col">Người duyệt</th>
                            <th scope="col">Bình luận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ApprovalProcesses)
                        {
                            <tr>
                                <td>@item.CreatedDate</td>
                                <td>@item.PositionName</td>
                                <td>@item.FullName</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="accordion accordion-solid accordion-panel accordion-svg-toggle" id="ConversationInformation">
    <div class="card">
        <div class="card-header" id="ConversationInformationHeading">
            <div class="card-title" data-toggle="collapse" data-target="#ConversationInformationChild1">
                <div class="card-label">Thông tin hội thoại</div>
                <span class="svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div id="ConversationInformationChild1" class="collapse show" data-parent="#ConversationInformation">
            <div class="card-body">
                @{ Html.RenderAction("Index", "CommentRequest", new { request_id = ConferenceDetail.RequestID }); }
            </div>
        </div>
    </div>
</div>

<!--begin::Sticky Toolbar-->
<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
    <!--begin::Item-->
    <li class="nav-item mb-2" id="kt_demo_panel_toggle" data-toggle="tooltip" title="In trang này" data-placement="right">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-success btn-hover-success" onclick="window.print()">
            <i class="flaticon2-printer"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="nav-item mb-2" data-toggle="tooltip" title="Layout Builder" data-placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary" href="https://preview.keenthemes.com/metronic/preview/demo2/builder.html" target="_blank">
            <i class="flaticon2-gear"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="nav-item mb-2" data-toggle="tooltip" title="Documentation" data-placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-warning btn-hover-warning" href="https://keenthemes.com/metronic/?page=docs" target="_blank">
            <i class="flaticon2-telegram-logo"></i>
        </a>
    </li>
    <!--end::Item-->
</ul>
<!--end::Sticky Toolbar-->

@section scripts {
    @*cập nhật quyết định*@
    <link href="~/Content/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/custom/uppy/uppy.bundle.js"></script>
    <script>
        var arrows;
        if (KTUtil.isRTL()) {
            arrows = {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            }
        } else {
            arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        }

        // enable clear button for modal demo
        $('#kt_datepicker_3_modal').datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            todayHighlight: true,
            templates: arrows,
            format: "dd/mm/yyyy"
        });

        const save_loader = new LoaderBtn($("#SubmitPolicyButton"));

        const Tus = Uppy.Tus;
        const StatusBar = Uppy.StatusBar;
        const FileInput = Uppy.FileInput;
        const Informer = Uppy.Informer;

        if ($("#kt_uppy_1").length != 0) {
            // Uppy variables
            // For more info refer: https://uppy.io/
            var elemId = 'kt_uppy_1';
            var id = '#' + elemId;
            var $statusBar = $(id + ' .uppy-status');
            var $uploadedList = $(id + ' .uppy-list');
            var timeout;

            var uppy1 = Uppy.Core({
                debug: true,
                autoProceed: false,
                showProgressDetails: true,
                restrictions: {
                    maxFileSize: 5242880, // 5mb
                    maxNumberOfFiles: 1,
                    minNumberOfFiles: 1,
                    allowedFileTypes: ['.pdf', '.docx', '.doc']
                }
            });

            uppy1.use(FileInput, {
                target: id + ' .uppy-wrapper',
                pretty: false
            });
            uppy1.use(Informer, {
                target: id + ' .uppy-informer'
            });

            // demo file upload server
            uppy1.use(Tus, {
                endpoint: 'https://master.tus.io/files/'
            });
            uppy1.use(StatusBar, {
                target: id + ' .uppy-status',
                hideUploadButton: true,
                hideAfterFinish: false
            });

            $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
            $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

            var $fileLabel = $(id + ' .uppy-input-label');

            uppy1.on('upload', function (data) {
                $fileLabel.text("Uploading...");
                $statusBar.addClass('uppy-status-ongoing');
                $statusBar.removeClass('uppy-status-hidden');
                clearTimeout(timeout);
            });

            uppy1.on('file-added', function (file) {
                var sizeLabel = "bytes";
                var filesize = file.size;
                if (filesize > 1024) {
                    filesize = filesize / 1024;
                    sizeLabel = "kb";

                    if (filesize > 1024) {
                        filesize = filesize / 1024;
                        sizeLabel = "MB";
                    }
                }
                var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                $uploadedList.append(uploadListHtml);

                $statusBar.addClass('uppy-status-hidden');
                $statusBar.removeClass('uppy-status-ongoing');
            });

            $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                var itemId = $(this).attr('data-id');
                uppy1.removeFile(itemId);
                $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
            });
        }

        if ($("#kt_uppy_2").length != 0) {
            // Uppy variables
            // For more info refer: https://uppy.io/
            var elemId = 'kt_uppy_2';
            var id = '#' + elemId;
            var $statusBar = $(id + ' .uppy-status');
            var $uploadedList = $(id + ' .uppy-list');
            var timeout;

            var uppy2 = Uppy.Core({
                debug: true,
                autoProceed: false,
                showProgressDetails: true,
                restrictions: {
                    maxFileSize: 5242880, // 5mb
                    maxNumberOfFiles: 2,
                    minNumberOfFiles: 1,
                    allowedFileTypes: ['.pdf', '.docx', '.doc']
                }
            });

            uppy2.use(FileInput, {
                target: id + ' .uppy-wrapper',
                pretty: false
            });
            uppy2.use(Informer, {
                target: id + ' .uppy-informer'
            });

            // demo file upload server
            uppy2.use(Tus, {
                endpoint: 'https://master.tus.io/files/'
            });
            uppy2.use(StatusBar, {
                target: id + ' .uppy-status',
                hideUploadButton: true,
                hideAfterFinish: false
            });

            $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
            $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

            var $fileLabel = $(id + ' .uppy-input-label');

            uppy2.on('upload', function (data) {
                $fileLabel.text("Uploading...");
                $statusBar.addClass('uppy-status-ongoing');
                $statusBar.removeClass('uppy-status-hidden');
                clearTimeout(timeout);
            });

            uppy2.on('file-added', function (file) {
                var sizeLabel = "bytes";
                var filesize = file.size;
                if (filesize > 1024) {
                    filesize = filesize / 1024;
                    sizeLabel = "kb";

                    if (filesize > 1024) {
                        filesize = filesize / 1024;
                        sizeLabel = "MB";
                    }
                }
                var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                $uploadedList.append(uploadListHtml);

                $statusBar.addClass('uppy-status-hidden');
                $statusBar.removeClass('uppy-status-ongoing');
            });

            $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                var itemId = $(this).attr('data-id');
                uppy2.removeFile(itemId);
                $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
            });

            function SubmitFiles() {
                let fd = new FormData();
                let temp = [];
                for (var i = 0; i < uppy2.getFiles().length; i++) {
                    temp.push(uppy2.getFiles()[i].data)
                    fd.append("file " + i, uppy2.getFiles()[i].data);
                }
                fd.append("request_id", @ConferenceDetail.RequestID);
                $.ajax({
                    url: "/ConferenceSponsor/SubmitFiles",
                    method: "post",
                    dataType: "json",
                    complete: function (result) {
                        if (result.responseJSON.success) {
                            location.reload();
                        }
                        else {
                            toastr.error(result.content);
                        }
                        save_loader.stopLoading();
                    },
                    error: function () {
                        toastr.error("Có lỗi xảy ra");
                        save_loader.stopLoading();
                    },
                    data: fd,
                    processData: false,
                    contentType: false,
                });
            }
        }

        function SubmitPolicy() {
            let decision_number = $("#decision_number").val().trim();
            let valid_date = $("#kt_datepicker_3_modal").val();
            if (uppy1.getFiles()[0] == undefined) {
                toastr.error("Chưa có file quyết định");
                return false;
            }
            if (decision_number == "") {
                toastr.error("Chưa nhập số quyết định");
                return false;
            }
            let fd = new FormData();
            fd.append("decision_file", uppy1.getFiles()[0].data);
            fd.append("valid_date", valid_date);
            fd.append("decision_number", decision_number);
            fd.append("request_id", @ConferenceDetail.RequestID);

            save_loader.startLoading();
            $.ajax({
                url: "/ConferenceSponsor/SubmitPolicy",
                method: "post",
                dataType: "json",
                complete: function (result) {
                    if (result.responseJSON.success) {
                        location.reload();
                    }
                    else {
                        toastr.error(result.content);
                    }
                    save_loader.stopLoading();
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                    save_loader.stopLoading();
                },
                data: fd,
                processData: false,
                contentType: false,
            });
        }
    </script>
    @*xét duyệt tiêu chí/chi phí*@
    <script>
        //$(function () {
        //    $("#kt_body").addClass("aside-minimize")
        //})
        var ConferenceDetail = document.getElementById("ConferenceDetail").parentElement.removeAttribute("class");

        function SubmitCriteria() {
            var criterias = []
            let inputs = $("#criterias").find("input:not(:disabled)");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checked)
                    criterias.push(inputs[i].dataset.id);
            }
            if (criterias.length == 0) {
                toastr.error("Bạn chưa chọn tiêu chí nào");
                return false;
            }
            createAndSubmitForm("/ConferenceSponsor/UpdateCriterias", JSON.stringify(criterias), $("#comment").val())
        }

        function SubmitCost() {
            var costs = []
            for (var i = 0; i < $("#ExpectedCostChild1 input[type='checkbox']").length; i++) {
                if ($("#ExpectedCostChild1 input[type='checkbox']")[i].checked)
                    costs.push($("#ExpectedCostChild1 input[type='checkbox']")[i].dataset.id);
            }
            createAndSubmitForm("/ConferenceSponsor/UpdateCosts", JSON.stringify(costs), $("#commentCost").val())
        }

        function SubmitReimbursement() {
            var Reimbursement = $("#ReimbursementInput").val().replaceAll(",", "");
            if (isNaN(Reimbursement) || Reimbursement <= 0) {
                toastr.error("Tiền hoàn ứng không hợp lệ");
                return false;
            }
            createAndSubmitForm("/ConferenceSponsor/UpdateReimbursement", $("#ReimbursementInput").val())
        }

        function createAndSubmitForm(url, data, comment) {
            var newForm = jQuery('<form>', {
                'action': url,
                'method': 'post'
            }).append(jQuery('<input>', {
                'name': 'data',
                'value': data,
                'type': 'hidden'
            })).append(jQuery('<input>', {
                'name': 'comment',
                'value': comment,
                'type': 'hidden'
            })).append(jQuery('<input>', {
                'name': 'request_id',
                'value': "@(ConferenceDetail.RequestID)",
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();
        }

        function RequestEdit() {
            createAndSubmitForm("/ConferenceSponsor/RequestEdit", "");
        }

        function EndRequest() {
            Swal.fire({
                title: "Bạn có chắc chắn muốn kết thúc đề nghị không?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Hủy",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    createAndSubmitForm('/ConferenceSponsor/EndRequest')
                }
            });
        }
    </script>
} 