<div class="modal fade in" id="add_partner_mou" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center row">
                <h4 class="modal-title font-weight-bolder" id="add_partner_mou_title">THÊM ĐỐI TÁC TRONG BIÊN BẢN GHI NHỚ</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Tên đối tác</label>
                        <label style="color:blue" class="float-right"><a href="MOU/Detail#" onclick="checkPartnerAdd()">Kiểm tra</a></label>
                        @*<div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                <input type="text" class="form-control" id="partner_name_add" list="partnerList" onchange="preventAdd()" />
                            </div>*@
                        <input hidden readonly type="text" class="form-control" id="partner_id_add" placeholder="" name="" value="" />
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                                <input type="text" class="form-control" id="partner_name_add" list="partnerList" onchange="preventAddMOUPartner()" />
                            </div>
                            <datalist id="partnerList">
                                @if (ViewBag.listPartnerMOUPartner != null)
                                {
                                    foreach (var item in ViewBag.listPartnerMOUPartner)
                                    {
                                        <option value="@item.partner_name">@item.partner_name</option>
                                    }
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Quốc gia</label>
                        <input class="form-control " type="text" placeholder="Quốc gia" autocomplete="off" id="mou_partner_nation_add" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Website</label>
                        <input class="form-control" type="text" placeholder="Website" autocomplete="off" id="mou_partner_website_add" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Địa chỉ đối tác</label>
                        <input class="form-control " type="text" placeholder="Địa chỉ đối tác" autocomplete="off" id="mou_partner_address_add" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Đại diện</label>
                        <input class="form-control " type="text" placeholder="Đại diện" autocomplete="off" id="mou_partner_represent_add" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Email</label>
                        <input class="form-control " type="text" placeholder="Email" autocomplete="off" id="mou_partner_email_add" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label class="font-weight-bolder">Số điện thoại</label>
                        <input class="form-control " type="text" placeholder="Số điện thoại" autocomplete="off" id="mou_partner_phone_add" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Ngày ký kết</label>
                        <div class="input-group date kt_datetimepicker_3" id="kt_datetimepicker_sign_date_add" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" id="mou_sign_date_partner_add" data-target="#kt_datetimepicker_sign_date_add" />
                            <div class="input-group-append" data-target="#kt_datetimepicker_sign_date_add" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Lĩnh vực</label>
                        <label style="color:blue" class="float-right"><a href="MOU/Detail#">Quản lý</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select2" id="mou_partner_specialization_add" name="param" multiple="multiple" style="width:100% !important">
                                @foreach (var item in ViewBag.listSpeMOUPartner)
                                {
                                    <option value="@item.specialization_id">@item.specialization_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <label style="color:red">*</label>
                        <label class="font-weight-bolder">Phạm vi hợp tác</label>
                        <label style="color:blue" class="float-right"><a href="MOU/Detail#">Quản lý</a></label>
                        <div class="d-flex align-items-center col-xl-12 col-lg-12 px-0">
                            <select class="form-control select2" multiple="multiple" id="mou_partner_scope_add" style="width:100% !important">
                                @foreach (var item in ViewBag.listScopesMOUPartner)
                                {
                                    <option value="@item.scope_id">@item.scope_abbreviation</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="add_mou_partner_button" type="button" class="btn btn-sm btn-light-primary" onclick="addMOUPartner()" disabled>Thêm</button>
            </div>
        </div>
    </div>
</div>
