
@{
    ViewBag.Title = "QUẢN LÝ ĐIỀU KIỆN HỖ TRỢ HỘI NGHỊ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <select style="max-width: 100px" id="select-language" class="form-control">
                        @foreach (ENTITIES.Language item in ViewBag.languages)
                        {
                            <option @(ViewBag.language_id == item.language_id ? "selected" : "") value="@item.language_id">@item.language_name</option>
                        }
                    </select>
                    <a href="/" style="min-width: 130px" type="button" class="btn btn-light-primary float-right">
                        Thay đổi chính sách
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="mytable" style="min-width: 500px" class="table table-bordered table-checkable">
                <thead>
                    <tr>
                        <th width="80%" class="text-center">Điều kiện hỗ trợ hội nghị</th>
                        <th width="20%" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ENTITIES.ConferenceCriteriaLanguage item in ViewBag.ConferenceCriteriaLanguages)
                    {
                        <tr data-id="@item.conference_criteria_language_id">
                            <td>
                                <input disabled type="text" class="form-control" value="@item.name" />
                            </td>
                            <td style="text-align: center">
                                <button style="width: 90px" type="button" onclick="ChangeName(this)" class="btn btn-light-primary change-condition">
                                    Chỉnh sửa
                                </button>
                                <button style="width: 90px" type="button" hidden onclick="SaveName(this)" class="btn btn-light-success save-condition">
                                    Lưu
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--end: Datatable-->
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#select-language").select2({
                minimumResultsForSearch: -1
            });

            $("#select-language").on('select2:select', function (e) {
                var data = e.params.data;
                window.location.search = "?language=" + data.id
            });
        })

        function ChangeName(ele) {
            let parent = $(ele).closest("tr");
            $(parent).find("input").prop("disabled", false);
            $(parent).find(".save-condition").prop("hidden", false);
            $(ele).prop("hidden", true);
        }

        function SaveName(ele) {
            let save_loader = new LoaderBtn(ele);
            save_loader.startLoading();
            let parent = $(ele).closest("tr");
            $.ajax({
                url: "/ConditionManagement/Edit",
                method: "post",
                complete: function (data) {
                    if (data.responseJSON.success) {
                        $(parent).find("input").val(data.responseJSON.obj);
                        $(parent).find("input").prop("disabled", true);
                        $(parent).find(".change-condition").prop("hidden", false);
                        $(ele).prop("hidden", true);
                        toastr.success("Chỉnh sửa thành công");
                    }
                    else {
                        toastr.error(data.responseJSON.content);
                    }
                    save_loader.stopLoading();
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                    save_loader.stopLoading();
                },
                dataType: "json",
                data: {
                    id: $(parent).data("id"),
                    name: $(parent).find("input").val()
                }
            });
        }
    </script>
}