@using ENTITIES.CustomModels.ScienceManagement.Researcher;
<style>
    .title-tags {
        margin-bottom: 0.2rem;
    }

    .profile-bar {
        margin-top: 1.5rem
    }
    .info-basic td{
        padding-bottom: 1rem;
        vertical-align:initial
    }
</style>
<div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
    <!--begin::Profile Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Body-->
        <div class="card-body pt-4">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-hor"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover py-5">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-drop"></i></span>
                                    <span class="navi-text">New Group</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-list-3"></i></span>
                                    <span class="navi-text">Contacts</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-rocket-1"></i></span>
                                    <span class="navi-text">Groups</span>
                                    <span class="navi-link-badge">
                                        <span class="label label-light-primary label-inline font-weight-bold">new</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-bell-2"></i></span>
                                    <span class="navi-text">Calls</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-gear"></i></span>
                                    <span class="navi-text">Settings</span>
                                </a>
                            </li>

                            <li class="navi-separator my-3"></li>

                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-magnifier-tool"></i></span>
                                    <span class="navi-text">Help</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon"><i class="flaticon2-bell-2"></i></span>
                                    <span class="navi-text">Privacy</span>
                                    <span class="navi-link-badge">
                                        <span class="label label-light-danger label-rounded font-weight-bold">5</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
            </div>
            <!--end::Toolbar-->
            <!--begin::User-->
            <div class="d-flex align-items-center">
                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                    <div class="image-input image-input-empty image-input-outline" id="kt_image_avatar" style="background-image: url(@(ViewBag.profile.avatar==null?"/Content/assets/media/users/blank.png":ViewBag.profile.avatar))">
                        <div class="image-input-wrapper"></div>

                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                            <i class="fa fa-pen icon-sm text-muted"></i>
                            <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>

                        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" id="cancel_avatar" data-toggle="tooltip" title="Cancel avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>

                        @*<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                            <i class="ki ki-bold-close icon-xs text-muted"></i>
                        </span>*@
                    </div>
                </div>
                <div class="profile-bar">
                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">
                        @ViewBag.profile.name
                    </a>
                    <div class="text-muted">
                        @foreach (SelectField a in ViewBag.profile.position_fields)
                        {
                            if (a.selected == 1)
                            {
                                <span class="label label-success label-pill label-inline mr-2 title-tags">@a.name</span>
                            }
                        }
                    </div>
                    <br />

                </div>
            </div>
            <!--end::User-->
            <!--begin::Contact-->
            <div class="py-9">
                <table class="info-basic">
                    <thead>
                        <tr><th style="width:5rem"></th><th></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="text-dark-75 font-weight-bolder mr-2">Email:</span></td>
                            <td>@ViewBag.profile.email</td>
                        </tr>
                        <tr>
                            <td><span class="text-dark-75 font-weight-bolder mr-2">SĐT:</span></td>
                            <td>@ViewBag.profile.phone</td>
                        </tr>
                        <tr>
                            <td><span class="text-dark-75 font-weight-bolder mr-2">Đơn vị:</span></td>
                            <td>@ViewBag.profile.office</td>
                        </tr>
                        <tr>
                            <td><span class="text-dark-75 font-weight-bolder mr-2">Chức vụ:</span></td>
                            <td>
                                @foreach (SelectField a in ViewBag.profile.title_fields)
                                {
                                    if (a.selected == 1)
                                    {
                                        <span class="label label-outline-danger title-tags label-pill label-inline mr-1">@a.name</span>
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end::Contact-->
            <!--begin::Nav-->
            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                <div class="navi-item mb-2">
                    <a href="/Researchers/ViewInfo?id=@ViewBag.profile.id" class="research-info-link navi-link py-4 @(Request.RawUrl.Contains("ViewInfo")?"active":"")">
                        <span class="navi-icon mr-2">
                            <i class="fas fa-user icon-md"></i>
                        </span>
                        <span class="navi-text font-size-lg">
                            THÔNG TIN CHUNG
                        </span>
                    </a>
                </div>
                
                <div class="navi-item mb-2">
                    <a href="/Researchers/Biography?id=@ViewBag.profile.id" class="research-info-link navi-link py-4 @(Request.RawUrl.Contains("Biography")?"active":"")">
                        <span class="navi-icon mr-2">
                            <i class="fas fa-history icon-md"></i>
                        </span>
                        <span class="navi-text font-size-lg">
                            TIỂU SỬ
                        </span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="/Researchers/Publications?id=@ViewBag.profile.id" class="research-info-link navi-link py-4 @(Request.RawUrl.Contains("Publications")?"active":"")">
                        <span class="navi-icon mr-2">
                            <i class="far fa-newspaper icon-md"></i>
                        </span>
                        <span class="navi-text font-size-lg">
                            CÔNG BỐ KHOA HỌC
                        </span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="/Researchers/Rewards?id=@ViewBag.profile.id" class="research-info-link navi-link py-4 @(Request.RawUrl.Contains("Rewards")?"active":"")">
                        <span class="navi-icon mr-2">
                            <i class="fas fa-certificate icon-md"></i>
                        </span>
                        <span class="navi-text font-size-lg">
                            GIẢI THƯỞNG
                        </span>
                    </a>
                </div>
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Profile Card-->
</div>
<div class="modal fade" id="avatar_change" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thay đổi ảnh hồ sơ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-7 pb-2" style=" text-align: center;">
                    <div class="image-input image-input-outline" id="kt_image_avatar">
                        <div class="image-input-wrapper" id="avatar_preview"></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" id="delete_avt" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary font-weight-bold" id="submit_edit_avt">Đồng ý</button>
            </div>
        </div>
    </div>
</div>