@{
    System.Resources.ResourceManager rm = GUEST.Models.LanguageResource.GetResourceManager();
    BLL.Authen.LoginRepo.User user = null;
    if (Session["User"] != null)
    {
        user = (BLL.Authen.LoginRepo.User)Session["User"];
    }
}

<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@ViewBag.title | FPT Science and International Affairs</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Page Vendors Styles(used by this page)-->
    @RenderSection("Styles", false)
    <link href="~/Content/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/custom/uppy/uppy.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Content/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link href="~/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://daihoc.fpt.edu.vn/favicon.ico" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="24917390994-co652l6gu3eeoqaf96oc9h4av23eprot.apps.googleusercontent.com">
    <link href="~/Content/Custom CSS/preloader.css" rel="stylesheet" />
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" style="background-image: url(https://images.weserv.nl/?url=http://103.77.167.209:99/bg-10.jpeg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <div id="loading"></div>
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile ">
        <!--begin::Logo-->
        <a href="/">
            <img alt="Logo" src="../Content/assets/media/logos/logo-letter-1.png" class="logo-default max-h-30px" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>

            <button class="btn btn-icon btn-hover-transparent-white p-0 ml-3" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                                                              height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                  fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                  fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </button>
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header  header-fixed ">
                    <!--begin::Container-->
                    <div class=" container  d-flex align-items-stretch justify-content-between">
                        <!--begin::Left-->
                        <div class="d-flex align-items-stretch mr-3">
                            <!--begin::Header Logo-->
                            <div class="header-logo">
                                <a href="/">
                                    <img alt="Logo" src="~/Content/assets/media/logos/logo-letter-9.png" class="logo-default max-h-40px" />
                                    <img alt="Logo" src="~/Content/assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-40px" />
                                </a>
                            </div>
                            <!--end::Header Logo-->
                            <!--begin::Header Menu Wrapper-->
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <!--begin::Header Menu-->
                                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                                    <!--begin::Header Nav-->
                                    <ul class="menu-nav ">
                                        <li class="menu-item  menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="/" class="menu-link">
                                                <span class="menu-text">
                                                    @rm.GetString("homepage")
                                                </span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle">
                                                <span class="menu-text">
                                                    @rm.GetString("ScienceManagementNavbar")
                                                </span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                            </a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="#" class="menu-link"> <span class="menu-text">@rm.GetString("ActivityNavbar")</span> </a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/ScientificProducts" class="menu-link"><span class="menu-text">@rm.GetString("ScientificProducts")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/Researchers/List" class="menu-link"><span class="menu-text">@rm.GetString("Researchers")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="/ArticlePolicy" class="menu-link"><span class="menu-text">@rm.GetString("Policy")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="#" class="menu-link"><span class="menu-text">@rm.GetString("NewPublications")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="#" class="menu-link"><span class="menu-text">@rm.GetString("ProcedureGuidelines")</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle">
                                                <span class="menu-text">
                                                    @rm.GetString("InternationalAffair")
                                                </span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                            </a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="@Url.Action("Long_Term","AcademicCollaboration")" class="menu-link"><span class="menu-text">@rm.GetString("LongTerm")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="@Url.Action("Short_Term","AcademicCollaboration")" class="menu-link"><span class="menu-text">@rm.GetString("ShortTerm")</span></a>
                                                    </li>
                                                    <li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                                        <a href="@Url.Action("List", "Partner")" class="menu-link"><span class="menu-text">@rm.GetString("PartnerList")</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="@Url.Action("Index","AcademicActivity")" class="menu-link">
                                                <span class="menu-text">
                                                    @rm.GetString("AcademicActivity")
                                                </span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                            </a>
                                        </li>
                                        <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="#" class="menu-link">
                                                <span class="menu-text">@rm.GetString("News")</span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                            </a>
                                        </li>
                                        @*sẽ xóa true sau khi deploy cho khách hàng*@
                                        <!--@if (@user != null && (user.account.role_id == 1 || true))
                                        {
                                            <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                                <a href="/SettingDrive" class="menu-link">
                                                    <span class="menu-text">SETUP DRIVE</span><span class="menu-desc"></span><i class="menu-arrow"></i>
                                                </a>
                                            </li>
                                        }-->
                                    </ul>
                                    <!--end::Header Nav-->
                                </div>
                                <!--end::Header Menu-->
                            </div>
                            <!--end::Header Menu Wrapper-->
                        </div>
                        <!--end::Left-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <!--begin::Search-->
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <!--end::Toggle-->
                                <!--begin::Dropdown-->
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                    <div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
                                        <!--begin:Form-->
                                        <form method="get" class="quick-search-form">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="svg-icon svg-icon-lg">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg"
                                                                                                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                                                                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none"
                                                                   fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                                          fill="#000000" fill-rule="nonzero"
                                                                          opacity="0.3" />
                                                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                                          fill="#000000" fill-rule="nonzero" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search..." />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="quick-search-close ki ki-close icon-sm text-muted"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                        <!--end::Form-->
                                        <!--begin::Scroll-->
                                        <div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200">
                                        </div>
                                        <!--end::Scroll-->
                                    </div>
                                </div>
                                <!--end::Dropdown-->
                            </div>
                            <!--end::Search-->
                            @if (user != null)
                            {
                                <!--begin::Notifications-->
                                <div class="dropdown">
                                    <!--begin::Toggle-->
                                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1 pulse pulse-primary">
                                            <i class="fa fas fa-bell icon-md"></i>
                                            <span style="display: none" id="noti-pulse" class="pulse-ring"></span>
                                            <span style="display: none" id="noti-number" class="sibfvsnu px9q9ucb j2ut9x2k p4hiznlx pq6dq46d e9vueds3 ekzkrbhg omvj5yrc jiuqdcnw d82f96u3 gky8063y">
                                                <span class="bp9cbjyn ljqsnud1 pq6dq46d datstx6m taijpn5t jb3vyjys jxrgncrl qt6c0cv9 qnrpqo6b k4urcfbm">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::Toggle-->
                                    <!--begin::Dropdown-->
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                        <form>
                                            <!--begin::Header-->
                                            <!--<div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(../Content/assets/media/misc/bg-1.jpg)">-->
                                            <!--begin::Title-->
                                            <!--<h4 class="d-flex flex-center rounded-top">
                                                <span class="text-white">User Notifications</span>
                                                <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2">
                                                    23
                                                    new
                                                </span>
                                            </h4>-->
                                            <!--end::Title-->
                                            <!--</div>-->
                                            <!--end::Header-->
                                            <!--begin::Content-->
                                            <div class="tab-content">
                                                <!--begin::Tabpane-->
                                                <div class="tab-pane active show" id="topbar_notifications_events" role="tabpanel">
                                                    <!--begin::Nav-->
                                                    <div class="navi navi-hover scroll my-4" id="event-noti" data-scroll="true" data-height="300" data-mobile-height="200">
                                                    </div>
                                                    <!--end::Nav-->
                                                </div>
                                                <!--end::Tabpane-->
                                            </div>
                                            <!--end::Content-->
                                        </form>
                                    </div>
                                    <!--end::Dropdown-->
                                </div>
                                <!--end::Notifications-->
                                <!--begin::Quick Actions-->
                                <div class="dropdown">
                                    <!--begin::Toggle-->
                                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                                            <i class="fab la-telegram-plane icon-md"></i>
                                        </div>
                                    </div>
                                    <!--end::Toggle-->
                                    <!--begin::Dropdown-->
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                        <!--begin:Header-->
                                        <div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(../Content/assets/media/misc/bg-1.jpg)">
                                            <h4 class="text-white font-weight-bold">
                                                @rm.GetString("RequestList")
                                            </h4>
                                        </div>
                                        <!--end:Header-->
                                        <!--begin:Nav-->
                                        <div class="row row-paddingless">clcl
                                            <!--begin:Item-->
                                            <div class="col-6">
                                                <a href="/ScientificProducts/Pending?type=paper" class="d-block py-10 px-5 text-center bg-hover-light border-right border-bottom">
                                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Home\Book-open.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M13.6855025,18.7082217 C15.9113859,17.8189707 18.682885,17.2495635 22,17 C22,16.9325178 22,13.1012863 22,5.50630526 L21.9999762,5.50630526 C21.9999762,5.23017604 21.7761292,5.00632908 21.5,5.00632908 C21.4957817,5.00632908 21.4915635,5.00638247 21.4873465,5.00648922 C18.658231,5.07811173 15.8291155,5.74261533 13,7 C13,7.04449645 13,10.79246 13,18.2438906 L12.9999854,18.2438906 C12.9999854,18.520041 13.2238496,18.7439052 13.5,18.7439052 C13.5635398,18.7439052 13.6264972,18.7317946 13.6855025,18.7082217 Z" fill="#000000" />
                                                                <path d="M10.3144829,18.7082217 C8.08859955,17.8189707 5.31710038,17.2495635 1.99998542,17 C1.99998542,16.9325178 1.99998542,13.1012863 1.99998542,5.50630526 L2.00000925,5.50630526 C2.00000925,5.23017604 2.22385621,5.00632908 2.49998542,5.00632908 C2.50420375,5.00632908 2.5084219,5.00638247 2.51263888,5.00648922 C5.34175439,5.07811173 8.17086991,5.74261533 10.9999854,7 C10.9999854,7.04449645 10.9999854,10.79246 10.9999854,18.2438906 L11,18.2438906 C11,18.520041 10.7761358,18.7439052 10.4999854,18.7439052 C10.4364457,18.7439052 10.3734882,18.7317946 10.3144829,18.7082217 Z" fill="#000000" opacity="0.3" />
                                                            </g>
                                                        </svg><!--end::Svg Icon--></span><span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">@rm.GetString("ArticleReward")</span>
                                                </a>
                                            </div>
                                            <!--end:Item-->
                                            <!--begin:Item-->
                                            <div class="col-6">
                                                <a href="/ConferenceSponsor" class="d-block py-10 px-5 text-center bg-hover-light border-bottom">
                                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Communication\Group.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span> <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">@rm.GetString("ConferenceSponsorRequests")</span>
                                                </a>
                                            </div>
                                            <!--end:Item-->
                                            <!--begin:Item-->
                                            <div class="col-6">
                                                <a href="/Citation/Pending" class="d-block py-10 px-5 text-center bg-hover-light border-right">
                                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Communication\Share.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M10.9,2 C11.4522847,2 11.9,2.44771525 11.9,3 C11.9,3.55228475 11.4522847,4 10.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,16 C20,15.4477153 20.4477153,15 21,15 C21.5522847,15 22,15.4477153 22,16 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L10.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <path d="M24.0690576,13.8973499 C24.0690576,13.1346331 24.2324969,10.1246259 21.8580869,7.73659596 C20.2600137,6.12944276 17.8683518,5.85068794 15.0081639,5.72356847 L15.0081639,1.83791555 C15.0081639,1.42370199 14.6723775,1.08791555 14.2581639,1.08791555 C14.0718537,1.08791555 13.892213,1.15726043 13.7542266,1.28244533 L7.24606818,7.18681951 C6.93929045,7.46513642 6.9162184,7.93944934 7.1945353,8.24622707 C7.20914339,8.26232899 7.22444472,8.27778811 7.24039592,8.29256062 L13.7485543,14.3198102 C14.0524605,14.6012598 14.5269852,14.5830551 14.8084348,14.2791489 C14.9368329,14.140506 15.0081639,13.9585047 15.0081639,13.7695393 L15.0081639,9.90761477 C16.8241562,9.95755456 18.1177196,10.0730665 19.2929978,10.4469645 C20.9778605,10.9829796 22.2816185,12.4994368 23.2042718,14.996336 L23.2043032,14.9963244 C23.313119,15.2908036 23.5938372,15.4863432 23.9077781,15.4863432 L24.0735976,15.4863432 C24.0735976,15.0278051 24.0690576,14.3014082 24.0690576,13.8973499 Z" fill="#000000" fill-rule="nonzero" transform="translate(15.536799, 8.287129) scale(-1, 1) translate(-15.536799, -8.287129) " />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span> <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">@rm.GetString("CitationRewardRequests")</span>
                                                </a>
                                            </div>
                                            <!--end:Item-->
                                            <!--begin:Item-->
                                            <div class="col-6">
                                                <a href="/ScientificProducts/Pending?type=invention" class="d-block py-10 px-5 text-center bg-hover-light">
                                                    <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\General\Shield-check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3" />
                                                                <path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z" fill="#000000" />
                                                            </g>
                                                        </svg><!--end::Svg Icon-->
                                                    </span> <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">@rm.GetString("InventionRewardRequests")</span>
                                                </a>
                                            </div>
                                            <!--end:Item-->
                                        </div>
                                        <!--end:Nav-->
                                    </div>
                                    <!--end::Dropdown-->
                                </div>
                                <!--end::Quick Actions-->
                                <!--begin::Quick Actions-->
                                <div class="dropdown">
                                    <!--begin::Toggle-->
                                    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                                            <i class="la la-plus icon-md"></i>
                                        </div>
                                    </div>
                                    <!--end::Toggle-->
                                    <!--begin::Dropdown-->
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                        <div class="row">
                                            <div class="add_request_btn col-12">
                                                <div class="row">
                                                    <div class="col-1"><i class="far fa-newspaper icon-md"></i></div>
                                                    <div class="col-11"> <a href="/Paper/AddRequest" class="text-secondary">@rm.GetString("AddArticleRequest")</a></div>
                                                </div>
                                            </div><div class="add_request_btn col-12">
                                                <div class="row">
                                                    <div class="col-1"><i class="fas fa-people-carry icon-md"></i></div>
                                                    <div class="col-11"> <a href="/ConferenceSponsor/Add" class="text-secondary">@rm.GetString("AddConferenceRequest")</a></div>
                                                </div>
                                            </div><div class="add_request_btn col-12">
                                                <div class="row">
                                                    <div class="col-1" style="text-align:center"> <i class="fas fa-lightbulb icon-md"></i></div>
                                                    <div class="col-11"> <a href="/Invention/AddRequest" class="text-secondary">@rm.GetString("AddInventionRequest")</a></div>
                                                </div>
                                            </div><div class="add_request_btn col-12">
                                                <div class="row">
                                                    <div class="col-1" style="text-align:center"><i class="far fa-share-square icon-md"></i></div>
                                                    <div class="col-11"> <a href="/Citation/AddRequest" class="text-secondary">@rm.GetString("AddCitationRequest")</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Dropdown-->
                                </div>
                                <!--end::Quick Actions-->
                            }
                            <!--begin::Languages-->
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                    <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                                        <img class="h-20px w-20px rounded-sm" src="@rm.GetString("icon")" alt="" />
                                    </div>
                                </div>
                                <!--end::Toggle-->
                                <!--begin::Dropdown-->
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                                    <!--begin::Nav-->
                                    <ul class="navi navi-hover py-4">
                                        <!--begin::Item-->
                                        <li class="navi-item">
                                            <a href="#" data-language="vi-VN" data-id="1" class="navi-link change-language">
                                                <span class="symbol symbol-20 mr-3">
                                                    <img src="~/Content/assets/media/svg/flags/220-vietnam.svg" alt="" />
                                                </span>
                                                <span class="navi-text">Tiếng Việt</span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="#" data-language="en-US" data-id="2" class="navi-link change-language">
                                                <span class="symbol symbol-20 mr-3">
                                                    <img src="~/Content/assets/media/svg/flags/226-united-states.svg" alt="" />
                                                </span>
                                                <span class="navi-text">English</span>
                                            </a>
                                        </li>

                                    </ul>
                                    <!--end::Nav-->
                                </div>
                                <!--end::Dropdown-->
                            </div>
                            <!--end::Languages-->
                            <!--begin::User-->
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
                                    <!--ENABLE THIS WHEN LOGIN SUCCESSFUL-->
                                    @{
                                        if (user != null)
                                        {
                                            <div id="login-success-1" class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                                                <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                                                <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">@user.account.full_name</span>
                                                <span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                                                    <span class="symbol-label font-size-h5 font-weight-bold" style="background-image:url(@user.account.picture)"></span>
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="login_btn" class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                                                @rm.GetString("Login")
                                            </div>
                                            <div class="g-signin2" id="google_auth_login" hidden data-onsuccess="onSignIn" data-theme="dark"></div>
                                        }
                                    }
                                    <!--ENABLE THIS WHEN LOGIN SUCCESSFUL-->
                                </div>
                                <!--end::Toggle-->
                                <!--begin::Dropdown-->
                                <div id="login-success-2" class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">

                                    <!--ENABLE THIS WHEN LOGIN SUCCESSFUL-->
                                    @{
                                        if (@user != null)
                                        {
                                            <div class="d-flex align-items-center p-8 rounded-top">
                                                <div class="symbol symbol-md bg-light-primary mr-3 flex-shrink-0">
                                                    <img src="@user.account.picture" alt="" />
                                                </div>
                                                <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">@user.account.full_name</div>
                                            </div>
                                            <div class="separator separator-solid"></div>
                                            <div class="navi navi-spacer-x-0 pt-5">
                                                <a href="/Researchers/ViewInfo?id=@user.PeopleID" class="navi-item px-8">
                                                    <div class="navi-link">
                                                        <div class="navi-icon mr-2">
                                                            <i class="flaticon2-calendar-3 text-success"></i>
                                                        </div>
                                                        <div class="navi-text">
                                                            <div class="font-weight-bold">
                                                                @rm.GetString("MyProfile")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="/Notification" class="navi-item px-8">
                                                    <div class="navi-link">
                                                        <div class="navi-icon mr-2">
                                                            <i class="flaticon2-settings text-warning"></i>
                                                        </div>
                                                        <div class="navi-text">
                                                            <div class="font-weight-bold">
                                                                @rm.GetString("NotificationSettings")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="navi-separator mt-3"></div>
                                                <div class="navi-footer px-8 py-5">
                                                    <a href="javascript:;" id="signOut" class="btn btn-light-primary font-weight-bold" onclick="gp_signOut()">@rm.GetString("SignOut")</a>
                                                </div>
                                            </div>
                                            <!--ENABLE THIS WHEN LOGIN SUCCESSFUL-->
                                        }
                                    }
                                </div>
                                <!--end::Dropdown-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Subheader-->
                    <div class="subheader py-2 py-lg-12  subheader-transparent " id="kt_subheader">
                        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center flex-wrap mr-1">

                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <!--begin::Title-->
                                    <h2 class="text-white font-weight-bold my-2 mr-5">
                                        @ViewBag.title
                                    </h2>
                                    <!--end::Title-->
                                    <!--begin::Breadcrumb-->
                                    <div class="d-flex align-items-center font-weight-bold my-2">
                                        <!--begin::Item-->
                                        <a href="#" class="opacity-75 hover-opacity-100">
                                            <i class="flaticon2-shelter text-white icon-1x"></i>
                                        </a>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                                        <a href="/" class="text-white text-hover-white opacity-75 hover-opacity-100">
                                            @rm.GetString("homepage")
                                        </a>
                                        @foreach (User.Models.PageTree page in ViewBag.pagesTree)
                                        {
                                            <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                                            <a href="@page.URL" class="text-white text-hover-white opacity-75 hover-opacity-100">
                                                @page.Name
                                            </a>
                                        }

                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                                            <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">
                                                Bảng tin
                                            </a>*@
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Breadcrumb-->
                                </div>
                                <!--end::Heading-->

                            </div>
                            <!--end::Info-->
                        </div>
                    </div>
                    <!--end::Subheader-->
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">
                            <!---------------------------------PAGE CONTENT START HERE--------------------------->
                            @RenderBody()
                            <!---------------------------------PAGE CONTENT END HERE--------------------------->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
                    <!--begin::Container-->
                    <div class="container align-items-center justify-content-between">
                        <div class="row">
                            <div class="col-lg-2 col-sm-12" style="padding-top: 1.5rem; text-align: center;">
                                <img alt="Logo" src="/Content/assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-60px">
                            </div>
                            <div class="col-lg-10 col-sm-12">
                                <!--begin::Copyright-->
                                <div class="text-dark order-2 order-md-1">
                                    <span class="text-muted font-weight-bold mr-2">2021 &copy;</span>
                                    <a href="#" class="text-dark-75 text-hover-primary">@rm.GetString("Header")</a>
                                    <hr />
                                    <a href="#" class=" text-muted text-hover-primary">
                                        @rm.GetString("SMIAAddress")
                                    </a>
                                    <br />
                                    <a href="mailto:smia@fe.edu.vn" class=" text-muted text-hover-primary">
                                        Email: <b>smia@fe.edu.vn</b>
                                    </a>
                                    <br /><a href="tel:(+84)2466549806" class=" text-muted text-hover-primary">
                                        Tel: <b>(+84)2466549806</b>
                                    </a>
                                </div>
                                <!--end::Copyright-->
                                <!--begin::Nav-->
                                <!--end::Nav-->
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Quick Panel-->
    <!--end::Quick Panel-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                                                         viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
                          fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </div>
    <!--end::Scrolltop-->
    <!--begin::Demo Panel-->
    <!--<div id="kt_demo_panel" class="offcanvas offcanvas-right p-10">-->
    <!--begin::Header-->
    <!--<div class="offcanvas-header d-flex align-items-center justify-content-between pb-7">
        <h4 class="font-weight-bold m-0">
            Select A Demo
        </h4>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_demo_panel_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>-->
    <!--end::Header-->
    <!--begin::Content-->
    <!--end::Content-->
    <!--</div>-->
    <!--end::Demo Panel-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };
    </script>

    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    @Scripts.Render("~/Content/assets/plugins/global/plugins.bundle.js?v=7.0.6",
    "~/Content/assets/js/bundle.js",
    "~/Content/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6",
    "~/Content/assets/js/scripts.bundle.js?v=7.0.6",
    "~/Content/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.6",
    "~/Content/assets/js/pages/widgets.js?v=7.0.6",
    "~/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js?v=7.0.6",
    "~/Content/assets/plugins/custom/uppy/uppy.bundle.js?v=7.0.6",
    "~/Content/assets/plugins/custom/datatables/datatables.bundle.js"
    )
    @RenderSection("scripts")

    <script>
        var signOut = new LoaderBtn($("#signOut"));
        $(".change-language").click(function () {
            document.cookie = "language_name=" + $(this).data("language") + '; Path=/;';
            document.cookie = "language_id=" + $(this).data("id") + '; Path=/;';
            location.reload();
        });
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            //var xhr = new XMLHttpRequest();
            //xhr.open('POST', );
            //xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            //xhr.onreadystatechange = function () {
            //    if (this.readyState == 4 && this.status == 200) {
            //        console.log(this);
            //    }
            //};
            //xhr.send();
            let fd = new FormData();
            fd.append("idtoken", id_token);
            $.ajax({
                url: '/Authen/SigninGoogleAsync',
                data: fd,
                type: "POST",
                success: function (data) {
                    if (data.success == false) {
                        toastr.warning(data.content);
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                        });
                    } else if (data.redirect == true) {
                        window.location = "/AdditionalProfile";
                    } else {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    toastr.error("Có lỗi xảy ra")
                },
                processData: false,
                contentType: false,
                cache: true
            });
        }
        function gp_signOut() {
            signOut.startLoading()
            $.ajax({
                url: '/Authen/Logout',
                data: {},
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(function () {
                        window.location.href = '/';
                    });
                    signOut.stopLoading()
                },
                error: function (data) {
                    alert(data)
                }
            });
        }
        $("#login_btn").click(function () {
            $("#google_auth_login").find(".abcRioButtonContentWrapper").click();
        });
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
        $(document).ready(function () {
            onLoad();
        });
    </script>
    <script src="~/Content/assets/js/sci/sci-bundle.js"></script>

    @if (user != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            var hub
            $(document).ready(function () {
                // Reference the auto-generated proxy for the hub.
                hub = $.connection.notiHub;
                // Create a function that the hub can call back to display messages.
                hub.client.addNewMessageToPage = function (Noti, template, date) {
                    let templateMessage = '<a data-id="' + Noti.NotificationID + '" href="' + Noti.URL + '" class="navi-item';
                    if (!Noti.IsRead)
                        templateMessage += ' not-read-noti';
                    templateMessage += '"><div class="navi-link">' +
                        '<div class="navi-icon mr-2">' +
                        '<i class="' + Noti.Icon + '"></i>' +
                        '</div>' +
                        '<div class="navi-text">' +
                        '<div';
                    if (Noti.IsRead)
                        templateMessage += ' class="text-muted"'
                    templateMessage += '>' +
                        template +
                        '</div>' +
                        '<div class="text-muted">' +
                        date +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</a>';
                    if ($("#event-noti a").length == 0)
                        $("#event-noti").text("");
                    $("#event-noti").html(templateMessage + $("#event-noti").html());
                    $("#noti-number span").text(parseInt($("#noti-number span").text()) + 1);
                    $("#noti-number").show();
                    $("#noti-pulse").show();
                };

                $.connection.hub.start().done(function () {
                    hub.server.register($.connection.hub.id, @user.account.account_id, Cookies.get('language_id'));
                });
                $.connection.hub.disconnected(function () {
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.
                });

                $.ajax({
                    url: '/Notification/List',
                    data: {
                        start: 0
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            for (var i = 0; i < data.content.length; i++) {
                                let Noti = data.content[i];
                                let templateMessage = '<a data-id="' + Noti.NotificationID + '" href="' + Noti.URL + '" class="navi-item';
                                if (!Noti.IsRead)
                                    templateMessage += ' not-read-noti';
                                templateMessage += '"><div class="navi-link">' +
                                    '<div class="navi-icon mr-2">' +
                                    '<i class="' + Noti.Icon + '"></i>' +
                                    '</div>' +
                                    '<div class="navi-text">' +
                                    '<div';
                                if (Noti.IsRead)
                                    templateMessage += ' class="text-muted"'
                                templateMessage += '>' +
                                                Noti.Template +
                                            '</div>' +
                                            '<div class="text-muted">' +
                                                Noti.StringDate +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                    '</a>';
                                $("#event-noti").append(templateMessage);
                            }
                            $("#noti-number span").text(data.unread)
                            if (data.unread != 0) {
                                $("#noti-number").show();
                                $("#noti-pulse").show();
                            }
                            if ($("#event-noti a").length == 0)
                                $("#event-noti").append('<div style="height: inherit" class="d-flex flex-center text-center text-muted">All caught up!<br />No new notifications.</div>')
                        }
                    },
                    error: function (data) {
                        toastr.error("Không thể lấy được dữ liệu thông báo");
                    }
                });

                $(document).on("click", ".not-read-noti", function (e) {
                    location.href = "/Notification/Read?id=" + $(this).data("id");
                    return false;
                })
            })
        </script>
    }
</body>
<!--end::Body-->

</html>