
@{
    ViewBag.Title = "Điều kiện khen thưởng SPKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom collapse_tab_1" id="main-card">
    <div class="card-body p-0 ">
        <div class="row justify-content-center px-8 my-lg-5 px-lg-10">
            <div class="col-xl-12 col-xxl-12">
                <div class="tabbable-line">
                    <div class="tab-content" id="myTabContent">
                        <div>
                            <a href="#add_modal" class="btn btn-light-primary px-6 font-weight-bold" data-toggle="modal">Thay đổi điều kiện</a>
                            <a href="@ViewBag.link" target="_blank" class="btn btn-light-primary px-6 font-weight-bold float-right">File chính sách hiện tại</a>
                        </div>
                        <table class="table table-bordered" id="internal_unit_table">
                            <thead>
                                <tr>
                                    <th>
                                        Tên tiêu chí tiếng việt
                                    </th>
                                    <th>
                                        Tên tiêu chí tiếng anh
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @{
                                    foreach (var item in ViewBag.policy)
                                    {
                                        <tr id="@item.policy_criteria_id">
                                            <td>@item.tv</td>
                                            <td>@item.ta</td>
                                            <td>
                                                <a onclick="loadDataToEditModal(@item.policy_criteria_id)" href="#edit_modal" class="btn btn-sm btn-light-primary px-6 font-weight-bold mr-2" data-toggle="modal">Sửa</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ADD-->
<div class="modal fade in" id="add_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">THAY ĐỔI CHÍNH SÁCH</h3>
            </div>
            <div class="modal-body">
                <div class="row" id="content_policy">
                    <div class="col-xl-12">
                        <label>File chính sách</label>
                        <div class="uppy" id="kt_uppy_1">
                            <div class="uppy-wrapper"></div>
                            <div class="uppy-list"></div>
                            <div class="uppy-status"></div>
                            <div class="uppy-informer uppy-informer-min"></div>
                        </div>
                    </div>
                    <div class="col-xl-12 mt-10">
                        <label>Thông tin tiêu chí</label>
                    </div>
                    <div class="col-xl-6 onerow">
                        <input autocomplete="off" class="form-control name_tv" type="text" placeholder="Tên tiêu chí tiếng việt" />
                    </div>
                    <div class="col-xl-6 onerow">
                        <input autocomplete="off" class="form-control name_ta" type="text" placeholder="Tên tiêu chí tiếng anh" />
                    </div>
                </div>
                <button class="btn btn-sm btn-light-success font-weight-bold px-6 mt-5" id="add_more_policy">Thêm dòng</button>
                <button class="btn btn-sm btn-light-success font-weight-bold px-6 mt-5" id="add_less_policy">Xóa dòng</button>
            </div>
            <div class="modal-footer">
                <button id="add_modal_close" type="button" class="btn btn-sm btn-secondary font-weight-bold px-6" data-dismiss="modal">Hủy</button>
                <button id='add_modal_confirm' type="button" class="btn btn-sm btn-light-success font-weight-bold px-6">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!--EDIT-->
<div class="modal fade in" id="edit_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title font-weight-bolder">CHỈNH SỬA</h3>
            </div>
            <div class="modal-body">
                <div class="row" id="content_policy">
                    <div class="col-xl-6 onerow">
                        <input autocomplete="off" id="edit_tv" class="form-control" type="text" placeholder="Tên tiêu chí tiếng việt" />
                    </div>
                    <div class="col-xl-6 onerow">
                        <input autocomplete="off" id="edit_ta" class="form-control" type="text" placeholder="Tên tiêu chí tiếng anh" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_modal_close" type="button" class="btn btn-sm btn-secondary font-weight-bold px-6" data-dismiss="modal">Hủy</button>
                <button id='edit_modal_confirm' type="button" class="btn btn-sm btn-light-success font-weight-bold px-6">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var uppy1;
        var temp_id;
        var dataTable = $("#internal_unit_table").DataTable({
            oLanguage: {
                oPaginate: {
                    sPrevious: "Trang trước",
                    sNext: "Trang sau"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Đang hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi"
            },
            searching: false,
            lengthChange: false,
            columnDefs: [
                {
                    className: "text-center",
                    targets: "_all"
                }
            ]
        });

        function loadDataToEditModal(id) {
            temp_id = id;
            $.ajax({
                url: "/ConditionPaperManagement/getPolicy",
                method: "POST",
                data: JSON.stringify({ 'id': id }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                complete: function (data) {
                    var mess = data.responseJSON.mess;
                    if (mess) {
                        $("#edit_tv").val(data.responseJSON.item.tv);
                        $("#edit_ta").val(data.responseJSON.item.ta);
                        $("#loading").hide();
                    }
                },
                error: function (data) {
                    $("#loading").hide();
                }
            });
        }

        $("#edit_modal_confirm").click(function () {
            var tv = $("#edit_tv").val();
            var ta = $("#edit_ta").val();
            $.ajax({
                url: "/ConditionPaperManagement/editPolicy",
                method: "POST",
                data: JSON.stringify({ 'id': temp_id, 'tv': tv, 'ta': ta }),
                contentType: "application/json;charset=utf-8",
                datatype: "json",
                cache: false,
                complete: function (data) {
                    var mess = data.responseJSON.mess;
                    if (mess) {
                        $("#loading").hide();
                        location.reload();
                    }
                },
                error: function (data) {
                    $("#loading").hide();
                }
            });
        });

        $("#add_more_policy").click(function () {
            $("#content_policy").append('<div class="col-xl-6 onerow"><input autocomplete="off" class="form-control name_tv mt-5" type="text" placeholder="Tên tiêu chí tiếng việt" /></div >' +
                '<div class="col-xl-6 onerow"><input autocomplete="off" class="form-control name_ta mt-5" type="text" placeholder="Tên tiêu chí tiếng anh" /></div >')
        });

        $("#add_less_policy").click(function () {
            $('#content_policy > .onerow').slice(-2).remove();
        });

        $("#add_modal_confirm").click(function () {
            $("#loading").show();
            formData = new FormData();
            var listCriteria = [];

            if (uppy1.getFiles()[0] == undefined) {
                $("#loading").hide();
                toastr.error("Thiếu file chính sách");
                return false;
            }

            name_tv = $(".name_tv");
            name_ta = $(".name_ta");
            for (var i = 0; i < name_tv.length; i++) {
                if ($(name_tv[i]).val() == "" || $(name_ta[i]).val() == "") {
                    toastr.error("Cần điền đủ thông tin cho 2 ngôn ngữ");
                    $("#loading").hide();
                    return false;
                }
                var temp = {
                    name_tv: $(name_tv[i]).val(),
                    name_ta: $(name_ta[i]).val()
                };
                listCriteria.push(temp);
            }
            const temp_criteria = JSON.stringify({ listCriteria });

            formData.append('file', uppy1.getFiles()[0].data);
            formData.append('criteria', temp_criteria);

            $.ajax({
                url: "/ConditionPaperManagement/newPolicy",
                method: "POST",
                complete: function (data) {
                    var mess = data.responseJSON.mess;
                    //alert(mess);
                    if (mess) {
                        $("#loading").hide();
                        location.reload();
                    }
                },
                error: function () {
                    toastr.error("Có lỗi xảy ra");
                },
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false
            });
        });

        var KTUppy = function () {
            const Tus = Uppy.Tus;
            const StatusBar = Uppy.StatusBar;
            const FileInput = Uppy.FileInput;
            const Informer = Uppy.Informer;

            var initUppy1 = function () {
                // Uppy variables
                // For more info refer: https://uppy.io/
                var elemId = 'kt_uppy_1';
                var id = '#' + elemId;
                var $statusBar = $(id + ' .uppy-status');
                var $uploadedList = $(id + ' .uppy-list');
                var timeout;

                uppy1 = Uppy.Core({
                    debug: true,
                    autoProceed: false,
                    showProgressDetails: true,
                    restrictions: {
                        maxFileSize: 15728640, // 15mb
                        maxNumberOfFiles: 1,
                        minNumberOfFiles: 1,
                        allowedFileTypes: ['.pdf', '.docx', '.doc']
                    }
                });

                uppy1.use(FileInput, {
                    target: id + ' .uppy-wrapper',
                    pretty: false
                });
                uppy1.use(Informer, {
                    target: id + ' .uppy-informer'
                });

                // demo file upload server
                uppy1.use(Tus, {
                    endpoint: 'https://master.tus.io/files/'
                });
                uppy1.use(StatusBar, {
                    target: id + ' .uppy-status',
                    hideUploadButton: true,
                    hideAfterFinish: false
                });

                $(id + ' .uppy-FileInput-input').addClass('uppy-input-control').attr('id', elemId + '_input_control');
                $(id + ' .uppy-FileInput-container').append('<label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="' + (elemId + '_input_control') + '">Attach files</label>');

                var $fileLabel = $(id + ' .uppy-input-label');

                uppy1.on('upload', function () {
                    $fileLabel.text("Uploading...");
                    $statusBar.addClass('uppy-status-ongoing');
                    $statusBar.removeClass('uppy-status-hidden');
                    clearTimeout(timeout);
                });

                uppy1.on('file-added', function (file) {
                    var sizeLabel = "bytes";
                    var filesize = file.size;
                    if (filesize > 1024) {
                        filesize = filesize / 1024;
                        sizeLabel = "kb";

                        if (filesize > 1024) {
                            filesize = filesize / 1024;
                            sizeLabel = "MB";
                        }
                    }
                    var uploadListHtml = '<div class="uppy-list-item" data-id="' + file.id + '"><div class="uppy-list-label">' + file.name + ' (' + Math.round(filesize, 2) + ' ' + sizeLabel + ')</div><span class="uppy-list-remove" data-id="' + file.id + '"><i class="flaticon2-cancel-music"></i></span></div>';
                    $uploadedList.append(uploadListHtml);

                    $statusBar.addClass('uppy-status-hidden');
                    $statusBar.removeClass('uppy-status-ongoing');
                });

                $(document).on('click', id + ' .uppy-list .uppy-list-remove', function () {
                    var itemId = $(this).attr('data-id');
                    uppy1.removeFile(itemId);
                    $(id + ' .uppy-list-item[data-id="' + itemId + '"').remove();
                });
            }

            return {
                // public functions
                init: function () {
                    initUppy1();
                }
            };
        }();

        KTUtil.ready(function () {
            KTUppy.init();
        });
    </script>
}

